[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"
autopep8 = "*"

[packages]
django = "*"
djangorestframework = "*"
django-rest-knox = "*"
djongo = "*"
social-auth-app-django = "*"
mysqlclient = "*"
apscheduler = "*"
pillow = "*"
opentok = "*"

[requires]
python_version = "3.6"
