{% load static %}
<!DOCTYPE html>
<html>

<head>
    <title> OpenTok Getting Started </title>
    <link href="{% static 'video/app.css' %}" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="{% static 'vendors/font-awesome/css/font-awesome.min.css' %}">
    <script src="https://static.opentok.com/v2/js/opentok.min.js"></script>

    <!-- Polyfill for fetch API so that we can fetch the sessionId and token in IE11 -->
    <script src="https://cdn.jsdelivr.net/npm/promise-polyfill@7/dist/polyfill.min.js" charset="utf-8"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fetch/2.0.3/fetch.min.js" charset="utf-8"></script>
    <style>
        .footer {
            position: fixed;
            left: 0;
            bottom: 0;
            width: 100%;
            background-color: white;
            color: Black;
            text-align: center;
        }
    </style>
</head>

<body>

    <div id="videos">
        <div id="subscriber"></div>
        <div id="publisher"></div>
    </div>
    <div class="footer">
        <button type="button" class="round-button" id="endCall">
            <i class="fa fa-phone" style="transform: rotate(140deg)"></i>
        </button>
      </div>
    <script type="text/javascript" src="{% static 'patients/assets/vendors/jquery/jquery-3.4.1.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'assets/js/jquery.cookie.js' %}"></script>
    <script type="text/javascript" src="{% static 'video/doc-config.js' %}"></script>
    <script type="text/javascript" src="{% static 'video/app.js' %}"></script>
    
</body>

</html>
