{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="keywords" content="Flingo, Messaging app, chat, chat app" />

    <title>Doctor Plus Online Consulatations</title>
    <link rel="stylesheet" href="{% static 'patients/assets/fonts/MaterialDesign/css/materialdesignicons.min.css' %}">
    <link rel="stylesheet" href="{% static 'patients/assets/vendors/perfect-scrollbar/perfect-scrollbar.css' %}">
    <link rel="stylesheet" href="{% static 'patients/assets/vendors/OwlCarousel2/owl.carousel.css' %}">
    <link rel="stylesheet" href="{% static 'patients/assets/vendors/bootstrap/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'patients/css/app.css' %}">
    <link rel="stylesheet" href="{% static 'patients/css/responsive.css' %}">
    <link rel="stylesheet" href="{% static 'patients/css/slider.css' %}">
    <link rel="stylesheet" href="{% static 'patients/css/theme/default.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/bootstrap.datapicker.css' %}">
    <link rel="stylesheet" href="{% static 'vendors/datatables.net-bs4/css/dataTables.bootstrap4.min.css' %}">
    <link rel="stylesheet" href="{% static 'vendors/datatables.net-buttons-bs4/css/buttons.bootstrap4.min.css' %}">
    <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.min.css"
        integrity="sha512-mSYUmp1HYZDFaVKK//63EcZq4iFWFjxSL+Z3T/aCt4IO9Cejm03q3NKKYN6pFQzY0SBOr8h+eCIAZHPXcpZaNw=="
        crossorigin="anonymous" />
    <link rel="stylesheet" href="{% static 'assets/css/toastr.min.css' %}">
    <script src="{% static 'patients/assets/vendors/jquery/jquery-3.4.1.min.js' %}"></script>
    <link rel="stylesheet" href="{% static 'video/chat.css' %}">
    <link href="{% static 'video/app.css' %}" rel="stylesheet" type="text/css">

    <style>
        @media(max-width:425px) {
            .floating-chat {
                z-index: 1020;
            }
        }
    
        #videos {
            position: relative;
            width: 100%;
            height: 406px;
            margin-left: auto;
            margin-right: auto;
        }
    
        #subscriber {
            left: auto;
        }
    
        #publisher {
            width: 140px;
            height: 72px;
            bottom: 47px;
            left: 4px;
            z-index:
        }
    </style>
</head>

<body class="light-default-theme">

    <div class="ca-main-conatiner">
        <div class="ca-main-wrapper">
            <div class="ca-content-wrapper">
                <div class="ca-content">
                    <div class="conversation-panel__head">
                        <a href="/">
                            <img src="{% static 'patients/assets/images/favicon.png' %}" alt=""
                                class="d-block d-sm-none" id="logoSmallImage">
                        </a>
                        <div class="conversation__actions">
                            <div class="iconbox-dropdown dropdown">
                                <div class="iconbox mr-3" role="button" id="dropdownMenuLink2" data-toggle="dropdown"
                                    aria-haspopup="true" aria-expanded="false">
                                    <div class="user-avatar user-avatar-rounded">
                                        {% if user == 'doc'%}
                                        {% if patient.profile_pic%}
                                        <img src="{{patient.profile_pic.url}}" class="img-fluid img-responsive">
                                        {% else %}
                                        <img src="/media/logos/anonymous-user.png" class="img-fluid img-responsive">
                                        {% endif %}
                                        {% else %}
                                        {% if doctor.profile_pic%}
                                        <img src="{{doctor.profile_pic.url}}" class="img-fluid img-responsive">
                                        {% else %}
                                        <img src="/media/logos/anonymous-doctor.png" class="img-fluid img-responsive">
                                        {% endif %}
                                        {% endif %}
                                    </div>
                                    <div class="conversation__name">
                                        <h5 id='conversation_doc' class="conversation__name--title mt-1">
                                            {% if user == 'doc'%}
                                            {{patient.full_name}}
                                            {% else %}
                                            {{doctor.full_name}}
                                            {% endif %}
                                        </h5>
                                    </div>
                                </div>
                            </div>
                            <div class="action-icon pr-4" data-toggle="modal" data-target="#detailsModal">
                                <i class="mdi mdi-information mdi-24px"></i>
                            </div>
                        </div>
                    </div>
                    <div class="ca-content__chatstab">
                        <div class="ca-content__callstab" style="padding-top: 0;">
                            <div class="conversation-panel__body ps">
                                <div class="container">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div id="videos">
                                                <div id="subscriber"></div>
                                                <div id="publisher">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-12 text-center">
                                            <button class="btn btn-danger" id="end" style="border-radius: 50%;">
                                                <i class="mdi mdi-phone-hangup text-white"></i>
                                            </button>
                                            <button class="btn btn-outline-danger" id="videoBtn"
                                                style="border-radius: 50%;">
                                                <i class="mdi mdi-video-off"></i>
                                            </button>
                                            <button class="btn btn-outline-danger" id="micBtn"
                                                style="border-radius: 50%;">
                                                <i class="mdi mdi-microphone-off"></i>
                                            </button>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="backdrop-overlay hidden"></div>
        </div>
    </div>
    <div class="modal fade" id="detailsModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    { {% if user == 'doc'%}
                    <div class="card">
                        <div class="card-body">
                            <ul class="nav nav-pills d-none" id="myTab" role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link active" id="pills-home-tab" data-toggle="pill" href="#Details" role="tab"
                                        aria-controls="pills-home" aria-selected="true">Home</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" id="pills-profile-tab" data-toggle="pill" href="#History" role="tab"
                                        aria-controls="pills-profile" aria-selected="false">Profile</a>
                                </li>
                            </ul>
                            <div class="tab-content">
                                <div class="tab-pane fade show active" id="Details" role="tabpanel"
                                    aria-labelledby="pills-home-tab">
                                    <h5>Patient Details</h5>
                                    <div class="text-center">
                                        {% if patient.profile_pic%}
                                        <img src="{{patient.profile_pic.url}}" class="img-fluid img-responsive">
                                        {% else %}
                                        <img src="/media/logos/anonymous-user.png" class="img-fluid img-responsive">
                                        {% endif %}
                                        <h4>{{patient.full_name}}</h4>
                                    </div>
                                    <table class="table table-hover ">
                                        <tr>
                                            <td>Age</td>
                                            <td>{{patient.age}}</td>
                                        </tr>
                                        <tr>
                                            <td>Weight</td>
                                            <td>{{patient.weight}} Kgs</td>
                                        </tr>
                                        <tr>
                                            <td>Blood Group</td>
                                            <td>{{patient.blood_group}}</td>
                                        </tr>
                                        <tr>
                                            <td>Medical History</td>
                                            <td>{{patient.medical_history}}</td>
                                        </tr>
                                        <tr>
                                            <td colspan="2">
                                                <button id="btnViewMore" class="btn btn-primary btn-block" role="tab">
                                                    <i class="fa fa-user"></i> View More
                                                </button>
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                                <div class="tab-pane fade " id="History" role="tabpanel">
                                    <div class="mb-1">
                                        <buttton class="btn btn-default" id="btnback">
                                            <i class="fa fa-angle-left"></i> Back
                                            </button>
                                    </div>
        
                                    <ul class="nav nav-pills flex-column nav-pills" id="mySecondTab" role="tablist">
                                        <li class="nav-item">
                                            <a class="nav-link active" id="pills-home-tab" data-toggle="pill" href="#Cons"
                                                role="tab" aria-controls="pills-home" aria-selected="true">Consultations</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" id="pills-profile-tab" data-toggle="pill" href="#Pres"
                                                role="tab" aria-controls="pills-profile" aria-selected="false">Prescriptions</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" id="pills-profile-tab" data-toggle="pill" href="#Reps"
                                                role="tab" aria-controls="pills-profile" aria-selected="false">Reports</a>
                                        </li>
                                    </ul>
                                    <div class="tab-content">
                                        <div class="tab-pane fade show active" id="Cons" role="tabpanel">
                                            <h5 class="mt-2">{{patient.full_name}}'s Previous Consultations</h5>
                                            <ul class="timeline">
                                                {% for consultation_list in consultation_lists %}
                                                <li>
                                                    <a href="#">{{consultation_list.doctor_id.full_name}}
                                                        ({{ consultation_list.doctor_id.specialist_type}})</a>
                                                    <a href="#" class="float-right">{{ consultation_list.format_date }}</a>
                                                    <p>{{ consultation_list.message }}</p>
                                                </li>
                                                {% endfor %}
                                            </ul>
                                        </div>
                                        <div class="tab-pane fade" id="Pres" role="tabpanel">
                                            <h5 class="mt-2">{{patient.full_name}}'s Previous Prescriptions</h5>
                                            <ul class="list-group">
                                                {% for records in  medical_records %}
                                                {% if records.is_prescription %}
                                                <li class="list-group-item">
                                                    {% if records.record_files %}
                                                    <div class="float-right">
                                                        <a href="{% if records.record_files %}{{ records.record_files.url }}{% else %}#{% endif %}" target="_blank"
                                                            class="btn btn-sm btn-primary">
                                                            <i class="fa fa-file"></i> View
                                                        </a>
                                                    </div>
                                                    {% endif %}
                                                    {{records.doctor.full_name}} ({{records.doctor.specialist_type}}) on
                                                    {{records.format_last_modified}}
        
                                                </li>
                                                {% endif %}
                                                {% endfor %}
        
                                            </ul>
                                        </div>
                                        <div class="tab-pane fade" id="Reps" role="tabpanel">
                                            <h5 class="mt-2">{{ patient.full_name }}'s Medical Reports</h5>
                                            <ul class="list-group">
                                                {% for records in medical_records %}
                                                {% if records.is_prescription == False %}
                                                <li class="list-group-item">
                                                    {% if records.record_files %}
                                                    <div class="float-right">
                                                        <a href="{% if records.record_files %}{{ records.record_files.url }}{% else %}#{% endif %}" target="_blank"
                                                            class="btn btn-sm btn-primary">
                                                            <i class="fa fa-file"></i> View
                                                        </a>
                                                    </div>
                                                    {% endif %}
                                                    {{ records.record_type }}
                                                </li>
                                                {% endif %}
                                                {% endfor %}
        
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
        
                        </div>
                    </div>
                    {% else %}
                    <div class="card">
                        <div class="card-body">
                            <h5>Doctor Details</h5>
                            <div class="text-center">
                                {% if doctor.profile_pic%}
                                <img src="{{doctor.profile_pic.url}}" class="img-fluid img-responsive">
                                {% else %}
                                <img src="/media/logos/anonymous-doctor.png" class="img-fluid img-responsive">
                                {% endif %}
                                <h4>{{doctor.full_name}}</h4>
                                <small>{{doctor.specialist_type}}</small>
                                <br>
                                <div id="rating-div">
                                    <i class="fa fa-star text-warning"></i>
                                    <i class="fa fa-star text-warning"></i>
                                    <i class="fa fa-star text-warning"></i>
                                    <i class="fa fa-star text-warning"></i>
                                    <i class="fa fa-star text-warning"></i>
                                </div>
        
                            </div>
                            <table class="table table-hover ">
                                <tr>
                                    <td>Consultations</td>
                                    <td>{{ doc_total_cons }}</td>
                                </tr>
                                <tr>
                                    <td colspan="2"><strong>About</strong>
                                        <p>{{doctor.about}}</p>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>

    <div class="floating-chat">
        <div class="chat-btn">
            <i class="mdi mdi-chat" aria-hidden="true"></i> Chat
        </div>
        <div class="chat">
            <div class="header">
                <span class="title">
                    Chat
                </span>
                <button>
                    <i class="mdi mdi-times" aria-hidden="true"></i>
                </button>

            </div>
            <ul id="messagess" class="messages">

            </ul>
            <div class="footer">
                <div class="text-box" contenteditable="true" disabled="true"></div>
                <button id="sendMessage">send</button>
            </div>
        </div>
    </div>
    <script src="{% static 'patients/assets/vendors/jquery/jquery-3.4.1.min.js' %}"></script>
    <script src="{% static 'patients/assets/vendors/bootstrap/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'assets/js/jquery.cookie.js' %}"></script>
    <script src="https://static.opentok.com/v2/js/opentok.min.js"></script>
    
    <script type="text/javascript" src="{% static 'video/config.js' %}"></script>
    <script type="text/javascript" src="{% static 'video/app.js' %}"></script>
    <script>
        const user = '{{user}}';
        const session = '{{ session }}';
        const appoinment = '{{ appointment }}';
        const doctor_id = '{{doctor.id}}';
    </script>
    <script src="{% static 'video/chat.js' %}"></script>
    <script>
        $(document).ready(function () {
           

            let doctor_ratings = Math.round("{{doctor.rating}}");
            let stars = 1;
            let star = ''
            while (stars < 6) {
                if (doctor_ratings >= stars) {
                    star += `<i class="fa fa-star text-warning"></i>`
                } else {
                    star += '<i class="fa fa-star"></i>'
                }
                stars++
            }
            $('#rating-div').html(star);

            let consultation_id = 0;
            function create_consultation() {
                data = {
                    appoinment_id: appoinment,
                    doctor_id: doctor_id,
                    session: session
                };
                $.ajax({
                    url: '/api/consultations/',
                    method: 'POST',
                    data: JSON.stringify(data),
                    contentType: 'application/json',
                    beforeSend: function (xhr) {
                        xhr.setRequestHeader("Authorization", "Token " + localStorage.getItem('Token'));
                    }
                }).done((response) => {
                    console.log(response);
                    consultation_id = response.id
                }).fail((err) => {
                    console.log(err)
                })
            }
            if (user == 'pat') {
                let checkAnswer = setInterval(check_for_answer, 2000)
                function check_for_answer() {
                    jQuery.ajax({
                        url: `/api/check_for_answer?sessions=${session}`,
                        method: 'GET',
                        contentType: 'application/json'
                    }).done((res) => {
                        if (res.length == 0) {
                            // toastr.success("Doctor is busy now.", 'Success', {
                            //     positionClass: "toast-top-center"
                            // })
                            // toastr.error("Doctor is busy now.","Success",{positionClass:'toast-top-center'})
                            clearInterval(checkAnswer)
                            clearInterval(messageInterval)
                            alert('Doctor is busy now.');
                            window.location.href = '/patients/dashboard'
                        }
                        if (res[0].is_answered == true) {
                            create_consultation()
                            clearInterval(checkAnswer)
                        }
                    }).fail((err) => {
                        console.log(err)
                    })
                }
            }
            else {
                let checkAnswer = setInterval(check_for_answer, 2000)
                function check_for_answer() {
                    jQuery.ajax({
                        url: `/api/check_for_answer?sessions=${session}`,
                        method: 'GET',
                        contentType: 'application/json'
                    }).done((res) => {
                        if (res.length == 0) {

                            clearInterval(checkAnswer)
                            clearInterval(messageInterval)
                            alert('Patient is busy now.');
                            window.location.href = '/doctors/dashboard'
                        }
                        if (res[0].is_answered == true) {
                            clearInterval(checkAnswer)
                        }
                    }).fail((err) => {
                        console.log(err)
                    })
                }
            }
            $('#end').click(function () {
                const urlParams = new URLSearchParams(window.location.search);
                var id = urlParams.get('session')
                var user = urlParams.get('user')

                $.ajax({
                    'url': '/api/MobVedioChatOparetion/' + id + '/',
                    'method': 'DELETE',
                    beforeSend: function (xhr) {
                        xhr.setRequestHeader("Authorization", "Token " + (user == 'doc' ? localStorage.getItem('DoctorToken') : localStorage.getItem('Token')));
                    },
                }).done((response) => {
                    console.log(response)
                }).fail((response) => {
                    console.log(response)
                })

                if (user == 'doc') {
                    video_session.disconnect()
                    $.ajax({
                        url: '/api/consult_info_for_doct?sessions=' + session,
                        method: 'GET',
                        contentType: 'application/json',
                        beforeSend: function (xhr) {
                            xhr.setRequestHeader("Authorization", "Token " + localStorage.getItem('DoctorToken'));
                        }
                    }).done(res => {
                        consultation_id = res[0] ? res[0].id : 0
                        window.location.href = `/doctors/Prescription?pat_id=${urlParams.get('patient')}${consultation_id && consultation_id != 0 ? `&cons_id=${consultation_id}` : ""}`;
                    })
                }
                else {
                    video_session.disconnect()
                    window.location.href = `/api/ratings?${consultation_id && consultation_id != 0 ? `&consultation=${consultation_id}` : ""}`;
                }
            })

            $('#btnViewMore').click(function () {
                $('#myTab a[href="#History"]').tab('show')
            })

            $('#btnback').click(function () {
                $('#myTab a[href="#Details"]').tab('show')
            })
        })
    </script>
</body>

</html>