<html>
    <head>
        <title>A Video Embed</title>
        <link rel="stylesheet" href="{% static 'patients/assets/vendors/bootstrap/bootstrap.min.css' %}">
    </head>
    <body>
        <div class="row">
            <div class="col-md-9">
                <div id="otEmbedContainer" style="width:800px; height:640px">
                </div>
            </div>
            <div class="col-md-3">
                <div class="card">
                    <div class="card-header">
                        <h4>Dr. Manikanta</h4>
                    </div>
                    <div class="card-body">

                    </div>
                </div>
            
            </div>
        </div>
        
 
                    <script src="https://tokbox.com/embed/embed/ot-embed.js?embedId=5c0f7c4e-673c-4d7a-82c6-ddf7e5f5a100&room=DEFAULT_ROOM"></script>
                     <script src="{% static 'patients/assets/vendors/jquery/jquery-3.4.1.min.js' %}"></script>
                <script src="{% static 'patients/assets/vendors/bootstrap/bootstrap.bundle.min.js' %}"></script>
    
    </body>
</html>