{% load static %}
<div class="modal settings-modal-dialog" id="settingsModalCenter" tabindex="-1" role="dialog" aria-labelledby="settingsModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="settingsModalCenterTitle">Settings</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body p-0">
                <div class="nav-style-vertical-1">
                    <div class="container-fluid p-0">
                        <div class="row">
                            <div class="col-4 settings-nav-menu">
                                <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                                    <a class="nav-link active" id="v-pills-privacy-tab" data-toggle="pill" href="#v-pills-privacy" role="tab" aria-controls="v-pills-privacy" aria-selected="true">
                                        <div class="settingmenu">
                                            <div class="settingmenu__icon"><i class="mdi mdi-account"></i></div>
                                            <div class="settingmenu__name">Profile</div>
                                        </div>
                                    </a>
                                    <a class="nav-link" id="v-pills-notifications-tab" data-toggle="pill" href="#v-pills-notifications" role="tab" aria-controls="v-pills-notifications" aria-selected="false">
                                        <div class="settingmenu">
                                            <div class="settingmenu__icon"><i class="mdi mdi-shield-lock-outline"></i></div>
                                            <div class="settingmenu__name">Password</div>
                                        </div>
                                    </a>
                                    <a class="nav-link" id="v-pills-theme-tab" data-toggle="pill" href="#v-pills-theme" role="tab" aria-controls="v-pills-theme" aria-selected="false">
                                        <div class="settingmenu">
                                            <div class="settingmenu__icon"><i class="mdi mdi-palette-outline"></i></div>
                                            <div class="settingmenu__name">Theme</div>
                                        </div>
                                    </a>
                                </div>
                            </div>
                            <div class="col-8 settings-nav-content">
                                <div class="tab-content" id="v-pills-tabContent">
                                    <div class="tab-pane fade show active" id="v-pills-privacy" role="tabpanel" aria-labelledby="v-pills-privacy-tab">
                                        <form id="profile-form">
                                            <div class="ca-profile-thumb"  style="background-image: url(assets/images/media/07.jpg);height: auto;">
                                                <div class="ca-profile-info">
                                                    <div class="ca-profile-pic"><img class="img-fluid" src="{% static 'patients/assets/images/user/500/01.jpg' %}" alt=""></div>
                                                    <div class="ca-profile-title">
                                                        <input type="file" class="sr-only" id="profile_pic">
                                                    </div>
                                                </div>
                                                <div class="ca-profile-actions">
                                                    <div class="iconbox-group">
                                                        <label for="profile_pic" class="iconbox mfb-component__button--main ion-plus-round">
                                                            <i class="iconbox__icon mdi mdi-pencil-outline" style="margin: 5!important;"></i>
                                                        </label>
                                                    </div>
                                                </div>
                                                <div class="ca-overlay"></div>
                                            </div>
                                            <div class="card">
                                                <div class="card-body">
                                                    <div class="form-group">
                                                        <label for="full_name" class="form-control-label">Name</label>
                                                        <input type="text" class="form-control" placeholder="Your Name">
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="username" class="form-control-label">Phone Number</label>
                                                        <input type="text" class="form-control" placeholder="Your Phone Number">
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="email" class="form-control-label">Email</label>
                                                        <input type="email" class="form-control" placeholder="Your Phone Number">
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="email" class="form-control-label">Blood Group</label>
                                                        <input type="email" class="form-control" placeholder="Your Blood Group">
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="email" class="form-control-label">Age</label>
                                                        <input type="email" class="form-control" placeholder="Your Age">
                                                    </div>
                                                    <div class="form-group pull-right">
                                                        <button type="submit" class="btn float-right mfb-component__button--main" style="width:190px; border-radius:0px">
                                                            Update Profile
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                    <div class="tab-pane fade" id="v-pills-notifications" role="tabpanel" aria-labelledby="v-pills-notifications-tab">
                                        <div class="settings-inside-wrapper">
                                            <div class="card">
                                                <div class="card-body">
                                                    <div class="setting-sunheading">notification configuration</div>
                                                    <ul class="list-unstyled ca-setting-list">
                                                        <li>
                                                            <div class="ca-setting-type">
                                                                <div class="ca-setting-name">
                                                                    <div class="ca-setting-name-main">View Notification for</div>
                                                                    <div class="ca-setting-name-sub">You will get notification for</div>
                                                                </div>
                                                                <div class="ca-setting-action">
                                                                    <div class="dropdown">
                                                                        <a class="btn btn-link dropdown-toggle" href="#" role="button" id="notiDropdownSettings1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                                            Both
                                                                        </a>
                                                                        
                                                                        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="notiDropdownSettings1">
                                                                            <a class="dropdown-item" href="javascript:;">Call only</a>
                                                                            <a class="dropdown-item" href="javascript:;">Message only</a>
                                                                            <a class="dropdown-item" href="javascript:;">Both</a>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </li>
                                                        <li>
                                                            <div class="ca-setting-type">
                                                                <div class="ca-setting-name">
                                                                    <div class="ca-setting-name-main">Notification sound for</div>
                                                                    <div class="ca-setting-name-sub">Notification sound play for</div>
                                                                </div>
                                                                <div class="ca-setting-action">
                                                                    <div class="dropdown">
                                                                        <a class="btn btn-link dropdown-toggle" href="#" role="button" id="notiDropdownSettings2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                                            Message only
                                                                        </a>
                                                                        
                                                                        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="notiDropdownSettings2">
                                                                            <a class="dropdown-item" href="javascript:;">Call only</a>
                                                                            <a class="dropdown-item" href="javascript:;">Message only</a>
                                                                            <a class="dropdown-item" href="javascript:;">Both</a>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </li>
                                                        <li>
                                                            <div class="setting-list">
                                                                <div class="setting-list-name">Desktop notifications</div>
                                                                <div class="setting-list-switch">
                                                                    <label class="material-switch">
                                                                        <input type="checkbox">
                                                                        <span></span>
                                                                    </label>
                                                                </div>
                                                            </div>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="tab-pane fade" id="v-pills-theme" role="tabpanel" aria-labelledby="v-pills-theme-tab">
                                        <div class="settings-inside-wrapper">
                                            <h6 class="border-bottom pb-2">Light Theme</h6>
                                            <a href="javascript:;" data-theme="light-default-theme" class="theme default-theme selected"></a>
                                            <a href="javascript:;" data-theme="light-purple-theme" class="theme purple-theme"></a>
                                            <a href="javascript:;" data-theme="light-pink-theme" class="theme pink-theme"></a>
                                            <a href="javascript:;" data-theme="light-green-theme" class="theme green-theme"></a>
                                            <a href="javascript:;" data-theme="light-red-theme" class="theme red-theme"></a>
                                            <a href="javascript:;" data-theme="light-orange-theme" class="theme orange-theme"></a>
                                            <a href="javascript:;" data-theme="light-blue-theme" class="theme blue-theme"></a>
                                            <a href="javascript:;" data-theme="light-darkblue-theme" class="theme darkblue-theme"></a>
                                            <a href="javascript:;" data-theme="light-lightpink-theme" class="theme lightpink-theme"></a>
                    
                                            <h6 class="border-bottom py-3">Dark Theme</h6>
                                            <a href="javascript:;" data-theme="dark-default-theme" class="theme default-theme"></a>
                                            <a href="javascript:;" data-theme="dark-purple-theme" class="theme purple-theme"></a>
                                            <a href="javascript:;" data-theme="dark-pink-theme" class="theme pink-theme"></a>
                                            <a href="javascript:;" data-theme="dark-green-theme" class="theme green-theme"></a>
                                            <a href="javascript:;" data-theme="dark-red-theme" class="theme red-theme"></a>
                                            <a href="javascript:;" data-theme="dark-orange-theme" class="theme orange-theme"></a>
                                            <a href="javascript:;" data-theme="dark-blue-theme" class="theme blue-theme"></a>
                                            <a href="javascript:;" data-theme="dark-darkblue-theme" class="theme darkblue-theme"></a>
                                            <a href="javascript:;" data-theme="dark-lightpink-theme" class="theme lightpink-theme"></a>
                                
                                        </div>
                                    </div>
                                    <div class="tab-pane fade" id="v-pills-audiovideo" role="tabpanel" aria-labelledby="v-pills-audiovideo-tab">
                                        <div class="accordion settings-accordion accordion-arrow-toggler accordion-ungrouped" id="audioVideoAcc">
                                            <div class="card">
                                                <div class="card-header" id="audioVideoAccHead1">
                                                    <div class="card-title" data-toggle="collapse" role="button" data-target="#audioVideoAcc1" aria-expanded="true" aria-controls="audioVideoAcc1">
                                                        Audio
                                                    </div>
                                                </div>
                                        
                                                <div id="audioVideoAcc1" class="collapse show" aria-labelledby="headingOne" data-parent="#audioVideoAcc">
                                                    <div class="card-body">
                                                        <div class="setting-sunheading">Audio configurations</div>

                                                        <ul class="list-unstyled ca-setting-list">
                                                            <li>
                                                                <div class="ca-setting-type">
                                                                    <div class="ca-setting-name">
                                                                        <div class="ca-setting-name-main">Input</div>
                                                                        <div class="ca-setting-name-sub">Select who can see your profile picture</div>
                                                                    </div>
                                                                    <div class="ca-setting-action">
                                                                        <div class="dropdown">
                                                                            <a class="btn btn-link dropdown-toggle" href="#" role="button" id="audioDropdownSettings1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                                                Microphone
                                                                            </a>
                                                                            
                                                                            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="audioDropdownSettings1">
                                                                                <a class="dropdown-item" href="javascript:;">Default Device </a>
                                                                                <a class="dropdown-item" href="javascript:;">Microphone</a>
                                                                                <a class="dropdown-item" href="javascript:;">Stereo mix</a>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="card">
                                                <div class="card-header" id="audioVideoAccHead2">
                                                    <div class="card-title collapsed" role="button"  data-toggle="collapse" data-target="#audioVideoAcc2"
                                                        aria-expanded="false" aria-controls="audioVideoAcc2">
                                                        Video
                                                    </div>
                                                </div>
                                                <div id="audioVideoAcc2" class="collapse" aria-labelledby="headingTwo" data-parent="#audioVideoAcc">
                                                    <div class="card-body">
                                                        <div class="setting-sunheading">Video configurations</div>

                                                        <ul class="list-unstyled ca-setting-list">
                                                            <li>
                                                                <div class="ca-setting-type">
                                                                    <div class="ca-setting-name">
                                                                        <div class="ca-setting-name-main">Input</div>
                                                                        <div class="ca-setting-name-sub">Select who can see your profile picture</div>
                                                                    </div>
                                                                    <div class="ca-setting-action">
                                                                        <div class="dropdown">
                                                                            <a class="btn btn-link dropdown-toggle" href="#" role="button" id="audioDropdownSettings2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                                                UHD webcam
                                                                            </a>
                                                                            
                                                                            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="audioDropdownSettings2">
                                                                                <a class="dropdown-item" href="javascript:;">Default webcam </a>
                                                                                <a class="dropdown-item" href="javascript:;">HD webcam </a>
                                                                                <a class="dropdown-item" href="javascript:;">UHD webcam </a>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="tab-pane fade" id="v-pills-media" role="tabpanel" aria-labelledby="v-pills-media-tab">
                                        <div class="accordion settings-accordion accordion-arrow-toggler accordion-ungrouped" id="mediaAcc">
                                            <div class="card">
                                                <div class="card-header" id="mediaAccHead1">
                                                    <div class="card-title" data-toggle="collapse" role="button" data-target="#mediaAcc1" aria-expanded="true" aria-controls="mediaAcc1">
                                                        Backups
                                                    </div>
                                                </div>
                                        
                                                <div id="mediaAcc1" class="collapse show" aria-labelledby="headingOne" data-parent="#mediaAcc">
                                                    <div class="card-body">
                                                        <div class="setting-sunheading">Backups configurations</div>

                                                        <ul class="list-unstyled ca-setting-list">
                                                            <li>
                                                                <div class="ca-setting-type">
                                                                    <div class="ca-setting-name">
                                                                        <div class="ca-setting-name-main">Backup Type</div>
                                                                        <div class="ca-setting-name-sub">Select that how you want to take backup</div>
                                                                    </div>
                                                                    <div class="ca-setting-action">
                                                                        <div class="dropdown">
                                                                            <a class="btn btn-link dropdown-toggle" href="#" role="button" id="backupDropdownSettings1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                                                Auto
                                                                            </a>
                                                                            
                                                                            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="backupDropdownSettings1">
                                                                                <a class="dropdown-item" href="javascript:;">Auto</a>
                                                                                <a class="dropdown-item" href="javascript:;">Manual</a>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </li>
                                                            <li>
                                                                <div class="ca-setting-type">
                                                                    <div class="ca-setting-name">
                                                                        <div class="ca-setting-name-main">Backup Schedule</div>
                                                                        <div class="ca-setting-name-sub">Select span of the backup time</div>
                                                                    </div>
                                                                    <div class="ca-setting-action">
                                                                        <div class="dropdown">
                                                                            <a class="btn btn-link dropdown-toggle" href="#" role="button" id="backupDropdownSettings2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                                                Every Day
                                                                            </a>
                                                                            
                                                                            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="backupDropdownSettings2">
                                                                                <a class="dropdown-item" href="javascript:;">Every Day</a>
                                                                                <a class="dropdown-item" href="javascript:;">Every Week</a>
                                                                                <a class="dropdown-item" href="javascript:;">Every Month</a>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </li>
                                                            <li>
                                                                <div class="ca-setting-type">
                                                                    <div class="ca-setting-name">
                                                                        <div class="ca-setting-name-main">Delete Old Media</div>
                                                                        <div class="ca-setting-name-sub">Delete media automatically after period of time</div>
                                                                    </div>
                                                                    <div class="ca-setting-action">
                                                                        <div class="dropdown">
                                                                            <a class="btn btn-link dropdown-toggle" href="#" role="button" id="backupDropdownSettings3" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                                                Never
                                                                            </a>
                                                                            
                                                                            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="backupDropdownSettings3">
                                                                                <a class="dropdown-item" href="javascript:;">Never</a>
                                                                                <a class="dropdown-item" href="javascript:;">Every Week</a>
                                                                                <a class="dropdown-item" href="javascript:;">Every Month</a>
                                                                                <a class="dropdown-item" href="javascript:;">Every Year</a>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </li>
                                                        </ul>

                                                        <div class="setting-sunheading mt-5 mb-3">Backups items</div>

                                                        <ul class="list-unstyled">
                                                            <li>
                                                                <div class="setting-list">
                                                                    <div class="setting-list-name">Chat</div>
                                                                    <div class="setting-list-switch">
                                                                        <label class="material-switch">
                                                                            <input type="checkbox" checked="">
                                                                            <span></span>
                                                                        </label>
                                                                    </div>
                                                                </div>
                                                            </li>
                                                            <li>
                                                                <div class="setting-list">
                                                                    <div class="setting-list-name">Images </div>
                                                                    <div class="setting-list-switch">
                                                                        <label class="material-switch">
                                                                            <input type="checkbox" checked="">
                                                                            <span></span>
                                                                        </label>
                                                                    </div>
                                                                </div>
                                                            </li>
                                                            <li>
                                                                <div class="setting-list">
                                                                    <div class="setting-list-name">Videos </div>
                                                                    <div class="setting-list-switch">
                                                                        <label class="material-switch">
                                                                            <input type="checkbox">
                                                                            <span></span>
                                                                        </label>
                                                                    </div>
                                                                </div>
                                                            </li>
                                                            <li>
                                                                <div class="setting-list">
                                                                    <div class="setting-list-name">Documents</div>
                                                                    <div class="setting-list-switch">
                                                                        <label class="material-switch">
                                                                            <input type="checkbox" checked="">
                                                                            <span></span>
                                                                        </label>
                                                                    </div>
                                                                </div>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="card">
                                                <div class="card-header" id="mediaAccHead2">
                                                    <div class="card-title collapsed" role="button" data-toggle="collapse" data-target="#mediaAcc2"
                                                        aria-expanded="false" aria-controls="mediaAcc2">
                                                        Media Settings
                                                    </div>
                                                </div>
                                                <div id="mediaAcc2" class="collapse" aria-labelledby="headingTwo" data-parent="#mediaAcc">
                                                    <div class="card-body">
                                                        <div class="setting-sunheading mb-3">Auto Download Media</div>

                                                        <ul class="list-unstyled">
                                                            <li>
                                                                <div class="setting-list">
                                                                    <div class="setting-list-name">Images </div>
                                                                    <div class="setting-list-switch">
                                                                        <label class="material-switch">
                                                                            <input type="checkbox" checked="">
                                                                            <span></span>
                                                                        </label>
                                                                    </div>
                                                                </div>
                                                            </li>
                                                            <li>
                                                                <div class="setting-list">
                                                                    <div class="setting-list-name">Videos </div>
                                                                    <div class="setting-list-switch">
                                                                        <label class="material-switch">
                                                                            <input type="checkbox">
                                                                            <span></span>
                                                                        </label>
                                                                    </div>
                                                                </div>
                                                            </li>
                                                            <li>
                                                                <div class="setting-list">
                                                                    <div class="setting-list-name">Documents</div>
                                                                    <div class="setting-list-switch">
                                                                        <label class="material-switch">
                                                                            <input type="checkbox" checked="">
                                                                            <span></span>
                                                                        </label>
                                                                    </div>
                                                                </div>
                                                            </li>
                                                        </ul>

                                                        <div class="setting-sunheading mt-5 mb-3">Media configuration</div>

                                                        <ul class="list-unstyled ca-setting-list">
                                                            <li>
                                                                <div class="ca-setting-type">
                                                                    <div class="ca-setting-name">
                                                                        <div class="ca-setting-name-main">Image Quality</div>
                                                                        <div class="ca-setting-name-sub">Choose media quality you want to send</div>
                                                                    </div>
                                                                    <div class="ca-setting-action">
                                                                        <div class="dropdown">
                                                                            <a class="btn btn-link dropdown-toggle" href="#" role="button" id="mediaDropdownSettings1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                                                Original
                                                                            </a>
                                                                            
                                                                            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="mediaDropdownSettings1">
                                                                                <a class="dropdown-item" href="javascript:;">Good</a>
                                                                                <a class="dropdown-item" href="javascript:;">Excellent</a>
                                                                                <a class="dropdown-item" href="javascript:;">Original</a>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>