{% extends 'new_patient_layout.html'%}
{% load static%}
{% block content %} 
<div class="ca-content__chatstab"> 
    <div class="ca-content__callstab" style="padding-top: 0;">
        <div class="conversation-panel__body ps">
            <div class="container">
                <div class="card">
                    <div class="card-header">
                        <h4>Upcoming Appointments</h4>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table id="upcoming" class="table table-bordered table-hover">
                            <thead>
                                <tr>
                                    <th>Date</th>
                                    <th>Time</th>
                                    <th>Doctor</th>
                                    <th>Problem</th>
                                    <th>Actions</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                        </div>
                        
                    </div>
                </div>
                <div class="card">
                    <div class="card-header">
                        <h4>Previous Appointments</h4>
                    </div>
                    <div class="card-body">
                        <table id="previousAppoinment" class="table table-bordered table-hover">
                            <thead>
                                <tr>
                                    <th>Date</th>
                                    <th>Time</th>
                                    <th>Doctor</th>
                                    <th>Problem</th>
                                </tr>
                            </thead><tbody></tbody>
                        </table>
                    </div>
                </div>
               
            </div>
        </div>
</div>
</div>
{% endblock %}

{% block scripts %}
<script>
    $(document).ready(function(){
        $('#caMainTab a[href="{% url "patients:appointments"%}"]').addClass('active');

        
        let previousAppoinment = $('#previousAppoinment').DataTable({
            ajax: {
                url: '/api/getAppoinmentHistory',
                dataSrc: '',
                'beforeSend': function (request) {
                    request.setRequestHeader("Authorization", 'Token '+jQuery.cookie('Token'));
                },
            },
            columns:[
                {
                    data:'appointment_date',
                },
                {
                    data:'appointment_time',
                    render:function(data){
                        return tConvert(data)
                    }
                },
                {
                  data: "doctor",
                  render: function (doctor){
                      return `
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-2">
                                    <div class="user-avatar user-avatar-rounded">
                                        <img class="img-fluid" src="${doctor.profile_pic}" alt="">
                                    </div>
                                </div>
                                <div class="col-md-10">
                                    <div class="ml-2 ca-call-history__left--title">
                                        <div>${doctor.full_name}</div>
                                        <span class="text-secondary">${doctor.specialist_type}</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                      `;
                  }
                },
                
                {
                    data : 'Description'
                },
                
            ],
              language: {
                  lengthMenu: "_MENU_",
                  search: "",
              }
        })

        function tConvert(time) {
            // Check correct time format and split into components
            time = time.toString().match(/^([01]\d|2[0-3])(:)([0-5]\d)(:[0-5]\d)?$/) || [time];

            if (time.length > 1) { // If time format correct
                time = time.slice(1);  // Remove full string match value
                time[5] = +time[0] < 12 ? ' AM' : ' PM'; // Set AM/PM
                time[0] = +time[0] % 12 || 12; // Adjust hours
            }
            return time.join(''); // return adjusted time or original string
        }

        let upcoming = $('#upcoming').DataTable({
            ajax: {
                url: '/api/getUpcomingAppoinment',
                dataSrc: '',
                'beforeSend': function (request) {
                    request.setRequestHeader("Authorization", 'Token '+jQuery.cookie('Token'));
                },
            },
            columns:[
                {
                    data:'appointment_date',
                },
                {
                    data:'appointment_time',
                    render:function(data){
                        return tConvert(data)
                    }
                },
                {
                  data: "doctor",
                  render: function (doctor){
                      return `
                        <div class="card-body p-0">
                            <div class="row">
                                <div class="col-md-2">
                                    <div class="user-avatar user-avatar-rounded">
                                        <img class="img-fluid" src="${doctor.profile_pic}" alt="">
                                    </div>
                                </div>
                                <div class="col-md-10">
                                    <div class="ml-2 ca-call-history__left--title">
                                        <div>${doctor.full_name}</div>
                                        <span class="text-secondary">${doctor.specialist_type}</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                      `;
                  }
                },
                {
                    data : 'Description'
                },
                {
                    data:'id',
                    render:function(data,type,app){
                        return `
                        <div class="row">
                            <div class="col-md-6 text-center">
                                <button type="button" class="btn btn-danger btn-sm call" data-doctor="${app.doctor.id}" style="border-radius:50%">
                                    <i class="mdi mdi-video text-light"></i>
                                    </button><br>
                                    <small class="">Call</small>
                            </div>
                            <div class="col-md-6 text-center">
                                <button type='button' class='btn btn-primary btn-sm' style="border-radius:50%">
                                        <i class="mdi mdi-square-edit-outline text-light"></i>
                                </button><br>
                                <small class="">Edit</small>
                            </div>
                        </div>
                        
                                   
                        `
                    }
                }
                
            ],
              language: {
                  lengthMenu: "_MENU_",
                  search: "",
              }
        })

        $('#upcoming').on('click','.call',function(){
            var button = $(this)
            $.ajax({
                url:'/api/CallDoctor?doctor_id='+button.attr('data-doctor'),
                method:'POST',
                beforeSend: function (request) {
                    request.setRequestHeader("Authorization", 'Token '+jQuery.cookie('Token'));
                },
                success:function(response){
                    window.location.href=`/api/VideoCall?user=pat&session=+${response.id}&doctor=${button.attr('data-doctor')}`
                },
                error:function(response){
                    console.log(response)
                }
            })
        })
        // VARIABLES...
        // let dataList = [];
        // let old_active_id = null;


        // function getAppoinmentList(){
        //     $.ajax({
        //         'url': '/api/getPatientsAppointments/',
        //         'contentType': 'application/json',
        //         'async': false,
        //         'method': 'GET',
        //         beforeSend: function (xhr) {
        //             xhr.setRequestHeader("Authorization", "Token " + $.cookie('Token'));
        //         },
        //     }).done((response)=>{
        //         console.log('response response', response);
        //         dataList = response;
        //     });
        //     console.log('data list is', dataList);
        //     let totalLi = '';
        //     for(var i=0; i < dataList.length; i++){
        //         let data = dataList[i];
        //         const liDesign = `<li id="patient${data.id}"><div class="calllist" id="patientDiv${data.id}">
        //                     <div class="user-avatar user-avatar-rounded online">
        //                         <img src="${data.doctor.profile_pic}" alt="">
        //                     </div>
        //                     <div class="calllist__details">
        //                         <div class="calllist__details--name">${data['doctor']['full_name']}</div>
        //                         <div class="calllist__details--info">
        //                             <span><i class="mdi mdi-call-received"></i></span>
        //                             <span>${data.appointment_date} at ${data.appointment_time}</span>
        //                         </div>
        //                     </div>
        //                     <div class="calllist__actions">
        //                         <div class="iconbox btn-hovered-light">
        //                             <i class="iconbox__icon mdi mdi-video-outline"></i>
        //                         </div>
        //                     </div>
        //                 </div>
        //             </li>`;
        //         totalLi += liDesign;
        //     }
        //     $('#appointment_list').html(totalLi);
        //     const liId = 'patient' + dataList[0].id;
        //     appoinmentList(liId);
        // }
        // getAppoinmentList()


        // function appoinmentList(id){

        //     let ID= id.slice(7)
        //     $('#'+id+' #patientDiv'+ID).addClass('active');
        //     if(old_active_id == null){
        //         old_active_id = '#patientDiv'+ID;
        //     }
        //     else{
        //         $(old_active_id).removeClass('active');
        //         old_active_id = '#patientDiv'+ID;
        //     }

        //     for(let i=0; i< dataList.length; i++){
        //         const index = dataList[i];
        //         if(index.id == ID){
        //             $("#doctor_image").attr('src', index.doctor.profile_pic);
        //             $(".ca-profile-name").html(index.doctor.full_name);
        //             $("#specialist__at").html(index.doctor.specialist_type);
        //             $("#speciality_at").html(index.doctor.specialist_type);
        //             $("#doctor_phone").html(index.doctor.phone_number);
        //             //$("#doctor_email").html(index.doctor.phone_number);
        //             $("#appointment_date").html(index.appointment_date);
        //             $("#appontment_time").html(index.appointment_time);
        //         }
        //     }

        // }

        // $('#appointment_list').on('click', 'li', function(){
        //     let id = $(this).attr('id');
        //     return appoinmentList(id)
        // })

    })
</script>
{% endblock %}