{% extends 'new_patient_layout.html'%}
{% load static%}
{% block content %} 
<div class="ca-content__chatstab">
                        
    <div class="ca-content__callstab">
        <div class="conversation-panel__body ps">
            <div class="container">
                <div class="card">
                    <div class="card-header">
                        <h4>Billing History</h4>
                    </div>
                    <div class="card-body">
                        <table id="billingHistory" class="table table-hover">
                            <thead>
                                <tr>
                                    <th>
                                        slno
                                    </th>
                                    <th>Description</th>
                                    <th>Amount</th>
                                    <th>Date</th>
                                    <th>Status</th>
                                    <th>Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                    </div>
                </div>
               
            </div>
        </div>
</div>
</div>
{% endblock %}

{% block scripts %}
<script>
    $(document).ready(function(){
        let table = $('#billingHistory').DataTable({
            ajax: {
                url: '/api/PatientBillingHistory/',
                dataSrc: "",
                'beforeSend': function (request) {
                    request.setRequestHeader("Authorization", 'Token '+jQuery.cookie('Token'));
                },
            },
            columns: [
                {
                    data: 'id'
                },
                {
                    data: 'description'
                },
                {
                    data: 'amount'
                },
                {
                    data: 'date'
                },
                {
                    data: 'status'
                },
                {
                    data: 'id',
                    render: function (data, type, row) {
                        return `<button type="button" class="btn btn-success btn-sm" data-doct='${JSON.stringify(row)}' data-toggle="modal" data-target="#patientDetails">
                                    <i class="fa fa-user-md"></i>Register
                                </button>`
                    }
                }

            ],
            language: {
                lengthMenu: "_MENU_",
                search: "",
            },
            fnRowCallback: function (nRow, aData, iDisplayIndex) {
                $("td:first", nRow).html(iDisplayIndex + 1);
                return nRow;
            }
        })
    })
</script>
{% endblock %}