{% extends 'new_patient_layout.html'%}
{% load static%}
{% block content %} 
<div class="ca-content__chatstab">
                        
    <div class="ca-content__callstab" style="padding-top: 0;">
        <div class="conversation-panel__body ps">
            <div class="container">
                <div class="card">
                    <div class="card-header">
                        <h4>Billing History</h4>
                    </div>
                    <div class="mob-list d-block">
                        <div class="sidebar-userlist ps ps--active-y">
                            <ul class="list-unstyled" id="BillingHistory">
                                
                            </ul>
                    </div>
                    </div>
                </div>
               
            </div>
        </div>
</div>
</div>
{% endblock %}

{% block scripts %}
<script>
    $(document).ready(function(){

        $.ajax({
            url: '/api/PatientBillingHistory/',
            'beforeSend': function (request) {
                    request.setRequestHeader("Authorization", 'Token '+jQuery.cookie('Token'));
            },
            method:'GET',
            success:function(response){
                var listData = ''
                $.each(response,function(i,item){
                    listData+=`
                    <li>
                        <div class="calllist">
                            <div class="user-avatar user-avatar-rounded pt-3">
                                 <img class="img-fluid" src="${item.doc_image}" alt="">
                            </div>
                            <div class="calllist__details">
                                <div class="calllist__details--name">${item.doc_name}</div>
                                    <div class="calllist__details--info">
                                        <span>
                                            ${item.doc_spl}
                                            <br>
                                            <text class="${item.status == "P" ? "text-danger" : "text-success"}">${item.description}</text>
                                            <br>
                                            ${new Date(item.date).toDateString()}
                                        </span>
                                    </div>
                            </div>
                            <div class="calllist__actions">
                                <div class="iconbox btn-hovered-light ${item.status == "P" ? "text-danger" : "text-success"}">
                                        <i class="iconbox__icon mdi mdi mdi-currency-inr mdi-24px"></i> ${item.amount}
                                </div>
                            </div>
                        </div>
                    </li>
                    `
                })
                $('#BillingHistory').html(listData)
            },
            error:function(err){ console.log(err) }
        })
       /*  let table = $('#billingHistory').DataTable({
            ajax: {
                url: '/api/PatientBillingHistory/',
                dataSrc: "",
                'beforeSend': function (request) {
                    request.setRequestHeader("Authorization", 'Token '+jQuery.cookie('Token'));
                },
            },
            columns: [
                {
                    data: 'id'
                },
                {
                    data: 'description'
                },
                {
                    data: 'amount'
                },
                {
                    data: 'date'
                },
                {
                    data: 'status'
                },
                {
                    data: 'id',
                    render: function (data, type, row) {
                        return `<button type="button" class="btn btn-success btn-sm" data-doct='${JSON.stringify(row)}' data-toggle="modal" data-target="#patientDetails">
                                    <i class="fa fa-user-md"></i>Register
                                </button>`
                    }
                }

            ],
            language: {
                lengthMenu: "_MENU_",
                search: "",
            },
            fnRowCallback: function (nRow, aData, iDisplayIndex) {
                $("td:first", nRow).html(iDisplayIndex + 1);
                return nRow;
            }
        }) */
    })
</script>
{% endblock %}