{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Doctor Plus Invoice</title>
    <link rel="stylesheet" href="{% static 'patients/assets/vendors/bootstrap/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'vendors/font-awesome/css/font-awesome.min.css' %}">
<style>
    @media print{
        .print-header{
            visibility: hidden;
        }
    }
</style>
</head>
<body>
    <div class="container">
        <div class="card print-header">
            <div class="card-body">
                <button class="btn btn-primary float-right " onclick="window.print()"><i class="fa fa-print"></i> Print</button>
            </div>
        </div>
            
        <div class="card">
            <h5 class="text-center">INVOICE</h5>
      <div class="card-header">
      
      <strong>#{{ consultation.inv_number }}</strong> 
        <span class="float-right"> <strong>{{consultation.consultation_date_time}}</strong>  </span>
      
      </div>
      <div class="card-body">
      <div class="row mb-4">
      <div class="col-sm-4">
      <h6 class="mb-3">From:</h6>
      <div>
      <strong>Doctor Plus</strong>
      </div>
      <div>No:1, Subbiaha Reddy block, Metro</div>
      <div>Station, Ulsoor, Bangalore - 560038</div>
      <div>Email: support@doctor-plus.in</div>
      <div>Phone: 080-4554 9495</div>
      </div>
      
      <div class="col-sm-4">
      <h6 class="mb-3">To:</h6>
      <div>
      <strong>{{ consultation.doctor_id.full_name }}</strong>
      </div>
      <div>Email: {{ consultation.doctor_id.user.email }}</div>
      <div>Phone: +91 {{ consultation.doctor_id.phone_number }}</div>
      </div>
      <div class="col-sm-4">
        <img src="{% static 'website/img/logo.png' %}" class="float-right" alt=""
        id="logoImage">
      </div>
      
      
      </div>
      
      <div class="table-responsive-sm mt-5">
      <table class="table table-striped">
      <thead>
      <tr>
      <th class="center">#</th>
      <th>Description</th>
      <th class="text-right">Total</th>
      </tr>
      </thead>
      <tbody>
      <tr>
      <td class="center">1</td>
      <td class="left">Consultation With {{consultation.doctor_id.full_name}} {{consultation.doctor_id.specialist_type}} on {{consultation.consultation_date_time}} </td>
      <td class="text-right"><i class="fa fa-inr"></i>{{ consultation.consultation_amt}} </td>
      </tr>
      </tbody>
      </table>
      </div>
      <div class="row">
      <div class="col-lg-4 col-sm-5">
      
      </div>
      
      <div class="col-lg-4 col-sm-5 ml-auto">
      <table class="table table-clear">
      <tbody>
      <tr>
      <td class="left">
      <strong>Subtotal</strong>
      </td>
      <td class="text-right"><i class="fa fa-inr"></i>{{ consultation.consultation_amt}}</td>
      </tr>
      <tr>
      <td class="left">
       <strong>GST Incl.(18%)</strong>
      </td>
      <td class="text-right"><i class="fa fa-inr"></i>{{tax}}</td>
      </tr>
      <tr>
      <td class="left">
      <strong>Total</strong>
      </td>
      <td class="text-right">
      <strong><i class="fa fa-inr"></i>{{ consultation.consultation_amt}}</strong>
      </td>
      </tr>
      </tbody>
      </table>
      
      </div>
      
      </div>
      
      </div>
      </div>
      </div>
</body>
</html>