{% extends 'new_patient_layout.html'%}
{% load static%}
{% block content %} 
<div class="ca-content__chatstab">
                        
    <div class="ca-content__callstab" style="padding-top: 0;">
        <div class="conversation-panel__body ps">
            <div class="container">
                <div class="card">
                    <div class="card-header">
                        <h4>Diagnostics Orders</h4>
                    </div>
                    <div class="mob-list d-block">
                        <div class="sidebar-userlist ps ps--active-y">
                            <ul class="list-unstyled" id="BillingHistory">
                                
                            </ul>
                    </div>
                    </div>
                </div>
               
            </div>
        </div>
</div>
</div>
<div class="modal new-message-dialog" id="reportsFilesModal" tabindex="-1" role="dialog" aria-labelledby="newMsgModal"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5>Report Files</h5>

                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>

            </div>
            <div class="modal-body">
                <ul class="list-group" id="reportFiles">
                  </ul>
            </div>

        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
<script>
    $(document).ready(function(){

        $.ajax({
            url: '/api/PurchaseLabTests/',
            'beforeSend': function (request) {
                    request.setRequestHeader("Authorization", 'Token '+localStorage.getItem('Token'));
            },
            method:'GET',
            success:function(response){
                var listData = ''
                if(response.length == 0)
                {
                    listData = '<p>You Have Not Ordered any Diagnostics</p>'
                }
                $.each(response,function(i,item){
                    listData+=`
                    <li>
                        <div class="calllist">
                            <div class="calllist__details">
                                <div class="calllist__details--name">
                                    <h5>${item.lab_test_id.title}</h5></div>
                                    <div class="calllist__details--info mt-2">
                                        <span>
                                            ORDER # : ${item.order_id}
                                            <br>
                                            <text>STATUS : ${item.is_delivered ? "Delivered" : "Pending"}</text>
                                            <br>
                                            ORDERED AT : ${new Date(item.purchase_date).toDateString()}
                                        </span>
                                    </div>
                            </div>
                            <div class="calllist__actions">
                        <div class="iconbox btn-hovered-light">
                            <div class="view-files" data-id="${item.id}"">
                                <ul>
                                    <li><i class="iconbox__icon mdi mdi-file text-primary"></i></li>
                                    <li><span>Reports</span></li>
                                </ul> 
                            </div>
                        </div>
                    </div>
                        </div>
                    </li>
                    `
                })
                
                $('#BillingHistory').html(listData)
            },
            error:function(err){ console.log(err) }
        })
        
        $('#BillingHistory').on('click', '.view-files', function () {
            var button = $(this)
            $.ajax({
                url: '/api/lab_test_files/?id=' + button.attr('data-id'),
                method: 'GET',
                success: function (response) {
                    var reports = ''
                    if (response.length == 0) {
                        reports = '<p>There are no reports uploaded yet</p>'
                    }
                    $.each(response, function (i, item) {
                        reports += `
                    <li>
                        <a href="${item.files}" target="_blank" class="btn btn-link">
                            ${item.files.split('/').pop()}
                        </a>
                    </li>
                    `
                    })

                    $('#reportFiles').html(reports)

                    $('#reportsFilesModal').modal('show')
                },
                error: function (err) { console.log(err) }
            })
        })

        
    })
</script>
{% endblock %}