{% extends 'new_patient_layout.html'%}
{% load static%}
{% block content %}
<style>
    .conversation-panel__body ul{
        padding-bottom: 0 !important;
    }
</style>
<div class="ca-content__chatstab">

    <div class="ca-content__callstab" style="padding-top: 0;">
        <div class="conversation-panel__body ps">
            <div class="container">
                <div class="card">
                    <div class="card-header">
                        <h4>Medical Records</h4>
                    </div>
                    <div class="card-body">
                        <div class="d-flex flex-wrap align-content-center" style="justify-content: center;">
                            <ul class="nav nav-pills my-3 med-ul" id="caCallsTabInside" role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link" id="all-calls-tab" data-toggle="pill" href="#prescriptions-tab"
                                        role="tab" aria-controls="all-calls" aria-selected="false">Prescriptions</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link active" id="missed-calls-tab" data-toggle="pill"
                                        href="#reports-tab" role="tab" aria-controls="missed-calls"
                                        aria-selected="true">Reports</a>
                                </li>
                            </ul>
                        </div>
                        <div class="tab-content">
                            <div class="tab-pane  fade" id="prescriptions-tab" role="tabpanel"
                                aria-labelledby="pills-contact-tab">
                                <div class="mob-list">
                                    <div class="sidebar-userlist ps ps--active-y">
                                        <ul class="list-unstyled prescriptionList">
                                            <li>
                                                <div class="calllist">
                                                    <div class="calllist__details">
                                                        <div class="calllist__details--name">Description</div>
                                                    </div>

                                                    <div class="calllist__actions">
                                                        <div class="iconbox btn-hovered-light">
                                                            <span>Actions</span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane show active fade" id="reports-tab" role="tabpanel"
                                aria-labelledby="pills-contact-tab">
                                <div class="mob-list">
                                    <div class="sidebar-userlist ps ps--active-y">
                                        <ul id="medocal-record" class="list-unstyled medical_records_list">
                                            <li>
                                                <div class="calllist">
                                                    <div class="calllist__details">
                                                        <div class="calllist__details--name">Report Tile</div>
                                                    </div>
                                                    <div class="calllist__actions">
                                                        <div class="iconbox btn-hovered-light">
                                                            <span>Actions</span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="float-right">
                                    <button data-toggle="modal" data-target="#newReport" type="button"
                                        class="btn btn-primary">
                                        Upload New Report
                                    </button>
                                </div>
                            </div>
                        </div>


                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
<div class="modal new-message-dialog" id="newReport" tabindex="-1" role="dialog" aria-labelledby="newMsgModal"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5>New Report</h5>

                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>

            </div>
            <div class="modal-body">
                <form id="mediaclForms">

                    <div class="form-group">
                        <label for="RecordType">Report Title</label>
                        <input name="record_type" type="text" class="form-control" placeholder="Enter Report title">
                    </div>
                    <div class="form-group">
                        <label for="RecordType">Report Files</label>
                        <input type="file" name="record_files" class="form-control">
                    </div>
                    <div class="form-group sr-only">
                        <label for="ConsultingAbout">Description</label>
                        <textarea name="description" class="form-control" id="ConsultingAbout" rows="7"
                            placeholder="Describe your Problem" style="font-size: medium;"></textarea>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn mfb-component__button--main"
                            style="width:100%; border-radius:30px" id="ConfirmClick">Add Report</button>
                    </div>
                </form>
            </div>

        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
<script>
    $(document).ready(function () {
        // let prescription = $('#tbl-prescription').DataTable({
        //     ajax: {
        //         url: '/api/PatientPrescription/',
        //         dataSrc: "",
        //         'beforeSend': function (request) {
        //             request.setRequestHeader("Authorization", 'Token ' + localStorage.getItem('Token'));
        //         },
        //     },
        //     columns: [
        //         {
        //             data: 'id'
        //         },
        //         {
        //             data: 'description'
        //         },
        //         {
        //             data: 'id',
        //             render: function (data, type, row) {
        //                 return `<button type="button" class="btn btn-success btn-sm" data-doct='${JSON.stringify(row)}' data-toggle="modal" data-target="#patientDetails">
        //                             <i class="fa fa-user-md"></i>View Details
        //                         </button>`
        //             }
        //         }

        //     ],
        //     language: {
        //         lengthMenu: "_MENU_",
        //         search: "",
        //     },
        //     fnRowCallback: function (nRow, aData, iDisplayIndex) {
        //         $("td:first", nRow).html(iDisplayIndex + 1);
        //         return nRow;
        //     }

        // })

        // let report = $('#reports').DataTable({
        //     ajax: {
        //         url: '/api/PatientRecordAPI/',
        //         dataSrc: "",
        //         'beforeSend': function (request) {
        //             request.setRequestHeader("Authorization", 'Token ' + localStorage.getItem('Token'));
        //         },
        //     },
        //     columns: [
        //         {
        //             data: 'id'
        //         },
        //         {
        //             data: 'record_type'
        //         },
        //         {
        //             data: 'description'
        //         },

        //         {
        //             data: 'id',
        //             render: function (data, type, row) {
        //                 console.log(row)
        //                 return `<a href="${row.record_files}" target="_blank" class=" btn btn-success btn-sm">
        //                             <i class="mdi mdi-file text-light"></i>
        //                             </a>
        //                             <button type='button' class='btn btn-danger btn-sm'>
        //                                 <i class="mdi mdi-trash-can-outline text-light"></i>

        //                         </button>`
        //             }
        //         }

        //     ],
        //     language: {
        //         lengthMenu: "_MENU_",
        //         search: "",
        //     },
        //     fnRowCallback: function (nRow, aData, iDisplayIndex) {
        //         $("td:first", nRow).html(iDisplayIndex + 1);
        //         return nRow;
        //     }

        // })

        $.ajax({
            url: '/api/GetPatientPrescription/',
            method: 'GET',
            contentType: 'application/json',
            beforeSend: function (request) {
                request.setRequestHeader("Authorization", 'Token ' + localStorage.getItem('Token'));
            }
        }).done((response) => {
            let lis = ``
            ;
            console.log(response)
            response.map(index => lis += `
            <li>
                <div class="calllist">
                    <div class="calllist__details">
                        <div class="calllist__details--name">${index.record_type}</div>
                            <div class="calllist__details--info">
                                <span>
                                    Dr. ${index.doctor.full_name}
                                    <br>
                                    <text class="text-success">${index.doctor.specialist_type}</text>
                                    <br>
                                    ${new Date(index.Last_modied).toDateString()}
                                </span>
                            </div>
                    </div>
                    <div class="calllist__actions">
                        <div class="iconbox btn-hovered-light">
                            <a href="/patients/single_prescrption/?id=${index.id}" target="_blank" >
                                <ul>
                                    <li><i class="iconbox__icon mdi mdi-file text-primary"></i></li>
                                    <li><span>View</span></li>
                                </ul> 
                            </a>
                        </div>
                    </div>
                </div>
            </li>`)

            $('.prescriptionList').html(lis)
        }).fail((err) => {
            console.log(err)
        })


        function get_pat_medi_record(){

            $.ajax({
                url: '/api/patient-medical-records/',
                method: 'GET',
                contentType: 'application/json',
                beforeSend: function (request) {
                    request.setRequestHeader("Authorization", 'Token ' + localStorage.getItem('Token'));
                }
            }).done((response)=>{
                console.log(response)
                let lis = `
                    <li>
                        <div class="calllist">
                            <div class="calllist__details">
                                <div class="calllist__details--name">Report Title</div>
                            </div>
                            <div class="calllist__actions">
                                <div class="iconbox btn-hovered-light">
                                    <span>Actions</span>
                                </div>
                            </div>
                        </div>
                    </li>`;
                
                response.map(index=>{
                    lis += `
                    <li>
                        <div class="calllist">
                            <div class="calllist__details"
                                style="padding: 0 20px 0 0 !important;">
                                <div class="calllist__details--name">${index.record_type}</div>
                            </div>

                            <div class="calllist__actions"
                                style="display: contents !important;">
                                <div class="iconbox btn-hovered-light">
                                    <a href="${index.record_files}" target="_blank">
                                        <ul>
                                            <li><i class="iconbox__icon mdi mdi-file text-primary"></i></li>
                                            <li><span>View</span></li>
                                        </ul>
                                    </a>
                                </div>
                                <div  class="iconbox mdi-delete-div btn-hovered-light">
                                    <ul>
                                        <li>
                                            <i data-id='${index.id}' class="iconbox__icon mdi mdi-delete text-danger"></i>
                                        </li>
                                        <li><span>Delete</span></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </li>
                    `
                })
                $('.medical_records_list').html(lis)

            })
            .fail(err=>{
                console.log(err)
            })
        }

        get_pat_medi_record()


        ////////////////// MEDICAL REPORT SUBMITING //////////////////
        $('#mediaclForms').submit((e) => {
            e.preventDefault(); //pick my call
            e.stopImmediatePropagation();
            let data = new FormData(document.getElementById('mediaclForms'))
            $.ajax({
                url: '/api/patient-medical-records/',
                method: 'POST',
                data: data,
                contentType: false,
                processData: false,
                beforeSend: function (xhr) {
                    xhr.setRequestHeader("Authorization", 'Token ' + localStorage.getItem('Token'));
                },

            }).done((response) => {
                console.log(response)
                let lis = `
                <li>
                    <div class="calllist">
                        <div class="calllist__details"
                            style="padding: 0 20px 0 0 !important;">
                            <div class="calllist__details--name">${response.record_type}</div>
                        </div>
                        <div class="calllist__actions"
                                style="display: contents !important;">
                                <div class="iconbox btn-hovered-light">
                                    <a href="${response.record_files}" target="_blank">
                                        <ul>
                                            <li><i class="iconbox__icon mdi mdi-file text-primary"></i></li>
                                            <li><span>View</span></li>
                                        </ul>
                                    </a>
                                </div>
                                <div  class="iconbox mdi-delete-div btn-hovered-light">
                                    <ul>
                                        <li>
                                            <i data-id='${response.id}' class="iconbox__icon mdi mdi-delete text-danger"></i>
                                        </li>
                                        <li><span>Delete</span></li>
                                    </ul>
                                </div>
                            </div>
                    </div>
                </li>
                `;
                let previous = $('.medical_records_list').html()
                $('.medical_records_list').html(previous + lis)
                toastr.success("Report Added Successfully","Success",{positionClass:"toast-top-center"})
                $('#newReport').modal('hide')
            }).fail((error) => {
                console.log(error);
            })
        })
    
    
    
        /////////////// DELETE MEDICAL RECORD //////////////////
        $('#medocal-record').on('click', '.mdi-delete-div', function(){
            let id = $(this).attr('data-id');
            if (confirm('Are you sure you want to delete?')) {
                $.ajax({
                    url: '/api/patient-medical-records/'+ id + '/',
                    method: 'DELETE',
                    contentType: 'application/json',
                    beforeSend: function(xhr){
                        xhr.setRequestHeader("Authorization", 'Token ' + localStorage.getItem('Token'));
                    }
                }).done(res=>{
                    get_pat_medi_record()
                })
                .fail(err=>{
                    console.log(err)
                })
            }
        })
        
        
    })

    
</script>
{% endblock %}