{% extends 'new_patient_layout.html'%}
{% load static%}
{% block content %}
<style>
    .card-img-top {
    width: 100px;
    height: 100px;
    border-top-left-radius: calc(.25rem - 1px);
    border-top-right-radius: calc(.25rem - 1px);
    border-radius: 50%;
    object-fit: cover;
}
</style>
<div class="ca-content__chatstab">
    <div class="ca-content__callstab" style="padding-top: 0;">
        <div class="conversation-panel__body special" style="height:calc(123vh - 9.6875rem)">
            <div class="container">
                <div class="card">
                    <div class="card-header">
                        <h4>Consultation in 5 easy Steps</h4>
                    </div>
                    <div class="card-body">
                        <ul class="nav nav-pills  nav-justified" id="myTab" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link app-steps active" id="pills-home-tab" data-toggle="pill" href="#spl-select"
                                    role="tab" aria-controls="pills-home" aria-selected="true">1. Select Speciality</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link app-steps disabled" id="pills-profile-tab" data-toggle="pill" href="#date-selection"
                                    role="tab" aria-controls="pills-profile" aria-selected="false">2. Select Date</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link app-steps disabled" id="pills-contact-tab" data-toggle="pill" href="#select-doctor"
                                    role="tab" aria-controls="pills-contact" aria-selected="false">3. Select Doctor</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link app-steps disabled" id="pills-payment-tab" data-toggle="pill" href="#payment" role="tab"
                                    aria-controls="pills-contact" aria-selected="false">4. Payment</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link app-steps disabled" id="pills-confirm-tab" data-toggle="pill" href="#Confirmation"
                                    role="tab" aria-controls="pills-confirm-tab" aria-selected="false">5. Confirmation</a>
                            </li>
                        </ul>
                        <div class="tab-content" id="pills-tabContent">
                            <div class="tab-pane fade show active" id="spl-select" role="tabpanel"
                                aria-labelledby="pills-home-tab">

                                <div class="spl-list" id="spl-list">
                                    <div class="container-fluid">
                                        <div class="row mt-4">
                                            {% for spaciality in  specialist %}

                                            <div class="col-md-4 mb-4">
                                                <div class="">
                                                    <div class="text-center">
                                                        <button type="button" id="{{spaciality.id}}"
                                                            class="select btn iconbox btn-block btn-lg btn-outline-primary bookAppointment ">
                                                            {{ spaciality.special_type }}
                                                        </button>
                                                    </div>
                                                    <!-- 
                                                Select
                                             -->
                                                </div>
                                            </div>
                                            {% endfor %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="date-selection" role="tabpanel"
                                aria-labelledby="pills-profile-tab">
                                <div class="spl-list">
                                    <div class="container">
                                        <div class="form-group row">
                                            <input type="hidden" id="spl-selected">
                                            <div class="offset-md-2 col-md-7">

                                                <div class="" id="dateSelector">
                                                    <div class="row">
                                                        <div class="col-md-8">
                                                            <div id="datepicker"></div>
                                                            <input type="hidden" id="App_date">
                                                        </div>
                                                        <div class="col-md-4">
                                                            <button type="button"
                                                                class="btn mfb-component__button--main"
                                                                style="width:100%; border-radius:30px" id="selectToday">
                                                                Today
                                                            </button>
                                                            <button type="button"
                                                                class="btn mfb-component__button--main mt-1"
                                                                style="width:100%;  border-radius:30px"
                                                                id="selectTommorow">
                                                                Tommorow
                                                            </button> 
                                                            <input type="text" class="form-control text-center mt-2"
                                                                placeholder="Selected Date" id="dateSelected"
                                                                style=" border-radius:30px">
                                                            <button type="button"
                                                                class="btn btn-block mfb-component__button--main mt-2"
                                                                style=" width:100%; border-radius:30px"
                                                                id="btnProceed">Proceed</button>
                                                        </div>
                                                        <div class="col-md-12">
                                                           
                                                        </div>
                                                    </div>

                                                </div>



                                            </div>


                                        </div>
                                    </div>
                                </div>

                            </div>
                            <div class="tab-pane fade" id="select-doctor" role="tabpanel"
                                aria-labelledby="pills-contact-tab">
                                <div class="spl-list" id="doctors-list">
                                    
                                </div>

                            </div>
                            <div class="tab-pane fade" id="payment" role="tabpanel" aria-labelledby="pills-contact-tab">
                                <div class="spl-list">
                                    <div class="container">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="row">
                                                    <div class="col-md-12">

                                                        <ul class="list-unstyled">
                                                            <li>
                                                                <div class="ps-list">
                                                                    <div class="ps-list__left">
                                                                        <div class="ps-list__left--icon"></div>
                                                                        <div class="ps-list__left--name">Doctor</div>
                                                                    </div>
                                                                    <div class="ps-list__right" id="Doctor">
                                                                    </div>
                                                                    <input type="hidden" id="doctor-id">
                                                                </div>
                                                            </li>
                                                            <li>
                                                                <div class="ps-list">
                                                                    <div class="ps-list__left">
                                                                        <div class="ps-list__left--icon"></div>
                                                                        <div class="ps-list__left--name">Appointment
                                                                            Date</div>
                                                                    </div>
                                                                    <div class="ps-list__right" id="app-date">
                                                                    </div>
                                                                </div>
                                                            </li>
                                                            <li>
                                                                <div class="ps-list">
                                                                    <div class="ps-list__left">
                                                                        <div class="ps-list__left--icon"></div>
                                                                        <div class="ps-list__left--name">Appointment
                                                                            Time</div>
                                                                    </div>
                                                                    <div class="ps-list__right" id="app-time">
                                                                    </div>
                                                                </div>
                                                            </li>
                                                            <li>
                                                                <div class="ps-list">
                                                                    <div class="ps-list__left">
                                                                        <div class="ps-list__left--icon"></div>
                                                                        <div class="ps-list__left--name">Description
                                                                        </div>
                                                                    </div>
                                                                    <div class="ps-list__right" id="consultingAbout"></div>
                                                                </div>
                                                            </li>
                                                        </ul>

                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                    <ul id="promocodelist" class="list-unstyled">
                                                        <li>
                                                            <div class="ps-list">
                                                                <div class="ps-list__left">
                                                                    <div class="ps-list__left--icon"></div>
                                                                    <div class="ps-list__left--name">Consultation Fee
                                                                    </div>
                                                                </div>
                                                                <div class="ps-list__right" id="cons-fee">
                                                                </div>
                                                            </div>
                                                        </li>
                                                        <li>
                                                            <div class="ps-list">
                                                                <div class="ps-list__left">
                                                                    <div class="ps-list__left--icon"></div>
                                                                    <div class="ps-list__left--name">
                                                                        <input type="checkbox" id="useWalletBalance" disabled>
                                                                        Use wallet balance
                                                                    </div>
                                                                </div>
                                                                <div class="ps-list__right" id="walletBalance"> 0
                                                                </div>
                                                            </div>
                                                        </li>
                                                        <li>
                                                            <div class="ps-list">
                                                                <div class="ps-list__left">
                                                                    <div class="ps-list__left--icon"></div>
                                                                    <div class="ps-list__left--name">GST Incl.</div>
                                                                </div>
                                                                <div class="ps-list__right" id="GST">  </div>
                                                            </div>
                                                        </li>
                                                        <li>
                                                            <div class="ps-list">
                                                                <div class="ps-list__left">
                                                                    <div class="ps-list__left--icon"></div>
                                                                    <div class="ps-list__left--name">Promo Code
                                                                    </div>
                                                                </div>
                                                                <div class="ps-list__right" id="consultingAbout">
                                                                    <div class="input-group">
                                                                        <input type="text" id="promocode" class="form-control"
                                                                            placeholder="Enter Promo Code">
                                                                        <span class="input-group-btn">
                                                                            <button id="promoApply" type="button"
                                                                                class="btn btn-primary">
                                                                                Apply
                                                                            </button>
                                                                        </span>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </li>
                                                        <li class="d-none" id="message">
                                                            <div class="ps-list">
                                                                <div class="ps-list__left">
                                                                    <div class="ps-list__left--icon"></div>
                                                                    <div class="ps-list__left--name text-danger">
                                                                    </div>
                                                                </div>
                                                                <div class="ps-list__right" id="promocode_percent">  </div>
                                                            </div>
                                                        </li>
                                                        <li>
                                                            <input type="hidden" id="doctor-number">
                                                            <div class="card">
                                                                <div class="card-header">
                                                                    Total Payable Amount
                                                                </div>
                                                                <div class="card-body text-center">
                                                                    <h2>
                                                                        <i class="mdi mdi-currency-inr"></i>
                                                                        <span id="total-amt"></span>
                                                                    </h2>
                                                                </div>
                                                                <div class="card-footer">
                                                                    <button type="button"
                                                                        class="btn mfb-component__button--main"
                                                                        style="width:100%;  border-radius:30px" id="rzp-button1">
                                                                        Pay
                                                                    </button>
                                                                </div>
                                                            </div>
                                                        </li>
                                                    </ul>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="Confirmation" role="tabpanel"
                                aria-labelledby="pills-contact-tab">
                                <div class="spl-list">
                                    <div class="container">
                                        <div class="row">
                                            <div class="col-md-8 offset-md-2">
                                                <div class="ca-profile-thumb" style="height: auto;">

                                                    <div class="ca-profile-info">
                                                        <div class="ca-profile-pic"><img class="img-fluid"
                                                                id="summaryProfile" style="height:160px" src="assets/images/layer-14@2x.png"
                                                                alt=""></div>
                                                    </div>

                                                    <div class="ca-overlay"></div>
                                                </div>
                                                <div class="text-center mt-5">
                                                    <h5>Appointment Confirmed</h5>
                                                    <p>Your appointment with <strong id="con-doctor">Dr. Kumari</strong> has been fixed
                                                        for <strong id="con-app-date">10/12/2020</strong> at <strong id="con-app-time">12:00 PM</strong> you
                                                        will be notified 15 minutes prior your consultation</p>
                                                </div>
                                                <div class="card">
                                                    <div class="card-header">
                                                        Paid Amount
                                                    </div>
                                                    <div class="card-body text-center">
                                                        <h4>
                                                            <i class="mdi mdi-currency-inr"></i> 
                                                            <span id="con-app-fee"></span>
                                                        </h4>
                                                    </div>
                                                    <div class="card-footer">
                                                        <a href="/patients/appointments" class="btn mfb-component__button--main"
                                                            style="width:100%;border-radius:30px;padding-top:10px">
                                                            Done
                                                    </a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <p class="text-center" style="padding-bottom:100px">
                            Couldn't Find your Doctor ?? we can help you with that, Call us at <a href="tel:080-45549495">080-45549495</a>
                        </p>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
<div class="modal new-message-dialog" id="ConsultationDetails" tabindex="-1" role="dialog" aria-labelledby="ConsultationDetails"
            aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                       
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="ca-profile-thumb" style="height: auto;">
                            <div class="ca-profile-info">
                                <div class="ca-profile-pic"><img height="20" class="img-fluid" src="assets/images/user/500/01.jpg" alt="" id="docImage" style="height:160px"></div>
                                <div class="ca-profile-title">
                                    <h2 class="ca-profile-name"></h2>
                                </div>
                            </div>
                            <div class="ca-overlay"></div>
                        </div>
                        <div class="form-group mt-5">
                            <input type="hidden" id="docName">
                            <input type="hidden" id="docId">
                            <input type="hidden" id="docNum">
                            <input type="hidden" id="appDate">
                            <input type="hidden" id="time">
                            <input type="hidden" id="fee">
                            <input type="hidden" id="gst">
                            <h4><label for="ConsultingAbout">Consulting About</label></h4>
                            <textarea class="form-control" id="ConsultingAbout" rows="10" placeholder="Describe your Problem" style="font-size: medium;"></textarea>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn mfb-component__button--main"
                        style="width:50%; border-radius:30px" id="ConfirmClick">Confirm</button>
                        <button type="button" class="btn mfb-component__button--main"
                        style="width:50%; border-radius:30px" id="Skip">Skip</button>
                    </div>
                </div>
            </div>
        </div>
{% endblock %}

{% block scripts %}
<script src="https://checkout.razorpay.com/v1/checkout.js"></script>
<script>
    $(document).ready(function () {
        const isSubscriptionActive = '{{ subscription_active }}' ;
        window.matchMedia("(max-width:425px)").addListener(mob)

        function mob(){
            if (window.matchMedia("(max-width:425px)").matches) {
                document.querySelectorAll('.app-steps').forEach(function (listItem) {
                    if (listItem.classList.contains('active')) {
                        listItem.style.display = 'block';
                    }else{
                        listItem.style.display = 'none';
                    }
                })
            }else{
                document.querySelectorAll('.app-steps').forEach(function (listItem) {
                    listItem.style.display = 'block';
                })
            }
            window.scrollTo(0, 0); 
        }
        mob()
        $('#caMainTab a[href="{% url "patients:appointments"%}"]').addClass('active');
        // VARIABLES...
        let speciality_type = 0;
        let wallet_balance = 0;
        let past_total_amount = 0;
        let diducted_wallet_balance = 0;
        $(".select").click(function () {
            speciality_type = $(this).attr('id');
            $('#pills-home-tab').removeClass('active');
            $('#spl-select').removeClass('active show');
            $('#pills-profile-tab').addClass('active');
            $('#pills-profile-tab').removeClass('disabled');
            $('#date-selection').addClass('active show');
            console.log(speciality_type)
            mob()
        })

        $('#Skip').click(function () {

            $.ajax({
                url: "/api/wallet_details/",
                method: 'GET',
                contentType: 'application/json',
                beforeSend: function (xhr) {
                    xhr.setRequestHeader("Authorization", "Token " + $.cookie('Token'));
                },
            }).done(res=>{
                console.log(res)
                if(isSubscriptionActive == 'yes'){
                    $('#promoApply').attr('disabled', true)
                    $('#walletBalance').html(0)
                    $('#useWalletBalance').attr('disabled', true)
                    $('#total-amt').html(0)
                    return
                }
                if(res.length ==0 || res[0].wallet.balance == ''){
                    $('#walletBalance').html(0)
                    $('#useWalletBalance').attr('disabled', true)
                    return
                }
                wallet_balance = res[0].wallet.balance;
                
                $('#walletBalance').html(res[0].wallet.balance)
                $('#useWalletBalance').removeAttr('disabled')
            })
            .fail(err=>{
                console.log(err)
            })

            past_total_amount = $('#fee').val()
            $('#ConsultationDetails').modal('hide')
            $('#pills-contact-tab').removeClass('active');
            $('#select-doctor').removeClass('active show');
            // $('#ConsultationDetails').removeClass('show')
            $('#pills-payment-tab').addClass('active');
            $('#payment').addClass('active show');
            $('#ConsultationDetails').modal('hide')
            $('#consultingAbout').html('Not Specified')
            $('#app-date').html($('#dateSelected').val())
            $('#app-time').html(appointment_time);
            console.log($('#docFName' + doc_id).html())
            $('#Doctor').html($('#docFName' + doc_id).html());
            $('#cons-fee').html($('#fee').val())
            $('#GST').html($('#gst').val())
            $('#total-amt').html($('#fee').val())

            
            mob()
        })

       
        
        $('.list-unstyled').on('change', '#useWalletBalance', function(){
            if( $(this).is(":checked")){

                //  
                // wallet_balance = parseFloat($('#walletBalance').html())
                const amount = (wallet_balance - past_total_amount)
                if(amount >=0){
                    diducted_wallet_balance = past_total_amount;
                    $('#total-amt').html(0)
                    $('#walletBalance').html(amount)
                }
                else{
                    diducted_wallet_balance = wallet_balance;
                    $('#total-amt').html(amount * (-1))
                    $('#walletBalance').html(0)
                }
                $('#promoApply').attr('disabled', true)
            }
            else{
                // const wallet_balance = parseFloat($('#walletBalance').html());
                // const total_amount = parseFloat($('#cons-fee').html())
                $('#total-amt').html(past_total_amount)
                $('#walletBalance').html(wallet_balance)
                const code_val=$('#promocode').val();
                const text = $("#codeText").html()
                let n=-1;
                console.log(text)
                if(text != undefined){

                    n = text.search("Promo Code Applied");
                }
                console.log(n)
                if(code_val.length >0 && (n >= 0 )){
                    $('#promoApply').attr('disabled', true)
                    return
                }
                $('#promoApply').removeAttr('disabled')
            }
        })








        // $('#selectToday').click(function () {
        //     let today = new Date();
        //     const dd = String(today.getDate()).padStart(2, '0');
        //     const mm = String(today.getMonth() + 1).padStart(2, '0'); //January is 0!
        //     const yyyy = today.getFullYear();
        //     today = mm + '/' + dd + '/' + yyyy;
        //     $('#dateSelected').val(today)
        // })

        // const nextDate = () => {
        //     const date = new Date();
        //     let tomorrowDate = new Date(date.setDate(date.getDate() + 1));
        //     console.log(tomorrowDate)
        //     const dd = String(tomorrowDate.getDate()).padStart(2, '0');
        //     const mm = String(tomorrowDate.getMonth() + 1).padStart(2, '0'); //January is 0!
        //     const yyyy = tomorrowDate.getFullYear();
        //     tomorrowDate = mm + '/' + dd + '/' + yyyy;
        //     return tomorrowDate
        // };
        // $('#selectTommorow').click(() => {
        //     $('#dateSelected').val(nextDate())
        // });
        let appointment_time = '';
        let doc_id = '';
        let doctor_fee = 0;
        $('#doctors-list').on('click', '.selectDorctorsd', function () {
            var button = $(this)
            $('#docImage').attr('src', button.attr('data-image'))
            appointment_time = button.attr('data-time')
            doc_id = button.attr('data-doctor-id')
            $('#doctor-id').val(doc_id)
            $('#ConsultationDetails').modal('show')
            $('#fee').val(button.attr('data-fee'))
            $('#gst').val(button.attr('data-gst'))
            doctor_fee = button.attr('data-consFee')
            $('#docNum').val(button.attr('data-doc-num'))
        });

        $('#doctors-list').on('click', '.readmore', function () {
            var aboutText = $(this).attr('data-about')
            $(this).closest('.about').html(aboutText)
        })

        ////// formating payment tab /////// 
        $('#ConfirmClick').click(() => {
            $.ajax({
                url: "/api/wallet_details/",
                method: 'GET',
                contentType: 'application/json',
                beforeSend: function (xhr) {
                    xhr.setRequestHeader("Authorization", "Token " + $.cookie('Token'));
                },
            }).done(res=>{
                console.log('wallet', res);
                if(isSubscriptionActive == 'yes'){
                    $('#promoApply').attr('disabled', true)
                    $('#walletBalance').html(0)
                    $('#useWalletBalance').attr('disabled', true)
                    $('#total-amt').html(0)
                    return
                }
                
                if(res.length ==0 ){
                    $('#walletBalance').html(0)
                    $('#useWalletBalance').attr('disabled', true)
                    return
                }
                wallet_balance = res[0].wallet.balance;
                if (wallet_balance == '' && isSubscriptionActive == 'yes'){
                    $('#walletBalance').html(0)
                    $('#useWalletBalance').attr('disabled', true)
                    return
                }
                $('#walletBalance').html(res[0].wallet.balance)
                $('#useWalletBalance').removeAttr('disabled')
            })
            .fail(err=>{
                console.log(err)
            })

            if ($('#ConsultingAbout').val() == '') {
                toastr.error("", "Describe your Problem", { positionClass: "toast-top-center" })
                return;
            }
            past_total_amount = $('#fee').val()
            $('#pills-contact-tab').removeClass('active');
            $('#select-doctor').removeClass('active show');
            // $('#ConsultationDetails').removeClass('show')
            $('#pills-payment-tab').addClass('active');
            $('#payment').addClass('active show');
            $('#ConsultationDetails').modal('hide')
            $('#consultingAbout').html($('#ConsultingAbout').val())
            $('#app-date').html($('#dateSelected').val())
            $('#app-time').html(appointment_time);
            console.log($('#docFName' + doc_id).html())
            $('#Doctor').html($('#docFName' + doc_id).html());
            $('#cons-fee').html($('#fee').val()) // $('#fee').val()
            $('#GST').html($('#gst').val())
            $('#total-amt').html($('#fee').val())
            mob()
        })



        function tConvert(time) {
            // Check correct time format and split into components
            time = time.toString().match(/^([01]\d|2[0-3])(:)([0-5]\d)(:[0-5]\d)?$/) || [time];

            if (time.length > 1) { // If time format correct
                time = time.slice(1);  // Remove full string match value
                time[5] = +time[0] < 12 ? ' AM' : ' PM'; // Set AM/PM
                time[0] = +time[0] % 12 || 12; // Adjust hours
            }
            return time.join(''); // return adjusted time or original string
        }

        $('#btnProceed').click(() => {
            
            let date = $('#dateSelected').val()
            $.ajax({
                url: "/api/patientAppointment/DoctorAvailable/?date=" + date + "&&id=" + speciality_type,
                method: 'GET',
                contentType: 'Application/json'
            }).done((response) => {
                console.log(response)
                $('#pills-profile-tab').removeClass('active');
                $('#date-selection').removeClass('active show');

                $('#pills-contact-tab').addClass('active');
                $('#select-doctor').addClass('active show');
                let doctor_list = '';
                for (let i = 0; i < response.length; i++) {
                    let data = response[i];
                    console.log(data)
                    var consultation_fee = data.doctor.commission_type == "Percent" ? parseFloat(data.doctor.consultation_fee) + (parseFloat(data.doctor.consultation_fee) * (parseFloat(data.doctor.commission_val) / 100)) : parseFloat(data.doctor.consultation_fee) + parseFloat(data.doctor.commission_val);
                    var gst = data.doctor.commission_type == "Percent" ? ((parseFloat(data.doctor.consultation_fee) * (parseFloat(data.doctor.commission_val) / 100)) * (18/ 100)) : parseFloat(data.doctor.commission_val) * (18/ 100)
                    let stars = '';
                    for(var j=0; j<5; j++ ){
                        if(j < data.doctor.rating){
                            stars += `<i class="mdi mdi-star text-warning" ></i>`
                        }
                        else{
                            stars += `<i class="mdi mdi-star" ></i>`
                        }
                    }
                    
                    let strings = `
                    <div class="col-md-4">
                    <div class="card text-center" style="align-items:center;">
  <img class="card-img-top" src="${!data.doctor.profile_pic || data.doctor.profile_pic == '' ? '/media/logos/anonymous-doctor.png' : data.doctor.profile_pic}" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title" id='docFName${data.doctor.id}'>${data.doctor.full_name}</h5>
    
    <p class="card-text about">${data.doctor.about ? data.doctor.about.substring(0, 70) + '...' : ""}
    <button type="button" class="btn btn-link readmore" data-about="${data.doctor.about}">Read More</button></p>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">${stars}</li>
    <li class="list-group-item">Consultation Fee : ${consultation_fee}</li>
    <li class="list-group-item">Available Time : ${tConvert(data.from_time)}</li>
    <li>
        <button type="button" data-doctor="${data.doctor.full_name}"
                                        data-doctor-id="${data.doctor.id}"
                                        data-image="${!data.doctor.profile_pic || data.doctor.profile_pic == '' ? '/media/logos/anonymous-doctor.png' : data.doctor.profile_pic}"
                                        data-app-date="${$('#date-val').html()}"
                                        data-time="${data.from_time}" data-consFee=${data.doctor.consultation_fee} data-fee="${consultation_fee.toFixed(2)}" data-gst="${gst.toFixed(2)}"
                                        data-doc-num="${data.doctor.phone_number}"
                                        class="btn btn-block btn-primary selectDorctorsd bookAppointment">
                                        Select
                                    </button>
    </li>
  </ul>
</div>
                   </div> 
                    `;
                    doctor_list += strings
                }
                $('#doctors-list').html(`<div class="row">
                    ${doctor_list}
                    </div>
                `)
                mob()
            }).fail((err) => {
                console.log(err)
            })
        })


        $('#datepicker').datepicker({
            format: "dd/mm/yyyy",
            startDate:"+0d"
        });
        $('#datepicker').on('changeDate', function () {
            $('#App_date').val(
                $('#datepicker').datepicker('getFormattedDate')
            );
            $('#dateSelected').val(
                $('#datepicker').datepicker('getFormattedDate')
            );
        });

        $('#datepicker table').removeClass('table-condensed')
        $('#datepicker table').addClass('table')



        $('#selectToday').click(function () {
            $('#dateSelected').val(
                moment(new Date()).format("DD/MM/YYYY")
            );
        })

        $('#selectTommorow').click(function () {
            $('#dateSelected').val(
                moment(new Date()).add(1, 'days').format("DD/MM/YYYY")
            );
        })

        ///////////// payment ///////////////
        document.getElementById('rzp-button1').onclick = function (e) {
            

            var amount = $('#total-amt').html() * 100
            if (amount > 0){
                var options = {
                    "key": "rzp_live_LCNY0ui8G8CFiO", // Enter the Key ID generated from the Dashboard
                    "amount": Math.round(amount), // Amount is in currency subunits. Default currency is INR. Hence, 50000 refers to 50000 paise
                    "currency": "INR",
                    "name": "Doctor Plus",
                    "description": "Online Doctor Appointment",
                    "image": "{% static 'website/img/logo.png' %}",
                    "handler": function (response) {
                        console.log(response)
                        // implement in booking appoinment
                        var payment_id = response.razorpay_payment_id;
                        var data = {
                            appointment_date: $('#app-date').html(),
                            appointment_time: tConvert($('#app-time').html()),
                            doctor: $('#doctor-id').val(),
                            Description: $('#consultingAbout').html(),
                            consultation_status: "Pending",
                            payment_type: "UPI",
                            payment_id: payment_id,
                            paid_amount: $('#total-amt').html()
                        };
                        if($('#useWalletBalance').is(":checked")){
                            data['paid_amount'] = parseFloat($('#total-amt').html()) + parseFloat(diducted_wallet_balance);
                            let current_date = new Date()

                            let transaction_data = {
                                ref_id: payment_id,
                                trans_type: "New appointment",
                                trans_desc: "New appointment on " + $('#app-date').html() +'. The appointment is booked on ' + current_date.toLocaleDateString(),
                                debit: diducted_wallet_balance,
                                balance: diducted_wallet_balance

                            }
                            $.ajax({
                                url: '/api/transactions/',
                                method: 'POST',
                                data: JSON.stringify(transaction_data),
                                contentType: 'application/json',
                                beforeSend: function(xhr){
                                    return xhr.setRequestHeader("Authorization", "Token " + $.cookie('Token'))
                                }
                            }).done(res=>{
                                console.log('wallet', res)
                            })
                            .fail(err=>{
                                console.log(err)
                            })

                        }
                        
                        let promoCode = $('#promocode').val()
                        if (promoCode.length > 0){
                            data['promocode'] = promoCode
                        }


                        // '/Authorization Token {value}/appoinments/'
                        $('#rzp-button1').html('Processing...')
                        $('#rzp-button1').attr('disabled', true)
                    
                        $.ajax({
                            'url': '/api/appointments/',
                            'method': 'POST',
                            'contentType': 'application/json',
                            'data': JSON.stringify(data),
                            beforeSend: function (xhr) {
                                xhr.setRequestHeader("Authorization", "Token " + $.cookie('Token'));
                            },
                        }).done((response) => {
                            console.log(response);
                            toastr.success("Appointment booked Successfully", "Success", { positionClass: "toast-top-center" })
                            $('#con-doctor').html($('#Doctor').html())
                            $('#summaryProfile').attr('src',$('#docImage').attr('src'))
                            $('#con-app-time').html(response.appointment_time)
                            $('#con-app-date').html(response.appointment_date)
                            $('#con-app-fee').html(response.paid_amount)
                            $('#pills-payment-tab').removeClass('active');
                            $('#payment').removeClass('active show');
                            $('#pills-confirm-tab').addClass('active');
                            $('#Confirmation').addClass('active show'); 
                            mob()
                            $.ajax({
                                url: `https://teleduce.in/sendsms/?key=a224db72-cafb-4cce-93ab-3d7f950c92e2&text=Your Appointment with Dr. ${$('#Doctor').html()} has been fixed on ${response.appointment_date} at ${response.appointment_time} to keep track of your appointments visit https://doctor-plus.in/patients/appointments &route=0&from=BANDSS&to=${$('#mob1').val()}`,
                                method: 'GET',
                                success: function (response) {
                                    console.log(response)
                                }
                            })
                            $.ajax({
                                url: `https://teleduce.in/sendsms/?key=a224db72-cafb-4cce-93ab-3d7f950c92e2&text=Your Appointment with ${$('#conversation_doc').html()} has been fixed on ${response.appointment_date} at ${response.appointment_time} to keep track of your appointments visit https://doctor-plus.in/doctors/appointments &route=0&from=BANDSS&to=${$('#docNum').val()}`,
                                method: 'GET',
                                success: function (response) {
                                    console.log(response)
                                }
                            })
                            //Send SMS to Doctor as well
                        }).fail((err, error, wrong) => {
                            console.log(err)
                        })
                    },
                    "notes": {
                        "address": "B&S Associates No:1, Subbiaha Reddy block, Metro Station, Ulsoor, Bangalore - 560038"
                    },
                    "theme": {
                        "color": "#1f3864"
                    }
                };
                var rzp1 = new Razorpay(options);
                rzp1.open();
                e.preventDefault();
            }
            else{
                var data = {
                    appointment_date: $('#app-date').html(),
                    appointment_time: tConvert($('#app-time').html()),
                    doctor: $('#doctor-id').val(),
                    Description: $('#consultingAbout').html(),
                    consultation_status: "Pending",
                    payment_type: "wallet Balance",
                    payment_id: 'used wallet balance',
                    paid_amount: parseFloat(diducted_wallet_balance)
                };
                if($('#useWalletBalance').is(":checked")){
                    data['paid_amount'] = parseFloat($('#total-amt').html()) + parseFloat(diducted_wallet_balance);
                    let current_date = new Date()

                    let transaction_data = {
                        ref_id: 'used wallet balance',
                        trans_type: "New appointment",
                        trans_desc: "New appointment on " + $('#app-date').html() +'. The appointment is booked on ' + current_date.toLocaleDateString(),
                        debit: diducted_wallet_balance,
                        balance: diducted_wallet_balance
                    }
                    $.ajax({
                        url: '/api/transactions/',
                        method: 'POST',
                        data: JSON.stringify(transaction_data),
                        contentType: 'application/json',
                        beforeSend: function(xhr){
                            return xhr.setRequestHeader("Authorization", "Token " + $.cookie('Token'))
                        }
                    }).done(res=>{
                        console.log('wallet', res)
                    })
                    .fail(err=>{
                        console.log(err)
                    })

                }
                        
                let promoCode = $('#promocode').val()
                if (promoCode.length > 0){
                    data['promocode'] = promoCode
                }


                // '/Authorization Token {value}/appoinments/'
                $('#rzp-button1').html('Processing...')
                $('#rzp-button1').attr('disabled', true)
            
                $.ajax({
                    'url': '/api/appointments/',
                    'method': 'POST',
                    'contentType': 'application/json',
                    'data': JSON.stringify(data),
                    beforeSend: function (xhr) {
                        xhr.setRequestHeader("Authorization", "Token " + $.cookie('Token'));
                    },
                }).done((response) => {
                    console.log(response);
                    toastr.success("Appointment booked Successfully", "Success", { positionClass: "toast-top-center" })
                    $('#con-doctor').html($('#Doctor').html())
                    $('#summaryProfile').attr('src',$('#docImage').attr('src'))
                    $('#con-app-time').html(response.appointment_time)
                    $('#con-app-date').html(response.appointment_date)
                    $('#con-app-fee').html(response.paid_amount)
                    $('#pills-payment-tab').removeClass('active');
                    $('#payment').removeClass('active show');
                    $('#pills-confirm-tab').addClass('active');
                    $('#Confirmation').addClass('active show'); 
                    mob()
                    $.ajax({
                        url: `https://teleduce.in/sendsms/?key=a224db72-cafb-4cce-93ab-3d7f950c92e2&text=Your Appointment with Dr. ${$('#Doctor').html()} has been fixed on ${response.appointment_date} at ${response.appointment_time} to keep track of your appointments visit https://doctor-plus.in/patients/appointments &route=0&from=BANDSS&to=${$('#mob1').val()}`,
                        method: 'GET',
                        success: function (response) {
                            console.log(response)
                        }
                    })
                    $.ajax({
                        url: `https://teleduce.in/sendsms/?key=a224db72-cafb-4cce-93ab-3d7f950c92e2&text=Your Appointment with ${$('#conversation_doc').html()} has been fixed on ${response.appointment_date} at ${response.appointment_time} to keep track of your appointments visit https://doctor-plus.in/doctors/appointments &route=0&from=BANDSS&to=${$('#docNum').val()}`,
                        method: 'GET',
                        success: function (response) {
                            console.log(response)
                        }
                    })
                    //Send SMS to Doctor as well
                }).fail((err, error, wrong) => {
                    console.log(err)
                })
            }
        }
    
        ///////////// promo code ///////////////
        function apply_promo_code(){
            let promoCode = $('#promocode').val()
            $.ajax({
                url: '/api/apply_promoCode/?code='+ promoCode,
                method: 'GET',
                contentType: 'application/json',
                beforeSend: function(xhr){
                    xhr.setRequestHeader("Authorization", "Token " + $.cookie('Token'));
                }
            })
            .done(response=>{
                console.log(response)
                let li = '';
                $('#message').removeClass('d-none')
                if(response.can_applied){
                    $('#promoApply').attr('disabled', true)
                    let payable_money = parseFloat($('#cons-fee').html())
                    console.log(payable_money)
                    let discount = (payable_money * response.code[0].discount_percent) / 100;
                    past_total_amount = past_total_amount - discount

                    $('#total-amt').html(payable_money - discount);


                    $('#message').html(`
                    <div class="ps-list">
                        <div class="ps-list__left">
                            <div class="ps-list__left--icon"></div>
                            <div class="ps-list__left--name text-success" id="codeText">Promo Code Applied
                            </div>
                        </div>
                        <div class="ps-list__right" id="promocode_percent"> ${response.code[0].discount_percent}%(${discount}) </div>
                    </div>
                    `)
                }
                else{
                    let consultFee = $('#cons-fee').html();
                    $('#total-amt').html(consultFee)

                    $('#message').html(`
                    <div class="ps-list">
                        <div class="ps-list__left">
                            <div class="ps-list__left--icon"></div>
                            <div class="ps-list__left--name text-danger" id="codeText">${response.message}
                            </div>
                        </div>
                    </div>
                    `)
                }
                
            })
            .fail(err=>{
                console.log(err)
            })
        }

        $('#promoApply').click(apply_promo_code)
    })

</script>
{% endblock %}