{% extends 'new_patient_layout.html'%}
{% load static%}
{% block content %} 
<div class="ca-content__chatstab">
                        
    <div class="ca-content__callstab">
        <div class="conversation-panel__body ps">
            <div class="container">
                <div class="card">
                    <div class="card-header">
                        <h4>Select a Plan</h4>
                    </div>
                    <div class="card-body">
                        <div id="all_plans" class="row">
                    <!--  PLANS LIST WILL BE COME HERE  BY AJAX -->
                        </div>
                    </div>
                </div>
               
            </div>
        </div>
</div>
</div>
{% endblock %}

{% block scripts %}
<script>
    $(document).ready(function(){
        $('#caMainTab a[href="{% url "patients:appointments"%}"]').addClass('active');
        // VARIABLES...
        let dataList = [];
        let old_active_id = null;


        function getAppoinmentList(){
            $.ajax({
                'url': '/api/subscription_plans',
                'contentType': 'application/json',
                'async': false,
                'method': 'GET'
            }).done((response)=>{
                console.log(response)
                let all_plans = '';
                for(let i=0; i<response.length; i++){
                    let data = response[i];
                    let li = makeListOfPlanBenifits(data.benifits_list)
                    let cardsData = `
                    <div class="col-md-4">
                        <div class="card">
                            <div class="card-header">
                                <h4>${data.plan_name}</h4>
                            </div>
                            <div class="card-body">
                                <ul class="list-group ">
                                    ${li}
                                </ul>
                            </div>
                            <div class="card-footer">
                                <div class="text-center">
                                    <div class="card-body text-center">
                                        <h2>
                                            <i class="mdi mdi-currency-inr"></i> ${data.plan_price}
                                        </h2>
                                    </div>
                                </div>
                                <button type="button" class="btn mfb-component__button--main" style="width:100%;  border-radius:30px">
                                    Select Plan
                                    </button>
                            </div>
                        </div>

                    </div>`;
                    all_plans += cardsData;
                }
                $('#all_plans').html(all_plans)
            }).fail((err)=>{console.log(err)})
            
        }
        getAppoinmentList()
        
        function makeListOfPlanBenifits(name){
            let splitedName = name.split(',');
            let finalLi = '';
            for(let x = 0; x < splitedName.length; x++){
                let li = `<li class="text-center font-weight-bold list-group-item">
                                        ${splitedName[x]}
                                    </li>`;
                finalLi += li;
            }
            return finalLi;
        } 

    })
</script>
{% endblock %}