{% extends 'new_patient_layout.html'%}
{% load static%}
{% block content %} 
<div class="ca-content__chatstab">
                        
    <div class="ca-content__callstab" style="padding-top: 0;">
        <div class="conversation-panel__body ps">
            <div class="container">
                <div class="card">
                    <div class="card-header">
                        <h4>Select a Plan</h4>
                    </div>
                    <div class="card-body">
                        <div id="all_plans" class="row">
                    <!--  PLANS LIST WILL COME HERE  BY AJAX -->
                        </div>
                    </div>
                </div>
               
            </div>
        </div>
</div>
</div>
<div id="select-subplan" class="modal fade" role="dialog">
    <div class="modal-dialog modal-xl">
  
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="heading">One Month Unlimited</h5>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          
        </div>
        <div class="modal-body">
          <div class="row">
              <div class="col-md-6">
                        <ul class="list-group">
                            <li class="list-group-item text-center font-weight-bold">Benifits</li>
                            <li class="list-group-item">For Individual</li>
                            <li class="list-group-item">Unlimited consultations for 30 Days</li>
                            <li class="list-group-item">Reports Storage</li>
                            <li class="list-group-item">Personlized Experience</li>
                        </ul>
                        <ul class="list-unstyled">
                            <li class="list-group-item text-center font-weight-bold">Subscription Term</li>
                            <li>
                                <div class="ps-list">
                                    <div class="ps-list__left">
                                        <div class="ps-list__left--icon"></div>
                                        <div class="ps-list__left--name">Subscription valid From</div>
                                    </div>
                                    <div class="ps-list__right" id="GST">18/11/2020
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="ps-list">
                                    <div class="ps-list__left">
                                        <div class="ps-list__left--icon"></div>
                                        <div class="ps-list__left--name">Subscription valid Till</div>
                                    </div>
                                    <div class="ps-list__right" id="GST">18/12/2020
                                    </div>
                                </div>
                            </li>
                        </ul>
              </div>
              <div class="col-md-6">
                <div class="card">
                    <div class="card-header">
                        <h6 class="font-weight-bold">Payment Summary</h6>
                    </div>
                    <div class="card-body">
                        <ul class="list-unstyled">
                            <li>
                                <div class="ps-list">
                                    <div class="ps-list__left">
                                        <div class="ps-list__left--icon"></div>
                                        <div class="ps-list__left--name">Subscription Fee</div>
                                    </div>
                                    <div class="ps-list__right" id="GST">2500.00
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="ps-list">
                                    <div class="ps-list__left">
                                        <div class="ps-list__left--icon"></div>
                                        <div class="ps-list__left--name">GST</div>
                                    </div>
                                    <div class="ps-list__right" id="GST">125.00
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="card">
                                    <div class="card-header">
                                        Total Payable Amount
                                    </div>
                                    <div class="card-body text-center">
                                        <h2>
                                            <i class="mdi mdi-currency-inr"></i>
                                            <span id="total-amt">2650.00</span>
                                        </h2>
                                    </div>
                                    <div class="card-footer">
                                        <button type="button"
                                            class="btn mfb-component__button--main"
                                            style="width:100%;  border-radius:30px" id="rzp-button1">
                                            Pay Now
                                        </button>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
              </div>
          </div>
        </div>
      </div>
  
    </div>
  </div>
{% endblock %}

{% block scripts %}
<script>
    $(document).ready(function(){
        $('#caMainTab a[href="{% url "patients:appointments"%}"]').addClass('active');
        // VARIABLES...
        let dataList = [];
        let old_active_id = null;


        function getAppoinmentList(){
            $.ajax({
                'url': '/api/subscription_plans',
                'contentType': 'application/json',
                'async': false,
                'method': 'GET'
            }).done((response)=>{
                console.log(response)
                let all_plans = '';
                for(let i=0; i<response.length; i++){
                    let data = response[i];
                    let li = makeListOfPlanBenifits(data.benifits_list)
                    let cardsData = `
                    <div class="col-md-4">
                        <div class="card">
                            <div class="card-header">
                                <h4>${data.plan_name}</h4>
                            </div>
                            <div class="card-body">
                                <ul class="list-group ">
                                    ${li}
                                </ul>
                            </div>
                            <div class="card-footer">
                                <div class="text-center">
                                    <div class="card-body text-center">
                                        <h2>
                                            <i class="mdi mdi-currency-inr"></i> ${data.plan_price}
                                        </h2>
                                    </div>
                                </div>
                                <button type="button" class="btn mfb-component__button--main" style="width:100%;  border-radius:30px" data-toggle="modal" data-target="#select-subplan">
                                    Select Plan
                                    </button>
                            </div>
                        </div>

                    </div>`;
                    all_plans += cardsData;
                }
                $('#all_plans').html(all_plans)
            }).fail((err)=>{console.log(err)})
            
        }
        getAppoinmentList()
        
        function makeListOfPlanBenifits(name){
            let splitedName = name.split(',');
            let finalLi = '';
            for(let x = 0; x < splitedName.length; x++){
                let li = `<li class="text-center font-weight-bold list-group-item">
                                        ${splitedName[x]}
                                    </li>`;
                finalLi += li;
            }
            return finalLi;
        } 

    })
</script>
{% endblock %}