{% extends 'new_patient_layout.html'%}
{% load static%}
{% block content %}
<div class="ca-content__chatstab">
    <div class="ca-content__callstab" style="padding-top: 0;">
        <div class="conversation-panel__body ps">
            <ul class="nav nav-pills sr-only" id="myTab" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" id="pills-home-tab" data-toggle="pill" href="#SelectPlan" role="tab"
                        aria-controls="pills-home" aria-selected="true">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="pills-profile-tab" data-toggle="pill" href="#Payment" role="tab"
                        aria-controls="pills-profile" aria-selected="false">Profile</a>
                </li>
            </ul>
            {% if planExists == False%}
            <div class="tab-content">
                <div class="tab-pane active show" id="SelectPlan">
                    <div class="container">
                        <div class="card">
                            <div class="card-header">
                                <h4>Select a Plan</h4>
                            </div>
                            <div class="card-body">
                                <section class="customer-logos slider">
                                    <!-- Individual -->
                                    <div class="slide">
                                        <div class="card" style="    border-radius:1.25rem;">
                                            <div class="card-header"
                                                style=" border-radius: calc(1.25rem - 1px) calc(1.25rem - 1px) 0 0;">
                                                <h4 class="text-center">Individual</h4>
                                            </div>

                                            <table class="table" id="indPlan">
                                                <tbody>
                                                    <tr>
                                                        <td>Coverage</td>
                                                        <td>One</td>
                                                    </tr>
                                                    <tr>
                                                        <td>Validity</td>
                                                        <td>10 Consults</td>
                                                    </tr>
                                                    <tr>
                                                        <td>Free Video / Audio Consult</td>
                                                        <td>YES</td>
                                                    </tr>
                                                    <tr>
                                                        <td>Unlimited Consult / Month</td>
                                                        <td>NO</td>
                                                    </tr>
                                                    <tr>
                                                        <td>Lab Discounts</td>
                                                        <td>YES</td>
                                                    </tr>
                                                    <tr>
                                                        <td>Free Follow up</td>
                                                        <td>2 Free</td>
                                                    </tr>
                                                    <tr>
                                                        <td>Report Storage</td>
                                                        <td>YES</td>
                                                    </tr>
                                                    <tr>
                                                        <td>Speciality Choice</td>
                                                        <td>YES</td>
                                                    </tr>
                                                    <tr>
                                                        <td>Choice of Doctor</td>
                                                        <td>YES</td>
                                                    </tr>
                                                </tbody>
                                            </table>

                                            <div class="card-footer">
                                                <div class="text-center">
                                                    <div class="card-body text-center">
                                                        <h2>
                                                            <i class="mdi mdi-currency-inr"></i> 2,490.00
                                                        </h2>
                                                    </div>
                                                </div>
                                                <button type="button" class="btn mfb-component__button--main selectPlan"
                                                    style="width:100%;  border-radius:30px" data-table="#indPlan" data-cons-count="10" data-plan="Individual" data-price="2490">
                                                    Select Plan
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- You + 1 -->
                                    <div class="slide">
                                        <div class="card" style="    border-radius:1.25rem;">
                                            <div class="card-header"
                                                style=" border-radius: calc(1.25rem - 1px) calc(1.25rem - 1px) 0 0;">
                                                <h4 class="text-center">You + 1</h4>
                                            </div>

                                            <table class="table" id="youPlusOnePlan">
                                                <tbody>
                                                    <tr>
                                                        <td>Coverage</td>
                                                        <td>You + 1 Child</td>
                                                    </tr>
                                                    <tr>
                                                        <td>Validity</td>
                                                        <td>15 Consults</td>
                                                    </tr>
                                                    <tr>
                                                        <td>Free Video / Audio Consult</td>
                                                        <td>YES</td>
                                                    </tr>
                                                    <tr>
                                                        <td>Unlimited Consult / Month</td>
                                                        <td>NO</td>
                                                    </tr>
                                                    <tr>
                                                        <td>Lab Discounts</td>
                                                        <td>YES</td>
                                                    </tr>
                                                    <tr>
                                                        <td>Free Follow up</td>
                                                        <td>2 Free</td>
                                                    </tr>
                                                    <tr>
                                                        <td>Report Storage</td>
                                                        <td>YES</td>
                                                    </tr>
                                                    <tr>
                                                        <td>Speciality Choice</td>
                                                        <td>YES</td>
                                                    </tr>
                                                    <tr>
                                                        <td>Choice of Doctor</td>
                                                        <td>YES</td>
                                                    </tr>
                                                </tbody>
                                            </table>

                                            <div class="card-footer">
                                                <div class="text-center">
                                                    <div class="card-body text-center">
                                                        <h2>
                                                            <i class="mdi mdi-currency-inr"></i> 3,990.00
                                                        </h2>
                                                    </div>
                                                </div>
                                                <button type="button" class="btn mfb-component__button--main selectPlan"
                                                    style="width:100%;  border-radius:30px" data-table="#youPlusOnePlan" data-price="3990" data-cons-count="15" data-plan="You + 1">
                                                    Select Plan
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- You + 2 -->
                                    <div class="slide">
                                        <div class="card" style="    border-radius:1.25rem;">
                                            <div class="card-header"
                                                style=" border-radius: calc(1.25rem - 1px) calc(1.25rem - 1px) 0 0;">
                                                <h4 class="text-center">You + 2</h4>
                                            </div>

                                            <table class="table" id="youPlusTwoPlan">
                                                <tbody>
                                                    <tr>
                                                        <td>Coverage</td>
                                                        <td>You + 1 Adult + 1 Child</td>
                                                    </tr>
                                                    <tr>
                                                        <td>Validity</td>
                                                        <td>15 Consults</td>
                                                    </tr>
                                                    <tr>
                                                        <td>Free Video / Audio Consult</td>
                                                        <td>YES</td>
                                                    </tr>
                                                    <tr>
                                                        <td>Unlimited Consult / Month</td>
                                                        <td>NO</td>
                                                    </tr>
                                                    <tr>
                                                        <td>Lab Discounts</td>
                                                        <td>YES</td>
                                                    </tr>
                                                    <tr>
                                                        <td>Free Follow up</td>
                                                        <td>2 Free</td>
                                                    </tr>
                                                    <tr>
                                                        <td>Report Storage</td>
                                                        <td>YES</td>
                                                    </tr>
                                                    <tr>
                                                        <td>Speciality Choice</td>
                                                        <td>YES</td>
                                                    </tr>
                                                    <tr>
                                                        <td>Choice of Doctor</td>
                                                        <td>YES</td>
                                                    </tr>
                                                </tbody>
                                            </table>

                                            <div class="card-footer">
                                                <div class="text-center">
                                                    <div class="card-body text-center">
                                                        <h2>
                                                            <i class="mdi mdi-currency-inr"></i> 4,990.00
                                                        </h2>
                                                    </div>
                                                </div>
                                                <button type="button" class="btn mfb-component__button--main selectPlan"
                                                    style="width:100%;  border-radius:30px" data-table="#youPlusTwoPlan" data-cons-count="15" data-price="4990" data-plan="Your + 2">
                                                    Select Plan
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- You + 3 -->
                                    <div class="slide">
                                        <div class="card" style="    border-radius:1.25rem;">
                                            <div class="card-header"
                                                style=" border-radius: calc(1.25rem - 1px) calc(1.25rem - 1px) 0 0;">
                                                <h4 class="text-center">You + 3</h4>
                                            </div>

                                            <table class="table" id="youPlusThree">
                                                <tbody>
                                                    <tr>
                                                        <td>Coverage</td>
                                                        <td>You + 1 Adult + 2 Child</td>
                                                    </tr>
                                                    <tr>
                                                        <td>Validity</td>
                                                        <td>15 Consults</td>
                                                    </tr>
                                                    <tr>
                                                        <td>Free Video / Audio Consult</td>
                                                        <td>YES</td>
                                                    </tr>
                                                    <tr>
                                                        <td>Unlimited Consult / Month</td>
                                                        <td>NO</td>
                                                    </tr>
                                                    <tr>
                                                        <td>Lab Discounts</td>
                                                        <td>YES</td>
                                                    </tr>
                                                    <tr>
                                                        <td>Free Follow up</td>
                                                        <td>2 Free</td>
                                                    </tr>
                                                    <tr>
                                                        <td>Report Storage</td>
                                                        <td>YES</td>
                                                    </tr>
                                                    <tr>
                                                        <td>Speciality Choice</td>
                                                        <td>YES</td>
                                                    </tr>
                                                    <tr>
                                                        <td>Choice of Doctor</td>
                                                        <td>YES</td>
                                                    </tr>
                                                </tbody>
                                            </table>

                                            <div class="card-footer">
                                                <div class="text-center">
                                                    <div class="card-body text-center">
                                                        <h2>
                                                            <i class="mdi mdi-currency-inr"></i> 5,990.00
                                                        </h2>
                                                    </div>
                                                </div>
                                                <button type="button" data-table="#youPlusThree" data-price="5990" data-plan="You + 3" data-cons-count="15"
                                                    class="btn mfb-component__button--main selectPlan"
                                                    style="width:100%;  border-radius:30px">
                                                    Select Plan
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- Senior Citizens -->
                                    <div class="slide">
                                        <div class="card" style="    border-radius:1.25rem;">
                                            <div class="card-header"
                                                style=" border-radius: calc(1.25rem - 1px) calc(1.25rem - 1px) 0 0;">
                                                <h4 class="text-center">Senior Citizens</h4>
                                            </div>

                                            <table class="table" id="seniorPlan">
                                                <tbody>
                                                    <tr>
                                                        <td>Coverage</td>
                                                        <td>One</td>
                                                    </tr>
                                                    <tr>
                                                        <td>Validity</td>
                                                        <td>One Month</td>
                                                    </tr>
                                                    <tr>
                                                        <td>Free Video / Audio Consult</td>
                                                        <td>YES</td>
                                                    </tr>
                                                    <tr>
                                                        <td>Unlimited Consult / Month</td>
                                                        <td>UNLIMITED</td>
                                                    </tr>
                                                    <tr>
                                                        <td>Lab Discounts</td>
                                                        <td>YES</td>
                                                    </tr>
                                                    <tr>
                                                        <td>Free Follow up</td>
                                                        <td>4 Free</td>
                                                    </tr>
                                                    <tr>
                                                        <td>Report Storage</td>
                                                        <td>YES</td>
                                                    </tr>
                                                    <tr>
                                                        <td>Speciality Choice</td>
                                                        <td>YES</td>
                                                    </tr>
                                                    <tr>
                                                        <td>Choice of Doctor</td>
                                                        <td>YES</td>
                                                    </tr>
                                                </tbody>
                                            </table>

                                            <div class="card-footer">
                                                <div class="text-center">
                                                    <div class="card-body text-center">
                                                        <h2>
                                                            <i class="mdi mdi-currency-inr"></i> 4,990.00
                                                        </h2>
                                                    </div>
                                                </div>
                                                <button type="button" data-table="#seniorPlan" data-price="4990" data-plan="Senior Citizens" data-cons-count="0" class="btn mfb-component__button--main selectSeniorPlan"
                                                    style="width:100%;  border-radius:30px">
                                                    Select Plan
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </section>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="tab-pane" id="Payment">
                    <div class="spl-list">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="card" style="    border-radius:1.25rem;">
                                        <table class="table" id="planDetails">
                                            <tbody>
                                                <tr>
                                                    <td>Coverage</td>
                                                    <td>One</td>
                                                </tr>
                                                <tr>
                                                    <td>Validity</td>
                                                    <td>One Month</td>
                                                </tr>
                                                <tr>
                                                    <td>Free Video / Audio Consult</td>
                                                    <td>YES</td>
                                                </tr>
                                                <tr>
                                                    <td>Unlimited Consult / Month</td>
                                                    <td>UNLIMITED</td>
                                                </tr>
                                                <tr>
                                                    <td>Lab Discounts</td>
                                                    <td>YES</td>
                                                </tr>
                                                <tr>
                                                    <td>Free Follow up</td>
                                                    <td>4 Free</td>
                                                </tr>
                                                <tr>
                                                    <td>Report Storage</td>
                                                    <td>YES</td>
                                                </tr>
                                                <tr>
                                                    <td>Speciality Choice</td>
                                                    <td>YES</td>
                                                </tr>
                                                <tr>
                                                    <td>Choice of Doctor</td>
                                                    <td>YES</td>
                                                </tr>
                                            </tbody>
                                        </table>

                                        <div class="card-footer">

                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="card">
                                        <div class="card-header text-center">
                                            <h5>Payment Summary</h5>
                                        </div>
                                        <div class="card-body">
                                            <ul id="promocodelist" class="list-unstyled">
                                                <li>
                                                    <div class="ps-list">
                                                        <div class="ps-list__left">
                                                            <div class="ps-list__left--icon"></div>
                                                            <div class="ps-list__left--name" id="selectedPlanName">You + 3 Plan
                                                            </div>
                                                        </div>
                                                        <div class="ps-list__right" id="chosen-plan">
                                                            <button type="button" class="btn btn-sm btn-primary ChangePlan"
                                                                >
                                                                Change Plan
                                                            </button>
                                                        </div>
                                                    </div>
                                                </li>
                                                <li>
                                                    <div class="ps-list">
                                                        <div class="ps-list__left">
                                                            <div class="ps-list__left--icon"></div>
                                                            <div class="ps-list__left--name">Subscription Fee
                                                            </div>
                                                        </div>
                                                        <div class="ps-list__right" id="subs-fee">
                                                        </div>
                                                    </div>
                                                </li>
                                                <li>
                                                    <div class="ps-list">
                                                        <div class="ps-list__left">
                                                            <div class="ps-list__left--icon"></div>
                                                            <div class="ps-list__left--name">GST (18%)</div>
                                                        </div>
                                                        <div class="ps-list__right" id="GST"> </div>
                                                    </div>
                                                </li>
                                                <li class="d-none" id="message">
                                                    <div class="ps-list">
                                                        <div class="ps-list__left">
                                                            <div class="ps-list__left--icon"></div>
                                                            <div class="ps-list__left--name text-danger">
                                                            </div>
                                                        </div>
                                                        <div class="ps-list__right" id="promocode_percent"> </div>
                                                    </div>
                                                </li>
                                                <li>
                                                    <input type="hidden" id="doctor-number">
                                                    <div class="card">
                                                        <div class="card-header">
                                                            Total Payable Amount
                                                        </div>
                                                        <div class="card-body text-center">
                                                            <h2>
                                                                <i class="mdi mdi-currency-inr"></i>
                                                                <span id="total-amount"></span>
                                                            </h2>
                                                        </div>
                                                        <div class="card-footer">
                                                            <button type="button"
                                                                class="btn mfb-component__button--main"
                                                                style="width:100%;  border-radius:30px"
                                                                id="rzp-button1">
                                                                Pay
                                                            </button>
                                                        </div>
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>


                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% else %}
            <div class="card">
                <div class="card-header text-center">
                    <h5>You are Subscribed to <strong>{{active_plan.plan}} Plan</strong></h5>
                </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-6">
                                <table class="table">
                                    <tr>
                                        <th colspan="2" class="text-center">Plan Details</th>
                                    </tr>
                                    {% autoescape off %}
                                    {{active_plan.plan_description}}
                                    {% endautoescape %}
                                </table>
                            </div>
                            <div class="col-md-6">
                                <table class="table">
                                    <tr>
                                        <th colspan="2" class="text-center">Subscription Details</th>
                                    </tr>
                                    <tr>
                                        <td>
                                            Subscribed Date
                                        </td>
                                        <td class="tetx-right">
                                            {{ active_plan.sub_date }}
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            Status
                                        </td>
                                        <th class="tetx-right">
                                            {% if active_plan.is_active == True %}
                                            <span class="text-success">Active</span>
                                            {% else %}
                                            <span class="text-Dander">Expired</span>
                                            {% endif %}
                                        </th>
                                    </tr>
                                    <tr>
                                        <td>
                                            Consultations Remaining
                                        </td>
                                        <td class="tetx-right">
                                            {{ active_plan.cons_count }}
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            Paid Amount
                                        </td>
                                        <td class="tetx-right">
                                            ₹ {{active_plan.paid_amount}}
                                        </td>
                                    </tr>
                                    <tr>
                                        <td colspan="2">
                                            <a href="/patients/patientInvoice/?id={{ active_plan.id }}" class="btn btn-primary btn-block">
                                                View Invoice
                                            </a>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                        
                    </div>
                
            </div>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
<script src="https://checkout.razorpay.com/v1/checkout.js"></script>
<script>
    $(document).ready(function () {
        $('#caMainTab a[href="{% url "patients:appointments"%}"]').addClass('active');
        // VARIABLES...
        let dataList = [];
        let old_active_id = null;
        let plan = ""
        let price = ""
        let gst = 0
        let con_count=0
        let gst_decimal = 0.00;
        let senior_status = false;
        
        $('.selectPlan').click(function () {
            let button = $(this)
            let tableid = button.attr('data-table')
            plan = button.attr('data-plan')
            price = button.attr('data-price')
            con_count=button.attr('data-cons-count')
            gst = (parseFloat(price)*(18/100));
            gst_decimal = gst.toFixed(2);
            senior_status = false;
            $('#GST').html(gst.toFixed(2))
            $('#total-amount').html((parseFloat(price)+gst).toFixed(2))
            $('#selectedPlanName').html(plan + ' Plan')
            $('#subs-fee').html(price)
            $('#planDetails').html($(tableid).html())
            $('#myTab a[href="#Payment"]').tab('show')
        })
        {% if is_senior == 'eligable' %}

            $('.selectSeniorPlan').click(function(){
                let button = $(this)
                let tableid = button.attr('data-table')
                plan = button.attr('data-plan')
                price = button.attr('data-price')
                con_count=button.attr('data-cons-count')
                gst = (parseFloat(price)*(18/100));
                gst_decimal = gst.toFixed(2);
                senior_status=true;
                $('#GST').html(gst.toFixed(2))
                $('#total-amount').html((parseFloat(price)+gst).toFixed(2))
                $('#selectedPlanName').html(plan + ' Plan')
                $('#subs-fee').html(price)
                $('#planDetails').html($(tableid).html())
                $('#myTab a[href="#Payment"]').tab('show')
            })

        {% elif is_senior == 'nodata' %}
            $('.selectSeniorPlan').click(function(){
                $('#settingsModalCenter').modal('show')
            })
        
        {% else %}
            $('.selectSeniorPlan').click(function(){
                alert('You are not eligable for this plan. For more information please contact with us.')
            })
        {% endif %}

        $('.ChangePlan').click(function () {
            $('#myTab a[href="#SelectPlan"]').tab('show')
        })

        document.getElementById('rzp-button1').onclick = function (e) {
            var options = {
                "key": "rzp_test_Sh4geUmypYkfzX", // Enter the Key ID generated from the Dashboard
                "amount": parseFloat($('#total-amount').html()) * 100, // Amount is in currency subunits. Default currency is INR. Hence, 50000 refers to 50000 paise
                "currency": "INR",
                "name": "Doctor Plus",
                "description": "Activation of a Subscription Plan.",
                "image": "{% static 'website/img/logo.png' %}",
                "handler": function (response) {
                    console.log(response)
                    // implement in booking appoinment
                    var payment_id = response.razorpay_payment_id;
                    var data = {
                        plan: plan,
                        is_active: true,
                        is_senior: senior_status,
                        payment_id:payment_id,
                        cons_count:con_count,
                        gst:gst_decimal,
                        paid_amount:$('#total-amount').html(),
                        plan_price:price,
                        plan_description:$('#planDetails').html()
                    };

                    $.ajax({
                        'url': '/api/MySubscriptionPlan/',
                        'method': 'POST',
                        'contentType': 'application/json',
                        'data': JSON.stringify(data),
                        beforeSend: function (xhr) {
                            xhr.setRequestHeader("Authorization", "Token " + $.cookie('Token'));
                        },
                    }).done((response) => {
                        console.log(response);
                        toastr.success("Your Subscription is now active.","Success",{positionClass:"toast-top-center"})
                        setTimeout(function(){
                            window.location.href = '/patients/patientInvoice/?id='+response.id
                        }, 1000)
                    }).fail((err, error, wrong) => {
                        console.log(err)
                    })
                },
                "notes": {
                    "address": "Razorpay Corporate Office"
                },
                "theme": {
                    "color": "#1f3864"
                }
            };
            var rzp1 = new Razorpay(options);
            rzp1.open();
            e.preventDefault();
        }

    })
</script>
{% endblock %}