{% extends 'patients_layout.html'%}
{% load static%}
{% block sideContent %}
{% endblock %}
{% block content %} 
<style>
.imgcontainer {
  text-align: center;
}

/* Avatar image */
img.avatar {
  width: 40%;
  border-radius: 50%;
}
</style>
<div class="ca-content-for-contacts">
                <div class="ca-content">
                    <ul class="nav nav-pills sr-only" id="myTab" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" id="pills-profile-tab" data-toggle="pill" href="#docSelection"
                                role="tab" aria-controls="form" aria-selected="true">Profile</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="pills-home-tab" data-toggle="pill" href="#Summary" role="tab"
                                aria-controls="list" aria-selected="false">Home</a>
                        </li>
                    </ul>
                    
                    <div class="tab-content" id="myTabContent">
                        <div class="tab-pane fade active show" id="docSelection" role="tabpanel" aria-labelledby="list">
                            <div class="ca-content__chatstab">
                                <div class="ca-content__callstab">
                    
                                    <div class="container">
                                        <a href="/patients/dashboard" class="btn mb-2 pt-1 pb-1 pl-4 pr-4 mfb-component__button--main"
                                            style="width:auto; border-radius:30px"><i class="mdi mdi-home"></i> Back to Home</a>
                                        <div class="row">
                                            <div class="col-12">
                                                <div class="card">
                                                    <div class="card-body p-0">
                                                        <div class="ca-call-details-card">
                                                            <div class="ca-call-details__left">
                                                                <a href="/patients/dashboard">
                                                                    <i class="mdi mdi-home"></i>
                                                                </a>
                                                                <div class="user-avatar  user-avatar-xl user-avatar-rounded online">
                                                                    <img src="/media/{{specialist.icon}}" alt="">
                                                                </div>
                                                                <div class="ca-call-details__pname">
                                                                    <div><span id="spl-val">{{specialist.special_type}}</span></div>
                                                                    <div class="calllist__details--info">
                                                                        <span><i class="mdi mdi-calendar"></i></span>
                                                                        <span id="date-val">{{date}}</span>
                                                                        <input type="hidden" value="{{week}}" id="week-val">
                                                                    </div>
                                                                </div>
                                                            </div>
                                    
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    
                                        <div class="row mt-4">
                                            <div class="col-12">
                                                <div class="ca-call-details-history" id="doctors-list">
                                    
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="Summary" role="tabpanel" aria-labelledby="list">
                            
                            <div class="ca-content__chatstab">
                                <div class="ca-content__contactstab">
                                    <div class="container">
                                        <a href="/patients/dashboard" class="btn mb-2 pt-1 pb-1 pl-4 pr-4 mfb-component__button--main"
                                            style="width:auto; border-radius:30px"><i class="mdi mdi-home"></i> Back to Home</a>
                                        <div class="ca-profile-thumb" style="height: auto;">
                            
                                            <div class="ca-profile-info">
                                                <div class="ca-profile-pic"><img class="img-fluid" id="summaryProfile"
                                                        src="{% static 'patients/assets/images/layer-14@2x.png' %}" alt=""></div>
                                            </div>
                            
                                            <div class="ca-overlay"></div>
                                        </div>
                            
                                        <div class="profile-settings-list border mb-5">
                                            <div class="ca-profile-title">
                                                <h2 class="ca-profile-name">Dr. Kumari</h2>
                                                <div class="ca-profile-tag">
                                                    <span>Cardiologist</span>
                                                </div>
                                            </div>
                            
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <div class="setting-sunheading setting-sunheading-style01 my-4">Appointment Information</div>
                            
                            
                                                    <ul class="list-unstyled">
                                                        <li>
                                                            <div class="ps-list">
                                                                <div class="ps-list__left">
                                                                    <div class="ps-list__left--icon"><i class="mdi mdi-calendar"></i></div>
                                                                    <div class="ps-list__left--name">Doctor</div>
                                                                </div>
                                                                <div class="ps-list__right" id="Doctor">Dr. Kumari</div>
                                                                <input type="hidden" id="doctor-id">
                                                            </div>
                                                        </li>
                                                        <li>
                                                            <div class="ps-list">
                                                                <div class="ps-list__left">
                                                                    <div class="ps-list__left--icon"><i class="mdi mdi-calendar"></i></div>
                                                                    <div class="ps-list__left--name">Appointment Date</div>
                                                                </div>
                                                                <div class="ps-list__right" id="app-date">12/11/2020</div>
                                                            </div>
                                                        </li>
                                                        <li>
                                                            <div class="ps-list">
                                                                <div class="ps-list__left">
                                                                    <div class="ps-list__left--icon"><i class="mdi mdi-calendar-clock"></i></div>
                                                                    <div class="ps-list__left--name">Appointment Time</div>
                                                                </div>
                                                                <div class="ps-list__right" id="app-time">12:00 AM</div>
                                                            </div>
                                                        </li>
                                                        <li>
                                                            <div class="ps-list">
                                                                <div class="ps-list__left">
                                                                    <div class="ps-list__left--icon"><i class="mdi mdi-file-outline"></i></div>
                                                                    <div class="ps-list__left--name">Description</div>
                                                                </div>
                                                                <div class="ps-list__right" id="consultingAbout"></div>
                                                            </div>
                                                        </li>
                                                        <li>
                                                            <div class="ps-list">
                                                                <div class="ps-list__left">
                                                                    <div class="ps-list__left--icon"><i class="mdi mdi-currency-inr"></i></div>
                                                                    <div class="ps-list__left--name">Total Amount</div>
                                                                </div>
                                                                <div class="ps-list__right" id="amount"> 380.00</div>
                                                            </div>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                            <center>
                                                <button type="button" class="btn mfb-component__button--main mt-3"
                                                    style="width: 40%; border-radius:30px" id="rzp-button1">Pay Securely</button>
                                            </center>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    

                    
                </div>
            </div>
            <div class="modal new-message-dialog" id="ConsultationDetails" tabindex="-1" role="dialog" aria-labelledby="newMsgModal"
            aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                       
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="ca-profile-thumb" style="height: auto;">
                            <div class="ca-profile-info">
                                <div class="ca-profile-pic"><img class="img-fluid" src="assets/images/user/500/01.jpg" alt="" id="docImage"></div>
                                <div class="ca-profile-title">
                                    <h2 class="ca-profile-name"></h2>
                                </div>
                            </div>
                            <div class="ca-overlay"></div>
                        </div>
                        <div class="form-group mt-5">
                            <input type="hidden" id="docName">
                            <input type="hidden" id="docId">
                            <input type="hidden" id="appDate">
                            <input type="hidden" id="time">
                            <input type="hidden" id="fee">
                            <h4><label for="ConsultingAbout">Consulting About</label></h4>
                            <textarea class="form-control" id="ConsultingAbout" rows="10" placeholder="Describe your Problem" style="font-size: medium;"></textarea>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn mfb-component__button--main"
                        style="width:100%; border-radius:30px" id="ConfirmClick">Confirm</button>
                    </div>
                </div>
            </div>
        </div>
{% endblock %}
{% block scripts %}
<script src="https://checkout.razorpay.com/v1/checkout.js"></script>
<script>
    $(document).ready(function () {
        var element = document.getElementById('ca-sidebar-wrapper');
        element.parentNode.removeChild(element);
        var $window = $(window)
        if ($window.width() < 992) {
            $(".ca-content__callstab").show();
          $(".ca-content-wrapper").addClass("open");
        }
        var url=`/api/getAvailableDoctors/?spl=${$('#spl-val').html()}&day=${$('#week-val').val()}`
        $.getJSON(url, {}, function (data) {
            var listItems = ''
            $.each(data, function (i, item) {
                var consFee = item.doctor.commission_type == 'amount' ?
                    (parseFloat(item.doctor.consultation_fee) + parseFloat(item.doctor.commission_val)) :
                    (parseFloat(item.doctor.consultation_fee) + (parseFloat(item.doctor.consultation_fee) * (parseFloat(item.doctor.commission_val) / 100)))
                listItems += `<div class="card">
                                <div class="card-body">
                                    <div class="ca-call-history">
                                        <div class="ca-call-history__left">
                                            <div class="user-avatar user-avatar-rounded">
                                                <img class="img-fluid" src="${item.doctor.profile_pic}" alt="">
                                            </div>
                                            <div class="ml-2 ca-call-history__left--title">
                                                <div>Dr. ${item.doctor.full_name}</div>
                                                <span class="font-weight-bold text-success">Available Time : ${item.from_time}</span>
                                                <br>
                                                <span class="font-weight-bold text-success">Consultation Fee : ${consFee}</span>
                                                </div>
                                            </div>
                                            <div class="ca-call-history__right">
                                                <button type="button" data-doctor="${item.doctor.full_name}" data-doctor-id="${item.doctor.id}" data-image="${item.doctor.profile_pic}" data-app-date="${$('#date-val').html()}" data-time="${item.from_time}" data-fee="${consFee}" class="btn iconbox btn-solid-info text-white bookAppointment">
                                                    Book Appointment
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>`
            })

            $('#doctors-list').html(listItems)
        })

        $('#doctors-list').on('click','.bookAppointment',function(){
            var button = $(this)
            $('#docImage').attr('src',button.attr('data-image'))
            $('#docId').val(button.attr('data-doctor-id'))
            $('#docName').val(button.attr('data-doctor'))
            $('#appDate').val(button.attr('data-app-date'))
            $('#time').val(button.attr('data-time'))
            $('#fee').val(button.attr('data-fee'))
            $('#ConsultationDetails').modal('show')
        })

        $('#ConfirmClick').click(function(){
            $('#myTab a[href="#Summary"]').tab('show')
            $('#summaryProfile').attr('src',$('#docImage').attr('src'))
            $('#Doctor').html('Dr. '+$('#docName').val())
            $('#doctor-id').val( $('#docId').val())
            $('#app-date').html( $('#appDate').val())
            $('#app-time').html( $('#time').val())
            $('#consultingAbout').html($('#ConsultingAbout').val())
            $('#amount').html($('#fee').val())
            $('#ConsultationDetails').modal('hide')
        })
    })

    var options = {
    "key": "rzp_test_Sh4geUmypYkfzX", // Enter the Key ID generated from the Dashboard
    "amount": "50000", // Amount is in currency subunits. Default currency is INR. Hence, 50000 refers to 50000 paise
    "currency": "INR",
    "name": "Doctor Plus",
    "description": "Online Doctor Appointment",
    "image": "{% static 'assets/img/login.jpg'%}",
    "handler": function (response) {
            var payment_id = response.razorpay_payment_id;
            var data = {
                appointment_date:  $('#app-date').html(),
                appointment_time: $('#app-time').html(),
                doctor: $('#doctor-id').val(),
                Description:  $('#consultingAbout').html(),
                consultation_status: "Pending",
                payment_type: "UPI",
                payment_id: "rzp_ghfkdg654",
                paid_amount: "300"
            };
        },
    "prefill": {
        "name": "Gaurav Kumar",
        "email": "gaurav.kumar@example.com",
        "contact": "9999999999"
    },
    "notes": {
        "address": "Razorpay Corporate Office"
    },
    "theme": {
        "color": "#007bff"
    }
};
var rzp1 = new Razorpay(options);
document.getElementById('rzp-button1').onclick = function(e){
    rzp1.open();
    e.preventDefault();
}
</script>
{% endblock %}