{% extends 'doctor_layout.html' %}
{% load static %}
{% block content%}
<div class="content">
  <div class="card pl-3 pr-3">
    <div class="card-header">
      <h4 id="title">Todays Appointments</h4>
    </div>
      <div class="card-body card-block">
          <table class="table" id="TodayAppointments">
              <thead>
                  <tr>
                      <th>Slno</th>
                      
                      <th>Patient</th>
                      <th>Appointment Date</th>
                      <th>Appointment Time</th>
                      <th>Description</th><th>Actions</th>
                  </tr>
              </thead>
              <tbody>
                  
              </tbody>
          </table>
      </div>
  </div>
</div>
  <div class="content">
    <div class="card pl-3 pr-3">
      <div class="card-header">
        <h4 id="title">Upcoming Appointments</h4>
      </div>
        <div class="card-body card-block">
            <table class="table" id="UpComingAppointments" style="width:100%">
                <thead>
                    <tr>
                        <th>Slno</th>
                        <th>Patient</th>
                        <th>Appointment Date</th>
                        <th>Appointment Time</th>
                        <th>Description</th>
                    </tr>
                </thead>
                <tbody>
                    
                </tbody>
            </table>
        </div>
    </div>
</div>

<div class="content">
  <div class="card pl-3 pr-3">
    <div class="card-header">
       <h4 id="title">Previous Appointments</h4>
    </div>
      <div class="card-body card-block">
          <table class="table" id="PreviousAppointments">
              <thead>
                  <tr>
                      <th>Slno</th>
                      
                      <th>Patient</th>
                      <th>Consultation Date & Time</th>
                      <th>Description</th><th>Actions</th>
                  </tr>
              </thead>
              <tbody>
                  
              </tbody>
          </table>
      </div>
  </div>
</div>
    <div class="modal fade" id="patientProfile" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLongTitle">Patient Profile</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <div class="row">
              <div class="col-md-4">
                <img src="/media/logogs/anonymous-user.png" alt="">
              </div>
              <div class="col-md-8">
                <div class="row">
                  <div class="col-md-6">
                    <div class="form-group">
                      <label for="Name">Name</label>
                      <input type="text" readonly="readonly" class="form-control">
                    </div>
                    <div class="form-group">
                      <label for="Phone">Phone Number</label>
                      <input type="text" readonly="readonly" class="form-control">
                    </div>
                    <div class="form-group">
                      <label for="Email">Email</label>
                      <input type="email" readonly="readonly" class="form-control">
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <label for="BloodGroup">Blood Group</label>
                      <input type="text" readonly="readonly" class="form-control">
                    </div>
                    <div class="form-group">
                      <label for="Age">Age</label>
                      <input type="text" readonly="readonly" class="form-control">
                    </div>
                    <div class="form-group">
                      <label for="Weight">Weight</label>
                      <input type="text" readonly="readonly" class="form-control">
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <div class="form-group">
                  <label for="MedicalHistory">Medical History</label>
                  <textarea class="form-control" name="MedicalHistory" id="MedicalHistory" rows="3"></textarea>
                </div>
                <div class="form-group">
                  <label for="Prognosis">Prognosis</label>
                  <textarea class="form-control" name="Prognosis" id="Prognosis" rows="3"></textarea>
                </div>
                <div class="form-group">
                  <label for="Medication">Medication</label>
                  <textarea class="form-control" name="Medication" id="Medication" rows="3"></textarea>
                </div>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary btn-block" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
{% endblock %}

{% block scripts%}
<script>
  let dataList = [];
  const upComingtable = jQuery('#UpComingAppointments').DataTable({
    ajax: {
      url: '/api/upComingAppoinment/',
      dataSrc: "",
      async: false,
      'beforeSend': function (request) {
        request.setRequestHeader("Authorization", 'Token ' + jQuery.cookie('DoctorToken'));
      },

    },
    autoWidth: false,
    columns: [
      {
        data: 'id'
      },
      {
        data: "patient_name"
      },
      {
        data: 'appointment_date'
      },
      {
        data: 'appointment_time'
      },
      {
        data: 'Description'
      },
      // {
      //   data: "id",
        
      // }

    ],
    language: {
      lengthMenu: "_MENU_",
      search: "",
    },
    fnRowCallback: function (nRow, aData, iDisplayIndex) {
      jQuery("td:first", nRow).html(iDisplayIndex + 1);
      return nRow;
    }
  })
  const todaytable = jQuery('#TodayAppointments').DataTable({
    ajax: {
      url: '/api/todaysAppoinment/',
      dataSrc: "",
      async: false,
      'beforeSend': function (request) {
        request.setRequestHeader("Authorization", 'Token ' + jQuery.cookie('DoctorToken'));
      },

    },
    autoWidth: false,
    columns: [
      {
        data: 'id'
      },
      {
        data: "patient_name"
      },
      {
        data: 'appointment_date'
      },
      {
        data: 'appointment_time'
      },
      {
        data: 'Description'
      },
      {
        data: "id",
        render: function (data, type, app) {
          return `<button type="button" class="btn btn-primary btn-sm call" data-const="${app.id}" data-patient="${app.pat_id}">
                                    <i class="fa fa-video-camera"></i> Call
                                    </button><br>
                    `
        }
      }

    ],
    language: {
      lengthMenu: "_MENU_",
      search: "",
    },
    fnRowCallback: function (nRow, aData, iDisplayIndex) {
      jQuery("td:first", nRow).html(iDisplayIndex + 1);
      return nRow;
    }
  })
  const previoustable = jQuery('#PreviousAppointments').DataTable({
    ajax: {
      url: '/api/getDoctorConsultations/',
      dataSrc: "",
      async: false,
      'beforeSend': function (request) {
        request.setRequestHeader("Authorization", 'Token ' + jQuery.cookie('DoctorToken'));
      },

    },
    autoWidth: false,
    columns: [
      {
        data: 'id'
      },
      {
        data: "patient_name"
      },
      {
        data: 'consultation_date_time',
        render:function(data){
          return new Date(data)
        }
      },
      {
        data: 'problem'
      },
      {
         data: "id",
         render: function (data, type, app) {
          return `<button type="button" class="btn btn-primary btn-sm ViewPatientProfile" data-const="${app.id}" data-patient="${app.patient}">
                                    <i class="fa fa-eye"></i> View
                                    </button><br>
                    `
        }
      }

    ],
    language: {
      lengthMenu: "_MENU_",
      search: "",
    },
    fnRowCallback: function (nRow, aData, iDisplayIndex) {
      jQuery("td:first", nRow).html(iDisplayIndex + 1);
      return nRow;
    }
  })

  jQuery('#PreviousAppointments').on('click','.ViewPatientProfile',function(){
    var button = $(this)
    jQuery.ajax({
      url: `/api/getConsDetails?cons_id=${button.attr('data-const')}`,
      method: 'POST',
      async: false,
      beforeSend: function (request) {
        request.setRequestHeader("Authorization", 'Token ' + jQuery.cookie('DoctorToken'));
      },
      success: function (response) {
        console.log(response)
        $('#patientProfile').modal('show')
      error: function (response) {
        console.log(response)
      }
    })
    

  })

  jQuery('#TodayAppointments').on('click', '.call', function () {
    var button = jQuery(this)
    jQuery.ajax({
      url: `/api/MobCallPatient?patient=${button.attr('data-patient')}&app_id=${button.attr('data-const')}`,
      method: 'POST',
      async: false,
      beforeSend: function (request) {
        request.setRequestHeader("Authorization", 'Token ' + jQuery.cookie('DoctorToken'));
      },
      success: function (response) {
        if (window.matchMedia("(max-width:425px)").matches)
          window.location.href = `/api/VideoCall?session_id=${response.session_id}&session_token=${response.token}&device=small&user=doc&session=${response.id}&patient=${button.attr('data-patient')}&app_id=${button.attr('data-const')}`
        else
          window.location.href = `/api/VideoCall?session_id=${response.session_id}&session_token=${response.token}&device=big&user=doc&session=${response.id}&patient=${button.attr('data-patient')}&app_id=${button.attr('data-const')}`
        },
      error: function (response) {
        console.log(response)
      }
    })
  })

</script>
{% endblock %}
