{% extends 'doctor_layout.html' %}
{% block content%}
<style>

.mainDiv {
  margin: 0 auto;
  width: 100%;
  background: #20a8d8;
  border-radius: 5px;
  color: white;
}

.people-list {
  width: 22%;
  float: left;
}
.people-list .search {
  padding: 20px;
}
.people-list input {
  border-radius: 3px;
  border: none;
  padding: 14px;
  color: white;
  background: #6A6C75;
  width: 90%;
  font-size: 14px;
}
.people-list .fa-search {
  position: relative;
  left: -25px;
}
.people-list ul {
  padding: 20px;
  height: 770px;
  list-style: none;
}
.people-list ul li {
  padding-bottom: 20px;
}
.people-list img {
  float: left;
  border-radius: 50%;
}
.people-list .about {
  float: left;
  margin-top: 8px;

}
.people-list .about {
  padding-left: 8px;
  margin-left: 22pt;
  color: black;
}
.people-list .status {
  
}

.chat {
  width: 78%;
  float: left;
  background: #F2F5F8;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  color: #434651;
}
.chat .chat-header {
  padding: 20px;
  border-bottom: 2px solid white;
}
.chat .chat-header img {
  float: left;
}
.chat .chat-header .chat-about {
  float: left;
  padding-left: 10px;
  margin-top: 6px;
}
.chat .chat-header .chat-with {
  font-weight: bold;
  font-size: 16px;
}
.chat .chat-header .chat-num-messages {
  color: #92959E;
}
.chat .chat-header .fa-star {
  float: right;
  color: #D8DADF;
  font-size: 20px;
  margin-top: 12px;
}
.chat .chat-history {
  padding: 30px 30px 20px;
  border-bottom: 2px solid white;
  overflow-y: scroll;
  height: 575px;
}
.chat .chat-history .message-data {
  margin-bottom: 15px;
}
.chat .chat-history .message-data-time {
  color: #a8aab1;
  padding-left: 6px;
}
.chat .chat-history .message {
  color: white;
  padding: 18px 20px;
  line-height: 26px;
  font-size: 16px;
  border-radius: 7px;
  margin-bottom: 30px;
  width: 90%;
  position: relative;
}
.chat .chat-history .message:after {
  bottom: 100%;
  left: 7%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-bottom-color: #86BB71;
  border-width: 10px;
  margin-left: -10px;
}
.chat .chat-history .my-message {
  background: #86BB71;
}
.chat .chat-history .other-message {
  background: #94C2ED;
}
.chat .chat-history .other-message:after {
  border-bottom-color: #94C2ED;
  left: 93%;
}
.chat .chat-message {
  padding: 30px;
}
.chat .chat-message textarea {
  width: 100%;
  border: none;
  padding: 10px 20px;
  font: 14px/22px "Lato", Arial, sans-serif;
  margin-bottom: 10px;
  border-radius: 5px;
  resize: none;
}
.chat .chat-message .fa-file-o, .chat .chat-message .fa-file-image-o {
  font-size: 16px;
  color: gray;
  cursor: pointer;
}
.chat .chat-message button {
  float: right;
  color: #94C2ED;
  font-size: 16px;
  text-transform: uppercase;
  border: none;
  cursor: pointer;
  font-weight: bold;
  background: #F2F5F8;
}
.chat .chat-message button:hover {
  color: #75b1e8;
}

.online, .offline, .me {
  margin-right: 3px;
  font-size: 10px;
}

.online {
  color: #86BB71;
}

.offline {
  color: #E38968;
}

.me {
  color: #94C2ED;
}

.align-left {
  text-align: left;
}

.align-right {
  text-align: right;
}

.float-right {
  float: right;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}
.clearfixs{
  background: white;
  border-radius: 15pt;
  margin: 15px 0;

}
.patient__image_style {
  border-radius: 50%;
    height: 70px;
    object-fit: cover;
    width: 70px;
}
</style>
<div class="breadcrumbs">
    <div class="col-12">
        <div class="page-header ">
            <div class="page-title">
                <h4 id="title">Billings History</h4>
            </div>
        </div>
    </div>
  </div>
  <div class="content">
    <div class="card pl-3 pr-3">
        <div class="card-body card-block">
            <table class="table" id="BillingHistory">
                <thead>
                    <tr>
                        <th>Slno</th>
                        <th>Date</th>
                        <th>Details</th>
                        <th>Amount</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    
                </tbody>
            </table>
        </div>
    </div>
  </div>

{% endblock %}

{% block scripts%}
<script>
  const billingHistory = jQuery('#BillingHistory').DataTable({
    ajax: {
      url: '/api/doctor_dataView',
      dataSrc: "",
      'beforeSend': function (request) {
        request.setRequestHeader("Authorization", 'Token ' + jQuery.cookie('DoctorToken'));
      },

    },
    columns: [
      {
        data: 'id'
      },
      {
        data: "created_at",
        render: function(data){
                        return tConvert(data)
                    }
      },
      {
        data: 'appointment_date'
      },
      {
        data: 'appointment_time'
      },
      {
        data: 'Description'
      },
      // {
      //   data: "id"
      // }

    ],
    language: {
      lengthMenu: "_MENU_",
      search: "",
    },
    fnRowCallback: function (nRow, aData, iDisplayIndex) {
      jQuery("td:first", nRow).html(iDisplayIndex + 1);
      return nRow;
    }
  })
  function tConvert(time) {
            // Check correct time format and split into components
            time = time.toString().match(/^([01]\d|2[0-3])(:)([0-5]\d)(:[0-5]\d)?$/) || [time];

            if (time.length > 1) { // If time format correct
                time = time.slice(1);  // Remove full string match value
                time[5] = +time[0] < 12 ? ' AM' : ' PM'; // Set AM/PM
                time[0] = +time[0] % 12 || 12; // Adjust hours
            }
            return time.join(''); // return adjusted time or original string
        }
</script>
<!-- <script>
// let dataList = [];
//     function getDataa(){
//         console.log('here')
//         const form = document.getElementById('profile_form');
//         jQuery.ajax({
//                 url: '/api/getLoggedInDoctor',
//                 method: 'GET',
//                 contentType: 'application/json',
//                 async: false,
//                 beforeSend: function (xhr) {
//                     xhr.setRequestHeader("Authorization", "Token " + jQuery.cookie('DoctorToken'));
//                 },
//             }).done((response)=>{
//                 console.log('response response', response);
//                 jQuery.ajax({
//                     url: "/api/getEmail",
//                     method: 'GET',
//                     contendType: 'application/json',
//                     async: false,
//                     method: 'GET',
//                     beforeSend: function (xhr) {
//                         xhr.setRequestHeader("Authorization", "Token " + jQuery.cookie('DoctorToken'));
//                     },
//                 }).done((response)=>{
//                         //formDeserialize(form, response);
//                     })
//                 //formDeserialize(form, response);
                
//             }).fail((error)=>{
//                 console.log(error);
//             });
//     }
//     getDataa()

    
// function formDeserialize(form, data) {
//         const entries = (new URLSearchParams(data)).entries();
//         for (const [key, val] of entries) {
//           console.log(key);
//             const input = form.elements[key];
//             if (input != undefined) {
//                 if (input.type == 'file') {
//                     if (val) {
//                         var $file = jQuery('#' + input.id),
//                             $label = $file.next('label'),
//                             $labelText = $label.find('span'),
//                             labelDefault = $labelText.text();
//                         var filename = val.split('/').pop()
//                         if (filename) {
//                             $label
//                                 .addClass('file-ok')
//                                 .css('background-image', 'url(' + val + ')');
//                             $labelText.text('Click here to change pic');
//                         } else {
//                             $label.removeClass('file-ok');
//                             $labelText.text(labelDefault);
//                         }
//                     }
                    
//                 } else {
    
//                     switch (input.type) {
//                         case 'checkbox':
//                             input.checked = !!val;
//                             break;
//                         case 'select-one':
//                             if (val)
//                                 input.value = val;
//                             else
//                                 input.selectedIndex = 0;
    
//                             break;
//                         default:
//                             input.value = val;
//                             break;
    
//                     }
    
//                 }
//             }
    
//         }
//     }


//////////////// username change event ////////////////
// jQuery('#ph_no').change(function(){
//     jQuery('#username').val(jQuery(this).val())
// })
// jQuery('#username').val(jQuery('#ph_no').val())


//////// UPDATING PROFILE //////////
// jQuery("#profile_form").submit((e)=>{
//         e.preventDefault();
//         e.stopImmediatePropagation();
//         const data = new FormData(document.getElementById('profile_form'))
//         console.log(data);
//         jQuery.ajax({
//         url: '/api/DoctorUpdateProfile',
//         data: data,
//         method: 'POST',
//         contentType: false,
//         processData: false,
//         beforeSend: function (xhr) {
//             xhr.setRequestHeader("Authorization", "Token " + jQuery.cookie('DoctorToken'));
//         },
//     })
//     .done((response)=>{
//         console.log("postrequest response -", response);
//         jQuery.removeCookie('DoctorToken');
//         jQuery.cookie('DoctorToken', response.token, {expires: 1})
//     })
//     .fail((error)=>{
//         console.log(error);
//     })
//     }) 


// jQuery('#pills-profile-tab').click(()=>{
    
// })

////////// PASSWORD CHANGE FEATURES //////////
// jQuery('#password_form').submit((e)=>{
//         e.preventDefault();
//         e.stopImmediatePropagation();
//         const data = new FormData(document.getElementById('password_form'))
//        jQuery.ajax({
//             url: '/api/changePassword',
//             method: 'POST',
//             data: data,
//             contentType: false,
//             processData: false,
//             beforeSend: function (xhr) {
//             xhr.setRequestHeader("Authorization", "Token " + jQuery.cookie('DoctorToken'));
//            },
//         }).done((response)=>{
//             console.log(response);
//             //jQuery.removeCookie('DoctorToken');
//             //window.location.href = '/login';
//         }).fail((error)=>{
//            console.log('errors are ', error)
//       })


//     })

///////////// Doctor Timings://///////////
// function getDoctorTimings(){
//     const form =document.getElementById('timingsForm');
//     jQuery.ajax({
//         url: '/api/DoctorTimings',
//         method: 'GET',
//         contendType: 'application/json',
//         async: false,
//         beforeSend: function (xhr) {
//             xhr.setRequestHeader("Authorization", "Token " + jQuery.cookie('DoctorToken'));
//         },
//     })
//     .done((response)=>{
//         console.log(response);
//         console.log(form);
//         if(response.length!=0){
//             //formDeserialize(form, response[0]);
//             for(var key in response[0]){
//                 if(response[0][key] !== true){
//                 console.log('')
//                 let parent = jQuery("#" + key).parent()
//                     parent.removeClass('switch-success');

//                 }

//             }
            
//         }
//     })
//     .fail((error)=>{
//         console.log(error)
//     })
// }
// getDoctorTimings();
// jQuery('#timingsForm').submit((e)=>{
//     e.preventDefault();
//     e.stopImmediatePropagation();
//     const data = new FormData(document.getElementById('timingsForm'))
//     jQuery.ajax({
//         url: '/api/DoctorTimings/',
//         method: 'POST',
//         data: data,
//         contentType: false,
//         processData: false,
//         beforeSend: function (xhr) {
//             xhr.setRequestHeader("Authorization", "Token " + jQuery.cookie('DoctorToken'));
//         },
//     })
//     .done((response)=>{
//         console.log(response);
//     })
//     .fail((error)=>{
//         console.log(error)
//     })

// })
let consultation_list = [];
let old_active_id = null;
let chatData_list = [];
let shoing_conversation_id = null;
let doctor_name = '';
let patient_name='';

function showing_consultationList(){
  jQuery.ajax({
    url: '/api/getDoctorConsultations',
    method: 'GET',
    async: false,
    contentType: 'application/json',
    beforeSend: function (xhr) {
      xhr.setRequestHeader("Authorization", "Token " + jQuery.cookie('DoctorToken'));
    },    
  }).done((response)=>{

    consultation_list = response;
    let list = ''
    for(var i=0; i < response.length; i++){
      let data = response[i];
      let li_is = `
      <li id="doctor${data.id}" class="clearfix">
        <img class="patient__image_style" src="${data.patient_pic}" alt="avatar" />
          <div class="about">
            <div class="name">${data.patient_name}</div>
            <div class="status">
               ${data.patient_gender}/${data.patient_age}
            </div>
          </div>
        </li>
      `;
      list += li_is;
    }
    document.getElementById('patient__list').innerHTML = list;
    let data = consultation_list[0]
    consultationList(data.id)
  }).fail((error)=>{console.log(error)})
}

showing_consultationList()


jQuery('#patient__list').on('click', 'li', function(){
        let id = jQuery(this).attr('id');
        return consultationList(id.slice(6))
    })



function consultationList(id){
        for(var i=0; i < consultation_list.length; i++){
            if(consultation_list[i].id == id){
                shoing_conversation_id = consultation_list[i].id;
                getChatData(shoing_conversation_id);
                jQuery('#conversation_doc').html(consultation_list[i].doctor_id.full_name);
                doctor_name = consultation_list[i].doctor_id.full_name;
                patient_name= consultation_list[i].patient_name;
                jQuery('.chat-with').html(consultation_list[i].patient_name);
                jQuery('.chat-header img').attr('src', consultation_list[i].patient_pic);
                jQuery('.chat-num-messages').html(consultation_list[i].patient_gender + " " + consultation_list[i].patient_age);
                //jQuery('#doctor'+id).addClass('clearfixs')
                break;
            }
        }
        let activate_class = '#doctor';

        if(old_active_id == null){
            old_active_id = id;
        }
        else{
            jQuery(activate_class + old_active_id).removeClass('clearfixs');
            old_active_id = id;
        }
        jQuery(activate_class + id).addClass('clearfixs');
        

    }

function getChatData(consult_id){
    const get_url = '/api/consultant_chats/?cons_id='+ consult_id;
    jQuery.ajax({
            'url': get_url,
            'contentType': 'application/json',
            'async': false,
            'method': 'GET',
            beforeSend: function (xhr) {
                xhr.setRequestHeader("Authorization", "Token " + jQuery.cookie('DoctorToken'));
            },
        }).done((response)=>{
            chatData_list= response;
        })
    
    return showList();
}

function showList(){
    let liLists = '';
    for(var i=0; i < chatData_list.length; i++){
        const data = chatData_list[i];
        if(data.user == 'D'){
            const li = `
            <li class="clearfix">
                    <div class="message-data align-right">
                      <span class="message-data-time" >${data.message_date_time}</span> &nbsp; &nbsp;
                      <span class="message-data-name" >${doctor_name}</span> <i class="fa fa-circle me"></i>
                      
                    </div>
                    <div class="message other-message float-right">
                      ${data.message}
                    </div>
                  </li>`;

            liLists += li;
        }
        else{
            const li = `
            <li>
                <div class="message-data">
                  <span class="message-data-name"> ${patient_name}</span>
                  <span class="message-data-time">${data.message_date_time}</span>
                </div>
                <div class="message my-message">
                  ${data.message}
                </div>
              </li>
                `;
              liLists += li;
        }
        

    }
    jQuery('#chats').html(liLists);
    if(old_active_id == null){
        if(chatData_list.length !=0){

            old_active_id = chatData_list[0].consultation_id;
        }
    }
    else{
        
    }
}
setInterval(function(){ 
    
  getChatData(shoing_conversation_id); }, 1000); 




function sendMessage(consult_id){
    let data = {
        user: 'D',
        message: jQuery('#message-to-send').val(),
        attachment: false,
        //attachment_file:'file'
        seen: false,
        delivered: false,
        consultation_id: consult_id
    }
    jQuery.ajax({
        url: '/api/consultant_chats/',
        data: JSON.stringify(data),
        method: 'POST',
        contentType: 'application/json',
        beforeSend: function (xhr) {
            xhr.setRequestHeader("Authorization", "Token " + jQuery.cookie('DoctorToken'));
        },
    }).done((response)=>{
        let message='success';
    }).fail((err, error, wrong) => {
        console.log(err)

    })

}


jQuery('#sendButton').click(function(){
        let values = jQuery('#message-to-send').val();
        if(values.length >0){
            sendMessage(old_active_id)
        }
        jQuery('#message-to-send').val('')
    })
</script> -->
{% endblock %}
