{% extends 'doctor_layout.html' %}
{% block content%}
<div class="breadcrumbs">
    <div class="col-12">
        <div class="page-header ">
            <div class="page-title">
                <h4 id="title">Billings History</h4>
            </div>
        </div>
    </div>
  </div>
  <div class="content">
    <div class="card pl-3 pr-3">
        <div class="card-body card-block">
            <table class="table" id="BillingHistory">
                <thead>
                    <tr>
                        <th>Date</th>
                        <th>Patient ID</th>
                        <th>Details</th>
                        <th>Earned Amt.</th>
                        <th>Recieved Amt.</th>
                        <th>Balance</th>
                        <th>Invoice</th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
    </div>
  </div>

{% endblock %}

{% block scripts%}
<script>
  const billingHistory = jQuery('#BillingHistory').DataTable({
    ajax: {
      url: '/api/doctor_billing_history/',
      dataSrc: "",
      beforeSend: function (request) {
        request.setRequestHeader("Authorization", 'Token ' + jQuery.cookie('DoctorToken'));
      },

    },
    columns: [
      {
        data: "created_at",
        render: function (data) {
          return new Date(data).toLocaleDateString()
        }
      },
      {
        data: 'ref_id'
      },
      {
        data: 'description'
      },
      {
        data: 'e_amt',
        render: function (data) {
          return parseFloat(data) <= 0 ? '' : data;
        }
      },
      {
        data: 'r_amt',
        render: function (data) {
          return parseFloat(data) <= 0 ? '' : data;
        }
      },
      {
        data: 'balance'
      },
      {
        data: 'id',
        render:function(data){
          return `
               <a class="btn btn-link" target="_blank" href="/doctors/invoice?id=${data}">View Invoice</a>
          `
        }
      }
    ],
    language: {
      lengthMenu: "_MENU_",
      search: "Search...",
    }
  })
  function tConvert(time) {
    time = time.toString().match(/^([01]\d|2[0-3])(:)([0-5]\d)(:[0-5]\d)?$/) || [time];
    if (time.length > 1) { // If time format correct
      time = time.slice(1);  // Remove full string match value
      time[5] = +time[0] < 12 ? ' AM' : ' PM'; // Set AM/PM
      time[0] = +time[0] % 12 || 12; // Adjust hours
    }
    return time.join(''); // return adjusted time or original string
  }
</script>

{% endblock %}
