{% extends 'doctor_layout.html' %}
{% block content%}

<div class="content">
    <div class="card pl-3 pr-3">
        <div class="card-body card-block">
            <div class="row">
                <div class="col-md-4">
                    <div class="card">
                        <div class="card-body">
                            <div class="clearfix">
                                <i class="fa fa-laptop bg-info p-3 font-2xl mr-3 float-left text-light"></i>
                                <div id="todaysAppoinmentCount" class="h5 text-secondary  mb-0 mt-1"><i class="fa fa-spinner fa-spin"></i></div>
                                <div class="text-muted text-uppercase font-weight-bold font-xs small">Todays's
                                    Appointments
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">

                    <div class="card">
                        <div class="card-body">
                            <div class="clearfix">
                                <i class="fa fa-users bg-info p-3 font-2xl mr-3 float-left text-light"></i>
                                <div id="stars" class="h5 mb-0 mt-1 ">
                                    
                                </div>
                                <div class="text-muted text-uppercase font-weight-bold font-xs small">Overall Rating
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">

                    <div class="card">
                        <div class="card-body">
                            <div class="clearfix">
                                <i class="fa fa-inr bg-flat-color-5 p-3 font-2xl mr-3 float-left text-light"></i>
                                <div id='amount' class="h5 text-secondary mb-0 mt-1"><i class="fa fa-spinner fa-spin"></i></div>
                                <div class="text-muted text-uppercase font-weight-bold font-xs small">Income</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-10">
                    <!-- <ul class="nav nav-tabs nav-fill nav-pills mb-3" id="pills-tab" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active show" id="pills-home-tab" data-toggle="pill" href="#profile"
                                    role="tab" aria-controls="pills-home" aria-selected="true">Profile</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="pills-profile-tab" data-toggle="pill" href="#password"
                                    role="tab" aria-controls="pills-profile" aria-selected="false">Password</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="pills-contact-tab" data-toggle="pill" href="#timings" role="tab"
                                    aria-controls="pills-contact" aria-selected="false">Timings</a>
                            </li>
                        </ul> -->
                    <!-- <div class="tab-content" id="myTabContent">

                            <div class="tab-pane fade active show" id="profile" role="tabpanel" aria-labelledby="list"> -->
                    <form id="profile_form">
                        <div class="row">
                            <div class="col-md-2">
                                <div class="wrap-custom-file" onclick="return false;" style="cursor: pointer;">
                                    <input type="file" name="profile_pic" id="image1" accept=".gif, .jpg, .png" />
                                    <label for="image1">

                                    </label>
                                </div>
                            </div>
                            <div class="col-md-8">
                                <div class="row form-group">
                                    <div class="col col-md-4"><label for="id"
                                            class="form-control-label float-right">ID</label></div>
                                    <div class="col-12 col-md-8">
                                        <input type="text" id="username" name="username" placeholder="Doctor ID"
                                            class="form-control" readonly="readonly">
                                    </div>
                                </div>
                                <div class="row form-group">
                                    <div class="col col-md-4"><label for="full-name"
                                            class=" form-control-label float-right">Full Name</label></div>
                                    <div class="col-12 col-md-8"><input type="text" readonly="readonly" id="full-name"
                                            name="full_name" placeholder="Full Name" class="form-control">
                                    </div>
                                </div>
                                <div class="row form-group">
                                    <div class="col col-md-4"><label for="email"
                                            class=" form-control-label float-right">Email Address</label>
                                    </div>
                                    <div class="col-12 col-md-8"><input type="email" readonly="readonly" id="email"
                                            name="email" placeholder="Email Address" class="form-control"></div>
                                </div>
                                <div class="row form-group">
                                    <div class="col col-md-4"><label for="ph_no"
                                            class=" form-control-label float-right">Phone Number</label>
                                    </div>
                                    <div class="col-12 col-md-8">
                                        <input type="text" readonly="readonly" id="ph_no" name="phone_number"
                                            placeholder="Phone Number" class="form-control">
                                    </div>
                                </div>
                                <div class="row form-group">
                                    <div class="col col-md-4"><label for="consultation_fee"
                                            class=" form-control-label float-right">Consultation Fees</label>
                                    </div>
                                    <div class="col-12 col-md-8">
                                        <input type="text" readonly="readonly" id="consultation_fee"
                                            name="consultation_fee" placeholder="Phone Number" class="form-control">
                                        <input type="hidden" id="specialist_type" name="specialist_type"
                                            placeholder="Phone Number" class="form-control">
                                    </div>
                                </div>
                                <div class="row form-group">
                                    <div class="col col-md-4"><label for="specialist-type"
                                            class=" form-control-label float-right">About me</label></div>
                                    <div class="col-12 col-md-8"><textarea name="about" readonly="readonly"
                                            id="specialist-type" rows="8" class="form-control"
                                            placeholder="Enter details about your profession"></textarea></div>
                                </div>
                            </div>

                        </div>
                    </form>
                </div>


                <!-- <div class="tab-pane fade" id="password" role="tabpanel" aria-labelledby="list">
                                <form id="password_form">
                                    <div class="row form-group">
                                        <div class="col col-md-4"><label for="old_password"
                                                class="form-control-label float-right">Old Password</label></div>
                                        <div class="col-12 col-md-8">
                                            <input type="password" id="old_password" name="old_password"
                                                placeholder="Old Passowrd" class="form-control">
                                        </div>
                                    </div>
                                    <div class="row form-group">
                                        <div class="col col-md-4"><label for="new_password"
                                                class=" form-control-label float-right">New Password</label></div>
                                        <div class="col-12 col-md-8"><input type="password" id="new_password"
                                                name="new_password" placeholder="New Password" class="form-control">
                                        </div>
                                    </div>
                                    <div class="row form-group">
                                        <div class="col col-md-4"><label for="confirm_new_password"
                                                class=" form-control-label float-right">Confirm Password</label>
                                        </div>
                                        <div class="col-12 col-md-8"><input type="password" id="confirm_new_password"
                                                name="confirm_new_password" placeholder="Confirm Password"
                                                class="form-control"></div>
                                    </div>
                                    <div class="row form-group">
                                        <div class="col-12 col-md-8 offset-md-4">
                                            <button type="submit" class="btn btn-primary btn-sm">
                                                <i class="fa fa-dot-circle-o"></i> Update Password
                                            </button>
                                            <button type="reset" class="btn btn-danger btn-sm">
                                                <i class="fa fa-ban"></i> Reset
                                            </button>
                                        </div>
                                    </div>
                                </form>
                            </div>


                            <div class="tab-pane fade" id="timings" role="tabpanel" aria-labelledby="list">
                                <form id="timingsForm">
                                    <div class="row">
                                        <div class=" form-group col">
                                            <input type="hidden" name="doctor">
                                            <label style="vertical-align: middle"
                                                class="switch switch-default switch-pill switch-success mr-2">
                                                <input type="checkbox" id="mon" name="mon" class="switch-input"> <span
                                                    class="switch-label"></span> <span id="monday"
                                                    class="switch-handle"></span> </label>MON
                                        </div>
                                        <div class=" form-group col">
                                            <label style="vertical-align: middle"
                                                class="switch switch-default switch-pill switch-success mr-2">
                                                <input type="checkbox" id="tue" name="tue" data-id='${row.id}'
                                                    class="switch-input "> <span class="switch-label"></span> <span
                                                    id="tueday" class="switch-handle"></span> </label>TUE
                                        </div>
                                        <div class=" form-group col">
                                            <label style="vertical-align: middle"
                                                class="switch switch-default switch-pill switch-success mr-2">
                                                <input type="checkbox" id="wed" name="wed" data-id='${row.id}'
                                                    class="switch-input"> <span class="switch-label"></span> <span
                                                    id="wedday" class="switch-handle"></span> </label>WED
                                        </div>
                                        <div class=" form-group col">
                                            <label style="vertical-align: middle"
                                                class="switch switch-default switch-pill switch-success mr-2">
                                                <input type="checkbox" id="thu" name="thu" data-id='${row.id}'
                                                    class="switch-input active"> <span class="switch-label"></span>
                                                <span id="thuday" class="switch-handle"></span> </label>THU
                                        </div>
                                        <div class=" form-group col">
                                            <label style="vertical-align: middle"
                                                class="switch switch-default switch-pill switch-success mr-2">
                                                <input type="checkbox" id="fri" name="fri" data-id='${row.id}'
                                                    class="switch-input active"> <span class="switch-label"></span>
                                                <span id="friday" class="switch-handle"></span> </label>FRI
                                        </div>
                                        <div class=" form-group col">
                                            <label style="vertical-align: middle"
                                                class="switch switch-default switch-pill switch-success mr-2">
                                                <input type="checkbox" id="sat" name="sat" data-id='${row.id}'
                                                    class="switch-input active"> <span class="switch-label"></span>
                                                <span id="satday" class="switch-handle"></span> </label> SAT
                                        </div>
                                        <div class=" form-group col">
                                            <label style="vertical-align: middle"
                                                class="switch switch-default switch-pill switch-success mr-2">
                                                <input type="checkbox" id="sun" name="sun" data-id='${row.id}'
                                                    class="switch-input "> <span class="switch-label"></span> <span
                                                    id="sunday" class="switch-handle"></span> </label> SUN
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class=" form-group">
                                                <label for="from_time" class=" form-control-label">From</label>
                                                <input type="time" id="from_time" name="from_time" class="form-control">
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class=" form-group">
                                                <label for="to_time" class=" form-control-label">To</label>
                                                <input type="time" id="to_time" name="to_time" class="form-control">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row form-group">
                                        <div class="col-md-12 ">
                                            <center>
                                                <button type="submit" class="btn btn-primary btn-sm ju">
                                                    <i class="fa fa-dot-circle-o"></i> Update Timings
                                                </button>
                                            </center>

                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div> -->

            </div>
        </div>
    </div>
    <div class="card-footer">
        <div class="pull-right">

        </div>

    </div>
</div>
</div>

{% endblock %}

{% block scripts%}
<script>
    let dataList = [];
    function getDataa() {
        console.log('here')
        const form = document.getElementById('profile_form');
        jQuery.ajax({
            url: '/api/getLoggedInDoctor',
            method: 'GET',
            contentType: 'application/json',
            async: false,
            beforeSend: function (xhr) {
                xhr.setRequestHeader("Authorization", "Token " + jQuery.cookie('DoctorToken'));
            },
        }).done((response) => {
            console.log('response response', response);
            formDeserialize(form, response.user);
            formDeserialize(form, response)
            localStorage.setItem('login_name', response.full_name);
            let stars = Math.round(response['rating']);

            let i_s='';
            let index = 0;
            while (index < 5){
                let i = ''; 
                if(index < stars){
                    i = `<i class="fa fa-star text-warning"></i>`
                }
                else{
                    i = `<i class="fa fa-star"></i>`
                }
                i_s += i;
                index++
            }
            console.log(i_s)
            jQuery('#stars').html(i_s);

            jQuery.ajax({
                url: '/api/doctor_dataView',
                method: 'GET',
                contentType: 'application/json',
                async: false,
                beforeSend: function (xhr) {
                    xhr.setRequestHeader("Authorization", "Token " + jQuery.cookie('DoctorToken'));
                },
            }).done((response) => {
                let balance= response.length ==0 ? 0 : response[0]['balance']
                jQuery('#amount').html('₹ '+ balance)
            }).fail((error) => {
                console.log(error);
            });
            
            jQuery.ajax({
                url: '/api/todaysAppoinment',
                method: 'GET',
                contentType: 'application/json',
                async: false,
                beforeSend: function (xhr) {
                    xhr.setRequestHeader("Authorization", "Token " + jQuery.cookie('DoctorToken'));
                },
            }).done((res)=>{
                jQuery('#todaysAppoinmentCount').html(res.length)
            })


        }).fail((error) => {
            console.log(error);
        });
    }
    getDataa()


    function formDeserialize(form, data) {
        const entries = (new URLSearchParams(data)).entries();
        for (const [key, val] of entries) {
            const input = form.elements[key];
            if (input != undefined) {
                if (input.type == 'file') {
                    if (val) {
                        var $file = jQuery('#' + input.id),
                            $label = $file.next('label'),
                            $labelText = $label.find('span'),
                            labelDefault = $labelText.text();
                        var filename = val.split('/').pop()
                        if (filename && filename != 'null' && filename != '') {
                            $label
                                .addClass('file-ok')
                                .css('background-image', 'url(' + val + ')');
                            $labelText.text('Click here to change pic');
                        } else {
                            $label
                                .addClass('file-ok')
                                .css('background-image', 'url(/media/logos/anonymous-user.png)');
                            $labelText.text(labelDefault);
                        }
                    }

                } else {

                    switch (input.type) {
                        case 'checkbox':
                            input.checked = !!val;
                            break;
                        case 'select-one':
                            if (val)
                                input.value = val;
                            else
                                input.selectedIndex = 0;

                            break;
                        default:
                            // if(val != null && val != 'None' && val != undefined)
                            if(val != 'null' && val != 'None')
                            {
                                input.value = val;
                            }
                            
                            break;

                    }

                }
            }

        }
    }


    //////////////// username change event ////////////////



    //////// UPDATING PROFILE //////////
    // jQuery("#profile_form").submit((e) => {
    //     e.preventDefault();
    //     e.stopImmediatePropagation();
    //     const data = new FormData(document.getElementById('profile_form'))
    //     console.log(data);
    //     jQuery.ajax({
    //         url: '/api/DoctorUpdateProfile',
    //         data: data,
    //         method: 'POST',
    //         contentType: false,
    //         processData: false,
    //         beforeSend: function (xhr) {
    //             xhr.setRequestHeader("Authorization", "Token " + jQuery.cookie('DoctorToken'));
    //         },
    //     })
    //         .done((response) => {
    //             console.log("postrequest response -", response);
    //             jQuery.removeCookie('DoctorToken');
    //             jQuery.cookie('DoctorToken', response.token, { expires: 1 })
    //         })
    //         .fail((error) => {
    //             console.log(error);
    //         })
    // })


    jQuery('#pills-profile-tab').click(() => {

    })

    ////////// PASSWORD CHANGE FEATURES //////////
    jQuery('#password_form').submit((e) => {
        e.preventDefault();
        e.stopImmediatePropagation();
        const data = new FormData(document.getElementById('password_form'))
        jQuery.ajax({
            url: '/api/changePassword',
            method: 'POST',
            data: data,
            contentType: false,
            processData: false,
            beforeSend: function (xhr) {
                xhr.setRequestHeader("Authorization", "Token " + jQuery.cookie('DoctorToken'));
            },
        }).done((response) => {
            console.log(response);
            //jQuery.removeCookie('DoctorToken');
            //window.location.href = '/login';
        }).fail((error) => {
            console.log('errors are ', error)
        })


    })

    
</script>
{% endblock %}