{% extends 'doctor_layout.html' %}
{% block content%}
<div class="breadcrumbs">
    <div class="col-12">
        <div class="page-header ">
            <div class="page-title p-2">
                <h4 id="title">Settings</h4>
            </div>
        </div>
    </div>
  </div>
<div class="content">
    <div class="card pl-3 pr-3">
        <div class="card-body card-block">
            <div class="row">
                <div class="col-md-12">
                     <ul class="nav nav-tabs nav-fill nav-pills mb-3" id="pills-tab" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active show" id="pills-home-tab" data-toggle="pill" href="#profile"
                                    role="tab" aria-controls="pills-home" aria-selected="true">Avalablity</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="pills-profile-tab" data-toggle="pill" href="#password"
                                    role="tab" aria-controls="pills-profile" aria-selected="false">Password</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="pills-contact-tab" data-toggle="pill" href="#Consultation-fee" role="tab"
                                    aria-controls="pills-contact" aria-selected="false" onclick="getDataa()">Consultation Fees</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="pills-contact-tab" data-toggle="pill" href="#bankDetails" role="tab"
                                    aria-controls="pills-contact" aria-selected="false" onclick="getDoctorBankDetails()">Bank Details</a>
                            </li>
                        </ul> 
                    <div class="tab-content" id="myTabContent">
                    
                        <div class="tab-pane fade active show" id="profile" role="tabpanel" aria-labelledby="list">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="card-header">
                                <h5>Select Day</h5>
                            </div>
                            <ul class="nav nav-tabs nav-pills left-tabs">
                                <li class="nav-item">
                                    <a class="nav-link active" href="#tab-panel-1" data-toggle="tab" onclick="setDay('monday')">Monday</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#tab-panel-2" data-toggle="tab" onclick="setDay('tuesday')">Tuesday</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#tab-panel-3" data-toggle="tab" onclick="setDay('wednesday')">Wednesday</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#tab-panel-3" data-toggle="tab" onclick="setDay('thursday')">Thursday</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#tab-panel-3" data-toggle="tab" onclick="setDay('friday')" >Friday</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#tab-panel-3" data-toggle="tab" onclick="setDay('saturday')" >Saturday</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#tab-panel-3" data-toggle="tab" onclick="setDay('sunday')" >Sunday</a>
                                </li>
                            </ul>
                        </div>
                        <div class="col-md-8">
                            <div class="card-header">
                                <h5>Update Availablity</h5>
                            </div>
                            <div class="card-body">
                                <form id="doctorTiming">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <div class=" form-group col">
                                                    <label style="vertical-align: middle"
                                                        class="switch switch-default switch-pill switch-success mr-2">
                                                        <input type="checkbox" id="available" name="available"
                                                            data-id='${row.id}' class="switch-input active">
                                                        <input type="hidden" id="day" name="day" value='monday'>
                                                        <span class="switch-label"></span>
                                                        <span id="thuday" class="switch-handle"></span>
                                                    </label> <span id="day_name_here"></span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class=" form-group">
                                                <label for="from_time" class=" form-control-label">From</label>
                                                <input type="time" id="from_time" name="from_time"
                                                    class="form-control">
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class=" form-group">
                                                <label for="to_time" class=" form-control-label">To</label>
                                                <input type="time" id="to_time" name="to_time"
                                                    class="form-control">
                                            </div>
                                        </div>
                                        <div class="col-md-12 ">
                                            <button type="submit" class="btn btn-primary btn-sm float-right">
                                                <i class="fa fa-dot-circle-o"></i> Update Timings
                                            </button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header">
                            <h5>Availablity Details</h5>
                        </div>
                        <div class="card-body">
                            <table class="table table-bordered table-hover" id="Timings">
                                <thead>
                                    <tr>
                                        <th>Day</th>
                                        <th>From</th>
                                        <th>To</th>
                                        <th>Actions</th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                        </div>
                    </div>
                            
                              
                              
                        </div>
                    
                    
                        <div class="tab-pane fade" id="password" role="tabpanel" aria-labelledby="list">
                            <div class="row">
                                <div class="col-md-8 offset-md-2">
                                    <form id="password_form">
                                <div class="row form-group">
                                    <div class="col col-md-4"><label for="old_password" class="form-control-label float-right">Old
                                            Password</label></div>
                                    <div class="col-12 col-md-8">
                                        <input type="password" id="old_password" name="old_password" placeholder="Old Passowrd"
                                            class="form-control">
                                    </div>
                                </div>
                                <div class="row form-group">
                                    <div class="col col-md-4"><label for="new_password" class=" form-control-label float-right">New
                                            Password</label></div>
                                    <div class="col-12 col-md-8"><input type="password" id="new_password" name="new_password"
                                            placeholder="New Password" class="form-control">
                                    </div>
                                </div>
                                <div class="row form-group">
                                    <div class="col col-md-4"><label for="confirm_new_password"
                                            class=" form-control-label float-right">Confirm Password</label>
                                    </div>
                                    <div class="col-12 col-md-8"><input type="password" id="confirm_new_password"
                                            name="confirm_new_password" placeholder="Confirm Password" class="form-control"></div>
                                </div>
                                <div class="row form-group">
                                    <div class="col-12 col-md-8 offset-md-4">
                                        <button type="submit" class="btn btn-primary btn-sm">
                                            <i class="fa fa-lock"></i> Update Password
                                        </button>
                                    </div>
                                </div>
                            </form>
                                </div>
                            </div>
                            
                        </div>
                    
                    
                        <div class="tab-pane fade" id="Consultation-fee" role="tabpanel" aria-labelledby="list">
                            <div class="row">
                                <div class="col-md-10 offset-md-1">
                                    <form id="ConsultationFeeForm">
                                            <div class="row form-group">
                                                <div class="col col-md-5"><label for="old_password" class="form-control-label float-right">
                                                        Current Consultation Fee</label></div>
                                                <div class="col-12 col-md-7">
                                                    <input type="number" id="consultation_fee" name="consultation_fee" placeholder="Current Cunsultation Fee"
                                                        class="form-control" value="500.00">
                                                </div>
                                            </div>
                                            <div class="row form-group">
                                                <div class="col col-md-5"><label for="new_password" class=" form-control-label float-right">
                                                        New Consultation Fee</label></div>
                                                <div class="col-12 col-md-7"><input type="number"  id="new_fee" name="new_fees" placeholder="Enter New Cunsultation Fee" class="form-control">
                                                </div>
                                            </div>
                                        <div class="row form-group">
                                            <div class="col-md-7 offset-md-5 ">
                                                    <button type="submit" class="btn btn-primary btn-sm ju">
                                                        <i class="fa fa-inr"></i> Update Consultation Fee
                                                    </button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                            
                        </div>
                        <div class="tab-pane fade" id="bankDetails" role="tabpanel" aria-labelledby="list">
                            <div class="row">
                                <div class="col-md-10 ">
                                    <form id="DoctorBankDetailsForm">
                                        <div class="row form-group">
                                            <div class="col col-md-5"><label for="account_no"
                                                    class="form-control-label float-right">
                                                    A/c No.</label></div>
                                            <div class="col-12 col-md-7">
                                                <input type="number" id="account_no" name="account_no"
                                                    placeholder="Enter yout Account Number" class="form-control">
                                            </div>
                                        </div>
                                        <div class="row form-group">
                                            <div class="col col-md-5"><label for="account_holder_name"
                                                    class=" form-control-label float-right">
                                                    A/c Holder Name</label></div>
                                            <div class="col-12 col-md-7"><input type="text" id="account_holder_name"
                                                    name="account_holder_name"
                                                    placeholder="Enter the Name Linked with the Account"
                                                    class="form-control">
                                            </div>
                                        </div>
                                        <div class="row form-group">
                                            <div class="col col-md-5"><label for="bank_name"
                                                    class=" form-control-label float-right">
                                                    Bank Name</label></div>
                                            <div class="col-12 col-md-7"><input type="text" id="bank_name"
                                                    name="bank_name" placeholder="Enter the Bank Name"
                                                    class="form-control">
                                            </div>
                                        </div>
                                        <div class="row form-group">
                                            <div class="col col-md-5"><label for="branch_name"
                                                    class=" form-control-label float-right">
                                                    Branch Name</label></div>
                                            <div class="col-12 col-md-7"><input type="text" id="branch_name"
                                                    name="branch_name" placeholder="Enter the Branch Name"
                                                    class="form-control">
                                            </div>
                                        </div>
                                        <div class="row form-group">
                                            <div class="col col-md-5"><label for="ifsc_no"
                                                    class=" form-control-label float-right">
                                                    IFSC</label></div>
                                            <div class="col-12 col-md-7"><input type="text" id="ifsc_no" name="ifsc_no"
                                                    placeholder="Enter the IFSC" class="form-control">
                                            </div>
                                        </div>
                                        <div class="row form-group">
                                            <div class="col col-md-5"><label for="upi_id"
                                                    class=" form-control-label float-right">
                                                    UPI ID</label></div>
                                            <div class="col-12 col-md-7"><input type="text" id="upi_id" name="upi_id"
                                                    placeholder="Enter UPI ID" class="form-control">
                                            </div>
                                        </div>
                                        <div class="row form-group">
                                            <div class="col col-md-5"><label for="phone_no"
                                                    class=" form-control-label float-right">
                                                    Phone Number</label></div>
                                            <div class="col-12 col-md-7"><input type="number" id="phone_no"
                                                    name="phone_no" placeholder="Enter the Phone Number"
                                                    class="form-control">
                                                <small>Phone Number which is linked with Google Pay,Phone pe or other
                                                    UPI apps.</small>
                                            </div>
                                        </div>
                                        <div class="row form-group">
                                            <div class="col col-md-5"><label for="blank_cheque"
                                                    class=" form-control-label float-right">
                                                    Cancelled Cheque Photo</label></div>
                                            <div class="col-12 col-md-7"><input type="file" id="blank_cheque"
                                                    name="blank_cheque" placeholder="Enter the Phone Number"
                                                    class="form-control">
                                                <small>You can provide us a cancelled cheque for bankdetails confirmation.</small>
                                            </div>
        
                                        </div>
                                        <div class="row form-group">
                                            <div class="col-md-7 offset-md-5">
                                                <button type="submit" class="btn btn-primary btn-sm ju">
                                                    <i class="fa fa-building"></i> Update Details
                                                </button>

                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                            
                        </div>
                    </div>

            </div>
        </div>
    </div>
    <div class="card-footer">
        <div class="pull-right">

        </div>

    </div>
</div>

{% endblock %}

{% block scripts%}
<script>
    let dataList = [];
    function getDataa() {
        const form = document.getElementById('ConsultationFeeForm');
        jQuery.ajax({
            url: '/api/getLoggedInDoctor',
            method: 'GET',
            contentType: 'application/json',
            async: false,
            beforeSend: function (xhr) {
                xhr.setRequestHeader("Authorization", "Token " + jQuery.cookie('DoctorToken'));
            },
        }).done((response) => {
            console.log('response response', response);
            formDeserialize(form, response.user);
            formDeserialize(form,response)

        }).fail((error) => {
            console.log(error);
        });
    }
    


    function formDeserialize(form, data) {
        const entries = (new URLSearchParams(data)).entries();
        for (const [key, val] of entries) {
            const input = form.elements[key];
            if (input != undefined) {
                if (input.type == 'file') {
                    if (val) {
                        var $file = jQuery('#' + input.id),
                            $label = $file.next('label'),
                            $labelText = $label.find('span'),
                            labelDefault = $labelText.text();
                        var filename = val.split('/').pop()
                        if (filename) {
                            $label
                                .addClass('file-ok')
                                .css('background-image', 'url(' + val + ')');
                            $labelText.text('Click here to change pic');
                        } else {
                            $label.removeClass('file-ok');
                            $labelText.text(labelDefault);
                        }
                    }

                } else {

                    switch (input.type) {
                        case 'checkbox':
                            input.checked = !!val;
                            break;
                        case 'select-one':
                            if (val)
                                input.value = val;
                            else
                                input.selectedIndex = 0;

                            break;
                        default:
                            input.value = val;
                            break;

                    }

                }
            }

        }
    }

    let day = 'monday'
    function setDay(name){
        day = name;
        getDoctorTimings(day)
    }

    ///////////// Doctor Timings://///////////
    function getDoctorTimings(dayName = 'monday') {
        const form = document.getElementById('doctorTiming');
        jQuery.ajax({
            url: '/api/DoctorTimings?name='+ dayName,
            method: 'GET',
            contendType: 'application/json',
            async: false,
            beforeSend: function (xhr) {
                xhr.setRequestHeader("Authorization", "Token " + jQuery.cookie('DoctorToken'));
            },
        })
            .done((response) => {
                
                console.log(form);
                if (response.length > 0) {
                    console.log(response);
                    formDeserialize(form, response[0]);
                    jQuery('#day_name_here').html( 'Available ' + response[0].day)
                    jQuery('#available').prop('checked',true)
                }
                else{
                    jQuery('#available').prop('checked',false)
                    jQuery('#day_name_here').html('Available ' + day)
                    jQuery('#to_time').val('')
                    jQuery('#from_time').val('')
                    jQuery('#day').val(day)
                }

            })
            .fail((error) => {
                console.log(error)
            })
    }
    getDoctorTimings();

    jQuery('#doctorTiming').submit((e) => {
        e.preventDefault();
        e.stopImmediatePropagation();
        let data = new FormData(document.getElementById('doctorTiming'))
        data['day'] = day
        jQuery.ajax({
            url: '/api/DoctorTimings/',
            method: 'POST',
            data: data,
            contentType: false,
            processData: false,
            beforeSend: function (xhr) {
                xhr.setRequestHeader("Authorization", "Token " + jQuery.cookie('DoctorToken'));
            },
        })
            .done((response) => {
                console.log(response);
                table.ajax.reload()
            })
            .fail((error) => {
                console.log(error)
            })

    })

    ////////// Update Timings ////////////
    jQuery('#password_form').submit((e) => {
        e.preventDefault();
        e.stopImmediatePropagation();
        const data = new FormData(document.getElementById('password_form'))
        jQuery.ajax({
            url: '/api/changePassword',
            method: 'POST',
            data: data,
            contentType: false,
            processData: false,
            beforeSend: function (xhr) {
                xhr.setRequestHeader("Authorization", "Token " + jQuery.cookie('DoctorToken'));
            },
        }).done((response) => {
            toastr.success('Password change successfull.', 'success', {
                        positionClass: "toast-top-center"
                    })
        }).fail((error) => {
            let errors = JSON.parse(error.responseText)
            alert(errors[0])
        })
    })

    jQuery('#ConsultationFeeForm').submit((e) => {
            e.preventDefault()
            e.stopImmediatePropagation()
            const data = new FormData(document.getElementById('ConsultationFeeForm'))
            jQuery.ajax({
                url: '/api/changeFee/',
                method: 'POST',
                data: data,
                contentType: false,
                processData: false,
                beforeSend: function (xhr) {
                    xhr.setRequestHeader("Authorization", "Token " + jQuery.cookie('DoctorToken'));
                },
            })
                .done((response) => {
                    toastr.success('Consultation fees updated.', 'Success', {
                        positionClass: "toast-top-center"
                    })
                })
                .fail((error) => {
                    console.log(error)
                })
        })

        jQuery('#DoctorBankDetailsForm').submit((e) => {
            e.preventDefault()
            e.stopImmediatePropagation()
            const data = new FormData(document.getElementById('DoctorBankDetailsForm'))
            jQuery.ajax({
                url: '/api/doctor_bankDetails/',
                method: 'POST',
                data: data,
                contentType: false,
                processData: false,
                beforeSend: function (xhr) {
                    xhr.setRequestHeader("Authorization", "Token " + jQuery.cookie('DoctorToken'));
                },
            })
                .done((response) => {
                    toastr.success("Your bankdetails updated successfully.", 'success', {
                        positionClass: "toast-top-center"
                    })
                })
                .fail((error) => {
                    console.log(error)
                })
        })

        function getDoctorBankDetails() {
            jQuery.ajax({
                url: '/api/doctor_bankDetails/',
                method: 'GET',
                contentType: 'application/json',
                beforeSend: function (xhr) {
                    xhr.setRequestHeader("Authorization", "Token " + jQuery.cookie('DoctorToken'));
                },
            }).done((response) => {
                console.log(response)
                const form = document.getElementById("DoctorBankDetailsForm");
                formDeserialize(form, response[0])
            }).fail((err) => {
                console.log(err)
            })
        }
        
        

        function getDoctorBankDetails() {
            jQuery.ajax({
                url: '/api/doctor_bankDetails/',
                method: 'GET',
                contentType: 'application/json',
                beforeSend: function (xhr) {
                    xhr.setRequestHeader("Authorization", "Token " + jQuery.cookie('DoctorToken'));
                },
            }).done((response) => {
                console.log(response)
                const form = document.getElementById("DoctorBankDetailsForm");
                formDeserialize(form, response[0])
            }).fail((err) => {
                console.log(err)
            })
        }

        let table = jQuery('#Timings').DataTable({
            ajax:{
                url:'/api/DoctorTimings',
                dataSrc:"",
                beforeSend: function (xhr) {
                    xhr.setRequestHeader("Authorization", "Token " + jQuery.cookie('DoctorToken'));
                },
            },
            columns:[
                {
                    data:"day"
                },
                {
                    data:"from_time",
                    render : function(data){
                        return tConvert(data)
                    }
                },
                {
                    data:"to_time",
                    render : function(data){
                        return tConvert(data)
                    }
                },
                {
                    data:"id",
                    render:function(data){
                        return `<button type="button" data-id='${data}' class="btn rounded-circle btn-danger btn-sm delete">
                                    <i class="fa fa-trash"></i>
                                </button>`
                    }
                }
            ]
        })

        function tConvert(time) {
            // Check correct time format and split into components
            time = time.toString().match(/^([01]\d|2[0-3])(:)([0-5]\d)(:[0-5]\d)?$/) || [time];

            if (time.length > 1) { // If time format correct
                time = time.slice(1);  // Remove full string match value
                time[5] = +time[0] < 12 ? ' AM' : ' PM'; // Set AM/PM
                time[0] = +time[0] % 12 || 12; // Adjust hours
            }
            return time.join(''); // return adjusted time or original string
        }
        
        jQuery('#DoctorBankDetailsForm').submit((e) => {
            e.preventDefault()
            e.stopImmediatePropagation()
            const data = new FormData(document.getElementById('DoctorBankDetailsForm'))
            jQuery.ajax({
                url: '/api/doctor_bankDetails/',
                method: 'POST',
                data: data,
                contentType: false,
                processData: false,
                beforeSend: function (xhr) {
                    xhr.setRequestHeader("Authorization", "Token " + jQuery.cookie('DoctorToken'));
                },
            })
                .done((response) => {
                    console.log(response);
                    table.ajax.reload()
                    alert("You timing is changed")
                })
                .fail((error) => {
                    console.log(error)
                })
        })
        
        jQuery('#Timings').on('click', '.delete', function () {
        var id = jQuery(this).attr('data-id')  
        bootbox.confirm({
              message: "Are you sure to delete the timing permenently?",
              callback: function (result) {
                  if(result){
                      jQuery.ajax({
                          url:`/api/DoctorTimings/${id}/`,
                          method: 'DELETE',
                          beforeSend: function(request){
                            request.setRequestHeader("Authorization", 'Token '+jQuery.cookie('DoctorToken'));
                          },
                          success:function(){
                              table.ajax.reload()
                              toastr.success("Deleted Successfully","Success",{positionClass:'toast-top-center'})
                          },
                          error:function(err){
                              console.log(err)
                              toastr.error("Deletion Failed","Error",{positionClass:'toast-top-center'})
                          }
                      })
                  }
              }
          });
      })

</script>
{% endblock %}