{% load static%}
<aside id="left-panel" class="left-panel">
    <nav class="navbar navbar-expand-sm navbar-default">

        <div class="navbar-header">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#main-menu" aria-controls="main-menu" aria-expanded="false" aria-label="Toggle navigation">
                <i class="fa fa-bars"></i>
            </button>
            <a class="navbar-brand" href="./"><img src="{% static 'images/logo.png'%}" alt="Logo"></a>
            <a class="navbar-brand hidden" href="./"><img src="{% static 'images/logo2.png'%}" alt="Logo"></a>
        </div>

        <div id="main-menu" class="main-menu collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li>
                    <a href="{% url 'frontend:adminDashboard' %}"> <i class="menu-icon fa fa-dashboard"></i>Dashboard </a>
                </li>
                <li>
                    <a href="{% url 'frontend:specialists' %}"> <i class="menu-icon fa fa-stethoscope"></i>Specialist Types </a>
                </li>
                <li class="menu-item-has-children dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="menu-icon fa fa-phone"></i>Executives</a>
                    <ul class="sub-menu children dropdown-menu">
                        <li><i class="fa fa-user-plus"></i><a href="{% url 'frontend:newExecutive' %}">New Executive</a></li>
                        <li><i class="fa fa-tasks"></i><a href="{% url 'frontend:executivesList' %}">Executives List</a></li>
                    </ul>
                </li>
                <li class="menu-item-has-children dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="menu-icon fa fa-user-md"></i>Doctors</a>
                    <ul class="sub-menu children dropdown-menu">
                        <li><i class="fa fa-plus-circle"></i><a href="{% url 'frontend:newDoctor' %}">New Doctor</a></li>
                        <li><i class="fa fa-tasks"></i><a href="{% url 'frontend:doctorsList' %}">Doctors List</a></li>
                    </ul>
                </li>
                <li class="menu-item-has-children dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="menu-icon fa fa-users"></i>Patients</a>
                    <ul class="sub-menu children dropdown-menu">
                        <li><i class="fa fa-tasks"></i><a href="#">Patinents List</a></li>
                        <li><i class="fa fa-tasks"></i><a href="#">Consultations List</a></li>
                        <li><i class="fa fa-comments"></i><a href="#">Patinents Feedbacks</a></li>
                    </ul>
                </li>
                <li>
                    <a href="widgets.html"> <i class="menu-icon fa fa-money"></i>Payments </a>
                </li>
                <li>
                    <a href="widgets.html"> <i class="menu-icon fa fa-clipboard"></i>Reports </a>
                </li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </nav>
</aside>