{% load static%}
<aside id="left-panel" class="left-panel">
    <nav class="navbar navbar-expand-sm navbar-default">

        <div class="navbar-header">
            <a class="navbar-brand" href="./"><img src="{% static 'images/logo.png'%}" alt="Logo"></a>
            <a class="navbar-brand hidden" href="./"><img src="{% static 'images/logo2.png'%}" alt="Logo"></a>
        </div>

        <div id="main-menu" class="main-menu collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li>
                    <a href="{% url 'frontend:adminDashboard' %}" data-toggle="tooltip" data-placement="right" title="Dashboard"> <i class="menu-icon fa fa-dashboard"></i>Dashboard </a>
                </li>
                <li>
                    <a href="{% url 'frontend:specialists' %}" data-toggle="tooltip" data-placement="right" title="Specialist Types"> <i class="menu-icon fa fa-stethoscope"></i>Specialist Types </a>
                </li>
                <li>
                    <a href="{% url 'frontend:Executives' %}" data-toggle="tooltip" data-placement="right" title="Executives"> <i class="menu-icon fa fa-headphones"></i>Executives </a>
                </li>
                <li class="menu-item-has-children dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="menu-icon fa fa-user-md"></i>Doctors</a>
                    <ul class="sub-menu children dropdown-menu">
                        <li><i class="fa fa-tasks"></i><a href="{% url 'frontend:webDoctorList' %}">Registration Requests</a></li>
                        <li><i class="menu-icon fa fa-user-md"></i><a href="{% url 'frontend:Doctors' %}" data-toggle="tooltip" data-placement="right" title="Doctors"> Doctors List</a></li>
                    </ul>
                </li>
                <li class="menu-item-has-children dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="menu-icon fa fa-users"></i>Patients</a>
                    <ul class="sub-menu children dropdown-menu">
                        <li><i class="fa fa-tasks"></i><a href="/patientsList">Patinents List</a></li>
                        <li><i class="fa fa-tasks"></i><a href="/consultationsList">Consultations List</a></li>
                        <li><i class="fa fa-comments"></i><a href="#">Patinents Feedbacks</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#" data-toggle="tooltip" data-placement="right" title="Payments"> <i class="menu-icon fa fa-inr"></i>Payments </a>
                </li>
                <li>
                    <a href="#"> <i class="menu-icon fa fa-clipboard" data-toggle="tooltip" data-placement="right" title="Reports"></i>Reports </a>
                </li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </nav>
</aside>