{% load static%}
<aside id="left-panel" class="left-panel">
    <nav class="navbar navbar-expand-sm navbar-default">

        <div class="navbar-header text-white mb-5 mt-3">
            <h3>Doctor Dashboard</h3>
        </div>

        <div id="main-menu" class="main-menu collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li>
                    <a href="{% url 'doctorsUI:dashboard' %}"> <i class="menu-icon fa fa-dashboard"></i>Dashboard </a>
                </li>
                <li>
                    <a href="{% url 'doctorsUI:appointments' %}"> <i class="menu-icon fa fa-stethoscope"></i>Appointments </a>
                </li>
                <li>
                    <a href="{% url 'doctorsUI:consultations' %}"> <i class="menu-icon fa fa-user-md"></i>Consultations </a>
                </li>
                <li>
                    <a href="{% url 'doctorsUI:Prescription' %}"> <i class="menu-icon fa fa-user-md"></i>Prescription </a>
                </li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </nav>
</aside>