{% load static %}
<div class="ca-sidebar__body">
    <div class="ca-navigation-tabs">
        <div class="nav-style-1">
            <div class="tab-content" id="caMainTabContent">

                <div class="tab-pane fade show active" id="caChats" role="tabpanel"
                    aria-labelledby="caChatsTab">
                    <div class="nav-style-2">
                        <div class="tab-content" id="caChatsTabInsideContent">
                            <div class="tab-pane fade show active" id="personal-chat"
                                role="tabpanel" aria-labelledby="personal-chat-tab">
                                <div class="sidebar-userlist">
                                    <a href="#" class="click-me">
                                        <i class="mdi mdi-menu"></i>
                                    </a> <br><br>
                                    <ul class="list-unstyled">
                                        <li>
                                            <a href="{% url 'patients:dashboard'%}">
                                                <div id="dashbord" class="conversation">
                                                    <div
                                                        class="user-avatar user-avatar-rounded online">
                                                        <span class="mdi mdi-home"></span>
                                                        <span class="url">Dashbord</span>
                                                    </div>
                                                </div>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="{% url 'patients:appointments'%}">
                                                <div id="appointments" class="conversation">
                                                    <div
                                                        class="user-avatar user-avatar-rounded online">
                                                        <span class="mdi mdi-clock"></span>
                                                        <span class="url">Appointments</span>
                                                    </div>
                                                </div>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="{% url 'patients:newAppointment'%}">
                                                <div id="new_appointment" class="conversation">
                                                    <div
                                                        class="user-avatar user-avatar-rounded online">
                                                        <span class="mdi mdi-stethoscope"></span>
                                                        <span class="url">New Appointment</span>
                                                    </div>
                                                </div>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="{% url 'patients:billHistory'%}">
                                                <div id="billing_history" class="conversation">
                                                    <div class="user-avatar user-avatar-rounded online">
                                                        <span class="mdi mdi-clipboard"></span>
                                                        <span class="url">Billing History</span>
                                                    </div>
                                                </div>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="{% url 'patients:medicalRecords'%}">
                                                <div id="medical_record" class="conversation">
                                                    <div
                                                        class="user-avatar user-avatar-rounded online">
                                                        <span class="mdi mdi-plus-circle-outline"></span>
                                                        <span class="url">Medical Record</span>
                                                    </div>
                                                </div>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="{% url 'patients:plan'%}">
                                                <div id="select_a_plan" class="conversation">
                                                    <div
                                                        class="user-avatar user-avatar-rounded online">
                                                        <span class="mdi mdi-checkbox-marked-outline"></span>
                                                        <span class="url">Select a Plan</span>
                                                    </div>
                                                </div>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#" data-toggle="modal" data-target="#settingsModalCenter">
                                                <div id="settings" class="conversation">
                                                    <div class="user-avatar user-avatar-rounded online">
                                                        <span class="mdi mdi-settings"></span>
                                                        <span class="url">Settings</span>
                                                    </div>
                                                </div>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script >
    let urls = window.location.href;
    urls = urls.split('/').slice(3, ).join('/')
    if(urls == 'patients/dashboard'){
        $('#dashbord').addClass('active')
    }
    else if(urls == 'patients/appointments'){
        $('#appointments').addClass('active')
    }
    else if(urls == 'patients/new-appointment'){
        $('#new_appointment').addClass('active')
    }
    else if(urls == 'patients/billHistory'){
        $('#billing_history').addClass('active')
    }
    else if(urls == 'patients/medical-records'){
        $('#medical_record').addClass('active')
    }
    else if(urls == 'patients/plan'){
        $('#select_a_plan').addClass('active')
    }
    console.log(urls)
</script>