{% load static %}
<header class="main_header_area">
    <div class="header_menu affix-top">
        <nav class="navbar navbar-default">
            <div class="container">
                <div class="navbar-header visible-lg visible-md visible-sm">
                    <a class="navbar-brand" href="{% url 'website:index'%}">
                        <img src="{% static 'website/img/logo.png' %}" alt="logo1">
                        <img src="{% static 'website/img/logo.png' %}" alt="logo1">
                    </a>
                </div>
                <div class="navbar-header mob-nav visible-xs">
                    <div class="row">
                        <div class="col-xs-8">
                            <a class="navbar-brand" href="{% url 'website:index'%}">
                                <img src="{% static 'website/img/logo.png' %}" alt="logo1">
                                <img src="{% static 'website/img/logo.png' %}" alt="logo1">
                            </a>
                        </div>
                        <div class="col-xs-4">
                            <div id="loginItem1" style="position: absolute;top:27px">
                                <a href="{% url 'website:login'%}"><i class="fa fa-sign-in"></i> Login</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="collapse navbar-collapse mar-top-15" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav" id="responsive-menu">
                        <li><a href="{% url 'website:features'%}">How it works |</a></li>
                        <li><a href="{% url 'website:index'%}#tab">Speciality |</a></li>
                        <li><a href="{% url 'website:plans'%}">Plans |</a></li>
                        <li><a href="{% url 'website:aboutus'%}">About Us |</a></li>
                        <li id="loginItem" class="webLogin">
                            <a href="{% url 'website:login'%}"><i class="fa fa-sign-in"></i> Login</a>
                        </li>
                        <li id="registerItem" class="download-app">
                            <a href="/PatientRegistration">Registration </a>
                        </li>
                        <li class="download-app">
                            <a href="#" data-toggle="modal" data-target="#app-modal">Download the App </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div id="slicknav-mobile"></div>
        </nav>
    </div>
</header>