{%extends 'website_layout.html'%}
{%load static%}
{% block content%}

<section class="breadcrumb">
    <div class="container">
    <div class="breadcrumb-outer">
    <nav aria-label="breadcrumb">
    <ul class="breadcrumb">
    <li class="breadcrumb-item"><a href="{% url 'website:index'%}">Home</a></li>
    <li class="breadcrumb-item active" aria-current="page">About Us</li>
    </ul>
    </nav>
    <h2>About Us</h2>
    </div>
    </div>
    </section>
    
    <section class="add-services">
    <div class="container">
    <div class="section-title text-center">
    </div>
    <div class="row">
    <div class="col-md-4 col-xs-12">
    <div class="add-services-list text-center">
    <div class="add-number">01.</div>
    <h3>OUR MISSION</h3>
    <p>Patient outreach program through technology, We plan to reach out to everyone who is connected to the web and offer the best possible health care / medical advice possible. </p>
    </div>
    </div>
    <div class="col-md-4 col-xs-12">
    <div class="add-services-list text-center">
    <div class="add-number">02.</div>
    <h3>OUR VISION</h3>
    <p>Our patients receive personalized care that is affordable and attentive, to bridge the gap between virtual consultation and actual physical visits.</p>
    </div>
    </div>
    <div class="col-md-4 col-xs-12">
    <div class="add-services-list text-center">
    <div class="add-number">03.</div>
    <h3>Our target</h3>
    <p>When a patient sits down with our doctors, we strive to make sure you receive his/her complete attention for best possible consultation experience. </p>
    </div>
    </div>
    </div>
    </div>
    </section>
    
    <section class="specialist ">
    <div class="container">
    <div class="row">
    <div class="col-xs-12">
    <div class="section-title">
    <h2>Our <span>Team</span></h2>
    </div>
    </div>
    </div>
    <div class="specialist-slider row">
    <div class="col-xs-12">
    <div class="special-main">
    <div class="special-item">
    <div class="special-image">
    <img src="{%static 'website/img/male.png'%}" alt="Team Member Image">
    <div class="special-links">
    <ul>
    <li><a target="_blank" href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
    <li><a target="_blank" href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
    <li><a target="_blank" href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
    </ul>
    </div>
    <div class="color-overlay"></div>
    </div>
    <div class="special-content">
     <h4>Tejas</h4>
    <p>CEO</p>
    </div>
    </div>
    </div>
    </div>
    <div class="col-xs-12">
    <div class="special-main">
    <div class="special-item">
    <div class="special-image">
    <img src="{%static 'website/img/kushal.jpeg'%}" alt="Team Member Image">
    <div class="special-links">
      <ul>
        <li><a target="_blank" href="https://www.facebook.com/kushal.kush.71"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
        <li><a target="_blank" href="https://www.instagram.com/its_kush1704/"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
        </ul>
    </div>
    <div class="color-overlay"></div>
    </div>
    <div class="special-content">
    <h4>Kushal</h4>
    <p>Developer</p>
    
    </div>
    </div>
    </div>
    </div>
    <div class="col-xs-12">
    <div class="special-main">
    <div class="special-item">
    <div class="special-image">
    <img src="{%static 'website/img/pavana.jpg'%}" alt="Team Member Image">
    <div class="special-links">
      <ul>
        <li><a target="_blank" href="https://www.facebook.com/pavana.anand.18/"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
        <li><a target="_blank" href="https://www.instagram.com/pavana_anand/"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
        </ul>
    </div>
    <div class="color-overlay"></div>
    </div>
    <div class="special-content">
    <h4>Pavana</h4>
    <p>Developer</p>
    
    </div>
    </div>
    </div>
    </div>
    <div class="col-xs-12">
    <div class="special-main">
    <div class="special-item">
    <div class="special-image">
    <img src="{%static 'website/img/lakshman.jpeg'%}" alt="Team Member Image">
    <div class="special-links">
      <ul>
        <li><a target="_blank" href="https://www.facebook.com/lakshman.gopennavar"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
        <li><a target="_blank" href="https://mobile.twitter.com/Gopilakshman9"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
        <li><a target="_blank" href="https://www.instagram.com/gopennavar/"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
        </ul>
    </div>
    <div class="color-overlay"></div>
    </div>
    <div class="special-content">
    <h4>Lakshman B G</h4>
    <p>Developer</p>
    
    </div>
    </div>
    </div>
    </div>
    <div class="col-xs-12">
    <div class="special-main">
    <div class="special-item">
    <div class="special-image">
    <img src="{%static 'website/img/male.png'%}" alt="Team Member Image">
    <div class="special-links">
      <ul>
        <li><a target="_blank" href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
        <li><a target="_blank" href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
        <li><a target="_blank" href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
        </ul>
    </div>
    <div class="color-overlay"></div>
    </div>
    <div class="special-content">
    <h4>Zaakir</h4>
    <p>Developer</p>
    </div>
    </div>
    </div>
    </div>
    <div class="col-xs-12">
    <div class="special-main">
    <div class="special-item">
    <div class="special-image">
    <img src="{%static 'website/img/aqib.jpeg'%}" alt="Team Member Image">
    <div class="special-links">
      <ul>
        <li><a target="_blank" href="https://www.facebook.com/aqeeb.pasha.5"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
        <li><a target="_blank" href="https://www.linkedin.com/in/aqeeb-pasha-94790a151"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
        </ul>
    </div>
    <div class="color-overlay"></div>
    </div>
    <div class="special-content">
    <h4>Aqeeb</h4>
    <p>Developer</p>
    </div>
    </div>
    </div>
    </div>
    <div class="col-xs-12">
      <div class="special-main">
      <div class="special-item">
      <div class="special-image">
      <img src="{%static 'website/img/samiran.jpeg'%}" alt="Team Member Image">
      <div class="special-links">
        <ul>
          <li><a target="_blank" href="https://www.instagram.com/samiran1622/"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
          </ul>
      </div>
      <div class="color-overlay"></div>
      </div>
      <div class="special-content">
      <h4>Samiran</h4>
      <p>Developer</p>
      </div>
      </div>
      </div>
      </div>
    </div>
    </div>
    </section>
   
{%endblock%}