{%extends 'website_layout.html'%}
{%load static%}
{% block content%}

<li class="download-app">
    <a href="{%static 'website/features.html'%}">Download App <i class="fa fa-android"></i>&nbsp; <i class="fa fa-apple"></i></a>
    </li>
    </ul>
    </div>
    </div>
    <div id="slicknav-mobile"></div>
    </nav>
    </div>
    </header>
    
    <section class="breadcrumb">
    <div class="container">
    <div class="breadcrumb-outer">
    <nav aria-label="breadcrumb">
    <ul class="breadcrumb">
    <li class="breadcrumb-item"><a href="{% url 'website:index'%}">Home</a></li>
    <li class="breadcrumb-item active" aria-current="page">Contact Us</li>
    </ul>
    </nav>
    <h2>Contact Us</h2>
    </div>
    </div>
    </section>
    <section class="contact pad-bottom-0">
    <div class="container">
    
    <div class="map">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d15551.559475906646!2d77.61530952239396!3d12.978895213219477!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bae168fda846509%3A0xa526e1f68a500b94!2sHalasuru%2C%20Karnataka!5e0!3m2!1sen!2sin!4v1598875116466!5m2!1sen!2sin" width="100%" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
    </div>
    
    <div class="contact-inner">
    <div class="row">
    <div class="col-md-5 col-sm-12 col-xs-12">
    <div class="contact-detail">
    <h2 class="white">Reach us at,</h2>
    <p class="white mar-bottom-40">Download the app or call us for complimentary appointment</p>
    <div class="contact-list">
    <p class="contact mar-bottom-10 white"><i class="fa fa-phone" aria-hidden="true"></i> <a href="tel:+91 9876543210" class="white"> +91 987 654 3210</a></p>
    <p class="contact mar-bottom-10 white"><i class="fa fa-envelope" aria-hidden="true"></i> <a href="mailto:abc@example.com" class="white">abc@example.com</a></p>
    <p class="contact white"><i class="fa fa-map-marker" aria-hidden="true"></i> <b>Doctor Plus</b> <br>
    
    No:1, Subbiaha Reddy block, Metro Station, Ulsoor, Bangalore - 560038</p>
    </div>
    </div>
    </div>
    <div class="col-md-7 col-sm-12 col-xs-12">
    <form id="appointments-main-form">
        <div class="row">
            <div class="">
                <div class="form-group col-xs-6">
                    <input type="text" placeholder="Your Name" id="id_name" required>
                </div>
                <div class="form-group col-xs-6">
        
                    <input type="text" placeholder="Your Email" id="id_email" required>
                </div>
                <div class="form-group col-xs-6">
        
                    <input type="tel" placeholder="Your Phone" id="id_ph_no" minlength="10" maxlength="10" size="10" required>
                </div>
                <div class="form-group col-xs-6">
        
                    <input type="tel" placeholder="Blood Group" id="id_blood" minlength="10" maxlength="10" size="10" required>
                </div>
                <div class="form-group col-xs-6">
        
                    <input type="text" id="id_city" placeholder="Your City">
                </div>
                <div class="form-group col-xs-6">
                    <select id="id_gender">
                        <option>Gender</option>
                        <option>Male</option>
                        <option>Female</option>
                    </select>
                </div>
                <div class="form-group col-xs-6">
                
                    <input type="number" id="id_age" placeholder="Age" min="1" max="100">
                </div>
                <div class="form-group col-xs-12">
                    <select id="select-specialist">
                        <option>Speciality</option>
                        <option>General Physician</option>
                        <option>Dermatologist</option>
                        <option value="">Pediatrician</option>
                        <option value="">Dietitian</option>
                        <option value="">Psychologist</option>
                        <option value="">Gynaecologist</option>
                    </select>
                </div>
            </div>
            <div class="">
                <div class="form-group col-xs-12">
        
                    <textarea id="id_message" placeholder="Your message"></textarea>
                </div>
                <div class="col-xs-12">
                    <div class="form-btn">
                        <button type="submit" class="btn">Submit</button>
                    </div>
                </div>
            </div>
        
        </div>
    </form>
    </div>
    </div>
    </div>
    </div>
    </section>
    
{%endblock%}
{% block scripts %}
<script type="text/javascript">
    $("#appointments-main-form").submit(function(e){
        e.preventDefault();
        e.stopImmediatePropagation();

        let data = {
            name: $('#id_name').val(),
            email: $('#id_email').val(),
            ph_no: $('#id_ph_no').val(),
            gender: $('#id_gender').val(),
            blood_group: $("#id_blood").val(),
            age: $("#id_age").val(),
            speciality: $("#select-specialist").val(),
            city: $("#id_city").val(),
            message: $("#id_message").val()
        };
        $.ajax({
            url: '/api/onlineEnquiry/',
            method: 'POST',
            data: JSON.stringify(data),
            contentType: 'application/json',
        }).done((response)=>{
            console.log(response);
            alert("Your appoinment is booking successful. We are call you soon.");
            $("#appointments-main-form").find("input[type=text], textarea, input[type=tel], input[type=number]").val("")
        })
        .fail((error)=>{
            console.log(error)
        })

    })
</script>

{% endblock %}