{%extends 'website_layout.html'%}
{%load static%}
{% block content%}
<style>
    .register .nav-tabs {
        margin-bottom: 3%;
        border: none;
        background: #0b818b;
        border-radius: 1.5rem;
    }

    .register .nav-tabs .nav-link {
        padding-top: 2%;
        padding-bottom: 2%;
        height: 34px;
        font-weight: 600;
        color: #fff;
        border-top-right-radius: 1.5rem;
        border-bottom-right-radius: 1.5rem;
    }

    .register .nav-tabs .nav-item a:hover {
        border: none;
        color: #0b818b
    }

    .register .nav-tabs .nav-item.active a {
        width: 100px;
        color: #0b818b;
        border: 2px solid #0b818b;
        border-top-left-radius: 1.5rem;
        border-bottom-left-radius: 1.5rem;
        background-color: #fff;
    }

    .breadcrumb-outer span {
        float: right;
        position: relative;
        top: -34px
    }
</style>
<section class="breadcrumb">
    <div class="container">
        <div class="breadcrumb-outer">
            <nav aria-label="breadcrumb">
                <ul class="breadcrumb">
                    <li class="breadcrumb-item"><a href="{% url 'website:index'%}">Home</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Register</li>
                </ul>
            </nav>
            <h2>Register</h2>
            <span class="register">
                <ul class="nav nav-tabs" id="myTab" role="tablist">
                    <li id="Patient" class="nav-item">
                        <a class="nav-link" id="home-tab" href="/PatientRegistration" role="tab" aria-controls="home"
                            aria-selected="true">Patient</a>
                    </li>
                    <li id="Doctor" class="nav-item active">
                        <a class="nav-link" id="profile-tab" href="#" role="tab" aria-controls="profile"
                            aria-selected="false">Doctor</a>
                    </li>
                </ul>

            </span>
        </div>
    </div>
</section>
<section class="login">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="login-form" style="padding: 0 10%;">
                    <div class="col-xs-12">
                        <div class="form-title" style="text-align: justify;padding: 20px 17%;margin-bottom: 0"><br>
                            <p>Dear Doctor, </p><br>
                            <p>Kindly spare a few minutes to register yourself on our platform. We have a
                                vast database of patients who need your care and expertise. </p><br>
                            <p>Once we receive your basic details you will be sent an MOU on which we
                                require your signature and seal after which we can start consulting
                                immediately</p><br>
                            <p>We request your support and cooperation in this regard to make our patient
                                outreach program a success.</p><br>
                            <p><b>Basic Contact Information</b></p>
                        </div>
                    </div>
                    <form style="padding: 30px 20%;" id="doctorRegistration">
                        <div class="row">
                            <div class="">
                                <div class="form-group col-xs-12">
                                    <input type="text" placeholder="Name" name="full_name" required id="Name1">
                                </div>
                                <div class="form-group col-xs-12">
                                    <input type="text" placeholder="Medical ID" id="medical_id"
                                        name="Registration_number" required>
                                </div>
                                <div class="form-group col-xs-12">
                                    <select id="select-specialist" name="specialist_type" required>
                                        <option value="">Select Speciality</option>
                                        {% for spl_type in specialist_types%}
                                        <option value="{{spl_type.special_type}}">{{spl_type.special_type}}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                                <div class="form-group col-xs-12">
                                    <div class="input-group">
                                        <input type="tel" placeholder="Phone" name="phone_number" id="mob1" required>
                                        <span class="input-group-btn">
                                            <button type="button" class="btn form-control" style="font-size:14px"
                                                id="btnOTP">Verify</button>
                                        </span>
                                    </div>
                                </div>
                                <div class="form-group col-xs-2 otp">
                                    <p></p>
                                </div>
                                <div class="form-group col-xs-12" id="div-otp" style="display: none;">
                                    <input type="text" class="form-control" name="otp"  id="OTP" placeholder="Enter the OTP" required>
                                    <small>Didn't Recieve an OTP click <span id="btnResendOTP" style="color:blue; cursor: pointer;">here.</span></small>

                                </div>
                                <div class="form-group col-xs-12">
                                    <input type="email" id="email" placeholder="Email ID" name="email" required>
                                </div>
                                <div class="form-group col-xs-12">
                                    <input type="text" placeholder="City" name="city" required>
                                </div>
                                <div class="form-group col-xs-12">
                                    <input type="password" placeholder="Set Password" name="password" required>
                                </div>
                                <div class="form-group col-xs-12">
                                    <input type="password" placeholder="Re enter Password" required>
                                </div>
                            </div>
                            <div class="">
                                <div class="col-xs-12">
                                    <div class="form-btn" style="text-align: center;">
                                        <button type="submit" class="btn btn-block" id="submit">Register me!</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>


{%endblock%}

{% block scripts %}
<script type="text/javascript">

    function send_otp(){
        let url = `https://teleduce.in/sendsms/?key=a224db72-cafb-4cce-93ab-3d7f950c92e2&text=Doctor Plus: Welcome Dr.${$('#Name1').val()}, OTP for mobile number verification is <OTP>. Do not share or forward&route=0&from=BANDSS&to=${$('#mob1').val()}&otp=1&otp_length=4`;
        // let url = `https://teleduce.in/sendsms/?key=a224db72-cafb-4cce-93ab-3d7f950c92e2&text=Registration under review, We shall intimate you once approved. OTP for mobile number verification is <OTP>&route=0&from=BANDSS&to=${$('#mob1').val()}&otp=1&otp_length=4`;
        if ($('#Name1').val() == '' || $('#mob1').val() == '')
            alert('Enter Name and Mobile Number')
        else {
            $.ajax({
                url: url,
                method: 'GET',
                success: function (response) {
                    console.log(response)
                    $('#div-otp').show()
                    // $('#div-otp').html('')
                    
                }
            })

        }
    }

    $('#btnOTP').click(function () {
        send_otp()
    })

    $('#btnResendOTP').click(function(){
        send_otp()
    })

    function checkEmail() {
        const email = $('#email').val();
        const email_warn = $('#email-warning')
        console.log(email_warn.length)
        if (email.length >= 3) {
            $.ajax({
                url: '/api/duplicationCheck/?email=' + email,
                method: 'GET',
                contentType: 'application/json',

            }).done(res => {

                if (res.length > 0) {
                    if (email_warn.length == 0) {
                        $('#email').after($('<p id="email-warning" class="text-danger">').text('Already exists. Please try another one.'))
                        $('#submit').prop('disabled', true)
                        $('#btnOTP').prop('disabled', true)
                    }
                }
                else {
                    if (email_warn.length > 0) {
                        $('#email-warning').remove()
                        $('#submit').removeAttr('disabled')
                        $('#btnOTP').prop('disabled', false)
                    }
                }
            }).fail(err => {
                console.log(err)
            })
        } else {
            if (email_warn.length > 0) {
                $('#email-warning').remove()
                $('#submit').prop('disabled', false)
                $('#btnOTP').prop('disabled', false)
            }
        }
    }

    function checkPhone() {
        const mob1 = $('#mob1').val();
        const mob1_warn = $('#mob1-warning')
        console.log(mob1_warn.length)
        if (mob1.length >= 3) {
            $.ajax({
                url: '/api/duplicationCheck/?phone=' + mob1,
                method: 'GET',
                contentType: 'application/json',

            }).done(res => {

                if (res.length > 0) {
                    if (mob1_warn.length == 0) {
                        $('#mob1').after($('<p id="mob1-warning" class="text-danger">').text('Already exists. Please try another one.'))
                        $('#submit').prop('disabled', true)
                        $('#btnOTP').prop('disabled', true)
                    }
                }
                else {
                    if (mob1_warn.length > 0) {
                        $('#mob1-warning').remove()
                        $('#submit').prop('disabled', false)
                        $('#btnOTP').prop('disabled', false)
                    }
                }
            }).fail(err => {
                console.log(err)
            })
        } else {
            if (mob1_warn.length > 0) {
                $('#mob1-warning').remove()
                $('#submit').prop('disabled', false)
                $('#btnOTP').prop('disabled', false)
            }
        }
    }


    const email = document.getElementById('email')
    email.onkeyup = checkEmail;

    const mob1 = document.getElementById('mob1')
    mob1.onkeyup = checkPhone;


</script>
{% endblock %}