{%extends 'website_layout.html'%}
{%load static%}
{% block content%}
<section class="breadcrumb">
    <div class="container">
    <div class="breadcrumb-outer">
    <nav aria-label="breadcrumb">
    <ul class="breadcrumb">
    <li class="breadcrumb-item"><a href="{% url 'website:index'%}">Home</a></li>
    <li class="breadcrumb-item active" aria-current="page">Terms & Conditions</li>
    </ul>
    </nav>
    <h2>MOU Terms & Conditions</h2>
    </div>
    </div>
    <div class="overlay"></div>
    </section>
    <section class="blog-detail-content">
    <div class="container">
    <div class="row">
    <div class="col-md-12">
    <div class="detail-content">
    <div class="section-title">
    <h2>MOU TERMS AND CONDITIONS</h2>
    </div>
    <p>
        1. I agree to befree & available on the indicated day and time to provide online audio/video consulations for the users of Doctor plus.<br>
        2. I confirm to provide the online OPD video /Audio consultation as per the guidelines laid down by the Tele medicine practice guidelines -2020. <br>
        3. I agree not to disclose or transfer patient’s personal details without written consent of the patient. <br>
        4. During the term of this Agreement, I will not directly solicit or attempt to solicit the
        users of Doctor plus.<br>
        5. To indemnify,defend and protect Doctor plus / B&S Associates from and against all
        lawsuits of every kind pertaining medical advice and prescription given to the users
        of Doctor plus.<br>
        6. This MOU and the interpretation of its terms shall be governed by and construed in
        accordance with laws Of the state of Karnataka and subject to the exclusive
        jurisdiction of the federal and state courts located in Bangalore.<br>
        7.  I am aware the Doctor plus / B&S Associates will collect the mentioned consultation
        fee on my behalf and reimburse me as per the agreed settlement duration.<br>
        8. I would notify Doctor plus / B&S Associates in writing 30days prior in order to
        terminate or discontinue my service.<br>
        9.  I have been handed over all the contact number and e-mail ID;s of Doctor plus / B&S
        Associates.

    </p>
    </div>
    </div>
    </div>
    </div>
    </section>
    
   
{%endblock%}