{%extends 'website_layout.html'%}
{%load static%}
{% block content%}

<section class="breadcrumb">
    <div class="container">
    <div class="breadcrumb-outer">
    <nav aria-label="breadcrumb">
    <ul class="breadcrumb">
    <li class="breadcrumb-item"><a href="{%static 'website/index.html'%}">Home</a></li>
    <li class="breadcrumb-item active" aria-current="page">Login</li>
    </ul>
    </nav>
    <h2>Login</h2>
    </div>
    </div>
    </section>
    <section class="login">
    <div class="container">
    <div class="row" >
    <div class="col-md-12 col-sm-12 col-xs-12">
    <div class="login-form">
      <form id="doctorRegistration">
        <div class="row">
        <div class="col-xs-12">
            <div class="form-title">
                <h2>Register</h2>
                <p>Enter your details to become a member</p>
            </div>
        </div>
        <div class="">
            <div class="form-group col-md-6 col-xs-12">
                <input type="text" name="full_name" placeholder="Your Name" required>
                <input type="hidden" name="web_registration" placeholder="Your Name" value="true">
            </div>
            <div class="form-group col-md-6 col-xs-12">

                <input type="text" name="email" placeholder="Your Email" required>
            </div>
            <div class="form-group col-md-6 col-xs-12">

                <input type="tel" placeholder="Your Phone Number" name="phone_number"  minlength="10" maxlength="10" size="10" required>
            </div>
            <div class="form-group col-md-6 col-xs-12">
                <input type="text" placeholder="password" name="password" min="18" max="100" required>

            </div>
            <div class="form-group col-md-6 col-xs-12">
                <select>
                    <option>Gender</option>
                    <option>Male</option>
                    <option>Female</option>
                </select>
            </div>
            <div class="form-group col-md-6 col-xs-12">

                <input type="number" placeholder="Age" min="18" max="100" required>
            </div>
            <div class="form-group col-md-6 col-xs-12">

                <input type="text" name="specialist_type" placeholder="specialist Type" min="18" max="100" required>
            </div>
             <div class="form-group col-md-6 col-xs-12">

                <input type="text" name="about" placeholder="about" min="18" max="100" required>
            </div>
        </div>
        
        
        
        
        <div class="">
        <div class="col-xs-12">
        <div class="form-btn">
          <button type="submit" class="btn">Submit</button>
        </div>
        </div>
        </div>
        
        </div>
        </form>
    </div>
    </div>
    </div>
    </div>
    </section>
    
    <section class="newsletter">
      <div class="container">
      <div class="newsletter-content">
      <div class="subscribe-form">
      <div class="row">
      <div class="col-md-6 col-sm-12">
      <h3 class="white">Subscribe to newsletter</h3>
      <p class="white">Enter your mail ID for latest updates, new promotions and offers</p>
      </div>
      <div class="col-md-6 col-sm-12">
      <form>
      <input type="email" placeholder="abc@xyz.com">
      <a href="#">Subscribe</a>
      </form>
      </div>
      </div>
      </div>
      </div>
      </div>
      </section>

{%endblock%}

{% block scripts %}
<script type="text/javascript">
    $("#doctorRegistration").submit((e)=>{
        e.preventDefault();
        e.stopImmediatePropagation();
        $.ajax({
            url: '/api/GenerateDoctorID',
            method: 'GET',
            contentType: 'application/json'
        }).done((response)=>{
                console.log("response ", response);

                let form = document.getElementById("doctorRegistration");
                let formdata = new FormData(form);
                formdata.append('username', response.doctorId);
                formdata.append('web_registration', true);
                $.ajax({
                  url: '/api/NewDoctorRegistration',
                  method: 'POST',
                  data: formdata,
                  contentType: false,
                  processData: false,
                }).done((response)=>{
                       alert('Your form submited successfull. We will connect you soon.');
                       $('#doctorRegistration').trigger('reset');
                    }).fail((error)=>{
                    console.log(error);
                })
        })


    })
</script>
{% endblock %}