{%extends 'website_layout.html'%}
{%load static%}
{% block content%}
<li class="download-app">
    <a href="features.html">Download App <i class="fa fa-android"></i>&nbsp; <i class="fa fa-apple"></i></a>
    </li>
    </ul>
    </div>
    </div>
    <div id="slicknav-mobile"></div>
    </nav>
    </div>
    </header>
  
  <section class="breadcrumb">
  <div class="container">
  <div class="breadcrumb-outer">
  <nav aria-label="breadcrumb">
  <ul class="breadcrumb">
  <li class="breadcrumb-item"><a href="{%static 'website/index.html'%}">Home</a></li>
  <li class="breadcrumb-item active" aria-current="page">Faq's</li>
  </ul>
  </nav>
  <h2>Faq's</h2>
  </div>
  </div>
  </section>
  
  <section class="faq pad-bottom-50">
  <div class="container">
  <div class="section-title">
  <h2>Frequently Asked <span>Questions</span></h2>
  </div>
  <div class="info-detail">
  <div class="accrodion-grp" data-grp-name="faq-accrodion">
  <div class="accrodion active">
  <div class="accrodion-title">
  <h4>How can I improve my oral hygiene?</h4>
  </div>
  <div class="accrodion-content" style="display: block;">
  <div class="inner">
  <p>Everyone’s needs are different, so have a chat to your dentist about how often you need to have your teeth checked by them based on the condition of your mouth, teeth and gums.</p>
  </div>
  </div>
  </div>
  <div class="accrodion ">
  <div class="accrodion-title">
  <h4>How do I know if my teeth are healthy?</h4>
  </div>
  <div class="accrodion-content" style="display: none;">
  <div class="inner">
  <p>Everyone’s needs are different, so have a chat to your dentist about how often you need to have your teeth checked by them based on the condition of your mouth, teeth and gums.</p>
  </div>
  </div>
  </div>
  <div class="accrodion">
  <div class="accrodion-title">
  <h4>Why are regular dental assessments so important?</h4>
  </div>
  <div class="accrodion-content" style="display: none;">
  <div class="inner">
  <p>Everyone’s needs are different, so have a chat to your dentist about how often you need to have your teeth checked by them based on the condition of your mouth, teeth and gums.</p>
  </div>
  </div>
  </div>
   <div class="accrodion">
  <div class="accrodion-title">
  <h4>What if I have to cancel my appointment?</h4>
  </div>
  <div class="accrodion-content" style="display: none;">
  <div class="inner">
  <p>Sometimes the unexpected happens and you need to cancel your appointment make sure you call us or email us 1 day ago before cancellation.</p>
  </div>
  </div>
  </div>
  <div class="accrodion">
  <div class="accrodion-title">
  <h4>What do I need to bring to my appointment?</h4>
  </div>
  <div class="accrodion-content" style="display: none;">
  <div class="inner">
  <p>Sometimes the unexpected happens and you need to cancel your appointment make sure you call us or email us 1 day ago before cancellation.</p>
  </div>
  </div>
  </div>
  <div class="accrodion">
  <div class="accrodion-title">
  <h4>What are the facilities available in the hospital?</h4>
  </div>
  <div class="accrodion-content" style="display: none;">
  <div class="inner">
  <p>Sometimes the unexpected happens and you need to cancel your appointment make sure you call us or email us 1 day ago before cancellation.</p>
  </div>
  </div>
  </div>
  <div class="accrodion">
  <div class="accrodion-title">
  <h4>Do you have an ambulance service?</h4>
  </div>
  <div class="accrodion-content" style="display: none;">
  <div class="inner">
  <p>Sometimes the unexpected happens and you need to cancel your appointment make sure you call us or email us 1 day ago before cancellation.</p>
  </div>
  </div>
  </div>
  </div>
  </div>
  </div>
  </section>
  
  
  <section class="newsletter">
  <div class="container">
  <div class="newsletter-content">
  <div class="subscribe-form">
  <div class="row">
  <div class="col-md-6 col-sm-12">
  <h3 class="white">Subscribe to newsletter</h3>
  <p class="white">Enter your mail ID for latest updates, new promotions and offers</p>
  </div>
  <div class="col-md-6 col-sm-12">
  <form>
  <input type="email" placeholder="abc@xyz.com">
  <a href="#">Subscribe</a>
  </form>
  </div>
  </div>
  </div>
  </div>
  </div>
  </section>
  

{%endblock%}