{%extends 'website_layout.html'%}
{%load static%}
{% block content%}
<section class="breadcrumb">
<div class="container">
<div class="breadcrumb-outer">
<nav aria-label="breadcrumb">
<ul class="breadcrumb">
<li class="breadcrumb-item"><a href="index.html">Home</a></li>
<li class="breadcrumb-item active" aria-current="page">Faq's</li>
</ul>
</nav>
<h2>Faq's</h2>
</div>
</div>
</section>

<section class="faq pad-bottom-50">
<div class="container">
<div class="section-title">
<h2>Frequently Asked <span>Questions</span></h2>
</div>
<div class="info-detail">
<div class="accrodion-grp" data-grp-name="faq-accrodion">
<div class="accrodion active">
<div class="accrodion-title">
<h4>What can I use this app for?</h4>
</div>
<div class="accrodion-content" style="display: block;">
<div class="inner">
<p>Doctor Plus is a very convenient app for many of your health concerns!
  You can use this app for non emergency medical consults, Our team of experienced doctors will guide you and help you recover and feel better soon. You can use this app to consult with.</p> <br>
  <ul>
    <li>GENERAL PHYSICIAN</li>
    <li>DIETICIAN</li>
    <li>DERMATOLOGIST</li>
    <li>PEDIATRICIAN</li>
    <li>PSYCHOLOGIST</li>
    <li>GYNAECOLOGIST</li>
  </ul>
</div>
</div>
</div>
<div class="accrodion ">
<div class="accrodion-title">
<h4>How much does it cost?</h4>
</div>
<div class="accrodion-content" style="display: none;">
<div class="inner">
<p>Doctors fees is much more reasonable than clinic rates. You can save up to 60% by consulting India’s top doctors through Doctor Plus. Adding the savings of NOT travelling in traffic and waiting for appointments, fee ranges from Rs.350 to 1,500 depending of the doctor.</p>
</div>
</div>
</div>
<div class="accrodion">
<div class="accrodion-title">
<h4>How do I use this app?</h4>
</div>
<div class="accrodion-content" style="display: none;">
<div class="inner">
<p>It's really easy! All you have to do is fill in the quick form that comes up on clicking “Talk to a specialist” on the home screen. The doctor’s assistant will guide you through the chat after that. At any point of time, you can always contact our support team through live chat.</p>
</div>
</div>
</div>
 <div class="accrodion">
<div class="accrodion-title">
<h4>What can I ask the doctor?</h4>
</div>
<div class="accrodion-content" style="display: none;">
<div class="inner">
<p>Any medical question that you need to ask with a doctor who specialises in that area. Our doctors help with pregnancies, fevers, colds, sexual issues, weight and a whole lot more. Please visit our “What we treat” section for more details. We do not answer general questions that are not directly related to your health (eg, How to make green tea? What is a good career choice?).
</p>
</div>
</div>
</div>
<div class="accrodion">
<div class="accrodion-title">
<h4>Is this app safe?</h4>
</div>
<div class="accrodion-content" style="display: none;">
<div class="inner">
<p>Yes. We have a team of carefully selected and personally verified MD & MBBS doctors from across India. Each doctor has received extensive training to consult you over the app. Once a doctor is allocated to you, his/her profile can be viewed by tapping on their profile picture. Your medical information will remain completely private.</p>
</div>
</div>
</div>
<div class="accrodion">
<div class="accrodion-title">
<h4>Why do you need my personal details?</h4>
</div>
<div class="accrodion-content" style="display: none;">
<div class="inner">
<p>We need your mobile number, email to ensure that you can be immediately informed when your doctor responds or when your medicines ship or to schedule your tests. We need your personal details such as - age, gender, height, weight etc. purely for medical usage by the doctor, so as to prescribe the most appropriate medicines and tests. We will never share your information with anyone else.</p>
</div>
</div>
</div>
<div class="accrodion">
<div class="accrodion-title">
<h4>Do you have specialists (Gynaecologists, Psychologists, etc.)?</h4>
</div>
<div class="accrodion-content" style="display: none;">
<div class="inner">
<p>Yes, we strive hard to ensure that you get to discuss your concern with a MD or MS who specialises in that area. You can check 'What we treat' section to know all the specialisations we cover. For eg: If you have childcare concerns we connect you with a Paediatrician , for Women’s issues we have highly experienced Gynaecologists etc.</p>
</div>
</div>
</div>
<div class="accrodion">
  <div class="accrodion-title">
  <h4>Can I speak with the same doctor again?</h4>
  </div>
  <div class="accrodion-content" style="display: none;">
  <div class="inner">
  <p>Yes. All your consultations are stored separately and can be viewed from Home screen. You can continue talking to the same doctor by selecting respective conversation on the Home screen. In case your 3-day consultation period gets over and you need to consult the same doctor again, you can do so by paying the consultation for a new session with the same doctor. They will have your chat history as well as any reports or images that you had attached earlier.</p>
  </div>
  </div>
</div>
<div class="accrodion">
  <div class="accrodion-title">
  <h4>Can I use this app in emergencies?</h4>
  </div>
  <div class="accrodion-content" style="display: none;">
  <div class="inner">
  <p>No. This is app is for primary care- the kind of problems that your family doctor can help you with. Doctors on this app can only help you with consultation based issues that can be shared in the form of messages, pictures and medical reports. In case of a life- threatening emergency, please call an ambulance or head to a good hospital.</p>
  </div>
  </div>
</div>
<div class="accrodion">
  <div class="accrodion-title">
  <h4>What conditions do you treat?</h4>
  </div>
  <div class="accrodion-content" style="display: none;">
  <div class="inner">
  <p>All OPD consultations in the field of GENERAL PHYSICIAN, DIETICIAN, DERMATOLOGIST, PAEDIATRICIAN, PSYCHOLOGIST, GYNAECOLOGIST which may include 
    Headache, Migraine Colds, Flu, Fever, Viral infection, <b>Chest infection, Diarrhea, Nausea, Vomiting, Constipation, Heartburn, Rashes, Food Allergies, Joint Pain, Arthritis</b>
    Other skin symptoms such as lumps and bumps, Depression, Urinary Tract Infection, Insect bites, Fungal infections, Allergies, Sports Injuries, Lifestyle advice, Health and Diet advice and many more..
    </p>
  </div>
  </div>
</div>
<div class="accrodion">
  <div class="accrodion-title">
  <h4>What medicines do you prescribe?</h4>
  </div>
  <div class="accrodion-content" style="display: none;">
  <div class="inner">
  <p>We mostly have allopathic doctors on our team. We do not advise on homeopathy, Ayurveda or any other form of treatment. We suggest over- the- counter (OTC) medicines and home remedies, just as your family doctor would.</p>
  </div>
  </div>
</div>
<div class="accrodion">
  <div class="accrodion-title">
  <h4>Who are your lab partners?</h4>
  </div>
  <div class="accrodion-content" style="display: none;">
  <div class="inner">
  <p>We have partnered with India’s leading diagnostic lab - Thyrocare, SRL & Portea. We are expanding our network to cover more service providers and cities.</p>
  </div>
  </div>
</div>
<div class="accrodion">
  <div class="accrodion-title">
  <h4>What are the service timings?</h4>
  </div>
  <div class="accrodion-content" style="display: none;">
  <div class="inner">
  <p>Our doctors are available 24/7. Only our specialty doctors are subjected to availability during late hours (11PM to 6:00AM). However, all times you can contact our support team under support chat section if you need further assistance.</p>
  </div>
  </div>
</div>
<div class="accrodion">
  <div class="accrodion-title">
  <h4>What is the duration of a consultation?</h4>
  </div>
  <div class="accrodion-content" style="display: none;">
  <div class="inner">
  <p>One consultation lasts for 3 days, after which the consultation will automatically be closed. However, if you have any followup questions regarding your consultation, you may proceed by clicking on followup inside respective chat. Your old conversation with the doctor will NOT be lost.</p>
  </div>
  </div>
</div>
<div class="accrodion">
  <div class="accrodion-title">
  <h4>Can my children consult?</h4>
  </div>
  <div class="accrodion-content" style="display: none;">
  <div class="inner">
  <p>Other than minor children our app is open to children over and above the age of 15years. We are extremely careful about how we provide medical information. 
    Our doctors chat with adults so that they can be sure that the user fully understands the issues present and the advice they are providing.
    </p>
  </div>
  </div>
</div>
<div class="accrodion">
  <div class="accrodion-title">
  <h4>How to contact Doctor Plus for support or payment issues.</h4>
  </div>
  <div class="accrodion-content" style="display: none;">
  <div class="inner">
  <p>Please feel free to call or write to us <br>
    Email ID : <br>
    For General concerns : support@doctor-plus.in <br>
    For Accounts related : accounts@doctor-plus.in <br>
    Phone :  <br>
    Patient support : 080 -41483883 | 080-41483993 
    </p>
  </div>
  </div>
</div>
<div class="accrodion">
  <div class="accrodion-title">
  <h4>Doc Online - Booking flow process.</h4>
  </div>
  <div class="accrodion-content" style="display: none;">
  <div class="inner">
    <ol>
      <li> have logged in to my dashboard</li>
      <li>Filled up the basic details and selected speciality</li>
      <li>After selecting speciality, I was redirected to general physician as dermatologist was not available</li>
      <li>Next it asked me to choose a plan or make a one time payment</li>
      <li>One more pop up asking whether it was a follow up or one time consult</li>
      <li>I chose 1 time payment, took me to payment gateway, pop up in same window</li>
      <li>I made payment and got the below confirmation in my dashboard</li>
      <li>SMS Confirmation text - Your appointment with the Doctor is on Mon, Oct 19, 2020 11:00 AM for reviewing your medical reports. A Doctor will call on the scheduled time. Please be available <br> <br>
      <img src="{%static 'website/img/howit-works.png'%}" alt=""> <br><br>
    </li>
    <li>Doctor call me from computer - 080-47247098 Airtel number Bangalore, She was  
      pleasant and wearing doctor coat with white background, the lighting was not so good, but ok</li>
    <li>After calling from landline, she asked me to login into the doc app dashboard and I got a video call from there directly</li>
    <li>Consultation was very brief and lasted for about 5 minutes, I wanted to consult with skin doctor but she said only general physicians are available. However she got to know the problem and said she will recommend some medicines</li>
    <li>fter a few minutes - <b>Got SMS</b> : Dear Tejas, Your Prescription is generated and you 
      can view it under Appointment History section.Thank you, Team Doconline</li>
    </ol>
  </div>
  </div>
</div>
</div>
</div>
</div>
</section>


<section class="newsletter">
<div class="container">
<div class="newsletter-content">
<div class="subscribe-form">
<div class="row">
<div class="col-md-6 col-sm-12">
<h3 class="white">Subscribe to newsletter</h3>
<p class="white">Enter your mail ID for latest updates, new promotions and offers</p>
</div>
<div class="col-md-6 col-sm-12">
<form>
<input type="email" placeholder="abc@xyz.com">
<a href="#">Subscribe</a>
</form>
</div>
</div>
</div>
</div>
</div>
</section>
  

{%endblock%}