{%extends 'website_layout.html'%}
{%load static%}
{% block content%}

<section class="breadcrumb">
    <div class="container">
    <div class="breadcrumb-outer">
    <nav aria-label="breadcrumb">
    <ul class="breadcrumb">
    <li class="breadcrumb-item"><a href="{%static 'website/index.html'%}">Home</a></li>
    <li class="breadcrumb-item active" aria-current="page">Forget Password</li>
    </ul>
    </nav>
    <h2>Forget Password</h2>
    </div>
    </div>
    </section>
    
    
    <section class="forgot-password">
    <div class="container">
    <div class="row">
    <div class="col-md-8 col-md-offset-2">
    <div class="fp-content">
    <p>Please provide your email address. Click in the provided link to retrieve you account.</p><br>
    <form>
    <div class="row">
    <div class=" form-group col-xs-12">
    <div class="input-group">
    <input type="email" class="form-control" id="Name" placeholder="Enter phone or email id">

      <span class="input-group-btn">
        <a href="#" class="btn">Reset Password</a></div>
      </span>
    </div>
    
    
    <div class="col-xs-12">
    <div class="comment-btn">
    
    </div>
    </div>
    </div>
    </form>
    </div>
    </div>
    </div>
    </div>
    </section>
    
{%endblock%}