{%extends 'website_layout.html'%}
{%load static%}
{% block content%}

<section class="breadcrumb">
    <div class="container">
    <div class="breadcrumb-outer">
    <nav aria-label="breadcrumb">
    <ul class="breadcrumb">
    <li class="breadcrumb-item"><a href="{%static 'website/index.html'%}">Home</a></li>
    <li class="breadcrumb-item active" aria-current="page">Forget Password</li>
    </ul>
    </nav>
    <h2>Forget Password</h2>
    </div>
    </div>
    </section>
    
    
    <section class="forgot-password">
    <div class="container">
    <div class="row">
    <div class="col-md-8 col-md-offset-2">
    <div class="fp-content">
    <p>Please provide your email address. Click in the provided link to retrieve you account.</p><br>
    <form>
    <div class="row">
    <div class=" form-group col-xs-12">
    <div class="input-group">
    <input type="email" class="form-control" id="Name" placeholder="Enter phone or email id">
      <span class="input-group-btn">
        <button href="#" class="btn" id="reset-pass">Reset Password</button></div>
      </span>
    </div>
    </div>
    </form>
    </div>
    </div>
    </div>
    </div>
    </section>
    
{%endblock%}
{% block scripts %}
<script>
  $(document).ready(function(){
    $('#reset-pass').click(function(){
      var phone_or_email = $('#phn-email').val()
      if(phone_or_email == ''){
        toastr.error('Enter Phone number or email','Error',{positionClass:'toast-top-center'})
        return;
      }

      if(phone_or_email.match(/^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/)){
        //send mail
      }else if(phone_or_email.match(/^\d{10}$/)){

      }
    })
  })
</script>
{% endblock %}