{%extends 'website_layout.html'%}
{%load static%}
{% block content%}

    
    
    <section class="slider">
    
    <div id="x_023_animated_layers" class="">
    
    <div class="carousel-inner" role="listbox">
    
    <div class="item active">
    <img src="{%static 'website/img/BannerImage.jpg'%}" alt="">
    <div class="x_023_animated_layers_content">
    <div class="x_023_animated_layers_txt"> 
    <h3>Talk to our Doctor’s</h3>
    <h4 class="white">
    Consult our experienced team of Doctors from anywhere, anytime Through VIDEO / PHONE or CHAT.
    </h4>
        <h4 class="white">
            Our patient outreach program Has been specially designed for Convenient access.
        </h4>
    <a href="#appointment" class="btn mar-top-15" data-animation="animated fadeInLeft">Book Appointment</a> &nbsp;
    <a href="contact.html" class="btn mar-top-15" data-animation="animated fadeInLeft"><i class="fa fa-phone"></i> 342-875-0564</a>
    </div> 
    <div class="batch">
        <a href="pricing.html"><img src="img/batch.png" alt="">
        <h5 style="color:#9e0a0a;font-size: 18px;"><i class="fa fa-star"></i> Now member consult @ Rs.250/- only</h5></a>
    </div>
    </div> 
    </div> 
    </div> 
    </div> 
    <div class="overlay"></div>
    </section>
    
    <div class="footer">
        <div class="f-contact">
    <div class="row">
    <div class="col-lg-4 col-md-4 col-sm-4 col-12">
    <div class="f-contact-inner heading">
    <div class="contact-title">
    <h3 class="blink-text">Consult Now !!</h3>
    </div>
    </div>
    </div>
    <div class="col-lg-8 col-md-8 col-sm-8 col-12">
    <div class="f-contact-inner title">
    <div class="contact-title">
    <h4 class="white">Daily consultation available from 9.00 Am to 7:00 Pm</h4>
    </div>
    </div>
    </div>
    </div>
    </div>
    </div>
    
    <section class="services icon-left">
    
    <div class="container" id="web">
    <div class="row">
    <div class="col-md-4 col-sm-6 col-xs-12">
        <div class="service-item">
            <div class="service-icon mar-bottom-20">
                <img src="{%static 'website/img/stethoscope.png'%}" alt="">
                <h3><a href="#appointment">General Physician</a></h3>
            </div>
            <div class="service-content">
                <p><b>We are</b> highly trained doctors who provide a range of non-surgical health care to adult patients. We care for difficult, serious or unusual medical problems and continue to see you patient until these problems have resolved.</p>
            </div>
        </div>
    </div>
    <div class="col-md-4 col-sm-6 col-xs-12">
        <a href="#appointment" >
            <div class="service-item">
                <div class="service-icon mar-bottom-20 child-2">
                    <img src="{%static 'website/img/dermatologist.png'%}" alt="">
                    <h3><a href="#appointment">Dermatologist</a></h3>
                </div>
                <div class="service-content">

                    <p><b>We are </b>doctors who specializes in conditions involving the skin, hair, and nails. We can identify and treat more than 3,000 conditions. These conditions include eczema, psoriasis, and skin cancer, among many others. The skin is an incredible organ.</p>
                </div>
            </div>
        </a>
    </div>

    <div class="col-md-4 col-sm-6 col-xs-12">
        <a href="#appointment"><div class="service-item">
            <div class="service-icon mar-bottom-20 child-3">
                <img src="{%static 'website/img/pediatrician.png'%}" alt="">
                <h3><a href="#appointment">Pediatrician</a></h3>
            </div>
            <div class="service-content">
    
                <p><b>We are</b> doctor who manages the physical, behavioural, and mental care for children from birth until age 18. we are trained to diagnose and treat a broad range of childhood illnesses, from minor health problems to serious diseases.</p>
            </div>
        </div></a>
    </div>

    <div class="col-md-4 col-sm-6 col-xs-12">
        <a href="#appointment"><div class="service-item">
            <div class="service-icon mar-bottom-20 child-2">
                <img src="{%static 'website/img/diet.png'%}" alt="">
                <h3><a href="#appointment">Dietitian</a></h3>
            </div>
            <div class="service-content">
    
                <p><b>We are</b> expert human nutrition and the regulation of diet. We alters their patient's nutrition based upon their medical condition and individual needs. We are regulated healthcare professionals licensed to assess, diagnose, and treat nutritional problems.</p>
            </div>
        </div></a>
    </div>
    
    <div class="col-md-4 col-sm-6 col-xs-12">
        <div class="service-item">
            <div class="service-icon mar-bottom-20 child-3">
                <img src="{%static 'website/img/psychology.png'%}" alt="">
                <h3><a href="#appointment">Psychologist</a></h3>
            </div>
            <div class="service-content">
            
                <p><b>We are</b> someone who studies the human mind, emotions and behavior. We help you to deal with different types of mental and emotional distress. Various techniques and medications are suggested to overcome your problems. <br><br></p>
            </div>
        </div>
    </div>
    <div class="col-md-4 col-sm-6 col-xs-12">
        <a href="#appointment">
            <div class="service-item">
                <div class="service-icon mar-bottom-20">
                    <img src="{%static 'website/img/gynecology.png'%}" alt="">
                    <h3><a href="#appointment">Gynaecologist</a></h3>
                </div>
                <div class="service-content">
    
                    <p><b>We are</b> Doctors here to treat the overall health of our female patients, treating problems and diseases of the female reproductive system such as breast and hormonal problems, urinary tract and pelvic disorders, and cancer of the cervix. <br><br></p>
                </div>
            </div>
        </a>
    </div>
    </div>
    </div>
    <div class="container" id="tab">
        <div class="row">
        <div class="col-md-4 col-sm-6 col-xs-12">
        <a href="#appointment">
            <div class="service-item">
                <div class="service-icon mar-bottom-20">
                    <img src="{%static 'website/img/stethoscope.png'%}" alt="">
                    <h3><a href="#appointment">General Physician</a></h3>
                </div>
                <div class="service-content">
                    <p><b>We are</b> highly trained doctors who provide a range of non-surgical health care to adult patients. We care for difficult, serious or unusual medical problems and continue to see you patient until these problems have resolved.</p>
                </div>
            </div>
        </a>
      </div>
      <div class="col-md-4 col-sm-6 col-xs-12">
      <a href="#appointment">
        <div class="service-item">
            <div class="service-icon mar-bottom-20 child-2">
                <img src="{%static 'website/img/dermatologist.png'%}" alt="">
                <h3><a href="#appointment">Dermatologist</a></h3>
            </div>
            <div class="service-content">
      
                <p><b>We are </b>doctors who specializes in conditions involving the skin, hair, and nails. We can identify and treat more than 3,000 conditions. These conditions include eczema, psoriasis, and skin cancer, among many others. The skin is an incredible organ.</p>
            </div>
        </div>
        </a>
      </div>
        <div class="col-md-4 col-sm-6 col-xs-12">
            <a href="#appointment">
                <div class="service-item">
                    <div class="service-icon mar-bottom-20 child-3">
                        <img src="{%static 'website/img/pediatrician.png'%}" alt="">
                        <h3><a href="#appointment">Pediatrician</a></h3>
                    </div>
                    <div class="service-content">

                        <p><b>We are</b> doctor who manages the physical, behavioural, and mental care for children from birth until age 18. we are trained to diagnose and treat a broad range of childhood illnesses, from minor health problems to serious diseases.</p>
                    </div>
                </div>
            </a>
        </div>

      </div>
      <div class="row">
      <div class="col-md-4 col-sm-6 col-xs-12">
          <a href="#appointment">
              <div class="service-item">
                  <div class="service-icon mar-bottom-20 child-2">
                      <img src="{%static 'website/img/diet.png'%}" alt="">
                      <h3><a href="#appointment">Dietitian</a></h3>
                  </div>
                  <div class="service-content">
                        <p><b>We are</b> expert human nutrition and the regulation of diet. We alters their patient's nutrition based upon their medical condition and individual needs. We are regulated healthcare professionals licensed to assess, diagnose, and treat nutritional problems.</p>
                  </div>
              </div>
          </a>
      </div>
      <div class="col-md-4 col-sm-6 col-xs-12">
          <a href="#appointment">
            <div class="service-item">
            <div class="service-icon mar-bottom-20 child-3">
            <img src="{%static 'website/img/psychology.png'%}" alt="">
            <h3><a href="#appointment">Psychologist</a></h3>
            </div>
            <div class="service-content">

            <p><b>We are</b> someone who studies the human mind, emotions and behavior. We help you to deal with different types of mental and emotional distress. Various techniques and medications are suggested to overcome your problems.</p>
            </div>
            </div>
          </a>
      </div>
      <div class="col-md-4 col-sm-6 col-xs-12">
          <a href="#appointment">
              <div class="service-item">
               <div class="service-icon mar-bottom-20">
              <img src="{%static 'website/img/gynecology.png'%}" alt="">
              <h3><a href="#appointment">Gynaecologist</a></h3>
              </div>
              <div class="service-content">

              <p><b>We are</b> Doctors here to treat the overall health of our female patients, treating problems and diseases of the female reproductive system such as breast and hormonal problems, urinary tract and pelvic disorders, and cancer of the cervix.</p>
              </div>
              </div>
          </a>
      </div>
      </div>
      </div>
    </section>
    
    <section class="specialist ">
    <div class="container">
    <div class="row">
    <div class="col-xs-12">
    <div class="section-title">
    <h2>Our <span>Doctor's</span></h2>
    </div>
    </div>
    </div>
    <div id="doctorss_list" class="specialist-slider row">
    <div  class="col-xs-12">
    <div  class="special-main">
    <div class="special-item">
    <div class="special-image">
    <img src="{%static 'website/img/specialist.jpg'%}" alt="image">
    <div class="special-links">
    <ul>
    <li><a href="#appointment"><i class="fa fa-phone" aria-hidden="true"></i></a></li>
    <li><a href="#appointment"><i class="fa fa-file-video-o" aria-hidden="true"></i></a></li>
    </ul>
    </div>
    <div class="color-overlay"></div>
    </div>
    <div class="special-content">
     <h4>Alexander Kola</h4>
    <p>Surgeon</p>
    <div class="fees">
      <a href="#"><p>Consult Now Rs.1,500/-</p> </a>
    </div>
    </div>
    </div>
    </div>
    </div>
    <div class="col-xs-12">
    <div class="special-main">
    <div class="special-item">
    <div class="special-image">
    <img src="{%static 'website/img/specialist2.jpg'%}" alt="image">
    <div class="special-links">
    <ul>
    <li><a href="#appointment"><i class="fa fa-phone" aria-hidden="true"></i></a></li>
    <li><a href="#appointment"><i class="fa fa-file-video-o" aria-hidden="true"></i></a></li>
    </ul>
    </div>
    <div class="color-overlay"></div>
    </div>
    <div class="special-content">
    <h4>Sam Smiths</h4>
    <p>Dentist</p>
    <div class="fees">
      <a href="#"><p>Consult Now Rs.600/-</p> </a>
    </div>
    </div>
    </div>
    </div>
    </div>
    <div class="col-xs-12">
    <div class="special-main">
    <div class="special-item">
    <div class="special-image">
    <img src="{%static 'website/img/specialist3.jpg'%}" alt="image">
    <div class="special-links">
    <ul>
    <li><a href="#appointment"><i class="fa fa-phone" aria-hidden="true"></i></a></li>
    <li><a href="#appointment"><i class="fa fa-file-video-o" aria-hidden="true"></i></a></li>
    </ul>
    </div>
    <div class="color-overlay"></div>
    </div>
    <div class="special-content">
    <h4>Randall Clover</h4>
    <p>Neurologist</p>
    <div class="fees">
      <a href="#"><p>Consult Now Rs.1,500/-</p> </a>
    </div>
    </div>
    </div>
    </div>
    </div>
    <div class="col-xs-12">
    <div class="special-main">
    <div class="special-item">
    <div class="special-image">
    <img src="{%static 'website/img/specialist1.jpg'%}" alt="image">
    <div class="special-links">
    <ul>
    <li><a href="#appointment"><i class="fa fa-phone" aria-hidden="true"></i></a></li>
    <li><a href="#appointment"><i class="fa fa-file-video-o" aria-hidden="true"></i></a></li>
    </ul>
    </div>
    <div class="color-overlay"></div>
    </div>
    <div class="special-content">
    <h4>Riley Goon</h4>
    <p>Consultant</p>
    <div class="fees">
      <a href="#"><p>Consult Now Rs.1,500/-</p> </a>
    </div>
    </div>
    </div>
    </div>
    </div>
    <div class="col-xs-12">
    <div class="special-main">
    <div class="special-item">
    <div class="special-image">
    <img src="{%static 'website/img/specialist2.jpg'%}" alt="image">
    <div class="special-links">
     <ul>
    <li><a href="#appointment"><i class="fa fa-phone" aria-hidden="true"></i></a></li>
    <li><a href="#appointment"><i class="fa fa-file-video-o" aria-hidden="true"></i></a></li>
    </ul>
    </div>
    <div class="color-overlay"></div>
    </div>
    <div class="special-content">
    <h4>Haliam Dicola</h4>
    <p>Surgeon</p>
    <div class="fees">
      <a href="#"><p>Consult Now Rs.600/-</p> </a>
    </div>
    </div>
    </div>
    </div>
    </div>
    <div class="col-xs-12">
    <div class="special-main">
    <div class="special-item">
    <div class="special-image">
    <img src="{%static 'website/img/specialist3.jpg'%}" alt="image">
    <div class="special-links">
    <ul>
    <li><a href="#appointment"><i class="fa fa-phone" aria-hidden="true"></i></a></li>
    <li><a href="#appointment"><i class="fa fa-file-video-o" aria-hidden="true"></i></a></li>
    </ul>
    </div>
    <div class="color-overlay"></div>
    </div>
    <div class="special-content">
    <h4>Phumdon Haman</h4>
    <p>Consultant</p>
    <div class="fees">
      <a href="#"><p>Consult Now Rs.1,500/-</p> </a>
    </div>
    </div>
    </div>
    </div>
    </div>
    </div>
    </div>
    </section>
    
    <section class="news icon-left">
    <div class="container">
    <div class="row">
    <div class="col-xs-12">
    <div class="section-title text-left">
    <h2>Our <span>Partner</span> Hospitals</h2>
    </div>
    </div>
    </div>
    <div class="row">
    <div class="col-md-3 col-sm-6">
    <div class="event-outer">
    <div class="event-item mar-bottom-60">
    <div class="event-content">
    <div class="event-title clearfix">
    <div class="event-author">
    <img src="{%static 'website/img/jaslok.png'%}" alt="Image">
    </div>
    </div>
    </div>
    </div>
    
    </div>
    </div>
    <div class="col-md-3 col-sm-6">
    <div class="event-outer">
    <div class="event-item mar-bottom-60">
    <div class="event-content">
    <div class="event-title clearfix">
    <div class="event-author">
    <img src="{%static 'website/img/jaslok.png'%}" alt="Image">
    </div>
    </div>
    </div>
    </div>
    
    </div>
    </div>
    <div class="col-md-3 col-sm-6">
    <div class="event-outer">
    <div class="event-item mar-bottom-60">
    <div class="event-content">
    <div class="event-title clearfix">
    <div class="event-author">
    <img src="{%static 'website/img/jaslok.png'%}" alt="Image">
    </div>
    </div>
    </div>
    </div>
    
    </div>
    </div>
    <div class="col-md-3 col-sm-6">
    <div class="event-outer">
    <div class="event-item mar-bottom-60">
    <div class="event-content">
    <div class="event-title clearfix">
    <div class="event-author">
    <img src="{%static 'website/img/jaslok.png'%}" alt="Image">
    </div>
    </div>
    </div>
    </div>
    
    </div>
    </div>
    
    </div>
    </div>
    </section>
    
    <section class="testimonial">
    <div  class="container">
    <div class="row">
    <div class="col-md-5 col-sm-12">
    <div class="section-title title-white mar-0">
    <h2>Happy <span>Patients Reviews</span></h2>
    <p>If you need any medical help we are available for you. Lorem ipsum dolor sit amet, sectetur adipiscing elit, sed do eiusmod tempor the incididunt ut labore et dolore.</p>
    </div>
    </div>
    <div class="col-md-7 col-sm-12">
    <div class="row testimonial-slider">
    <div class="col-xs-12">
    <div class="slider-item">
    <div class="slider-content">
    <div class="quote-icon">
    <img src="{%static 'website/img/quote-icon-1.png'%}" alt="Image">
    </div>
    <div class="slider-author clearfix">
    <div class="testimonial-image mar-bottom-20">
    <img src="{%static 'website/img/about-us.jpg'%}" alt="Image">
    </div>
    <div class="author-content pad-top-10">
    <h3 class="mar-bottom-0">John Davis</h3>
    <p>CEO at HealthClinic</p>
    </div>
    </div>
    <div class="rating">
    <span class="fa fa-star checked"></span>
    <span class="fa fa-star checked"></span>
    <span class="fa fa-star checked"></span>
    <span class="fa fa-star"></span>
    <span class="fa fa-star"></span>
    </div>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip.</p>
    </div>
    </div>
    </div>
    <div class="col-xs-12">
    <div class="slider-item">
    <div class="slider-content">
    <div class="quote-icon">
    <img src="{%static 'website/img/quote-icon-1.png'%}" alt="Image">
    </div>
    <div class="slider-author clearfix">
    <div class="testimonial-image mar-bottom-20">
    <img src="{%static 'website/img/about-us.jpg'%}" alt="Image">
    </div>
     <div class="author-content pad-top-10">
    <h3 class="mar-bottom-0">Nathan Ake</h3>
    <p>Manager at Health Worker</p>
    </div>
    </div>
    <div class="rating">
    <span class="fa fa-star checked"></span>
    <span class="fa fa-star checked"></span>
    <span class="fa fa-star checked"></span>
    <span class="fa fa-star"></span>
    <span class="fa fa-star"></span>
    </div>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip.</p>
    </div>
    </div>
    </div>
    <div class="col-xs-12">
    <div class="slider-item">
    <div class="slider-content">
    <div class="quote-icon">
    <img src="{%static 'website/img/quote-icon-1.png'%}" alt="Image">
    </div>
    <div class="slider-author clearfix">
    <div class="testimonial-image mar-bottom-20">
    <img src="{%static 'website/img/about-us.jpg'%}" alt="Image">
    </div>
    <div class="author-content pad-top-10">
    <h3 class="mar-bottom-0">John Davis</h3>
    <p>CEO at HealthClinic</p>
    </div>
    </div>
    <div class="rating">
    <span class="fa fa-star checked"></span>
    <span class="fa fa-star checked"></span>
    <span class="fa fa-star checked"></span>
    <span class="fa fa-star"></span>
    <span class="fa fa-star"></span>
    </div>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip.</p>
    </div>
    </div>
    </div>
    <div class="col-xs-12">
    <div class="slider-item">
    <div class="slider-content">
    <div class="quote-icon">
    <img src="{%static 'website/img/quote-icon-1.png'%}" alt="Image">
    </div>
    <div class="slider-author clearfix">
    <div class="testimonial-image mar-bottom-20">
    <img src="{%static 'website/img/about-us.jpg'%}" alt="Image">
    </div>
    <div class="author-content pad-top-10">
    <h3 class="mar-bottom-0">Nathan Ake</h3>
    <p>Manager at Health Worker</p>
    </div>
    </div>
    <div class="rating">
    <span class="fa fa-star checked"></span>
    <span class="fa fa-star checked"></span>
    <span class="fa fa-star checked"></span>
    <span class="fa fa-star"></span>
    <span class="fa fa-star"></span>
    </div>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip.</p>
    </div>
    </div>
    </div>
    </div>
    </div>
    </div>
    <span  id="appointment"></span>
    </div>
    <div class="overlay"></div>
    </section>
    
    <section class="appointment">
    <div class="container">
    <div class="row">
    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
    <div class="section-title text-center">
    
    <h2>Book An <span>Appoinment</span></h2>
    </div>
    <div class="appointment-image">
    <img src="{%static 'website/img/blog1.jpg'%}" alt="image">
    </div>
    </div>
    
    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
       <div class="appointment-form">
    <form id="appointments-main-form" >
        {% csrf_token %}
        <div class="row">
            <div class="">
                <div class="form-group col-xs-6">
                    <input type="text" id="id_name" placeholder="Your Name" required>
                </div>
            <div  class="form-group col-xs-6">
    
            <input id="id_email" type="text" placeholder="Your Email" required>
        </div>
        <div class="form-group col-xs-6">
    
            <input id="id_ph_no" type="tel" placeholder="Your Phone" minlength="10" maxlength="10" size="10" required>
        </div>
        <div class="form-group col-xs-6">

            <input type="text" id="id_city" placeholder="Your City">
        </div>
        <div class="form-group col-xs-6">
            <select id="id_gender">
                <option>Gender</option>
                <option>Male</option>
                <option>Female</option>
            </select>
        </div>
        <div class="form-group col-xs-6">
    
            <input type="number" id="id_age" placeholder="Age" min="1" max="100">
        </div>
        <div class="form-group col-xs-6">
            <select id="select-specialist">
                <option value="Speciality">Speciality</option>
                <option value="General Physician">General Physician</option>
                <option value="Dermatologist">Dermatologist</option>
                <option value="Pediatrician">Pediatrician</option>
                <option value="Dietitian">Dietitian</option>
                <option value="Psychologist">Psychologist</option>
                <option value="Gynaecologist">Gynaecologist</option>
            </select>
        </div>
        <div class="form-group col-xs-6" >
            <input type="text" id="id_blood" placeholder="Blood Group">
        </div>
    </div>
    
    
    
    
    <div class="">
    <div class="form-group col-xs-12">
    
    <textarea id="id_message" placeholder="Your message"></textarea>
        </div>
    <div class="col-xs-12">
    <div class="form-btn">
    <button type="submit" class="btn">Submit</button>
    </div>
    </div>
    </div>
    
    </div>
    </form>
    </div>
        </div>
    
    </div>
    </div>
    </section>
    
    
    <section class="newsletter">
    <div class="container">
    <div class="newsletter-content">
    <div class="subscribe-form">
    <div class="row">
    <div class="col-md-6 col-sm-12">
    <h3 class="white">Subscribe to newsletter</h3>
    <p class="white">Enter your mail ID for latest updates, new promotions and offers</p>
    </div>
    <div class="col-md-6 col-sm-12">
    <form>
    <input type="email" placeholder="abc@xyz.com">
    <a href="#">Subscribe</a>
    </form>
    </div>
    </div>
    </div>
    </div>
    </div>
    </section>


{% endblock %}
{% block scripts %}
<script >
    function getDoctorList(){
        $.ajax({
            url: '/api/doctors_info',
            method: 'GET',
            contentType: 'application/json',
        }).done((response)=>{
            console.log(response);
            let doctor_div = '';
            for(var i =0; i < response.length; i++){
                let data = response[i];
                let full_name = data.full_name;
                console.log(full_name);
                const doctor_carausel = `
                    <div class="col-xs-12">
                        <div class="special-main">
                            <div class="special-item">
                                <div class="special-image">
                                    <img src="${data.profile_pic}" alt="image">
                                    <div class="special-links">
                                    <ul>
                                        <li><a href="#appointment"><i class="fa fa-phone" aria-hidden="true"></i></a></li>
                                        <li><a href="#appointment"><i class="fa fa-file-video-o" aria-hidden="true"></i></a></li>
                                    </ul>
                                </div>
                                <div class="color-overlay"></div>
                                </div>
                                <div class="special-content">
                                     <h4>${full_name}</h4>
                                    <p>${data.specialist_type}</p>
                                    <div class="fees">
                                      <a href="#"><p>Consult Now Rs.${data.consultation_fee}/-</p> </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    `;

                    doctor_div += doctor_carausel;
            }
            $("#doctorss_list").html(doctor_div);




        }).fail((error)=>{console.log(error);})

    }
    getDoctorList()

    $('h3 a').click(function(){
        const text = $(this).text();
        //const options = $('#select-specialist option');
        $("div.form-group select").val(text);
    })


/////////////////////  APPOINMENT FORM SUBMITED /////////////////
    $("#appointments-main-form").submit(function(e){
        e.preventDefault();
        e.stopImmediatePropagation();

        let data = {
            name: $('#id_name').val(),
            email: $('#id_email').val(),
            ph_no: $('#id_ph_no').val(),
            gender: $('#id_gender').val(),
            blood_group: $("#id_blood").val(),
            age: $("#id_age").val(),
            speciality: $("#select-specialist").val(),
            city: $("#id_city").val(),
            message: $("#id_message").val()
        };
        $.ajax({
            url: '/api/onlineEnquiry/',
            method: 'POST',
            data: JSON.stringify(data),
            contentType: 'application/json',
        }).done((response)=>{
            console.log(response);
            alert("Your appoinment is booking successful. We are call you soon.");
            $("#appointments-main-form").find("input[type=text], textarea, input[type=tel], input[type=number]").val("")
        })
        .fail((error)=>{
            console.log(error)
        })

    })




</script>
{% endblock %}