{%extends 'website_layout.html'%}
{%load static%}
{% block content%}

    
    <style>
        .service-content{
    height: 180px;
    overflow: hidden;
}
    </style>
    <!-- <section class="slider">
        <div id="x_023_animated_layers" class="">
    
            <div class="carousel-inner" role="listbox">
                <div class="item active">
                    <img src="{%static 'website/img/Main Image1.jpg'%}" alt="">
                </div>
                <div class="item">
                    <img src="{%static 'website/img/Main Image 2.jpg'%}" alt="">
                </div>
                <div class="item">
                    <img src="{%static 'website/img/Main Image 3.jpg'%}" alt="">
                </div>
            </div>
        </div>
    </section> -->
    <section class="slider" style="padding:5% 0 0 0;">

        <div id="x_023_animated_layers" class="carousel slide x_023_animated_layers_indicators x_023_animated_layers_control_button thumb_scroll_x swipe_x ps_easeOutInCubic" data-ride="carousel" data-pause="hover" data-interval="8000" data-duration="1000">
        
        <ol class="carousel-indicators">
        
        <li data-target="#x_023_animated_layers" data-slide-to="0" class="active"></li>
        
        <li data-target="#x_023_animated_layers" data-slide-to="1"></li>
        
        <li data-target="#x_023_animated_layers" data-slide-to="2"></li>
        </ol>
        
        <div class="carousel-inner" role="listbox">
        <div class="item active">
        
        <div class="x_023_animated_layers_content" style="background-image: url({%static 'website/img/Main image 3.jpg'%});background-size: cover;">
        </div> 
        </div> 
        <div class="item">
        
        <div class="x_023_animated_layers_content" style="background-image: url({%static 'website/img/Main Image1.jpg'%});background-size: cover;">
        </div> 
        </div> 
        <div class="item">
        
        <div class="x_023_animated_layers_content" style="background-image: url({%static 'website/img/Main image 2.jpg'%});background-size: cover;">
        </div> 
        </div> 
        </div> 
        
        <a class="left carousel-control" href="#x_023_animated_layers" role="button" data-slide="prev">
        <span class="fa fa-angle-left"></span>
        </a>
        
        <a class="right carousel-control" href="#x_023_animated_layers" role="button" data-slide="next">
        <span class="fa fa-angle-right"></span>
        </a>
        </div> 
        <div class="overlay"></div>
        </section>
    
    <div class="footer">
        <div class="f-contact">
    <div class="row">
    <div class="col-lg-3 col-md-3 col-sm-4 col-12">
    <div class="f-contact-inner heading">
    <div class="contact-title">
        <a href="/login">
            <h3 class="blink-text">
                 Consult Now !!
            </h3>
            </a>
    </div>
    </div>
    </div>
    <div class="col-lg-5 col-md-5 col-sm-8 col-12">
    <div class="f-contact-inner title">
    <div class="contact-title">
    <h4 class="white">Daily consultation available<br> from 9.00 Am to 7:00 Pm</h4>
    </div>
    </div>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-8 col-12">
        <a href="/PatientRegistration" class="btn" data-animation="animated fadeInLeft">Book Appointment</a> 
    <a href="tel:080-4554-9495" class="btn" data-animation="animated fadeInLeft"><i class="fa fa-phone"></i> 080-4554-9495</a>
    </div>
    </div>
    </div>
    </div>
    </div>
    
    <section class="services icon-left">
    <div class="container" id="speciality">
        <div class="row">
        <div class="col-md-4 col-sm-6 col-xs-12">
        <a href="{% url 'website:generalPhysician'%}">
            <div class="service-item">
                <div class="service-icon mar-bottom-20">
                    <img src="{%static 'website/img/stethoscope.png'%}" alt="">
                    <h3 class="spl-text">General Physician</h3>
                </div>
                <div class="service-content">
                    <p><b>We are</b> highly trained doctors who provide a range of non-surgical health care to adult patients. We care for difficult, serious or unusual medical problems and continue to see you patient until these problems have resolved.</p>
                </div>
            </div>
        </a>
      </div>
      <div class="col-md-4 col-sm-6 col-xs-12">
      <a href="{% url 'website:Dermatology'%}">
        <div class="service-item">
            <div class="service-icon mar-bottom-20 child-2">
                <img src="{%static 'website/img/dermatologist.png'%}" alt="">
                <h3 class="spl-text">Dermatologist</h3>
            </div>
            <div class="service-content">
      
                <p><b>We are </b>doctors who specializes in conditions involving the skin, hair, and nails. We can identify and treat more than 3,000 conditions. These conditions include eczema, psoriasis, and skin cancer, among many others. The skin is an incredible organ.</p>
            </div>
        </div>
        </a>
      </div>
        <div class="col-md-4 col-sm-6 col-xs-12">
            <a href="{% url 'website:Pediatrician'%}">
                <div class="service-item">
                    <div class="service-icon mar-bottom-20 child-3">
                        <img src="{%static 'website/img/pediatrician.png'%}" alt="">
                        <h3 class="spl-text">Pediatrician</h3>
                    </div>
                    <div class="service-content">

                        <p><b>We are</b> doctor who manages the physical, behavioural, and mental care for children from birth until age 18. we are trained to diagnose and treat a broad range of childhood illnesses, from minor health problems to serious diseases.</p>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-md-4 col-sm-6 col-xs-12">
            <a href="{% url 'website:Dietitian'%}">
                <div class="service-item">
                    <div class="service-icon mar-bottom-20 child-2">
                        <img src="{%static 'website/img/diet.png'%}" alt="">
                        <h3 class="spl-text">Dietitian</h3>
                    </div>
                    <div class="service-content">
                          <p><b>We are</b> expert human nutrition and the regulation of diet. We alters their patient's nutrition based upon their medical condition and individual needs. We are regulated healthcare professionals licensed to assess, diagnose, and treat nutritional problems.</p>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-md-4 col-sm-6 col-xs-12">
            <a href="{% url 'website:Ayurveda'%}">
                <div class="service-item">
              <div class="service-icon mar-bottom-20 child-3">
                  <img src="{% static 'website/img/ayurveda.png' %}" alt="psychology">
                  <h3><a href="#">Ayurveda</a></h3>
              </div>
              <div class="service-content">
                  <p>Ayurveda or "The Science of Life" places great emphasis on prevention and encourages the maintenance of health through close attention to balance in one's life, right thinking, diet, lifestyle and the use of herbs. <br><br></p>
              </div>
          </div>
            </a>
          
      </div>
        <div class="col-md-4 col-sm-6 col-xs-12">
            <a href="{% url 'website:Gynaecology'%}">
                <div class="service-item">
                 <div class="service-icon mar-bottom-20">
                <img src="{%static 'website/img/gynecology.png'%}" alt="">
                <h3 class="spl-text">Gynaecologist</h3>
                </div>
                <div class="service-content">
  
                <p><b>We are</b> Doctors here to treat the overall health of our female patients, treating problems and diseases of the female reproductive system such as breast and hormonal problems, urinary tract and pelvic disorders, and cancer of the cervix.</p>
                </div>
                </div>
            </a>
        </div>
        <div class="col-md-4 col-sm-6 col-xs-12">
          <a href="{% url 'website:Orthopadic'%}">
              <div class="service-item">
               <div class="service-icon mar-bottom-20">
              <img src="{%static 'website/img/ortho.png'%}" alt="">
              <h3 class="spl-text">Orthopadic</h3>
              </div>
              <div class="service-content">
  
              <p>Orthopedist focus on the treatment & prevention of skeletal deformities such as disorders of the bones, joints, muscles, ligaments, tendons, nerves and skin. They treat fractures and dislocations, sports injuries, sciatica, low back pain, ruptured disks and scoliosis, knock knees, bow legs, bunions and hammer toes, arthritis, osteoporosis and more.</p>
              </div>
              </div>
          </a>
      </div>
      <div class="col-md-4 col-sm-6 col-xs-12">
          <a href="{% url 'website:ENT'%}">
              <div class="service-item">
               <div class="service-icon mar-bottom-20">
              <img src="{%static 'website/img/ENT.png'%}" alt="">
              <h3 class="spl-text">ENT</h3>
              </div>
              <div class="service-content">
  
              <p>ENT doctor specializes in treatment of ear, nose and throat and related areas in your head and neck. They treat ear infection, hearing loss, trouble with balance, allergies, sinusitis, tonsillitis, swallowing and voice issues. They can also help with snoring or apnea</p>
              </div>
              </div>
          </a>
      </div>
      <div class="col-md-4 col-sm-6 col-xs-12">
          <a href="{% url 'website:Gastroentrology'%}">
              <div class="service-item">
               <div class="service-icon mar-bottom-20">
              <img src="{%static 'website/img/gas.png'%}" alt="">
              <h3 class="spl-text">Gastroentrology</h3>
              </div>
              <div class="service-content">
  
              <p>Gastroenterologist specializes in health of gastrointenstinal tract and liver. They treat abdominal pain, blood in stool, hepatitis, ulcers, gallblader and colon diseases, pancreatitis and perform various endoscopy and colonoscopy procedures.</p>
              </div>
              </div>
          </a>
      </div>
      </div>
      </div>
    
    </section>
    
    <section class="specialist ">
    <div class="container">
    <div class="row">
    <div class="col-xs-12">
    <div class="section-title">
    <h2>Our <span>Doctor's</span></h2>
    </div>
    </div>
    </div>
    <div class=" row">
    <div  class="col-lg-3 col-md-3 col-xs-6">
    <div  class="special-main">
    <div class="special-item">
    <div class="special-image">
    <img src="{%static 'website/img/specialist4.jpg'%}" alt="Doctor Photo">
    <div class="special-links">
    <ul>
    <li><a href="/login"><i class="fa fa-phone" aria-hidden="true"></i></a></li>
    <li><a href="/login"><i class="fa fa-file-video-o" aria-hidden="true"></i></a></li>
    </ul>
    </div>
    <div class="color-overlay"></div>
    </div>
    <div class="special-content">
     <h4>DR. Cristoher</h4>
    <p>General Physician</p>
    </div>
    </div>
    </div>
    </div>
    <div  class="col-lg-3 col-md-3 col-xs-6">
    <div  class="special-main">
    <div class="special-item">
    <div class="special-image">
    <img src="{%static 'website/img/specialist3.jpg'%}" alt="Doctor Photo">
    <div class="special-links">
    <ul>
    <li><a href="/login"><i class="fa fa-phone" aria-hidden="true"></i></a></li>
    <li><a href="/login"><i class="fa fa-file-video-o" aria-hidden="true"></i></a></li>
    </ul>
    </div>
    <div class="color-overlay"></div>
    </div>
    <div class="special-content">
     <h4>Dr. Nicole</h4>
    <p>Dietitian</p>
    </div>
    </div>
    </div>
    </div>
    <div  class="col-lg-3 col-md-3 col-xs-6">
    <div  class="special-main">
    <div class="special-item">
    <div class="special-image">
    <img src="{%static 'website/img/specialist2.jpg'%}" alt="Doctor Photo">
    <div class="special-links">
    <ul>
    <li><a href="/login"><i class="fa fa-phone" aria-hidden="true"></i></a></li>
    <li><a href="/login"><i class="fa fa-file-video-o" aria-hidden="true"></i></a></li>
    </ul>
    </div>
    <div class="color-overlay"></div>
    </div>
    <div class="special-content">
     <h4>Dr. Sandra Dicosta</h4>
    <p>Dermatologist</p>
    </div>
    </div>
    </div>
    </div>
    <div  class="col-lg-3 col-md-3 col-xs-6">
    <div  class="special-main">
    <div class="special-item">
    <div class="special-image">
    <img src="{%static 'website/img/specialist1.jpg'%}" alt="Doctor Photo">
    <div class="special-links">
    <ul>
    <li><a href="/login"><i class="fa fa-phone" aria-hidden="true"></i></a></li>
    <li><a href="/login"><i class="fa fa-file-video-o" aria-hidden="true"></i></a></li>
    </ul>
    </div>
    <div class="color-overlay"></div>
    </div>
    <div class="special-content">
     <h4>Dr. Andrew</h4>
    <p>Pediatrician</p>
    </div>
    </div>
    </div>
    </div>
    </div>
    </div>
    </section>
    
    <section class="news icon-left">
    <div class="container">
    <div class="row">
    <div class="col-xs-12">
    <div class="section-title text-left">
    <h2> <span>Partner</span> Hospitals</h2>
    </div>
    </div>
    </div>
    <div class="row">
    <div class="col-md-3 col-xs-3"><img src="{%static 'website/img/l1.png'%}" alt="Hospital Logo">
    </div>
    <div class="col-md-3 col-xs-3"><img src="{%static 'website/img/l2.jpg'%}" alt="Hospital Logo">
    </div>
    <div class="col-md-3 col-xs-3"> <img src="{%static 'website/img/l3.jpg'%}" alt="Hospital Logo">
    </div>
    <div class="col-md-3 col-xs-3"><img src="{%static 'website/img/l4.jpg'%}" alt="Hospital Logo">
    </div>
    
    </div>
    </div>
    </section>
    
    <section class="testimonial">
    <div  class="container">
    <div class="row">
    <div class="col-md-12 col-sm-12">
    <div class="section-title title-white mar-0">
    <h2>Reviews</h2>
    </div>
    </div>
    <div class="col-md-12 col-sm-12">
    <div class="row testimonial-slider">
    <div class="col-lg-6 col-xs-12">
    <div class="slider-item">
    <div class="slider-content">
    <div class="quote-icon">
    <img src="{%static 'website/img/quote-icon-1.png'%}" alt="Reviews Icon">
    </div>
    <div class="slider-author clearfix">
    <div class="testimonial-image mar-bottom-20">
    <img src="{%static 'website/img/about-us.jpg'%}" alt="Reviews Icon">
    </div>
    <div class="author-content pad-top-10">
    <h3 class="mar-bottom-0">Kushal S</h3>
    </div>
    </div>
    <div class="rating">
    <span class="fa fa-star checked"></span>
    <span class="fa fa-star checked"></span>
    <span class="fa fa-star checked"></span>
    <span class="fa fa-star"></span>
    <span class="fa fa-star"></span>
    </div>
    <p>It is easy to consult doctor through online video audio or chat with a doctor it is a advance process where we can consult to doctor anywhere any time where ever u are join Doctor Plus makes life simple and healthy </p>
    </div>
    </div>
    </div>
    <div class="col-xs-12">
    <div class="slider-item">
    <div class="slider-content">
    <div class="quote-icon">
    <img src="{%static 'website/img/quote-icon-1.png'%}" alt="Reviews Icon">
    </div>
    <div class="slider-author clearfix">
    <div class="testimonial-image mar-bottom-20">
    <img src="{%static 'website/img/about-us.jpg'%}" alt="Reviews Icon">
    </div>
     <div class="author-content pad-top-10">
    <h3 class="mar-bottom-0">Pavana Anand</h3>
    </div>
    </div>
    <div class="rating">
    <span class="fa fa-star checked"></span>
    <span class="fa fa-star checked"></span>
    <span class="fa fa-star checked"></span>
    <span class="fa fa-star"></span>
    <span class="fa fa-star"></span>
    </div>
    <p>The best and easiest way to get consultation on phone/chat or video calls ,this is very useful especially for the employees who have busy work schedule .it saves money as well as our precious time .</p>
    </div>
    </div>
    </div>
    <div class="col-xs-12">
    <div class="slider-item">
    <div class="slider-content">
    <div class="quote-icon">
    <img src="{%static 'website/img/quote-icon-1.png'%}" alt="Reviews Icon">
    </div>
    <div class="slider-author clearfix">
    <div class="testimonial-image mar-bottom-20">
    <img src="{%static 'website/img/about-us.jpg'%}" alt="Reviews Icon">
    </div>
    <div class="author-content pad-top-10">
    <h3 class="mar-bottom-0">Nikhil D'Souza</h3>
    </div>
    </div>
    <div class="rating">
    <span class="fa fa-star checked"></span>
    <span class="fa fa-star checked"></span>
    <span class="fa fa-star checked"></span>
    <span class="fa fa-star"></span>
    <span class="fa fa-star"></span>
    </div>
    <p>No need to rush to the hospital every now and then Or we can say that our health is in our pocket now. Great idea !!</p>
    </div>
    </div>
    </div>
    <div class="col-xs-12">
    <div class="slider-item">
    <div class="slider-content">
    <div class="quote-icon">
    <img src="{%static 'website/img/quote-icon-1.png'%}" alt="Reviews Icon">
    </div>
    <div class="slider-author clearfix">
    <div class="testimonial-image mar-bottom-20">
    <img src="{%static 'website/img/about-us.jpg'%}" alt="Reviews Icon">
    </div>
    <div class="author-content pad-top-10">
    <h3 class="mar-bottom-0">Namith Sharma</h3>
    </div>
    </div>
    <div class="rating">
    <span class="fa fa-star checked"></span>
    <span class="fa fa-star checked"></span>
    <span class="fa fa-star checked"></span>
    <span class="fa fa-star"></span>
    <span class="fa fa-star"></span>
    </div>
    <p>Saves lots of time and hassle of looking for doctor, just what i needed on my trip to a different state. Thank you Doctor Plus, Keep up the good service.
I also liked the way doctors spoke and understood the problem.</p>
    </div>
    </div>
    </div>
    <div class="col-xs-12">
    <div class="slider-item">
    <div class="slider-content">
    <div class="quote-icon">
    <img src="{%static 'website/img/quote-icon-1.png'%}" alt="Reviews Icon">
    </div>
    <div class="slider-author clearfix">
    <div class="testimonial-image mar-bottom-20">
    <img src="{%static 'website/img/about-us.jpg'%}" alt="Reviews Icon">
    </div>
    <div class="author-content pad-top-10">
    <h3 class="mar-bottom-0">Kavya Varma</h3>
    </div>
    </div>
    <div class="rating">
    <span class="fa fa-star checked"></span>
    <span class="fa fa-star checked"></span>
    <span class="fa fa-star checked"></span>
    <span class="fa fa-star"></span>
    <span class="fa fa-star"></span>
    </div>
    <p>Liked the service, doctors understood clearly my problem. The medicine given was very effective, i was feeling better in just 2 days. Thank you DP</p>
    </div>
    </div>
    </div>
    
    </div>
    </div>
    </div>
    <span  id="appointment"></span>
    </div>
    <div class="overlay"></div>
    </section>
{% endblock %}
{% block scripts %}
{% endblock %}