{%extends 'website_layout.html'%}
{%load static%}
{% block content%}
<style>
    .register .nav-tabs{
    margin-bottom: 3%;
    border: none;
    background: #0b818b;
    border-radius: 1.5rem;
    width: 37%;
}
.register .nav-tabs .nav-link{
    padding-top: 2%;
    padding-bottom: 2%;
    height: 34px;
    font-weight: 600;
    color: #fff;
    border-top-right-radius: 1.5rem;
    border-bottom-right-radius: 1.5rem;
}
.register .nav-tabs .nav-item a:hover{
    border: none;
    color:#0b818b
}
.register .nav-tabs .nav-item.active a{
    width: 100px;
    color: #0b818b;
    border: 2px solid #0b818b;
    border-top-left-radius: 1.5rem;
    border-bottom-left-radius: 1.5rem;
    background-color: #fff;
}
</style>
<section class="breadcrumb">
    <div class="container">
    <div class="breadcrumb-outer">
    <nav aria-label="breadcrumb">
    <ul class="breadcrumb">
    <li class="breadcrumb-item"><a href="{% url 'website:index'%}">Home</a></li>
    <li class="breadcrumb-item active" aria-current="page">Login</li>
    </ul>
    </nav>
    <h2>Login</h2>
    </div>
    </div>
    </section>
    <section class="login">
    <div class="container">
    <div class="row">
    <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
    <div class="login-form">
    <form id="loging_in">
        <div class="row">
            <div class="col-xs-12">
                <div class="form-title">
                    <h2>Login</h2>
                    <p>Login with your registered details</p>
                </div>
            </div>
            <div class="col-md-12 register">
                <label>You are a</label>
                <ul class="nav nav-tabs nav-justified" id="myTab" role="tablist">
                    <li id="Patient" class="nav-item active">
                        <a class="nav-link" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Patient</a>
                    </li>
                    <li id="Doctor" class="nav-item">
                        <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Doctor</a>
                    </li>
                </ul>
            </div>
            <div class="form-group col-xs-12">
                <input id="user_type" type="hidden" value="P">
                <label for="Name1">Phone Number</label>
                <input type="text" class="form-control" id="Name1" placeholder="Enter registered phone number">
            </div>
            <div class="form-group col-xs-12">
            <label for="email1">Password</label>
                <input type="password" class="form-control" id="email1" placeholder="Enter password">
            </div>
            <div class="col-xs-12">
                <div class="checkbox-outer">
                     <a href="{% url 'website:forgot_pass'%}"> Forgot Password?</a>
                </div>
            </div>
            <div class="col-xs-12">
                <div class="comment-btn">
                    <button type="submit" class="btn">Login</button>

                </div>
            </div>
            <div class="col-xs-12" >
                <p style="padding: 15px 0;">Not a Member? <a id="redirectTo" href='/PatientRegistration'>Register Here</a></p>
            </div>
            
        </div>
    </form>
        <!-- <a href="">Login with Google</a> -->
    </div>
    </div>
    <!--
    <div class="col-md-6 col-sm-6 col-xs-12">
    <div class="login-form">
    <form>
    <div class="row">
    <div class="col-xs-12">
    <div class="form-title">
    <h2>Register</h2>
    <p>Enter your details to become a member</p>
    </div>
    </div>
    <div class="">
    <div class="form-group col-md-6 col-xs-12">
    <input type="text" placeholder="Your Name" required>
    </div>
    <div class="form-group col-md-6 col-xs-12">
    
    <input type="text" placeholder="Your Email" required>
    </div>
    <div class="form-group col-md-6 col-xs-12">
    
    <input type="tel" placeholder="Your Phone"  minlength="10" maxlength="10" size="10" required>
    </div>
    <div class="form-group col-md-6 col-xs-12">
    
    <input type="text" placeholder="Your City">
    </div>
    <div class="form-group col-md-6 col-xs-12">
    <select>
    <option>Gender</option>
    <option>Male</option>
    <option>Female</option>
    </select>
    </div>
    <div class="form-group col-md-6 col-xs-12">
    
    <input type="number" placeholder="Age" min="1" max="100">
    </div>
    </div>
    
    
    
    
    <div class="">
    <div class="col-xs-12">
    <div class="form-btn">
      <button type="submit" class="btn">Submit</button>
    </div>
    </div>
    </div>
    
    </div>
    </form>
    </div>
    </div>-->
    </div>
    </div>
    </section>
    
  
{%endblock%}
{% block scripts %}
    <script>
        // post url= '/api/auth/login/'
        //
        // data= 'username', 'password', 'user_type=P',
        // if  status=200 redirect to '/patients/dashoard/'
            // patient tocken store to localstorage
        // else aleart message
        jQuery(document).ready(function($){
            $('#myTab li:first-child').click(()=>{
                console.log('clicked');
                $('#user_type').val('P')
                $('#redirectTo').attr('href', "/PatientRegistration")
                $('label[for="Name1"]').html('Phone Number')
                $('#Name1').attr('placeholder','Enter registered phone number')
                $('#myTab #Doctor').removeClass('active')
                $('#myTab #Patient').addClass('active')
                return false
            })

            $('#myTab:nth-child(2)').click(()=>{
                console.log('clicked');
                $('#user_type').val('D');
                $('#redirectTo').attr('href', "/doctor_reg")
                $('label[for="Name1"]').html('Doctor ID')
                $('#Name1').attr('placeholder','Enter Doctor ID')
                $('#myTab #Patient').removeClass('active')
                $('#myTab #Doctor').addClass('active')
                return false
            })

            function submit_doctor_loginForm(){
                console.log('doctorsUpload');
            var data = {
                    username: 'DPDOC2020001',
                    password: '12345',
                    user_type: 'D'
                }

                $.ajax({
                    url: '/api/auth/login',
                    data: JSON.stringify(data),
                    method: 'POST',
                    contentType: 'application/json'
                }).done((response) => {
                    $.cookie('DoctorToken', response.token, {
                        expires: 1
                    })
                    window.location.href = '/doctors/dashboard'
                }).fail((err, error, wrong) => {
                    console.log(err)
                    alert(err.responseJSON.non_field_errors[0])
                })
        }

        function submit_loginForm(){
           
            var data = {
                    username: '9945981381',
                    password: '1234',
                    user_type: 'P'
                }
                $.ajax({
                    url: '/api/auth/login',
                    data: JSON.stringify(data),
                    method: 'POST',
                    contentType: 'application/json'
                }).done((response) => {
                    $.cookie('Token', response.token, {
                        expires: 1
                    })
                    window.location.href = 'patients/dashboard'
                }).fail((err, error, wrong) => {
                    console.log(err)
                    alert(err.responseJSON.non_field_errors[0])
                })
        }

        $("#loging_in").submit((e)=>{
            e.preventDefault();
            e.stopImmediatePropagation();
            const data = {
                username: $('#Name1').val(),
                password: $('#email1').val(),
                user_type: $('#user_type').val()
            };
            console.log(data);
            $.ajax({
                    url: '/api/auth/login',
                    data: JSON.stringify(data),
                    method: 'POST',
                    contentType: 'application/json'
                }).done((response) => {
                    if (data.user_type == "P") {
                        $.cookie('Token', response.token, {
                        expires: 1
                        })
                        window.location.href = 'patients/dashboard'    
                    }
                    else{
                        $.cookie('DoctorToken', response.token, {
                        expires: 1
                        })
                        window.location.href = '/doctors/dashboard'
                    }
                    
                }).fail((err, error, wrong) => {
                    console.log(err)
                    alert(err.responseJSON.non_field_errors[0])
                })

        })

    })


    </script>
{% endblock %}