{%extends 'website_layout.html'%}
{%load static%}
{% block content%}
<style>
    .register .nav-tabs{
    margin-bottom: 3%;
    border: none;
    background: #0b818b;
    border-radius: 1.5rem;
    width: 37%;
}
.register .nav-tabs .nav-link{
    padding-top: 2%;
    padding-bottom: 2%;
    height: 34px;
    font-weight: 600;
    color: #fff;
    border-top-right-radius: 1.5rem;
    border-bottom-right-radius: 1.5rem;
}
.register .nav-tabs .nav-item a:hover{
    border: none;
    color:#0b818b
}
.register .nav-tabs .nav-item.active a{
    width: 100px;
    color: #0b818b;
    border: 2px solid #0b818b;
    border-top-left-radius: 1.5rem;
    border-bottom-left-radius: 1.5rem;
    background-color: #fff;
}
</style>
<section class="breadcrumb">
    <div class="container">
    <div class="breadcrumb-outer">
    <nav aria-label="breadcrumb">
    <ul class="breadcrumb">
    <li class="breadcrumb-item"><a href="{% url 'website:index'%}">Home</a></li>
    <li class="breadcrumb-item active" aria-current="page">Login</li>
    </ul>
    </nav>
    <h2>Login</h2>
    </div>
    </div>
    </section>
   <section class="login icon-left">
<div class="container">
<div class="row" >
<div class="col-md-12 col-sm-12 col-xs-12">
<div class="login-form" style="padding: 0 10%;">
    <form id="loging_in" style="padding: 30px 20%;">
        <div class="row">
            <div class="col-12 col-sm-12">
                <div class="form-title">
                    <h2>Login</h2>
                    <p>Login with your registered details</p>
                </div>
            </div>
            <div class="col-12 col-sm-12 register">
                <ul class="nav nav-tabs nav-justified" id="myTab" role="tablist">
                    <li id="Patient" class="nav-item active">
                        <a class="nav-link" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Patient</a>
                    </li>
                    <li id="Doctor" class="nav-item">
                        <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Doctor</a>
                    </li>
                </ul>
            </div>
            <div class="form-group col-12 col-sm-12">
                <input id="user_type" type="hidden" value="P">
                <label for="Name1">Phone Number or Patient ID</label>
                <input type="text" class="form-control" id="Name1" placeholder="Phone Number or Patient ID">
            </div>
            <div class=" form-group col-12 col-sm-12">
            <div class="col-xs-6"><label for="email1">Password</label></div>
               <div class="col-xs-6" style="text-align: end;color: #3a85f5;"><a href="">Show</a></div>
                <input type="password" class="form-control" id="email1" placeholder="Enter password">
            </div>
            <div class="col-12 col-sm-12">
<div class="checkbox-outer">
<input type="checkbox" name="vehicle2" value="Car"> Keep me signed in
</div>
</div>
            <div class="col-12 col-sm-12">
                <div class="comment-btn" style="text-align: center;">
                    <button type="submit" class="btn btn-block">Login</button>
                </div>
            </div><br>
            <div class="col-12 col-sm-12">
            <p style="text-align: center;padding: 20px 0;">Or sign in with</p>
            </div>
            <a  href="/PatientRegistration">
             <div class="col-lg-5 col-sm-12 text-primary" style="padding: 10px 30px;text-align: center; border: 1px solid;margin: 18px;">
                    <i class="fa fa-facebook"></i> Facebook
                </div>
                 </a>
                  <a  href="/PatientRegistration">
             <div class="col-lg-5 col-sm-12" style="padding: 10px 30px;text-align: center;border: 1px solid;margin: 18px;">
                    <i class="fa fa-google"></i> Google
                </div>
                 </a>
                 <div class="col-12 col-sm-12">
<div class="checkbox-outer"><a href="/forgot-password" style="color: #3a85f5;"> Forgot Password? </a>&nbsp;  Not a registered user &nbsp;<a href="/PatientRegistration" id ="redirectTo" style="color: #3a85f5;"> Register here </a>
</div>
</div>
            
        </div>
    </form>
</div>
</div>
</div>
</div>
</section>
    
  
{%endblock%}
{% block scripts %}
    <script>
        // post url= '/api/auth/login/'
        //
        // data= 'username', 'password', 'user_type=P',
        // if  status=200 redirect to '/patients/dashoard/'
            // patient tocken store to localstorage
        // else aleart message
        jQuery(document).ready(function($){
            $('#myTab li:first-child').click(()=>{
                console.log('clicked');
                $('#user_type').val('P')
                $('#redirectTo').attr('href', "/PatientRegistration")
                $('label[for="Name1"]').html('Phone Number or Patient ID')
                $('#Name1').attr('placeholder','Phone Number or Patient ID')
                $('#myTab #Doctor').removeClass('active')
                $('#myTab #Patient').addClass('active')
                return false
            })

            $('#myTab #Doctor').click(()=>{
                console.log('clicked');
                $('#user_type').val('D');
                $('#redirectTo').attr('href', "/doctor_reg")
                $('label[for="Name1"]').html('Phone Number or Doctor ID')
                $('#Name1').attr('placeholder','Phone Number or Doctor ID')
                $('#myTab #Patient').removeClass('active')
                $('#myTab #Doctor').addClass('active')
                return false
            })

            function submit_doctor_loginForm(){
                console.log('doctorsUpload');
            var data = {
                    username: 'DPDOC2020001',
                    password: '12345',
                    user_type: 'D'
                }

                $.ajax({
                    url: '/api/auth/login',
                    data: JSON.stringify(data),
                    method: 'POST',
                    contentType: 'application/json'
                }).done((response) => {
                    $.cookie('DoctorToken', response.token, {
                        expires: 1
                    })
                    window.location.href = '/doctors/dashboard'
                }).fail((err, error, wrong) => {
                    console.log(err)
                    alert(err.responseJSON.non_field_errors[0])
                })
        }

        function submit_loginForm(){
           
            var data = {
                    username: '9945981381',
                    password: '1234',
                    user_type: 'P'
                }
                $.ajax({
                    url: '/api/auth/login',
                    data: JSON.stringify(data),
                    method: 'POST',
                    contentType: 'application/json'
                }).done((response) => {
                    $.cookie('Token', response.token, {
                        expires: 1
                    })
                    window.location.href = 'patients/dashboard'
                }).fail((err, error, wrong) => {
                    console.log(err)
                    alert(err.responseJSON.non_field_errors[0])
                })
        }

        $("#loging_in").submit((e)=>{
            e.preventDefault();
            e.stopImmediatePropagation();
            const data = {
                username: $('#Name1').val(),
                password: $('#email1').val(),
                user_type: $('#user_type').val()
            };
            console.log(data);
            $.ajax({
                    url: '/api/auth/login',
                    data: JSON.stringify(data),
                    method: 'POST',
                    contentType: 'application/json'
                }).done((response) => {
                    if (data.user_type == "P") {
                        $.cookie('Token', response.token, {
                        expires: 1
                        })
                        window.location.href = 'patients/dashboard'    
                    }
                    else{
                        $.cookie('DoctorToken', response.token, {
                        expires: 1
                        })
                        window.location.href = '/doctors/dashboard'
                    }
                    
                }).fail((err, error, wrong) => {
                    console.log(err)
                    alert(err.responseJSON.non_field_errors[0])
                })

        })

    })


    </script>
{% endblock %}