{%extends 'website_layout.html'%}
{%load static%}
{% block content%}
<style>
    .register .nav-tabs{
    margin-bottom: 3%;
    border: none;
    background: #0b818b;
    border-radius: 1.5rem;
    width: 37%;
}
.register .nav-tabs .nav-link{
    padding-top: 2%;
    padding-bottom: 2%;
    height: 34px;
    font-weight: 600;
    color: #fff;
    border-top-right-radius: 1.5rem;
    border-bottom-right-radius: 1.5rem;
}
.register .nav-tabs .nav-item a:hover{
    border: none;
    color:#0b818b
}
.register .nav-tabs .nav-item.active a{
    width: 100px;
    color: #0b818b;
    border: 2px solid #0b818b;
    border-top-left-radius: 1.5rem;
    border-bottom-left-radius: 1.5rem;
    background-color: #fff;
}
</style>
<section class="breadcrumb">
    <div class="container">
    <div class="breadcrumb-outer">
    <nav aria-label="breadcrumb">
    <ul class="breadcrumb">
    <li class="breadcrumb-item"><a href="{% url 'website:index'%}">Home</a></li>
    <li class="breadcrumb-item active" aria-current="page">Register</li>
    </ul>
    </nav>
    <h2>Register</h2>
    </div>
    </div>
    </section>
    <section class="login">
    <div class="container">
    <div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
    <div class="login-form">
    <form id="loging_in">
        <div class="row">
            <div class="col-xs-12">
                <div class="form-title">
                    <h2>Register</h2>
                    <p>Enter your details to become a member</p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
 <div class="form-group col-xs-12">
                <input id="user_type" type="hidden" value="P">
                <label for="Name1">Full Name</label>
                <input type="text" class="form-control" id="Name1" placeholder="Enter registered phone number">
            </div>
            <div class="form-group col-xs-12">
                <input id="user_type" type="hidden" value="P">
                <label for="Name1">Phone Number</label>
                <input type="text" class="form-control" id="Name1" placeholder="Enter registered phone number">
            </div>
            <div class="form-group col-xs-12">
                <input id="user_type" type="hidden" value="P">
                <label for="Name1">Email Address(optional)</label>
                <input type="text" class="form-control" id="Name1" placeholder="Enter registered phone number">
            </div>
            <div class="form-group col-xs-12">
            <label for="email1">Password</label>
                <input type="password" class="form-control" id="email1" placeholder="Enter password">
            </div>
            <div class="form-group col-xs-12">
                <label for="email1">Age</label>
                <input type="number" class="form-control" id="email1" placeholder="Enter Age">
            </div>
          >
                </div>
                <div class="col-md-6">
              <div class="form-group col-xs-12">
                <label for="email1">Gender</label>
                <select name="" id="">
                    <option value="">Select Gender</option>
                    <option value="Male">Male</option>
                    <option value="Female">Female</option>
                </select>   
            </div>
            <div class="form-group col-xs-12">
                <label for="email1">Blood Group</label>
                <select name="" id="">
                    <option value="">Select Blood Group</option>
                    <option value="A+">A+</option>
                    <option value="B+">B+</option>
                    <option value="AB+">AB+</option>
                    <option value="O+">O+</option>
                    <option value="A-">A-</option>
                    <option value="B-">B-</option>
                    <option value="AB-">AB-</option>
                    <option value="O-">O-</option>
                </select>   
            </div>
            <div class="form-group col-xs-12">
                <label for="email1">Height</label>
                <input type="number" class="form-control" id="email1" placeholder="Enter Height">
            </div>
            <div class="form-group col-xs-12">
                <label for="email1">Weight</label>
                <input type="number" class="form-control" id="email1" placeholder="Enter Weight">
            </div>

            <div class="col-xs-12">
                <div class="comment-btn">
                    <button type="submit" class="btn pull-right">Signup</a>
                </div>
            </div>
                </div>
            </div>
           
           
            
        </div>
    </form>
    </div>
    </div>
    <!--
    <div class="col-md-6 col-sm-6 col-xs-12">
    <div class="login-form">
    <form>
    <div class="row">
    <div class="col-xs-12">
    <div class="form-title">
    <h2>Register</h2>
    <p>Enter your details to become a member</p>
    </div>
    </div>
    <div class="">
    <div class="form-group col-md-6 col-xs-12">
    <input type="text" placeholder="Your Name" required>
    </div>
    <div class="form-group col-md-6 col-xs-12">
    
    <input type="text" placeholder="Your Email" required>
    </div>
    <div class="form-group col-md-6 col-xs-12">
    
    <input type="tel" placeholder="Your Phone"  minlength="10" maxlength="10" size="10" required>
    </div>
    <div class="form-group col-md-6 col-xs-12">
    
    <input type="text" placeholder="Your City">
    </div>
    <div class="form-group col-md-6 col-xs-12">
    <select>
    <option>Gender</option>
    <option>Male</option>
    <option>Female</option>
    </select>
    </div>
    <div class="form-group col-md-6 col-xs-12">
    
    <input type="number" placeholder="Age" min="1" max="100">
    </div>
    </div>
    
    
    
    
    <div class="">
    <div class="col-xs-12">
    <div class="form-btn">
      <button type="submit" class="btn">Submit</button>
    </div>
    </div>
    </div>
    
    </div>
    </form>
    </div>
    </div>-->
    </div>
    </div>
    </section>
    
    <section class="newsletter">
      <div class="container">
      <div class="newsletter-content">
      <div class="subscribe-form">
      <div class="row">
      <div class="col-md-6 col-sm-12">
      <h3 class="white">Subscribe to newsletter</h3>
      <p class="white">Enter your mail ID for latest updates, new promotions and offers</p>
      </div>
      <div class="col-md-6 col-sm-12">
      <form>
      <input type="email" placeholder="abc@xyz.com">
      <a href="#">Subscribe</a>
      </form>
      </div>
      </div>
      </div>
      </div>
      </div>
      </section>
{%endblock%}
{% block scripts %}
    <script>
        // post url= '/api/auth/login/'
        //
        // data= 'username', 'password', 'user_type=P',
        // if  status=200 redirect to '/patients/dashoard/'
            // patient tocken store to localstorage
        // else aleart message
        jQuery(document).ready(function($){
            $('#myTab li:first-child').click(()=>{
                console.log('clicked');
                $('#user_type').val('P')
                $('label[for="Name1"]').html('Phone Number')
                $('#Name1').attr('placeholder','Enter registered phone number')
                $('#myTab #Doctor').removeClass('active')
                $('#myTab #Patient').addClass('active')
                return false
            })

            $('#myTab:nth-child(2)').click(()=>{
                console.log('clicked');
                $('#user_type').val('D');
                $('label[for="Name1"]').html('Doctor ID')
                $('#Name1').attr('placeholder','Enter Doctor ID')
                $('#myTab #Patient').removeClass('active')
                $('#myTab #Doctor').addClass('active')
                return false
            })

            function submit_doctor_loginForm(){
                console.log('doctorsUpload');
            var data = {
                    username: 'DPDOC2020001',
                    password: '12345',
                    user_type: 'D'
                }

                $.ajax({
                    url: '/api/auth/login',
                    data: JSON.stringify(data),
                    method: 'POST',
                    contentType: 'application/json'
                }).done((response) => {
                    $.cookie('DoctorToken', response.token, {
                        expires: 1
                    })
                    window.location.href = '/doctors/dashboard'
                }).fail((err, error, wrong) => {
                    console.log(err)
                    alert(err.responseJSON.non_field_errors[0])
                })
        }

        function submit_loginForm(){
           
            var data = {
                    username: '9945981381',
                    password: '1234',
                    user_type: 'P'
                }
                $.ajax({
                    url: '/api/auth/login',
                    data: JSON.stringify(data),
                    method: 'POST',
                    contentType: 'application/json'
                }).done((response) => {
                    $.cookie('Token', response.token, {
                        expires: 1
                    })
                    window.location.href = 'patients/dashboard'
                }).fail((err, error, wrong) => {
                    console.log(err)
                    alert(err.responseJSON.non_field_errors[0])
                })
        }

        $("#loging_in").submit((e)=>{
            e.preventDefault();
            e.stopImmediatePropagation();
            const data = {
                username: $('#Name1').val(),
                password: $('#email1').val(),
                user_type: $('#user_type').val()
            };
            console.log(data);
            $.ajax({
                    url: '/api/auth/login',
                    data: JSON.stringify(data),
                    method: 'POST',
                    contentType: 'application/json'
                }).done((response) => {
                    if (data.user_type == "P") {
                        $.cookie('Token', response.token, {
                        expires: 1
                        })
                        window.location.href = 'patients/dashboard'    
                    }
                    else{
                        $.cookie('DoctorToken', response.token, {
                        expires: 1
                        })
                        window.location.href = '/doctors/dashboard'
                    }
                    
                }).fail((err, error, wrong) => {
                    console.log(err)
                    alert(err.responseJSON.non_field_errors[0])
                })

        })

    })


    </script>
{% endblock %}