{%extends 'website_layout.html'%}
{%load static%}
{% block content%}

<section class="breadcrumb">
    <div class="container">
        <div class="breadcrumb-outer">
            <nav aria-label="breadcrumb">
                <ul class="breadcrumb">
                    <li class="breadcrumb-item"><a href="{% url 'website:index'%}">Home</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Individual</li>
                </ul>
            </nav>
            <h2>Choose your plan</h2>
        </div>
    </div>
</section>

<section class="timetable">
    <div class="container">
    <div class="timetable-content">
    <table class="table tt-table table-bordered">
    <thead>
    <tr>
    <th></th>
    <th></th>
    <th colspan="3" style="background-color: #8dc73f;color: #fff;">Family</th>
    <th></th>
    </tr>
    <tr style="background-color: #1f3864;color: #fff;">
    <th>Details of Plan</th>
    <th>Individual</th>
    <th>You + 1</th>
    <th>You + 2</th>
    <th>You + 3</th>
    <th>Senior Citizens</th>
    </tr>
    </thead>
    <tbody>
    <tr>
    <th>Coverage</th>
    <th>One</th>
    <th>You + 1 Child</th>
    <th>You + 1 Adult + 1 Child</th>
    <th>You + 1 Adult + 2 Child</th>
    <th>One</th>
    </tr>
    <tr>
    <th>Validity</th>
    <th>10 Consults</th>
    <th>15 Consults</th>
    <th>15 Consults</th>
    <th>15 Consults</th>
    <th>One Month</th>
    </tr>
    <tr>
    <th>Free Video / Audio Consult</th>
    <th>YES</th>
    <th>YES</th>
    <th>YES</th>
    <th>YES</th>
    <th>YES</th>
    </tr>
    <tr>
    <th>Unlimited Consult / Month</th>
    <th>NO</th>
    <th>NO</th>
    <th>NO</th>
    <th>NO</th>
    <th>UNLIMITED</th>
    </tr>
    <tr>
    <th>Lab Discounts</th>
    <th>YES</th>
    <th>YES</th>
    <th>YES</th>
    <th>YES</th>
    <th>YES</th>
    </tr>
    <tr>
    <th>Free Follow up</th>
    <th>2 Free</th>
    <th>2 Free</th>
    <th>2 Free</th>
    <th>2 Free</th>
    <th>4 Free</th>
    </tr>
    <tr>
    <th>Report Storage</th>
    <th>YES</th>
    <th>YES</th>
    <th>YES</th>
    <th>YES</th>
    <th>YES</th>
    </tr>
    <tr>
    <th>Speciality Choice</th>
    <th>YES</th>
    <th>YES</th>
    <th>YES</th>
    <th>YES</th>
    <th>YES</th>
    </tr>
    <tr>
    <th>Choice of Doctor</th>
    <th>YES</th>
    <th>YES</th>
    <th>YES</th>
    <th>YES</th>
    <th>YES</th>
    </tr>
    <tr style="background-color: #1f3864;color: #fff;">
    <th></th>
    <th><i class="fa fa-inr"></i> 2,490</th>
    <th><i class="fa fa-inr"></i> 3,990</th>
    <th><i class="fa fa-inr"></i> 4,990</th>
    <th><i class="fa fa-inr"></i> 5,990</th>
    <th><i class="fa fa-inr"></i> 4,990</th>
    </tr>
    <tr>
        <th></th>
        <th>
            <a href="/PatientRegistration" class="btn">
                Get Started
            </a>
        </th>
        <th><a href="/PatientRegistration" class="btn">
            Get Started
        </a></th>
        <th>
            <a href="/PatientRegistration" class="btn">
                Get Started
            </a>
        </th>
        <th><a href="/PatientRegistration" class="btn">
            Get Started
        </a></th>
        <th><a href="/PatientRegistration" class="btn">
            Get Started
        </a></th>
        </tr>
    </tbody>
    </table>
    </div>
    </div>
    <div class="container">
    <div class="row">
    <div class="col-md-12">
    <div class="detail-content">
    <h4><strong>Please note plans are subject to terms and conditions. Please read the illustrated points carefully.</strong></h4>
    <p><strong>Unlimited Consult : </strong> Any number of consults can be availed from the same doctor or any other doctor not exceeding 10 consults per month.
    </p>
    <p><strong>Lab Discounts : </strong> We make recommendation to certiain Labs, in case you get the test done with them only then the discounts will apply</p>
    <p><strong>Free Follow up :</strong>2 Free follow up appointments will be scheduled as per your convenient time with same doctor.</p>
    <p><strong>Sepciality Choice : </strong>You can freely choose from any of our six specialities ( General Physician, Dermatoloist, Gynaecologist,Psychologists,Pediatrician,Dietitian etc…)</p>
    <p><strong>Choose Doctor :</strong>You can request for a doctor as per your preference based on your past experience. </p>
    <p><strong>Senior Citizens : </strong>Only non emergency cases shall be considered, All OPD assistance shall be given through video / audio consult.</p>
    <p><strong>Coverage :</strong>You + 1,2,3 indicates coverage for yourself and additional 1,2,3 individual either a child or adult.</p>
    </div>
    
    </div>
    </div>
    </div>
    </section>


{%endblock%}

{% block scripts %}
<script type="text/javascript">
    $.ajax({
        url: '/api/subscription_plans',
        method: 'GET',
        contentType: "application/json"
    }).done((response) => {
        console.log(response)
        let total_plans = '';
        for (var i in response) {
            console.log(response[i]);
            let plan = response[i];
            let benifit = plan.benifits_list;
            benifit = benifit.split(',');
            let liList = '';
            for(var x in benifit){
                let li = `<li>${benifit[x]}</li>`;
                liList += li;
            }
            let panDiv = `
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="price-outer">
                        <div class="price-item">
                            <div class="price-title">
                                <h3>${plan.plan_name}</h3>
                                <p>Valid for ${plan.validity} days</p>
                            </div>
                            <hr>
                            <div class="price-content">
                                <ul>${liList}</ul>
                                <div>
                                    <span class="package-price"><sub><i class="fa fa-rupee"></i></sub>
                                        2,500<sub>.00/-</sub></span>
                                    <div class="price-btn">
                                        <a href="/login" class="btn"> Get Started</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="price-box"></div>
                    </div>
                </div>
            `;
            total_plans += panDiv
        }

        let old_price = $('#PlansSection').html()
        let currentPlans = old_price + total_plans;
        $('#PlansSection').html(currentPlans)



    }).fail((error) => {
        console.log(error)
    })
</script>

{% endblock %}