{%extends 'website_layout.html'%}
{%load static%}
{% block content%}
<section class="breadcrumb">
    <div class="container">
    <div class="breadcrumb-outer">
    <nav aria-label="breadcrumb">
    <ul class="breadcrumb">
    <li class="breadcrumb-item"><a href="{% url 'website:index'%}">Home</a></li>
    <li class="breadcrumb-item active" aria-current="page">Terms & Conditions</li>
    </ul>
    </nav>
    <h2>Terms & Conditions</h2>
    </div>
    </div>
    <div class="overlay"></div>
    </section>
    <section class="blog-detail-content">
    <div class="container">
    <div class="row">
    <div class="col-md-12">
    <div class="detail-content">
    <div class="section-title">
    <h2>TERMS AND CONDITIONS</h2>
    
    </div>
    <p>Doctor-Plus Telemedicine Platform is operated through our: <br>
      Website : <a href="https://www.doctor-plus.in" style="color: rgb(5, 133, 133);">www.doctor-plus.in</a> <br>
      Mobile App : Doctor-Plus <br>
      Customer Care : Doctor-Plus <br>
      Registered Office : B&S Associates at No:1, Subbiaha reddy block, Ulsoor, Bangalore - 560004
      </p>
    
      <p>The following terms and conditions govern all the transactions with respect to medical consultation and advice carried out through Telemedicine Platform including appointment booking, and refund and all other transactions through the website or Mobile Apps or telephone.</p>
    
      <p>The medical consultation services available on the Platform does not in any way constitute an invitation or recommendation to avail the online or tele-consultation Services. The services provided through the Doctor-Plus telemedicine Platform are not intended in any ways to be a substitute for face to face consultation with a doctor. Doctor-Plus users have to make independent assessment in respect of its accuracy or usefulness and suitability prior to making any decision in reliance hereof. Terms 'you', 'your' ‘user’ and ‘patient’ hereafter refers to the user both registered and unregistered who is using/browsing through the Doctor-Plus website and/or Mobile Apps and telephone or availing any of the services from Doctor-Plus consulting.</p>
    
      <p>Doctor-Plus is only an online intermediary as defined under the Information Technology Act, 2000 and the rules thereunder and provides Telemedicine platform. Our third party registered medical practitioners physicians and specialists who deliver healthcare services through this platform are independent persons and are responsible for their diagnosis and the treatment offered to the users. Doctor-Plus is neither responsible nor concerned with the treatment or the result arising out of such treatment provided to the users.</p>
    
      <h3>Types of Membership</h3>
      <p>Any individual person or a corporate for its employees are entitled to access products and services offered by Doctor-Plus Platform on subscription of services. These services may not be available in all circumstances and any quoted prices are subject to change without notice.Doctor-Plus reserves its right to suspend, either temporarily or permanently, any or some services or features of those services without prior notice to you at its sole discussion.</p>
    
      <p>Doctor-Plus also reserves its right to suspend all or certain aspects of the services in certain geographical areas at our sole discussion without prior notice. In no event, Doctor-Plus will not take responsibility for the services and products sold to you by third party service Providers.</p>
    
      <strong>Membership Terms</strong>
      <p>Your membership is effective immediately upon your enrollment with the Doctor-Plus and shall continue as per the subscription you have chosen until the end of the subscription or cancelled by Service Providers. You are at liberty to cancel your membership by 30 days’ notice us via E-mail at <a style="color: rgb(5, 133, 133);" href="mailto:support@doctor-plus.in">support@doctor-plus.in</a> or by phone to 080-4554 9495</p>
    
      <h3>Payment of Membership Fee</h3>
      <p>The payment of your membership fee is made either automatically by a charge to your account or paid in advance as per the subscription plan chosen by you. Except to the extent the applicable law explicitly requires a longer notice period, we and service provider/s reserve the right to terminate your membership at any time without notice including in the event that we/service provider are unable to provide the services or bill the membership to your account.</p>
    
      <h3>Account Login Information</h3>
      <p>You are required to maintain confidentiality and secure your login details of your account including display name and password. You will be solely responsible for all the activities that may happen in your name and registered membership. You are responsible for providing accurate and correct information pertaining to you and for updating of such information or any modifications of such information. If you know or have any reason to believe that your account is being used in an unauthorized manner, you should inform us immediately.</p>
    
      <p>The services offered by Doctor-Plus, service providers or partners or affiliates are <b>not for</b> use of medical emergencies or secondary and tertiary care situations. If you believe there is an emergency or that someone needs immediate medical assistance, please call your local ambulance or any other emergency service providers for medical help. This Website and any services offered are not intended to be used in emergency circumstances. Your interaction with any services provided through our Telemedicine Platform is not intended to replace your relationship with your existing primary care physician or physical examination.</p>
    
      <p>Our physicians or specialists may recommend for physical examination or diagnostic tests in certain circumstances. You need to either visit polyclinics or associate polyclinics/hospitals situated near your location or any other suggested primary healthcare provider and diagnostic labs for physical examination and for providing diagnostic test reports.</p>
    
      <h3>Refund Policy</h3>
      <p>For any refund / cancelation related queries We request all users/customers to get in touch with <br>
        Mail : <a href="mailto:accounts@doctor-plus.in" style="color: rgb(5, 133, 133);">accounts@doctor-plus.in</a> <br>
        Phone : 080-4554 9495 <br>
        All cases will be taken up separately and necessary resolutions shall be given.
        </p>
    
        <h3>Registered User</h3>
        <p>You will not intentionally use the Doctor-Plus Platform in any way that is unlawful or harms Doctor-Plus, its employees, affiliates, distributors, partners, service providers and/or any User and/or data or content.</p>
        <p>Doctor-Plus or its service providers will send these messages only to the mobile number or email Id that you provide to us. It is your responsibility to ensure that you provide the correct number and email Id for the transaction you wish to enter into.</p>
        <p>Further, Doctor-Plus may also send notifications and reminders to you with respect to appointments scheduled by you for the features or services that you may opt for. You hereby consent to receive such messages from Doctor-Plus and the Service Providers.</p>
        <p>By using the consultation Platform and/or registering yourself with us, you authorize us to contact you via email or phone call or SMS and offer you services for the product you have opted for, imparting product knowledge, offer promotional offers, for which reasons, personally identifiable information may be collected as detailed below. Irrespective of the fact if also you have registered yourself under DND or DNC or NCPR service, you still authorize us to give you a call from Doctor-Plus, its service providers & associate partners for the above-mentioned purposes till your engagement continues with us</p>
        <p>You acknowledge that this website or mobile application is an informative and enabling platform only. Doctor-Plus is not in the business of providing health care service or hospital services.
          We encourage you to independently verify any information You see on the Website. You will use the Platform and the features provided by it only in relation to and in compliance with all applicable Indian laws. You will not use this Website or any feature provided by the Website for any purposes not intended under this Agreement.
          </p>
          <p>The Platform allows you to select and schedule appointments with service providers who are nearest to your location, if possible. We do not recommend or endorse any specific service provider or make any representations or warranties with respect to quality of the healthcare services that they may provide.</p>
          <p>
            You may schedule an appointment on the Platform for your family members and friends. However please note that such You will be solely responsible for any activity that is undertaken through his/her account on behalf of his/her family members and friends. You have the option of uploading Your identifiable health information including physical, physiological and mental health condition, and medical records and history on the Website which may be accessed by your service provider at the time of private interactions.
            </p>
    
            <h3>Medical Information</h3>
            <p>This website may contain general information relating to various medical conditions and their treatment. Such information is provided for informational purposes only. The content of this website is not intended to be a substitute for professional medical advice, diagnosis, or treatment. The content relating to medical conditions and their treatment is not meant to be a substitute for advice provided by a doctor or other qualified healthcare professionals. You should not disregard or delay seeking medical advice based on anything that appears in this website.</p>
    
            <strong>Links to third party websites</strong>
            <p>You may be provided with links on the Websites that direct you to third party websites/ applications/ content or service providers, including advertisers and e-commerce websites (collectively "Third Party Websites").</p>
            <p>Doctor-Plus does not endorse any Third-Party Websites that You may be directed to from the Website. Links to such Third-Party Websites are provided for your convenience only. Please exercise your independent judgment and prudence when visiting / using any Third-Party Websites. If you decide to click on the links to visit such Third-Party website, you do so of your own volition. Your usage of such Third-Party Websites and/or use of any content available on such Websites is subject to the terms of use of the respective Third-Party Website and Doctor-Plus is not responsible for your use of any Third-Party Websites.</p>
            <strong>Disclaimer of Warranties</strong>
            <p>Doctor-Plus platform and the services are provided “as is,” with all faults, with no representations or warranties of any kind, either expressed or implied, including, but not limited to, the implied warranties of merchantability, fitness for a purpose, and non-infringement. You assume total responsibility and risk for your use of the platform and the services, and hyperlinked websites. No oral or written information or advice given by either Doctor-Plus nor its authorized representatives shall create a warranty nor in any way increase the scope of this warranty.</p>
    
            <strong>Limitation of Liability</strong>
            <p>Doctor-Plus is not responsible nor liable for any direct, indirect, incidental, consequential, special, exemplary, punitive, or other damages (including, without limitation, those resulting from any loss) arising out of or relating in any way to the platform and the services and/or any hyperlinked website, whether based on warranty, contract, tort, or any other legal theory and whether or not advised of the possibility of such damages. Your sole remedy for dissatisfaction with the and/or hyperlinked websites is to stop using the Doctor-Plus platform and/or those services.</p>
            <p>Doctor-Plus liability for any of its or associate’s direct or indirect or consequential acts/ omissions/ commissions be restricted to the maximum extent of INR 1,000/- and nothing further.</p>
    
            <strong>Intellectual Property</strong>
            <p>Removing or altering the copyright notice on any material that appears in this website is strictly prohibited. Nothing contained in this website should be construed as granting any license or other right without the express written permission of Doctor-Plus except as provided herein.</p>
            <p>Doctor-Plus grants limited, revocable, non-transferable and non-exclusive license limited solely to viewing, accessing or downloading any content limited to availing the services from us for personal or non-commercial purposes only. All information contained in or accessed through this website is protected under Copyright, Trademark, Design, and Patent laws and your usage is limited to the extent of browsing or availing services by accessing our integrated platform and no further (“Limited Access”).</p>
            <p>Any act or attempt of using the software beyond the users limited access is considered as a violation of these Terms of Use herein and Doctor-Plus reserves its rights to take appropriate action against such acts or usage.</p>
            <p>Doctor-Plus has the exclusive right to transfer or assign the rights for the user to understand that use of the website doesn’t imply transfer or assignment of ownership except to use it for browsing or accessing the website for availing its services.</p>
    
            <h3>Governing Law and Dispute Resolution</h3>
            <strong>This Agreement shall be governed by the laws of India.</strong>
            <p>You agree that all claims, differences and disputes arising under or in connection with or in relation to this Agreement shall be subject to the exclusive jurisdiction of the courts at Bangalore, Karnataka and you hereby accede to and accept the jurisdiction of such courts.</p>
            <p>This document is an electronic record in terms of Information Technology Act, 2000 and rules there under as applicable and amended from time to time. This electronic record is generated by a computer system and does not require any physical or digital signatures. This document is published in accordance with the provisions of Rule 3 (1) of the Information Technology (Intermediaries guidelines) Rules, 2011 that require publishing the rules and regulations, privacy policy and Agreement for access or usage of Doctor-Plus Platform.</p>
    
    </div>
    
    </div>
    </div>
    </div>
    </section>
    
   
{%endblock%}