{% load static %}
<!DOCTYPE html>
<html lang="en">
{% include 'partials/_head.html'%}

<body  class="login-page sidebar-collapse">

    <div class="page-header clear-filter" filter-color="blue">
        <div class="page-header-image" style="background-image:url({% static 'assets/img/login.jpg'%})"></div>
        <div class="content">
          <div class="container">
            <div class="col-md-4 ml-auto mr-auto">
              <div class="card card-login card-plain">
                <form class="form" id="Login">
                  <div class="card-header text-center">
                    <div class="logo-container">
                      <img src="{% static 'assets/img/logo1.png'%}" alt="">
                    </div>
                  </div>
                  <div class="card-body">
                    <div class="input-group no-border input-lg">
                      <div class="input-group-prepend">
                        <span class="input-group-text">
                          <i class="now-ui-icons users_circle-08"></i>
                        </span>
                      </div>
                      <input type="text" class="form-control" id="username" placeholder="Username">
                    </div>
                    <div class="input-group no-border input-lg">
                      <div class="input-group-prepend">
                        <span class="input-group-text">
                          <i class="now-ui-icons ui-1_lock-circle-open"></i>
                        </span>
                      </div>
                      <input type="password" placeholder="Password" id="password" class="form-control" />
                    </div>
                    <button type="submit" class="btn btn-info btn-round btn-lg btn-block" >LOGIN</button>

                  </div>
                  <div class="card-footer text-center">
                    
                    <div class="pull-right">
                      <h6>
                        <a href="#pablo" class="link">Forgot Password?</a>
                      </h6>
                    </div>
                </form>
                </div>
              </div>
            </div>
          </div>
        </div>

    {% include 'partials/_scripts.html'%}
    
    <script>
        function checkLogin(){
            $('.btn-user').attr('disabled','disabled')
            $('.btn-user').html('<i class="fa fa-circle-o-notch fa-spin"></i> Checking Session...')
            $.ajax({
                url: '/api/auth/user',
                method: 'GET',
                beforeSend: function (xhr) {
                    xhr.setRequestHeader("Authorization", "Token " + $.cookie('Token'));
                },
            }).done((response) => {
                    window.location.href = '/adminDashboard'
            }).fail((err, error, wrong) => {  
                $('.btn-user').removeAttr('disabled')          
                $('.btn-user').html('Login')
                console.log(err)
            })
        }
        $(document).ready(function () {
          


            $('#Login').submit(function (e) {
                e.preventDefault();
                e.stopImmediatePropagation();
                var data = {
                    username: $('#username').val(),
                    password: $('#password').val()
                }
                $.ajax({
                    url: '/api/auth/login',
                    data: JSON.stringify(data),
                    method: 'POST',
                    contentType: 'application/json'
                }).done((response) => {
                    $.cookie('Token', response.token, {
                        expires: 1
                    })
                    window.location.href = '/adminDashboard'
                }).fail((err, error, wrong) => {
                    console.log(err)
                    alert(err.responseJSON.non_field_errors[0])
                })
            })
        })
    </script>
</body>

</html>