{% extends 'admin_layout.html' %}
{% load static %}
{% block content%}
<div class="content">
  <div class="card pl-3 pr-3">
    <div class="card-header">
      <h4 id="title">Todays Appointments</h4>
    </div>
      <div class="card-body card-block">
          <table class="table" id="TodayAppointments">
              <thead>
                  <tr>
                     <th>Appointment Date</th>
                      <th>Appointment Time</th>
                      <th>Doctor</th>
                      <th>Patient</th>
                      <th>Description</th>
                  </tr>
              </thead>
              <tbody>
                  
              </tbody>
          </table>
      </div>
  </div>
</div>
  <div class="content">
    <div class="card pl-3 pr-3">
      <div class="card-header">
        <h4 id="title">Upcoming Appointments</h4>
      </div>
        <div class="card-body card-block">
            <table class="table" id="UpComingAppointments">
                <thead>
                    <tr>
                        <th>Appointment Date</th>
                        <th>Appointment Time</th>
                        <th>Doctor</th>
                        <th>Patient</th>
                        <th>Description</th>
                    </tr>
                </thead>
                <tbody>
                    
                </tbody>
            </table>
        </div>
    </div>
</div>

<div class="content">
  <div class="card pl-3 pr-3">
    <div class="card-header">
       <h4 id="title">Previous Appointments</h4>
    </div>
      <div class="card-body card-block">
          <table class="table" id="PreviousAppointments">
              <thead>
                  <tr>
                      <th>Appointment Date</th>
                      <th>Appointment Time</th>
                      <th>Doctor</th>
                      <th>Patient</th>
                      <th>Description</th>
                  </tr>
              </thead>
              <tbody>
                  
              </tbody>
          </table>
      </div>
  </div>
</div>
<div class="modal fade" id="ConsultancDetails" tabindex="-1" role="dialog" aria-labelledby="scrollmodalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="scrollmodalLabel">Patient Details</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
              <div class="row p-3">
                  <div class="col-md-6">
                      <div class="form-group">
                        <img src="{% static 'images/avatar/1.jpg' %}" class="justify-content-center" style="height:120px;width:120px;margin-left: 7rem;" alt="">
                      </div>
                    <div class="row form-group">
                        <div class="col col-md-6"><label class=" form-control-label float-right">Patient ID</label></div>
                        <div class="col-12 col-md-6">
                            <p class="form-control-static">DP2020001</p>
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col col-md-6"><label class=" form-control-label float-right">Patient Name</label></div>
                        <div class="col-12 col-md-6">
                            <p class="form-control-static">Praveen</p>
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col col-md-6"><label class=" form-control-label float-right">Blood Group</label></div>
                        <div class="col-12 col-md-6">
                            <p class="form-control-static">AB-</p>
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col col-md-6"><label class=" form-control-label float-right">Gender/Age</label></div>
                        <div class="col-12 col-md-6">
                            <p class="form-control-static">Male/42</p>
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col col-md-6"><label class=" form-control-label float-right">Family</label></div>
                        <div class="col-12 col-md-6">
                            <p class="form-control-static">Father/Naveen</p>
                        </div>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="row form-group">
                        <div class="col col-md-6"><label class=" form-control-label float-right">Primary Mobile No.</label></div>
                        <div class="col-12 col-md-6">
                            <p class="form-control-static">+91 9899887787</p>
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col col-md-6"><label class=" form-control-label float-right">Secondary Mobile No.</label></div>
                        <div class="col-12 col-md-6">
                            <p class="form-control-static">+91 9899887715</p>
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col col-md-6"><label class=" form-control-label float-right">Email ID</label></div>
                        <div class="col-12 col-md-6">
                            <p class="form-control-static">praveen@gmail.com</p>
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col col-md-6"><label class=" form-control-label float-right">Preffered Language</label></div>
                        <div class="col-12 col-md-6">
                            <p class="form-control-static">English (Practice Default)</p>
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col col-md-6"><label class=" form-control-label float-right">Street Address</label></div>
                        <div class="col-12 col-md-6">
                            <p class="form-control-static">#1234 Unknown Street</p>
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col col-md-6"><label class=" form-control-label float-right">Locality</label></div>
                        <div class="col-12 col-md-6">
                            <p class="form-control-static">Unknown Locality</p>
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col col-md-6"><label class=" form-control-label float-right">City</label></div>
                        <div class="col-12 col-md-6">
                            <p class="form-control-static">Unknown City</p>
                        </div>
                    </div>
                    
                  </div>
              </div>
      
            </div>
            <div class="modal-footer">
               
                <button type="button" data-dismiss="modal" class="btn btn-danger">
                  Cancel
              </button>
            </div>
          </div>
          
      </div>
    </div>

{% endblock %}

{% block scripts%}
<script>
  let dataList = [];
  
  const upComingtable = jQuery('#UpComingAppointments').DataTable({
    ajax: {
      url: '/api/getAllAppoitnements?status=Pending',
      dataSrc: "",

    },
    columns: [
      {
        data: 'appointment_date'
      },
      {
        data: 'appointment_time'
      },
      {
          data: "doctor.full_name",
          render: function (data, type, app) {
            if (app.doctor.is_loggedin == true) {
              return '<i class="fa fa-circle text-success"></i> ' + data
            } else {
              return '<i class="fa fa-circle text-danger"></i> ' + data
            }

          }
        },
        {
          data: "patient_login_status",
          render: function (data, type, app) {
            if (data == true) {
              return '<i class="fa fa-circle text-success"></i> ' + app.patient_name
            } else {
              return '<i class="fa fa-circle text-danger"></i> ' + app.patient_name
            }
          }
        },
      {
        data: 'Description'
      }
    ]
  })

  const todaytable = jQuery('#TodayAppointments').DataTable({
    ajax: {
      url: '/api/getAllAppoitnements?status=Pending&now=True',
      dataSrc: "",

    },
    columns: [
      {
        data: 'appointment_date'
      },
      {
        data: 'appointment_time'
      },
      {
          data: "doctor.full_name",
          render: function (data, type, app) {
            if (app.doctor.is_loggedin == true) {
              return '<i class="fa fa-circle text-success"></i> ' + data
            } else {
              return '<i class="fa fa-circle text-danger"></i> ' + data
            }

          }
        },
        {
          data: "patient_login_status",
          render: function (data, type, app) {
            if (data == true) {
              return '<i class="fa fa-circle text-success"></i> ' + app.patient_name
            } else {
              return '<i class="fa fa-circle text-danger"></i> ' + app.patient_name
            }
          }
        },
      {
        data: 'Description'
      }
    ]
  })

  const previoustable = jQuery('#PreviousAppointments').DataTable({
      ajax: {
        url: '/api/getAllAppoitnements?status=Completed',
        dataSrc: "",

      },
      columns: [
        {
          data: 'appointment_date'
        },
        {
          data: 'appointment_time'
        },
        {
          data: "doctor.full_name",
          render: function (data, type, app) {
            if (app.doctor.is_loggedin == true) {
              return '<i class="fa fa-circle text-success"></i> ' + data
            } else {
              return '<i class="fa fa-circle text-danger"></i> ' + data
            }

          }
        },
        {
          data: "patient_login_status",
          render: function (data, type, app) {
            if (data == true) {
              return '<i class="fa fa-circle text-success"></i> ' + app.patient_name
            } else {
              return '<i class="fa fa-circle text-danger"></i> ' + app.patient_name
            }
          }
        },
        {
          data: 'Description'
        }
      ]
    })

  jQuery('#UpComingAppointments').on('click', '.call', function () {
    var button = jQuery(this)
    jQuery.ajax({
      url: '/api/CallPatient?patient=' + button.attr('data-patient'),
      method: 'POST',
      beforeSend: function (request) {
        request.setRequestHeader("Authorization", 'Token ' + localStorage.getItem('DoctorToken'));
      },
      success: function (response) {
        window.location.href = `/api/VideoCall?user=doc&session=+${response.id}&patient=${button.attr('data-patient')}`
      },
      error: function (response) {
        console.log(response)
      }
    })
  })
  DoHeighLight('PatientsDropDown', 'appointments')
</script>
{% endblock %}
