{% extends 'admin_layout.html' %}
{% load static %}
{% block content%}
<style>

.mainDiv {
  margin: 0 auto;
  width: 100%;
  background: #20a8d8;
  border-radius: 5px;
  color: white;
}

.people-list {
  width: 260px;
  float: left;
}
.people-list .search {
  padding: 20px;
}
.people-list input {
  border-radius: 3px;
  border: none;
  padding: 14px;
  color: white;
  background: #6A6C75;
  width: 90%;
  font-size: 14px;
}
.people-list .fa-search {
  position: relative;
  left: -25px;
}
.people-list ul {
  padding: 20px;
  height: 770px;
  list-style: none;
}
.people-list ul li {
  padding-bottom: 20px;
}
.people-list img {
  float: left;
  border-radius: 50%;
}
.people-list .about {
  float: left;
  margin-top: 8px;
}
.people-list .about {
  padding-left: 8px;
}
.people-list .status {
  color: #fff;
}

.chat {
  width: 81.99%;
  float: left;
  background: #F2F5F8;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  color: #434651;
}
.chat .chat-header {
  padding: 20px;
  border-bottom: 2px solid white;
}
.chat .chat-header img {
  float: left;
}
.chat .chat-header .chat-about {
  float: left;
  padding-left: 10px;
  margin-top: 6px;
}
.chat .chat-header .chat-with {
  font-weight: bold;
  font-size: 16px;
}
.chat .chat-header .chat-num-messages {
  color: #92959E;
}
.chat .chat-header .fa-star {
  float: right;
  color: #D8DADF;
  font-size: 20px;
  margin-top: 12px;
}
.chat .chat-history {
  padding: 30px 30px 20px;
  border-bottom: 2px solid white;
  overflow-y: scroll;
  height: 575px;
}
.chat .chat-history .message-data {
  margin-bottom: 15px;
}
.chat .chat-history .message-data-time {
  color: #a8aab1;
  padding-left: 6px;
}
.chat .chat-history .message {
  color: white;
  padding: 18px 20px;
  line-height: 26px;
  font-size: 16px;
  border-radius: 7px;
  margin-bottom: 30px;
  width: 90%;
  position: relative;
}
.chat .chat-history .message:after {
  bottom: 100%;
  left: 7%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-bottom-color: #86BB71;
  border-width: 10px;
  margin-left: -10px;
}
.chat .chat-history .my-message {
  background: #86BB71;
}
.chat .chat-history .other-message {
  background: #94C2ED;
}
.chat .chat-history .other-message:after {
  border-bottom-color: #94C2ED;
  left: 93%;
}
.chat .chat-message {
  padding: 30px;
}
.chat .chat-message textarea {
  width: 100%;
  border: none;
  padding: 10px 20px;
  font: 14px/22px "Lato", Arial, sans-serif;
  margin-bottom: 10px;
  border-radius: 5px;
  resize: none;
}
.chat .chat-message .fa-file-o, .chat .chat-message .fa-file-image-o {
  font-size: 16px;
  color: gray;
  cursor: pointer;
}
.chat .chat-message button {
  float: right;
  color: #94C2ED;
  font-size: 16px;
  text-transform: uppercase;
  border: none;
  cursor: pointer;
  font-weight: bold;
  background: #F2F5F8;
}
.chat .chat-message button:hover {
  color: #75b1e8;
}

.online, .offline, .me {
  margin-right: 3px;
  font-size: 10px;
}

.online {
  color: #86BB71;
}

.offline {
  color: #E38968;
}

.me {
  color: #94C2ED;
}

.align-left {
  text-align: left;
}

.align-right {
  text-align: right;
}

.float-right {
  float: right;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}

</style>
  <div class="content">
    <div class="card pl-3 pr-3">
      <div class="card-header">
        <h4 id="title">Upcoming Appointments</h4>
      </div>
        <div class="card-body card-block">
            <table class="table" id="UpComingAppointments">
                <thead>
                    <tr>
                        <th>Appointment Date</th>
                        <th>Appointment Time</th>
                        <th>Doctor</th>
                        <th>Patient</th>
                        <th>Description</th>
                    </tr>
                </thead>
                <tbody>
                    
                </tbody>
            </table>
        </div>
    </div>
</div>
<div class="content">
  <div class="card pl-3 pr-3">
    <div class="card-header">
      <h4 id="title">Todays Appointments</h4>
    </div>
      <div class="card-body card-block">
          <table class="table" id="TodayAppointments">
              <thead>
                  <tr>
                     <th>Appointment Date</th>
                      <th>Appointment Time</th>
                      <th>Doctor</th>
                      <th>Patient</th>
                      <th>Description</th>
                  </tr>
              </thead>
              <tbody>
                  
              </tbody>
          </table>
      </div>
  </div>
</div>
<div class="content">
  <div class="card pl-3 pr-3">
    <div class="card-header">
       <h4 id="title">Previous Appointments</h4>
    </div>
      <div class="card-body card-block">
          <table class="table" id="PreviousAppointments">
              <thead>
                  <tr>
                      <th>Appointment Date</th>
                      <th>Appointment Time</th>
                      <th>Doctor</th>
                      <th>Patient</th>
                      <th>Description</th>
                  </tr>
              </thead>
              <tbody>
                  
              </tbody>
          </table>
      </div>
  </div>
</div>
<div class="modal fade" id="ConsultancDetails" tabindex="-1" role="dialog" aria-labelledby="scrollmodalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="scrollmodalLabel">Patient Details</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
              <div class="row p-3">
                  <div class="col-md-6">
                      <div class="form-group">
                        <img src="{% static 'images/avatar/1.jpg' %}" class="justify-content-center" style="height:120px;width:120px;margin-left: 7rem;" alt="">
                      </div>
                    <div class="row form-group">
                        <div class="col col-md-6"><label class=" form-control-label float-right">Patient ID</label></div>
                        <div class="col-12 col-md-6">
                            <p class="form-control-static">DP2020001</p>
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col col-md-6"><label class=" form-control-label float-right">Patient Name</label></div>
                        <div class="col-12 col-md-6">
                            <p class="form-control-static">Praveen</p>
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col col-md-6"><label class=" form-control-label float-right">Blood Group</label></div>
                        <div class="col-12 col-md-6">
                            <p class="form-control-static">AB-</p>
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col col-md-6"><label class=" form-control-label float-right">Gender/Age</label></div>
                        <div class="col-12 col-md-6">
                            <p class="form-control-static">Male/42</p>
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col col-md-6"><label class=" form-control-label float-right">Family</label></div>
                        <div class="col-12 col-md-6">
                            <p class="form-control-static">Father/Naveen</p>
                        </div>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="row form-group">
                        <div class="col col-md-6"><label class=" form-control-label float-right">Primary Mobile No.</label></div>
                        <div class="col-12 col-md-6">
                            <p class="form-control-static">+91 9899887787</p>
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col col-md-6"><label class=" form-control-label float-right">Secondary Mobile No.</label></div>
                        <div class="col-12 col-md-6">
                            <p class="form-control-static">+91 9899887715</p>
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col col-md-6"><label class=" form-control-label float-right">Email ID</label></div>
                        <div class="col-12 col-md-6">
                            <p class="form-control-static">praveen@gmail.com</p>
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col col-md-6"><label class=" form-control-label float-right">Preffered Language</label></div>
                        <div class="col-12 col-md-6">
                            <p class="form-control-static">English (Practice Default)</p>
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col col-md-6"><label class=" form-control-label float-right">Street Address</label></div>
                        <div class="col-12 col-md-6">
                            <p class="form-control-static">#1234 Unknown Street</p>
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col col-md-6"><label class=" form-control-label float-right">Locality</label></div>
                        <div class="col-12 col-md-6">
                            <p class="form-control-static">Unknown Locality</p>
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col col-md-6"><label class=" form-control-label float-right">City</label></div>
                        <div class="col-12 col-md-6">
                            <p class="form-control-static">Unknown City</p>
                        </div>
                    </div>
                    
                  </div>
              </div>
      
            </div>
            <div class="modal-footer">
               
                <button type="button" data-dismiss="modal" class="btn btn-danger">
                  Cancel
              </button>
            </div>
          </div>
          
      </div>
    </div>

{% endblock %}

{% block scripts%}
<script>
  let dataList = [];
  // function getDataa(){
  //     console.log('here')
  //     const form = document.getElementById('profile_form');
  //     jQuery.ajax({
  //             url: '/api/getLoggedInDoctor',
  //             method: 'GET',
  //             contentType: 'application/json',
  //             async: false,
  //             beforeSend: function (xhr) {
  //                 xhr.setRequestHeader("Authorization", "Token " + jQuery.cookie('DoctorToken'));
  //             },
  //         }).done((response)=>{
  //             console.log('response response', response);
  //             jQuery.ajax({
  //                 url: "/api/getEmail",
  //                 method: 'GET',
  //                 contendType: 'application/json',
  //                 async: false,
  //                 method: 'GET',
  //                 beforeSend: function (xhr) {
  //                     xhr.setRequestHeader("Authorization", "Token " + jQuery.cookie('DoctorToken'));
  //                 },
  //             }).done((response)=>{
  //                     formDeserialize(form, response);
  //                 })
  //             formDeserialize(form, response);

  //         }).fail((error)=>{
  //             console.log(error);
  //         });
  // }
  // getDataa()


  // function formDeserialize(form, data) {
  //         const entries = (new URLSearchParams(data)).entries();
  //         for (const [key, val] of entries) {
  //             const input = form.elements[key];
  //             if (input != undefined) {
  //                 if (input.type == 'file') {
  //                     if (val) {
  //                         var $file = jQuery('#' + input.id),
  //                             $label = $file.next('label'),
  //                             $labelText = $label.find('span'),
  //                             labelDefault = $labelText.text();
  //                         var filename = val.split('/').pop()
  //                         if (filename) {
  //                             $label
  //                                 .addClass('file-ok')
  //                                 .css('background-image', 'url(' + val + ')');
  //                             $labelText.text('Click here to change pic');
  //                         } else {
  //                             $label.removeClass('file-ok');
  //                             $labelText.text(labelDefault);
  //                         }
  //                     }

  //                 } else {

  //                     switch (input.type) {
  //                         case 'checkbox':
  //                             input.checked = !!val;
  //                             break;
  //                         case 'select-one':
  //                             if (val)
  //                                 input.value = val;
  //                             else
  //                                 input.selectedIndex = 0;

  //                             break;
  //                         default:
  //                             input.value = val;
  //                             break;

  //                     }

  //                 }
  //             }

  //         }
  //     }


  //////////////// username change event ////////////////
  // jQuery('#ph_no').change(function(){
  //     jQuery('#username').val(jQuery(this).val())
  // })
  // jQuery('#username').val(jQuery('#ph_no').val())


  //////// UPDATING PROFILE //////////
  // jQuery("#profile_form").submit((e)=>{
  //         e.preventDefault();
  //         e.stopImmediatePropagation();
  //         const data = new FormData(document.getElementById('profile_form'))
  //         console.log(data);
  //         jQuery.ajax({
  //         url: '/api/DoctorUpdateProfile',
  //         data: data,
  //         method: 'POST',
  //         contentType: false,
  //         processData: false,
  //         beforeSend: function (xhr) {
  //             xhr.setRequestHeader("Authorization", "Token " + jQuery.cookie('DoctorToken'));
  //         },
  //     })
  //     .done((response)=>{
  //         console.log("postrequest response -", response);
  //         jQuery.removeCookie('DoctorToken');
  //         jQuery.cookie('DoctorToken', response.token, {expires: 1})
  //     })
  //     .fail((error)=>{
  //         console.log(error);
  //     })
  //     }) 


  // jQuery('#pills-profile-tab').click(()=>{

  // })

  ////////// PASSWORD CHANGE FEATURES //////////
  // jQuery('#password_form').submit((e)=>{
  //         e.preventDefault();
  //         e.stopImmediatePropagation();
  //         const data = new FormData(document.getElementById('password_form'))
  //        jQuery.ajax({
  //             url: '/api/changePassword',
  //             method: 'POST',
  //             data: data,
  //             contentType: false,
  //             processData: false,
  //             beforeSend: function (xhr) {
  //             xhr.setRequestHeader("Authorization", "Token " + jQuery.cookie('DoctorToken'));
  //            },
  //         }).done((response)=>{
  //             console.log(response);
  //             //jQuery.removeCookie('DoctorToken');
  //             //window.location.href = '/login';
  //         }).fail((error)=>{
  //            console.log('errors are ', error)
  //       })


  //     })

  ///////////// Doctor Timings://///////////
  // function getDoctorTimings(){
  //     const form =document.getElementById('timingsForm');
  //     jQuery.ajax({
  //         url: '/api/DoctorTimings',
  //         method: 'GET',
  //         contendType: 'application/json',
  //         async: false,
  //         beforeSend: function (xhr) {
  //             xhr.setRequestHeader("Authorization", "Token " + jQuery.cookie('DoctorToken'));
  //         },
  //     })
  //     .done((response)=>{
  //         console.log(response);
  //         console.log(form);
  //         if(response.length!=0){
  //             formDeserialize(form, response[0]);
  //             for(var key in response[0]){
  //                 if(response[0][key] !== true){
  //                 console.log('')
  //                 let parent = jQuery("#" + key).parent()
  //                     parent.removeClass('switch-success');

  //                 }

  //             }

  //         }
  //     })
  //     .fail((error)=>{
  //         console.log(error)
  //     })
  // }
  // getDoctorTimings();
  // jQuery('#timingsForm').submit((e)=>{
  //     e.preventDefault();
  //     e.stopImmediatePropagation();
  //     const data = new FormData(document.getElementById('timingsForm'))
  //     jQuery.ajax({
  //         url: '/api/DoctorTimings/',
  //         method: 'POST',
  //         data: data,
  //         contentType: false,
  //         processData: false,
  //         beforeSend: function (xhr) {
  //             xhr.setRequestHeader("Authorization", "Token " + jQuery.cookie('DoctorToken'));
  //         },
  //     })
  //     .done((response)=>{
  //         console.log(response);
  //     })
  //     .fail((error)=>{
  //         console.log(error)
  //     })

  // // })
  // let token = ;
  const upComingtable = jQuery('#UpComingAppointments').DataTable({
    ajax: {
      url: '/api/getAllAppoitnements?status=Pending',
      dataSrc: "",

    },
    columns: [
      {
        data: 'appointment_date'
      },
      {
        data: 'appointment_time'
      },
      {
        data: "doctor.full_name"
      },
      {
        data: "patient_name"
      },
      {
        data: 'Description'
      }
    ]
  })

  const todaytable = jQuery('#TodayAppointments').DataTable({
    ajax: {
      url: '/api/getAllAppoitnements?status=Pending&now=True',
      dataSrc: "",

    },
    columns: [
      {
        data: 'appointment_date'
      },
      {
        data: 'appointment_time'
      },
      {
        data: "doctor.full_name"
      },
      {
        data: "patient_name"
      },
      {
        data: 'Description'
      }
    ]
  })

  const previoustable = jQuery('#PreviousAppointments').DataTable({
    ajax: {
      url: '/api/getAllAppoitnements?status=Completed',
      dataSrc: "",

    },
    columns: [
      {
        data: 'appointment_date'
      },
      {
        data: 'appointment_time'
      },
      {
        data: "doctor.full_name",
        render:function(data,type,app){
          if(app.doctor.is_loggedin==true){
            return '<i class="fa fa-circle text-success"></i> ' + data
          }else{
            return '<i class="fa fa-circle text-danger"></i> ' + data
          }
          
        }
      },
      {
        data: "patient_name"
      },
      {
        data: 'Description'
      }
    ]
  })

  jQuery('#UpComingAppointments').on('click', '.call', function () {
    var button = jQuery(this)
    jQuery.ajax({
      url: '/api/CallPatient?patient=' + button.attr('data-patient'),
      method: 'POST',
      beforeSend: function (request) {
        request.setRequestHeader("Authorization", 'Token ' + jQuery.cookie('DoctorToken'));
      },
      success: function (response) {
        window.location.href = `/api/VideoCall?user=doc&session=+${response.id}&patient=${button.attr('data-patient')}`
      },
      error: function (response) {
        console.log(response)
      }
    })
  })

</script>
{% endblock %}
