{% extends 'admin_layout.html' %} {% block content %}

<div class="breadcrumbs">
    <div class="col-12">
        <div class="page-header text-center">
            <div class="page-title">
                <h2>Doctor Bill Payments</h2>
            </div>
        </div>
    </div>
</div>
<div class="content m-3">
    <form id="subscriptionForm">
        <div class="card">

            <div class="card-body card-block">
                <div class="row">
                    <input type="hidden" name="id" id="spl_id">
                    <div class="offset-md-2 col-md-4 pr-5 pl-5">
                        <div class="row form-group">
                            <label for="hf-email" class=" form-control-label">Bill Type</label>
                            <input type="text" required="true" id="bill_type" name="bill_type" placeholder="Enter bill type"
                                class="form-control">
                        </div>
                        <div class="row form-group">
                            <label for="hf-email" class=" form-control-label">Paid Date</label>
                            <input type="date" required="true" id="paid_date" name="paid_date"
                                placeholder="Enter paid date" class="form-control">
                        </div>
                        <div class="row form-group">
                            <label for="hf-email" class=" form-control-label">Bill Amount</label>
                            <input type="number" required="true" id="bill_amount" name="bill_amount"
                                placeholder="Enter bill amount" class="form-control">
                            
                        </div>
                        <div class="row form-group">
                            <label for="hf-email" class=" form-control-label">Paid By</label>
                            <input type="text" required="true" id="paid_by" name="paid_by"
                                placeholder="Write paid mathod" class="form-control">
                            
                        </div>

                        <div class="row form-group">
                            <label for="hf-email" class=" form-control-label">Bill Date</label>
                            <input type="date" required="true" id="bill_date" name="bill_date"
                                placeholder="Enter bill date" class="form-control">
                            
                        </div>
                    </div>
                    <div class="col-md-4 pr-5 pl-5">
                        <div class="row form-group">
                            <label for="hf-email" class=" form-control-label">Description</label>
                            <textarea name="description" id="description" rows="16" class="form-control"
                                placeholder="Describe about the bill payments"></textarea>
                            
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-footer">
                <div class="pull-right">
                    <button type="submit" class="btn btn-primary btn-sm">
                        <i class="fa fa-dot-circle-o"></i> <span id="submitBtn">Add payment details</span>
                    </button>
                    <button type="reset" class="btn btn-danger btn-sm">
                        <i class="fa fa-ban"></i> Reset
                    </button>
                </div>

            </div>
        </div>
    </form>
</div>
<div class="content m-3">
    <div class="card">
        <div class="card-body card-block">
            <div class="table-responsive">
                <table class="table table-bordered table-hover" id="subs_plans">
                    <thead>
                        <tr>
                            <th>Sl No</th>
                            <th>Bill Type</th>
                            <th>Paid Date</th>
                            <th>Bill Amount</th>
                            <th>Paid By </th>
                            <th>Description</th>
                            <th>Bill Date</th>
                            <th>Created At</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>

        </div>
    </div>
</div>

{% endblock %}
{% block scripts %}
<script>
    jQuery(document).ready(function ($) {
        
            var table = jQuery('#subs_plans').DataTable({
                ajax: {
                    url: "/api/CheckBillPayments",
                    dataSrc: ""
                },
                responsive: true,
                columns: [
                    {
                        data: "id"
                    },
                    {
                        data: "bill_type"
                    },
                    {
                        data: "paid_date"
                    },
                    {
                        data: "bill_amount"
                    },
                    {
                        data: "paid_by"
                    },
                    {
                        data: "description"
                    },
                    {
                        data: "bill_date"
                    },
                    {
                        data: "created_at"
                    },
                    {
                        data: 'id',
                        render: function (data, type, row) {
                            return `<button type="button" data-id='${data}' data-obj='${JSON.stringify(row)}' class="btn rounded-circle btn-primary btn-sm edit">
                                    <i class="fa fa-edit"></i>
                                </button>
                                <button type="button" data-id='${data}' class="btn rounded-circle btn-danger btn-sm delete">
                                    <i class="fa fa-trash"></i>
                                </button>`
                        }
                    },
                ]
            })
        

        crudOperations({
            url:'/api/CheckBillPayments/',
            put_url:'/api/CheckBillPayments/',
            table_id:'#subs_plans',
            id_selector:'#spl_id',
            form_id:'#subscriptionForm',
            table:table,
            entity:'Bill payments'
        })

         DoHeighLight('Administration', 'Settlements')
        
    })
</script>
{% endblock %}
