{% extends 'admin_layout.html' %} {% block content %}

  <div class="breadcrumbs">
      <div class="col-12">
          <div class="page-header">
              <div class="page-title text-center">
                  <h2 id="title">New Doctor Registration</h2>
              </div>
          </div>
      </div>
    </div>
    <ul class="nav nav-pills sr-only" id="myTab" role="tablist">
        <li class="nav-item">
          <a class="nav-link " id="pills-home-tab" data-toggle="pill" href="#list" role="tab" aria-controls="pills-home" aria-selected="false">Home</a>
        </li>
        
      </ul>
    <div class="tab-content" id="myTabContent">
        
        <div class="tab-pane fade show active" id="form" role="tabpanel" aria-labelledby="pills-home-tab">
            
                <div class="content">
                    <form class="form-horizontal" id="doc_form">
                        <div class="card pl-3 pr-3">
                            <div class="card-body card-block">
                
                                <div class="row">
                                    <input type="hidden" name="user">
                                    <input type="hidden" name="id" id="doc_id">
                                    <div class="col-md-4">
                                        <div class="wrap-custom-file" style="margin-left: 5rem;">
                                            <input type="file" name="profile_pic" id="image1" accept=".gif, .jpg, .png" />
                                            <label for="image1">
                                                <span>Select Photo</span>
                                                <i class="fa fa-plus-circle"></i>
                                            </label>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label for="hf-email" class=" form-control-label">User ID<span class="text-danger h5">*</span></label>
                                            <div class="input-group">
                                                <input type="text" id="username" name="username" required placeholder="User ID"
                                                    class="form-control" readonly="readonly">
                                                <span class="input-group-btn">
                                                    <button type="button" class="btn btn-info" id="generate">
                                                        Generate
                                                    </button>
                                                </span>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="hf-email" class=" form-control-label">Password<span class="text-danger h5">*</span></label>
                                            <input type="password" id="password" required name="password" placeholder="Enter Password"
                                                class="form-control">
                                        </div>
                                        <div class="form-group">
                                            <label for="hf-email" class=" form-control-label">Doctor Name<span class="text-danger h5">*</span></label>
                                            <input type="text" id="full_name" name="full_name" required placeholder="Select Doctor Name"
                                                class="form-control">
                                        </div>
                                        <div class="form-group">
                                            <label for="hf-email" class=" form-control-label">Registration No.<span class="text-danger h5">*</span></label>
                                            <input type="text" id="Registration_Number" required name="Registration_Number"
                                                placeholder="Enter Registration Number" class="form-control">
                                        </div>
                                        <div class="form-group">
                                            <label for="hf-email" class=" form-control-label">Email Address<span class="text-danger h5">*</span></label>
                                            <input type="email" id="email" name="email" required placeholder="Enter Email Address"
                                                class="form-control">
                                        </div>
                                        
                                        
                                        <div class="form-group">
                                            <label for="hf-email" class=" form-control-label">Phone No.<span class="text-danger h5">*</span></label>
                                            <input type="text" id="phone_number" name="phone_number" placeholder="Select Phone Number"
                                                class="form-control">
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label for="hf-email" class=" form-control-label">Specialist Type<span class="text-danger h5">*</span></label>
                                            <select id="specialist_type" name="specialist_type" required class="form-control">
                                                <option value="">Select Specialist Type</option>
                                                {% for specialist_type in specialist_types%}
                                                <option value="{{specialist_type.special_type}}">{{specialist_type.special_type}}
                                                </option>
                                                {% endfor%}
                                            </select>
                                        </div>
                                        
                                        <div class="form-group">
                                            <label for="hf-email" class=" form-control-label">Consultation Fee</label>
                                            <input type="text" id="consultation_fee" name="consultation_fee"
                                                placeholder="Enter Consultation Fee" class="form-control">
                                        </div>
                                        <div class="form-group">
                                            <label for="hf-email" class=" form-control-label">Commision</label>
                                            <input type="text" id="commission_val" name="commission_val"
                                                placeholder="Enter Commision Value" class="form-control" onkeypress="return /^[0-9]+$/i.test(event.key)">
                                        </div>
                                        <div class="form-group">
                                            <label for="hf-email" class=" form-control-label">Commision Unit</label>
                                            <br>
                                            <div class="form-check form-check-inline">
                                                <input class="form-check-input" type="radio" name="commission_type" id="inlineCheckbox1"
                                                    value="Percent">
                                                <label class="form-check-label" for="inlineCheckbox1">Percent</label>
                                            </div>
                                            <div class="form-check form-check-inline">
                                                <input class="form-check-input" type="radio" name="commission_type" id="inlineCheckbox2"
                                                    value="Amount">
                                                <label class="form-check-label" for="inlineCheckbox2">Amount</label>
                                            </div>
                
                                        </div>
                                        <div class="form-group">
                                            <label for="hf-email" class=" form-control-label">MOU/Agreement File</label>
                                            <input type="file" id="mou_file" name="mou_file" class="form-control"  accept=".png, .jpg, .pdf ,.doc ,.docx">
                                        </div>
                                        <div class="form-group">
                                            <label for="hf-email" class=" form-control-label">About</label>
                
                                            <textarea name="about" id="about" rows="5" class="form-control"
                                                placeholder="Enter About Details"></textarea>
                
                                        </div>
                
                                    </div>
                                </div>
                
                
                            </div>
                            <div class="card-footer">
                                <div class="pull-left">
                                    <a href="{% url 'frontend:doctor_list' %}" id="listDoctors" class="btn btn-primary btn-sm">
                                        <i class="fa fa-arrow-left"></i> Back to List
                                    </a>
                                </div>
                                <div class="pull-right">
                                    <button id="buttonSubmit" type="submit" class="btn btn-primary btn-sm">
                                        <i class="fa fa-dot-circle-o"></i><span id="submitBtn"> Submit</span>
                                    </button>
                                    <button type="reset" class="btn btn-danger btn-sm">
                                        <i class="fa fa-ban"></i> Reset
                                    </button>
                                </div>
                
                            </div>
                        </div>

                    </form>
                </div>
        </div>
    </div>
    
  
  {% endblock %} 
  {% block scripts %}
  <script>
    jQuery(document).ready(function($){
        $('#newDoctor').click(function(){
          $('#title').html('New Doctor')
          $('#myTab a[href="#form"]').tab('show')
        })
        
        $('#listDoctors').click(function(){
          $('#title').html('Doctors List')
          $('#myTab a[href="#list"]').tab('show')
        })

        $('#generate').click(function(){
            $.getJSON('/api/GenerateDoctorID',{},function(data){
                $('#username').val(data.doctorId)
            })
        })

        // crudOperations({
        //       url:'/api/DoctorRegistration/',
        //       put_url: '/api/doctors_info/',
        //       id_selector:'#doc_id',
        //       form_id:'#doc_form',
        //       table:table,
        //       entity:'Doctor',
        //       tabs:true
        // })
        
        jQuery('#doc_form').submit( function(e){
            e.preventDefault()
            e.stopImmediatePropagation()
            let data = new FormData(document.getElementById('doc_form'));
            // data.append('doctor_id', doctor_id)
            jQuery.ajax({
                url: '/api/DoctorRegistration/',
                method: 'POST',
                data: data,
                contentType: false,
                processData: false,
                
            })
                .done((response) => {
                    console.log(response);
                    // table.ajax.reload()
                    // alert("You timing is changed")
                    jQuery('#doc_form').trigger('reset')
                    var $file = jQuery('#image1'),
                            $label = $file.next('label'),
                            $labelText = $label.find('span'),
                            labelDefault = 'Select a Photo';
                    $label.removeClass('file-ok');
                    $labelText.text(labelDefault);
                    $label.css('background','#fff')
                    toastr.success("New Doctor Added successfully","Success",{positionClass:'toast-top-center'})
                })
                .fail((error) => {
                    console.log(error)
                })
    })
        DoHeighLight('DoctorDropDown', 'DoctorList')
    })


    /////////////////////// PROFILE EMAIL AND PHONE NUMBER CHANGE CHECKING AVAILABELITY ////////////////


    function checkEmail(){
            const email = jQuery('#email').val();
            const email_warn = jQuery('#email-warning')
            console.log(email_warn.length)
            if (email.length >=3){
                jQuery.ajax({
                    url: '/api/has_email/?email='+ email,
                    method: 'GET',
                    contentType: 'application/json',

                }).done(res=>{
                    
                    if(res.length > 0){
                        if(email_warn.length == 0){
                            jQuery('#email').after(jQuery('<p id="email-warning" class="text-danger">').text('Already exists. Please try another one.'))
                            jQuery('#buttonSubmit').prop('disabled', true)
                        }
                    }
                    else{
                        if(email_warn.length > 0){
                            jQuery('#email-warning').remove()
                            jQuery('#buttonSubmit').removeAttr('disabled')
                        }
                    }
                }).fail(err=>{
                    console.log(err)
                })
            }else{
                if(email_warn.length > 0){
                    jQuery('#email-warning').remove()
                    jQuery('#buttonSubmit').prop('disabled', true)
                }
            }
        }

        function checkPhone(){
            const mob1 = jQuery('#phone_number').val();
            console.log(mob1)
            const mob1_warn = jQuery('#phone_number-warning')
            console.log(mob1_warn.length)
            if (mob1.length >=3){
                jQuery.ajax({
                    url: '/api/has_email/?phone='+ mob1,
                    method: 'GET',
                    contentType: 'application/json',

                }).done(res=>{
                    
                    if(res.length > 0){
                        if(mob1_warn.length == 0){
                            jQuery('#phone_number').after(jQuery('<p id="phone_number-warning" class="text-danger">').text('Already exists. Please try another one.'))
                            jQuery('#buttonSubmit').prop('disabled', true)
                        }
                    }
                    else{
                        if(mob1_warn.length > 0){
                            jQuery('#phone_number-warning').remove()
                            jQuery('#buttonSubmit').removeAttr('disabled')
                        }
                    }
                }).fail(err=>{
                    console.log(err)
                })
            }else{
                if(mob1_warn.length > 0){
                    jQuery('#phone_number-warning').remove()
                    jQuery('#buttonSubmit').prop('disabled', true)
                }
            }
        }


        const email = document.getElementById('email')
        email.onkeyup = checkEmail;
        
        const mob1 = document.getElementById('phone_number')
        mob1.onkeyup = checkPhone;
</script>
  {% endblock %}