
{% extends 'admin_layout.html' %}{% load static%} {% block content %}
<style>
    .btn-circle{
        border-radius: 50%;
    }
</style>
  <div class="breadcrumbs">
      <div class="col-sm-4">
          <div class="page-header float-left">
              <div class="page-title">
              </div>
          </div>
      </div>
    </div>
    <div class="content m-3">
        <div class="card pl-3 pr-3">
            <div class="card-body card-block">
                <table class="table" id="Patients">
                    <thead>
                        <tr>
                            <th>Sl No.</th>
                            <th>Doctor Name</th>
                            <th>Phone Number</th>
                            <th>Consultations Count</th>
                            <th>Total Amount</th>
                            <th>Company Share</th>
                            <th>Amount Payable</th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="modal fade" id="patientDetails" tabindex="-1" role="dialog" aria-labelledby="scrollmodalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="scrollmodalLabel">Patient Details</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                  <div class="row p-3">
                      <div class="col-md-6">
                          <div class="form-group">
                            <img src="{% static 'images/avatar/1.jpg' %}" class="justify-content-center" style="height:120px;width:120px;margin-left: 7rem;" alt="">
                          </div>
                        <div class="row form-group">
                            <div class="col col-md-6"><label class=" form-control-label float-right">Patient ID</label></div>
                            <div class="col-12 col-md-6">
                                <p class="form-control-static">DP2020001</p>
                            </div>
                        </div>
                        <div class="row form-group">
                            <div class="col col-md-6"><label class=" form-control-label float-right">Patient Name</label></div>
                            <div class="col-12 col-md-6">
                                <p class="form-control-static">Praveen</p>
                            </div>
                        </div>
                        <div class="row form-group">
                            <div class="col col-md-6"><label class=" form-control-label float-right">Blood Group</label></div>
                            <div class="col-12 col-md-6">
                                <p class="form-control-static">AB-</p>
                            </div>
                        </div>
                        <div class="row form-group">
                            <div class="col col-md-6"><label class=" form-control-label float-right">Gender/Age</label></div>
                            <div class="col-12 col-md-6">
                                <p class="form-control-static">Male/42</p>
                            </div>
                        </div>
                        <div class="row form-group">
                            <div class="col col-md-6"><label class=" form-control-label float-right">Family</label></div>
                            <div class="col-12 col-md-6">
                                <p class="form-control-static">Father/Naveen</p>
                            </div>
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="row form-group">
                            <div class="col col-md-6"><label class=" form-control-label float-right">Primary Mobile No.</label></div>
                            <div class="col-12 col-md-6">
                                <p class="form-control-static">+91 9899887787</p>
                            </div>
                        </div>
                        <div class="row form-group">
                            <div class="col col-md-6"><label class=" form-control-label float-right">Secondary Mobile No.</label></div>
                            <div class="col-12 col-md-6">
                                <p class="form-control-static">+91 9899887715</p>
                            </div>
                        </div>
                        <div class="row form-group">
                            <div class="col col-md-6"><label class=" form-control-label float-right">Email ID</label></div>
                            <div class="col-12 col-md-6">
                                <p class="form-control-static">praveen@gmail.com</p>
                            </div>
                        </div>
                        <div class="row form-group">
                            <div class="col col-md-6"><label class=" form-control-label float-right">Preffered Language</label></div>
                            <div class="col-12 col-md-6">
                                <p class="form-control-static">English (Practice Default)</p>
                            </div>
                        </div>
                        <div class="row form-group">
                            <div class="col col-md-6"><label class=" form-control-label float-right">Street Address</label></div>
                            <div class="col-12 col-md-6">
                                <p class="form-control-static">#1234 Unknown Street</p>
                            </div>
                        </div>
                        <div class="row form-group">
                            <div class="col col-md-6"><label class=" form-control-label float-right">Locality</label></div>
                            <div class="col-12 col-md-6">
                                <p class="form-control-static">Unknown Locality</p>
                            </div>
                        </div>
                        <div class="row form-group">
                            <div class="col col-md-6"><label class=" form-control-label float-right">City</label></div>
                            <div class="col-12 col-md-6">
                                <p class="form-control-static">Unknown City</p>
                            </div>
                        </div>

                      </div>
                  </div>

                </div>
                <div class="modal-footer">

                    <button type="button" data-dismiss="modal" class="btn btn-danger">
                      Close
                  </button>
                </div>
              </div>

          </div>
        </div>
      </div>

{% endblock %}

{% block scripts %}
<script type="text/javascript">
    jQuery(document).ready(function($){


        var table = $('#Patients').DataTable({
            ajax:{
                url:'/api/doctor_paymentlist/',
                dataSrc:"",
            },
            columns:[
            {
                data:"id"
            },
                {
                    data:'doctor.full_name'
                },
                {
                    data:'doctor.phone_number'
                },
                {
                    data:'consultations_count'
                },
                {
                    data:'total_amt'
                },
                {
                    data : 'comm_amt'
                },
                {
                    data : 'amount_payable'
                }

            ],
              language: {
                  lengthMenu: "_MENU_",
                  search: "",
              },
              fnRowCallback: function (nRow, aData, iDisplayIndex) {
                  $("td:first", nRow).html(iDisplayIndex + 1);
                  return nRow;
              }
        })

<!--        $('#patientDetails').on('show.bs.modal', function (event) {-->
<!--        var myVal = $(event.relatedTarget).data('pat');-->
<!--        console.log(myVal)-->

<!--        let gender_age = myVal.gender + '/' + myVal.age;-->



    })

</script>

{% endblock %}