
{% extends 'admin_layout.html' %}{% load static%} {% block content %}
<style>
    .btn-circle{
        border-radius: 50%;
    }
</style>
  <div class="breadcrumbs">
      <div class="col-12">
          <div class="page-header text-center">
              <div class="page-title">
                <h2>Doctor Settlement Details </h2>
              </div>
          </div>
      </div>
    </div>
    <div class="content">
        <div class="card pl-3 pr-3">
            <div class="card-body card-block">
                <table class="table" id="Patients">
                    <thead>
                        <tr>
                            <th>Sl No.</th>
                            <th>Dr. ID</th>
                            <th>Dr. Name</th>
                            <th>Consultation Count</th>
                            <th>Total Amount</th>
                            <th>Commission</th>
                            <th>Payback Amount</th>
                            <th>Balance</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="modal fade" id="settlementDetails" tabindex="-1" role="dialog" aria-labelledby="scrollmodalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="scrollmodalLabel">Settlement Details</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                  <div class="row p-3">
                      <div class="col-md-6">
                          <div class="form-group">
                            <img src="{% static 'images/avatar/1.jpg' %}" class="justify-content-center" style="height:120px;width:120px;margin-left: 7rem;" alt="doctor's img">
                          </div>
                        <div class="row form-group">
                            <div class="col col-md-6"><label class=" form-control-label float-right">Registration No.</label></div>
                            <div class="col-12 col-md-6">
                                <p class="form-control-static"></p>
                            </div>
                        </div>
                        
                        <div class="row form-group">
                            <div class="col col-md-6"><label class=" form-control-label float-right">Full Name</label></div>
                            <div class="col-12 col-md-6">
                                <p class="form-control-static"></p>
                            </div>
                        </div>
                        <div class="row form-group">
                            <div class="col col-md-6"><label class=" form-control-label float-right">Phone No.</label></div>
                            <div class="col-12 col-md-6">
                                <p class="form-control-static"></p>
                            </div>
                        </div>
                        
                      </div>
                      <div class="col-md-6">
                        <form id="PaymentForm">
                            <div class="row form-group">
                                <div class="col col-md-4"><label for="balance" class="form-control-label float-right">Payable Balance</label></div>
                                <div class="col-12 col-md-8">
                                    <input type="text" id="balance" name="balance" placeholder="Doctor ID" class="form-control" 
                                        readonly="readonly">
                                </div>
                            </div>
                            <div class="row form-group">
                                <div class="col col-md-4"><label for="paid_amount" class="form-control-label float-right">Paid Balance</label></div>
                                <div class="col-12 col-md-8">
                                    <input type="text" id="paid_amount" name="paid_amount" placeholder="Doctor ID" class="form-control">
                                    <input type="hidden" id="doctor_id" name="doctor_id" placeholder="Doctor ID" class="form-control">
                                </div>
                            </div>
                            <div class="row form-group">
                                <div class="col col-md-4"><label for="bank_trans_id" class="form-control-label float-right">Bank Transaction Id</label></div>
                                <div class="col-12 col-md-8">
                                    <input type="text" id="bank_trans_id" name="bank_trans_id" placeholder="" class="form-control"
                                        >
                                </div>
                            </div>
                            <br>
                            <button type="submit" class="btn btn-active btn-success">Make payment</button>
                        </form>

                      </div>
                  </div>

                </div>
                <div class="modal-footer">

                    <button id="closePopUP" type="button" data-dismiss="modal" class=" btn btn-danger">
                      Close
                  </button>
                </div>
              </div>

          </div>
        </div>
        <div class="modal fade" id="settlementDetailsOfDoctor" tabindex="-1" role="dialog" aria-labelledby="scrollmodalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="scrollmodalLabel">Doctor Settelment Details</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <table class="table" id="AsettlementDetailsOfDoctor">
                        <thead>
                            <tr>
                                <th>Sl No.</th>
                                
                                <th>Paid Date</th>
                                <th>Bank Transaction Id</th>
                                <th>Paid Amount</th>
                            </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    
        </div>
      </div>

{% endblock %}

{% block scripts %}
<script type="text/javascript">
    jQuery(document).ready(function($){


        var table = $('#Patients').DataTable({
            ajax:{
                url:'/api/doctor_paymentlist/',
                dataSrc:"",
            },
            columns:[
            {
                data:"id"
            },
            {
                data: 'doctor',
                render: function(data){
                    return data.Registration_Number
                }
            },
                {
                    data:'doctor.full_name'
                },
                {
                    data:'consultations_count'
                },
                {
                    data:'total_amt'
                },
                {
                    data : 'comm_amt'
                },
                {
                    data : 'amount_payable'
                },
                {
                    data: "balance",
                    
                },
                {
                    data: 'id',
                    render: function(id, type, row){
                        
                        return `
                        <button type="button" class="btn btn-success mb-2 btn-sm" data-doct='${JSON.stringify(row)}' data-toggle="modal" data-target="#settlementDetails">
                                make payment
                                </button><br>
                            <button type="button" class="btn btn-primary btn-sm" onclick="getSettlementData(this)" data-doct='${JSON.stringify(row)}' data-toggle="modal" data-target="#settlementDetailsOfDoctor">
                                view settelments
                                </button>
                        `
                    }
                }

            ],
            language: {
                lengthMenu: "_MENU_",
                search: "",
                searchPlaceholder: "Search..."
            },
              fnRowCallback: function (nRow, aData, iDisplayIndex) {
                  $("td:first", nRow).html(iDisplayIndex + 1);
                  return nRow;
              }
        })

    
    DoHeighLight('DoctorDropDown', 'DoctorPaymentList')

    $('#settlementDetails').on('show.bs.modal', function (event) {
        var myVal = $(event.relatedTarget).data('doct');
        console.log(myVal)
        if(myVal.balance >0){
            $(this).find('img').attr('src', myVal.doctor.profile_pic);

            let valList = [myVal.doctor.Registration_Number, myVal.doctor.full_name, myVal.doctor.phone_number, myVal.doctor.specialist_type, myVal.doctor.consultation_fee]
            console.log(valList)
            let inputList = $(this).find('input');
            let ps = $(this).find('p');
            console.log(ps.length)
            for(var i=0; i < ps.length; i++){
                ps[i].innerHTML = valList[i]    
            }
            $('#balance').val(myVal.balance)
            $('#paid_amount').val(myVal.balance)
            $('#doctor_id').val(myVal.doctor.id)
        }else{
            alert('There has not any amount to pay.')
            event.preventDefault()}
        
        
        
    })

    $('#PaymentForm').submit(function(e){
        e.preventDefault();
        e.stopImmediatePropagation();
        let form = new FormData(document.getElementById('PaymentForm'));
        $.ajax({
            url: '/api/get_settlement_details/',
            method : 'POST',
            data: form,
            contentType: false,
            processData: false  

        }).done((response)=>{
            console.log("Settlement", response)
            document.getElementById('closePopUP').click();
            table.ajax.reload()
        }).error((err)=>{
            console.log(err)
        })


    })

    


    })
    function getSettlementData(doctor_id){
        let data = jQuery(doctor_id).data('doct')
        doctor_id = data['doctor']['Registration_Number'];
        // $.ajax({
        //     url: `/api/specificDoctorPaymentList?doctor_id=${doctor_id}`,
        //     method: 'GET',
        //     contentType: "application/json",

        // }).done((response)=>{console.log(response)})
        // .fail((err)=>{console.log(err)})
        var tables = jQuery('#AsettlementDetailsOfDoctor').DataTable({
            ajax:{
                url:`/api/specificDoctorPaymentList?doctor_id=${doctor_id}`,
                dataSrc:"",
            },
            columns:[
            {
                data:"id"
            },
            {
                data: "paid_date"
            },
            {
                data: "bank_trans_id"
            },
            {
                data: "paid_amount"
            }
            ],
              language: {
                  lengthMenu: "_MENU_",
                  search: "",
                  searchPlaceholder: "Search..."
              },
              fnRowCallback: function (nRow, aData, iDisplayIndex) {
                  jQuery("td:first", nRow).html(iDisplayIndex + 1);
                  return nRow;
              }
        })
        
    }
    
   
</script>

{% endblock %}