{% extends 'admin_layout.html' %} {% block content %}

  <div class="breadcrumbs">
      <div class="col-12">
          <div class="page-header">
              <div class="page-title text-center">
                  <h2 id="title">Doctors List</h2>
              </div>
          </div>
      </div>
    </div>
    <ul class="nav nav-pills sr-only" id="myTab" role="tablist">
        <li class="nav-item">
          <a class="nav-link active" id="pills-home-tab" data-toggle="pill" href="#list" role="tab" aria-controls="pills-home" aria-selected="true">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link " id="pills-profile-tab" data-toggle="pill" href="#form" role="tab" aria-controls="pills-profile" aria-selected="false">Profile</a>
        </li>
      </ul>
    <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade show active" id="list" role="tabpanel" aria-labelledby="pills-home-tab">
           <div class="content">
        <div class="card pl-3 pr-3">
            <div class="card-body card-block">
                <div class="form-group">
                    <a href="{% url 'frontend:Doctors' %}" id="newDoctor" class="btn btn-primary">
                        <i class="fa fa-plus"></i> Add a new Doctor
                    </a>
                </div>
                <table class="table" id="Doctors" style="width: 100%;">
                    <thead>
                        <tr>
                            <th>Photo</th>
                            <th>Specialist Type</th>
                            <th>Name</th>
                            <th>Phone No.</th>
                            <th>Consultation Fee</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>
        </div>
        <div class="tab-pane fade" id="form" role="tabpanel" aria-labelledby="pills-home-tab">
            
                <div class="content">
                    <form class="form-horizontal" id="doc_form">
                        <div class="card pl-3 pr-3">
                            <div class="card-body card-block">
                
                                <div class="row">
                                    <input type="hidden" name="user">
                                    <input type="hidden" name="id" id="doc_id">
                                    <div class="col-md-4">
                                        <div class="wrap-custom-file" style="margin-left: 5rem;">
                                            <input type="file" name="profile_pic" id="image1" accept=".gif, .jpg, .png" />
                                            <label for="image1">
                                                <span>Select Photo</span>
                                                <i class="fa fa-plus-circle"></i>
                                            </label>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label for="hf-email" class=" form-control-label">User ID<span class="text-danger h5">*</span></label>
                                            <div class="input-group">
                                                <input type="text" id="username" name="username" required placeholder="User ID"
                                                    class="form-control" readonly="readonly">
                                                <span class="input-group-btn">
                                                    <button type="button" class="btn btn-info" id="generate">
                                                        Generate
                                                    </button>
                                                </span>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="hf-email" class=" form-control-label">Password<span class="text-danger h5">*</span></label>
                                            <input type="password" id="password" required name="password" placeholder="Enter Password"
                                                class="form-control">
                                        </div>
                                        <div class="form-group">
                                            <label for="hf-email" class=" form-control-label">Doctor Name<span class="text-danger h5">*</span></label>
                                            <input type="text" id="full_name" name="full_name" required placeholder="Select Doctor Name"
                                                class="form-control">
                                        </div>
                                        <div class="form-group">
                                            <label for="hf-email" class=" form-control-label">Registration No.<span class="text-danger h5">*</span></label>
                                            <input type="text" id="Registration_Number" required name="Registration_Number"
                                                placeholder="Enter Registration Number" class="form-control">
                                        </div>
                                        <div class="form-group">
                                            <label for="hf-email" class=" form-control-label">Email Address<span class="text-danger h5">*</span></label>
                                            <input type="email" id="email" name="email" required placeholder="Enter Email Address"
                                                class="form-control">
                                        </div>
                                        
                                        
                                        <div class="form-group">
                                            <label for="hf-email" class=" form-control-label">Phone No.</label>
                                            <input type="text" id="phone_number" name="phone_number" placeholder="Select Phone Number"
                                                class="form-control">
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label for="hf-email" class=" form-control-label">Specialist Type<span class="text-danger h5">*</span></label>
                                            <select id="specialist_type" name="specialist_type" required class="form-control">
                                                <option value="">Select Specialist Type</option>
                                                {% for specialist_type in specialist_types%}
                                                <option value="{{specialist_type.special_type}}">{{specialist_type.special_type}}
                                                </option>
                                                {% endfor%}
                                            </select>
                                        </div>
                                        
                                        <div class="form-group">
                                            <label for="hf-email" class=" form-control-label">Consultation Fee</label>
                                            <input type="text" id="consultation_fee" name="consultation_fee"
                                                placeholder="Enter Consultation Fee" class="form-control">
                                        </div>
                                        <div class="form-group">
                                            <label for="hf-email" class=" form-control-label">Commision</label>
                                            <input type="text" id="commission_val" name="commission_val"
                                                placeholder="Enter Commision Value" class="form-control" onkeypress="return /^[0-9]+$/i.test(event.key)">
                                        </div>
                                        <div class="form-group">
                                            <label for="hf-email" class=" form-control-label">Commision Unit</label>
                                            <br>
                                            <div class="form-check form-check-inline">
                                                <input class="form-check-input" type="radio" name="commission_type" id="inlineCheckbox1"
                                                    value="Percent">
                                                <label class="form-check-label" for="inlineCheckbox1">Percent</label>
                                            </div>
                                            <div class="form-check form-check-inline">
                                                <input class="form-check-input" type="radio" name="commission_type" id="inlineCheckbox2"
                                                    value="Amount">
                                                <label class="form-check-label" for="inlineCheckbox2">Amount</label>
                                            </div>
                
                                        </div>
                                        <div class="form-group">
                                            <label for="hf-email" class=" form-control-label">MOU/Agreement File</label>
                                            <input type="file" id="mou_file" name="mou_file" class="form-control"  accept=".png, .jpg, .pdf ,.doc ,.docx">
                                        </div>
                                        <div class="form-group">
                                            <label for="hf-email" class=" form-control-label">About</label>
                
                                            <textarea name="about" id="about" rows="5" class="form-control"
                                                placeholder="Enter About Details"></textarea>
                
                                        </div>
                
                                    </div>
                                </div>
                
                
                            </div>
                            <div class="card-footer">
                                <div class="pull-left">
                                    <button type="button" id="listDoctors" class="btn btn-primary btn-sm">
                                        <i class="fa fa-arrow-left"></i> Back to List
                                    </button>
                                </div>
                                <div class="pull-right">
                                    <button type="submit" class="btn btn-primary btn-sm">
                                        <i class="fa fa-dot-circle-o"></i><span id="submitBtn"> Submit</span>
                                    </button>
                                    <button type="reset" class="btn btn-danger btn-sm">
                                        <i class="fa fa-ban"></i> Reset
                                    </button>
                                </div>
                
                            </div>
                        </div>

                    </form>
                </div>
        </div>
    </div>
    
  
  {% endblock %} 
  {% block scripts %}
  <script>
    jQuery(document).ready(function($){
        $('#newDoctor').click(function(){
          $('#title').html('New Doctor')
          $('#myTab a[href="#form"]').tab('show')
        })
        
        $('#listDoctors').click(function(){
          $('#title').html('Doctors List')
          $('#myTab a[href="#list"]').tab('show')
        })

        $('#generate').click(function(){
            $.getJSON('/api/GenerateDoctorID',{},function(data){
                $('#username').val(data.doctorId)
            })
        })

        var table = $('#Doctors').DataTable({
            ajax:{
                url:'/api/doctors_info',
                dataSrc:""
            },
            responsive: true,
            columns:[
                {
                    data:'profile_pic',
                    render:function(data){
                        return `<img src="${data}" style="height: 50px;width: 80px;" alt="Doctor Image">`
                    }
                },
                {
                    className:"align-middle",
                    data:'specialist_type'
                },
                {
                    className:"align-middle",
                    data:'full_name'
                },
                {
                    className:"align-middle",
                    data : 'phone_number'
                },
                {
                    className:"align-middle",
                    data : 'consultation_fee'
                },
                {
                    className:"align-middle",
                    data:'id',
                    render: function (data,type,row) {
                          return `
                                <a href='/DoctorInfo/${data}' data-id='${data}' class="btn btn-link">
                                    View
                                </a>
                                <button type='button' data-id='${data}' class="delete btn btn-active btn-danger">
                                        <i class="fa fa-trash"></i>
                                    </button>
                                `
                      }
                }
            ],
              language: {
                  lengthMenu: "_MENU_",
                  search: "",
                  searchPlaceholder: "Search..."
              }
        })

        crudOperations({
              url:'/api/DoctorRegistration/',
              put_url: '/api/doctors_info/',
              table_id:'#Doctors',
              id_selector:'#doc_id',
              form_id:'#doc_form',
              table:table,
              message: 'the doctor',
              entity:'Doctor',
              tabs:true
        })
        
        DoHeighLight('DoctorDropDown', 'DoctorLists')
    })
</script>
  {% endblock %}