{% extends 'admin_layout.html' %} {% block content %}

  <div class="breadcrumbs">
      <div class="col-12">
          <div class="page-header text-center">
              <div class="page-title">
                  <h2>Doctor Bank Details</h2>
              </div>
          </div>
      </div>
    </div>
    <div class="content">
      <form id="DOctorBankDetailsForm">
        <div class="card">
            <div class="card-body card-block">
                    <div class="row">
                        <input type="hidden" name="id" id="spl_id">
                        <div class="col-md-12 pr-5 pl-5">
                            <div class="row">
                                <div class="form-group col-md-4">
                                    <label for="doctor_id" class=" form-control-label">Select Doctor</label>
                                    <select name="doctor_id" id="doctor_id" class="form-control">
                                        <option value="">Select Doctor</option>
                                    </select>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col form-group">
                                    <label for="account_holder_name" class=" form-control-label">Acc Holder Name</label>
                                    <input type="text" required id="account_holder_name" name="account_holder_name"
                                        placeholder="Enter Account Holder Name" class="form-control">
                                </div>
                                <div class="col form-group">
                                    <label for="account_no" class=" form-control-label">Acc No.</label>
                                    <input type="text" required="" id="account_no" name="account_no" placeholder="Enter Account No."
                                        class="form-control">
                                </div>
                                <div class="col form-group">
                                    <label for="ifsc_no" class=" form-control-label">IFSC Code</label>
                                    <input type="text" required="" id="ifsc_no" name="ifsc_no" placeholder="Enter IFSC Code" class="form-control">
                            
                                </div>
                                <div class="col form-group">
                                    <label for="bank_name" class=" form-control-label">Bank</label>
                                    <input type="text" required="" id="bank_name" name="bank_name" placeholder="Enter Bank Name"
                                        class="form-control">
                                </div>
                                <div class="col form-group">
                                    <label for="branch_name" class=" form-control-label">Branch</label>
                                    <input type="text" required="" id="branch_name" name="branch_name" placeholder="Enter Branch Name"
                                        class="form-control">
                            
                                </div>
                            </div>
                           
                           
                            
                        </div>
                    </div>
            </div>
            <div class="card-footer">
                <div class="pull-right">
                    <button type="submit" class="btn btn-primary btn-sm" >
                        <i class="fa fa-dot-circle-o"></i> <span id="submitBtn">Add Bank Details</span> 
                    </button>
                    <button type="reset" class="btn btn-danger btn-sm">
                        <i class="fa fa-ban"></i> Reset
                    </button>
                </div>
                
            </div>
        </div> 
    </form>
    </div>
    <div class="content">
         <div class="card">
            <div class="card-body card-block">
                <div class="table-responsive">
                     <table class="table table-bordered table-hover" id="doctorBankDeails">
                    <thead>
                        <tr>
                            <th>Slno</th>
                            <th>Doctor</th>
                            <th>Acc Holder Name</th>
                            <th>Acc No.</th>
                            <th>IFSC</th>
                            <th>Bank</th>
                            <th>Branch</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
                </div>
               
            </div>
        </div>
       
        
    </div>
  
  {% endblock %} 
  {% block scripts %}
  <script>
      jQuery(document).ready(function($){
          var table = jQuery('#doctorBankDeails').DataTable({
              ajax: {
                  url: "/api/doctor_bank_details",
                  dataSrc: ""
              },
              responsive:true,
              columns: [
                  {
                      data: "id"
                  },
                  {
                      data: "doctor_id"
                  },
                  {
                      data: "account_holder_name"
                  },
                  {
                      data: "account_no"
                  },
                  {
                      data: "ifsc_no"
                  },
                  {
                      data: "bank_name"
                  },
                  {
                    data: "branch_name"
                  },
                  {
                      data: 'id',
                      render: function (data,type,row) {
                          return `<button type="button" data-id='${data}' data-obj='${JSON.stringify(row)}' class="btn rounded-circle btn-primary btn-sm edit">
                                    <i class="fa fa-edit"></i>
                                </button>
                                <button type="button" data-id='${data}' class="btn rounded-circle btn-danger btn-sm delete">
                                    <i class="fa fa-trash"></i>
                                </button>`
                      }
                  },
              ],
              language: {
                  lengthMenu: "_MENU_",
                  search: "",
                  searchPlaceholder: "Search..."
              },
          })
        // select options are made with api
        
        function setOptions(){
            $.ajax({
                url: "/api/doctor_agreement_list",
                method: 'GET',
                contentType: "application/json"
            }).done((response)=>{
                console.log(response)
                let options = ''
                for(var i=0; i < response.length; i++){
                    const option = `
                        <option value="${response[i].id}">${response[i].user.username}</option>
                    `;
                    options += option
                }
                let lastOptions = $('#doctor_id').html();
                lastOptions += options;
                $('#doctor_id').html(lastOptions)
            }).fail((error)=>{
                console.log(error);
            })
        }
        setOptions()

          crudOperations({
              url:'/api/doctor_bank_details/',
              put_url:'/api/doctor_bank_details/',
              table_id:'#doctorBankDeails',
              id_selector:'#spl_id',
              form_id:'#DOctorBankDetailsForm',
              table:table,
              entity:'Bank Details',
              tabs:false
          })
          

          DoHeighLight('DoctorDropDown', 'doctorBankDetails')

      })
  </script>
  {% endblock %}