{% extends 'admin_layout.html' %} {% block content %}

  <div class="breadcrumbs">
      <div class="col-sm-4">
          <div class="page-header float-left">
              <div class="page-title">
                  <h1>Doctors List</h1>
              </div>
          </div>
      </div>
    </div>
    <div class="content m-3">
        <div class="card pl-3 pr-3">
            <div class="card-body card-block">
                <table class="table" id="Specialists">
                    <thead>
                        <tr>
                            <th>Image</th>
                            <th>Specialist Type</th>
                            <th>Name</th>
                            <th>Email</th>
                            <th>Phone No.</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>
  
  {% endblock %} {% block scripts %}{% endblock %}