{% extends 'admin_layout.html' %} {% block content %}

  <div class="breadcrumbs">
      <div class="col-sm-4">
          <div class="page-header float-left">
              <div class="page-title">
                  <h1 id="title">Executive List</h1>
              </div>
          </div>
      </div>
    </div>
    <ul class="nav nav-pills sr-only" id="myTab" role="tablist">
        <li class="nav-item">
          <a class="nav-link active" id="pills-home-tab" data-toggle="pill" href="#list" role="tab" aria-controls="pills-home" aria-selected="true">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="pills-profile-tab" data-toggle="pill" href="#form" role="tab" aria-controls="pills-profile" aria-selected="false">Profile</a>
        </li>
      </ul>
    <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade show active" id="list" role="tabpanel" aria-labelledby="pills-home-tab">
           <div class="content m-3">
        <div class="card pl-3 pr-3">
            <div class="card-body card-block">
                <div class="form-group">
                    <button type="button" id="newExecutive" class="btn btn-primary">
                        <i class="fa fa-plus"></i> New Executive
                    </button>
                </div>
                <table class="table" id="executive">
                    <thead>
                        <tr>
                            <th>slno</th>
                            <th>Image</th>
                            <th>Name</th>
                            <th>Phone No.</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>
        </div>
        <div class="tab-pane fade" id="form" role="tabpanel" aria-labelledby="pills-home-tab">
                <div class="content m-3">
                    <form class="form-horizontal" id="exe_form">
                        <input type="hidden" id="exe_id" name="id">
                        <input type="hidden" name="user">
                        <div class="card pl-3 pr-3">
                            <div class="card-body card-block">
                    
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="wrap-custom-file" style="margin-left: 5rem;">
                                            <input type="file" name="profile_pic" id="image1" accept=".gif, .jpg, .png" />
                                            <label for="image1">
                                                <span>Select Photo</span>
                                                <i class="fa fa-plus-circle"></i>
                                            </label>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label for="hf-email" class=" form-control-label">Executive Name</label>
                                            <input type="text" id="full_name" name="full_name" placeholder="Select Doctor Name"
                                                class="form-control">
                                        </div>
                                        <div class="form-group">
                                            <label for="hf-email" class=" form-control-label">Email Address</label>
                                            <input type="text" id="username" name="username" placeholder="Enter Email Address"
                                                class="form-control">
                                            <input type="hidden" name="email" id="email">
                                        </div>
                                        <div class="form-group">
                                            <label for="hf-email" class=" form-control-label">Phone No.</label>
                                            <input type="text" id="phone_number" name="phone_number" placeholder="Select Phone Number"
                                                class="form-control">
                                        </div>
                                        <div class="form-group">
                                            <label for="hf-email" class=" form-control-label">Password</label>
                                            <input type="password" id="password" name="password" placeholder="Enter Password"
                                                class="form-control">
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label for="hf-email" class=" form-control-label">About</label>
                    
                                            <textarea name="about" id="about" rows="9" class="form-control"
                                                placeholder="Enter About Details"></textarea>
                    
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card-footer">
                                <div class="pull-left">
                                    <button type="button" id="listExecutive" class="btn btn-primary btn-sm">
                                        <i class="fa fa-arrow-left"></i> Back to List
                                    </button>
                                </div>
                                <div class="pull-right">
                                    <button type="submit" class="btn btn-primary btn-sm">
                                        <i class="fa fa-dot-circle-o"></i><span id="submitBtn">Submit</span>
                                    </button>
                                    <button type="reset" class="btn btn-danger btn-sm">
                                        <i class="fa fa-ban"></i> Reset
                                    </button>
                                </div>
                    
                            </div>
                        </div>
                    </form>
                </div>
        </div>
    </div>
    
  
  {% endblock %} 
  {% block scripts %}
  <script>
    jQuery(document).ready(function($){
        $('#newExecutive').click(function(){
          $('#title').html('New Executive')
          $('#myTab a[href="#form"]').tab('show')
        })
        
        $('#listExecutive').click(function(){
          $('#title').html('New Executive')
          $('#myTab a[href="#list"]').tab('show')
        })

        $('#username').change(function(){
            $('#email').val($(this).val())
        })

        var table = $('#executive').DataTable({
            ajax:{
                url:'/api/executive_details/',
                dataSrc:""
            },
            columns:[
                {
                    data:'id'
                },
                {
                    data:'profile_pic',
                    render:function(data){
                        return `<img src="${data}" style="height:90px;width:120px" alt="">`
                    }
                },
                {
                    data:'full_name'
                },
                {
                    data : 'phone_number'
                },
                {
                    data:'id',
                    render: function (data,type,row) {
                          return `<button type="button" data-id='${data}' data-obj='${JSON.stringify(row)}' class="btn rounded-circle btn-primary btn-sm edit">
                                    <i class="fa fa-edit"></i>
                                </button>
                                <button type="button" data-id='${data}' class="btn rounded-circle btn-danger btn-sm delete">
                                    <i class="fa fa-trash"></i>
                                </button>`
                      }
                }
            ],
              language: {
                  lengthMenu: "_MENU_",
                  search: "",
              },
              fnRowCallback: function (nRow, aData, iDisplayIndex) {
                  $("td:first", nRow).html(iDisplayIndex + 1);
                  return nRow;
              }
        })

        crudOperations({
              url:'/api/executiveRegistration',
              put_url: '/api/executive_details/',
              table_id:'#executive',
              id_selector:'#exe_id',
              form_id:'#exe_form',
              table:table,
              entity:'executive',
              tabs:true
        })

    })
</script>
  {% endblock %}