{% extends 'admin_layout.html' %} {% block content %}

<div class="breadcrumbs">
    <div class="col-12">
        <div class="page-header text-center">
            <div class="page-title">
                <h2>Lab Test packages</h2>
            </div>
        </div>
    </div>
</div>
<div class="content">
    <form id="labPackageForm">
        <div class="card">

            <div class="card-body card-block">
                <div class="row">
                    <input type="hidden" name="id" id="spl_id">
                    <div class="offset-md-2 col-md-4 pr-5 pl-5">
                        <div class="row form-group">
                            <label for="hf-email" class=" form-control-label">Package Title</label>
                            <input type="text" required="" id="title" name="title" placeholder="Enter Name"
                                class="form-control">
                        </div>
                        <div class="row form-group">
                            <label for="hf-email" class=" form-control-label">Package Price</label>
                            <input type="number" required="" id="price" name="price"
                                placeholder="Enter Plan Price" class="form-control">
                        </div>
                        <div class="row form-group">
                            <label for="hf-email" class=" form-control-label">Grid Description</label>
                            <textarea name="grid_description" id="grid_description" rows="3" class="form-control"
                                placeholder="Enter Benifits List"></textarea>
                        </div>

                    </div>
                    <div class="col-md-4 pr-5 pl-5">
                        <div class="row form-group">
                            <label for="hf-email" class=" form-control-label">Short Description</label>
                            <textarea name="short_desc" id="short_desc" rows="3" class="form-control"
                                placeholder="Enter Benifits List"></textarea>
                        </div>
                        <div class="row form-group">
                            <label for="hf-email" class=" form-control-label">Detailed Description</label>
                            <textarea name="detailed_description" id="detailed_description" rows="3" class="form-control"
                                placeholder="Enter Benifits List"></textarea>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-footer">
                <div class="pull-right">
                    <button type="submit" class="btn btn-primary btn-sm">
                        <i class="fa fa-dot-circle-o"></i> <span id="submitBtn">Add Package</span>
                    </button>
                    <button type="reset" class="btn btn-danger btn-sm">
                        <i class="fa fa-ban"></i> Reset
                    </button>
                </div>

            </div>
        </div>
    </form>
</div>
<div class="content">
    <div class="card">
        <div class="card-body card-block">
            <div class="table-responsive">
                <table class="table table-bordered table-hover" id="labTestPackages">
                    <thead>
                        <tr>
                            <th>Slno</th>
                            <th>Title</th>
                            <th>Price</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>

        </div>
    </div>
</div>

{% endblock %}
{% block scripts %}
<script>
    jQuery(document).ready(function ($) {
        
            var table = jQuery('#labTestPackages').DataTable({
                ajax: {
                    url: "/api/labtestCRUD/",
                    dataSrc: ""
                },
                responsive: true,
                columns: [
                    {
                        data: "id"
                    },
                    {
                        data: "title"
                    },
                    {
                        data: "price"
                    },
                    {
                        data: 'id',
                        render: function (data, type, row) {
                            var obj =JSON.stringify(row).replace(/'/g,"")
                            return `
                            <a href="/Manage_lab_test_packages?id=${data}" class="btn rounded-circle btn-success btn-sm">
                                <i class="fa fa-tasks"></i>
                            </a>
                            <button type="button" data-id='${data}' data-obj='${obj}' class="btn rounded-circle btn-primary btn-sm edit">
                                    <i class="fa fa-edit"></i>
                                </button>
                                <button type="button" data-id='${data}' class="btn rounded-circle btn-danger btn-sm delete">
                                    <i class="fa fa-trash"></i>
                                </button>`
                        }
                    },
                ],
                language: {
                    lengthMenu: "_MENU_",
                    search: "",
                    searchPlaceholder: "Search..."
                },
            })
        

        crudOperations({
            url:'/api/labtestCRUD/',
            put_url:'/api/labtestCRUD/',
            table_id:'#labTestPackages',
            id_selector:'#spl_id',
            form_id:'#labPackageForm',
            table:table,
            entity:'Package'
        })

         DoHeighLight('Administration', 'subscription_plans')
        
    })
</script>
{% endblock %}
