{% extends 'admin_layout.html' %} {% block content %}

<div class="breadcrumbs">
    <div class="col-sm-12">
        <div class="page-header float-left">
            <div class="page-title">
                <h3>Package : {{ labtest.title }}</h3>
            </div>
        </div>
    </div>
</div>
<div class="content">
    <div class="card pl-3 pr-3">
        <div class="card-header">
            <ul class="nav nav-pills nav-justified" id="myTab" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" id="pills-profile-tab" data-toggle="pill" href="#parameters" role="tab"
                        aria-controls="pills-profile" aria-selected="true">Parameters</a>
                </li>
                <li class="nav-item" onclick="getDoctorBankDetails()">
                    <a class="nav-link " id="pills-profile-tab" data-toggle="pill" href="#FAQs" role="tab"
                        aria-controls="pills-profile" aria-selected="true">FAQs</a>
                </li>
            </ul>
        </div>
        <div class="card-body card-block">
            <div class="tab-content">
                <div class="tab-pane show active" id="parameters">
                    <div class="card">
                        <div class="card-header">
                            Package Parameters
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-6">
                                    <ul class="list-group" >
                                        <li class="list-group-item">
                                            <form id="lab_tests_parameters_type_form">
                                                <input type="hidden" name="lab_test" value="{{labtest.id}}">
                                                <div class="input-group">
                                                    <input type="text" name="parameter_type" class="form-control"
                                                        placeholder="New Parameter Type">
                                                    <span class="input-group-btn">
                                                        <button class="btn btn-primary">
                                                            <i class="fa fa-plus-circle"></i>
                                                        </button>
                                                    </span>
                                                </div>
                                            </form>
                                        </li>
                                    </ul>
                                    <ul class="list-group" id="labtest_parameter_types">
                                        <li class="list-group-item d-flex justify-content-between align-items-center">
                                            
                                        </li>
                                    </ul>
                                </div>
                                <div class="col-md-6">
                                    <ul class="list-group" >
                                        <li class="list-group-item form-item">
                                            <form id="lab_tests_parameterForm">
                                                <input type="hidden" name="parameter_type" id="parameter_parameterType">
                                                <div class="input-group">
                                                    <input type="text" name="parameter" class="form-control"
                                                        placeholder="New Parameter">
                                                    <span class="input-group-btn">
                                                        <button class="btn btn-primary" disabled="disabled" id="paramneterSubmitBtn">
                                                            <i class="fa fa-plus-circle"></i>
                                                        </button>
                                                    </span>
                                                </div>
                                            </form>
                                        </li>
                                    </ul>
                                    <ul class="list-group" id="lab_tests_parameterUL" >

                                    </ul>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="tab-pane" id="FAQs">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="card">
                                <div class="card-header">
                                    Package FAQs
                                </div>
                                <div class="card-body">
                                    <form id="lab_tests_faqs">
                                        <input type="hidden" name="lab_test" value="{{labtest.id}}">
                                        <div class="form-group">
                                            <label for="g_desc">Question</label>
                                            <textarea type="text" placeholder="Enter Grid Description"
                                                class="form-control" name="question" id="question" rows="2"></textarea>
                                        </div>
                                        <div class="form-group">
                                            <label for="g_desc">Answer</label>
                                            <textarea type="text" placeholder="Enter Short Description"
                                                class="form-control" name="answer" id="answer" rows="3"></textarea>
                                        </div>
                                        <div class="card-footer">
                                            <button class="btnbtn-block btn-primary">
                                                Add FAQ
                                            </button>
                                        </div>
                                    </form>
                                </div>

                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="card">
                                <div class="card-header">
                                    FAQs List
                                </div>
                                <div class="card-body">
                                    <div id="accordion">
                                        {% for faq in faqs %}
                                        <div class="card">
                                            <div class="card-header" id="heading{{faq.id}}">
                                                <h5 class="mb-0">
                                                    <button data-id="{{faq.id}}"
                                                        class="float-right deletefaq btn btn-danger"><i
                                                            class="fa fa-trash"></i></button>
                                                    <button class="btn btn-link" data-toggle="collapse"
                                                        data-target="#collapse{{faq.id}}" aria-expanded="true"
                                                        aria-controls="collapse{{faq.id}}">
                                                        {{faq.question}}
                                                    </button>
                                                </h5>
                                            </div>

                                            <div id="collapse{{faq.id}}" class="collapse show"
                                                aria-labelledby="heading{{faq.id}}" data-parent="#heading{{faq.id}}">
                                                <div class="card-body">
                                                    {{faq.answer}}
                                                </div>
                                            </div>
                                        </div>
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

{% endblock %}


{% block scripts %}
<script>
    console.log('Ima')
    DoHeighLight('LabTestDropDown', 'LabTests');
    getParametersType();
    function getParametersType(){
        jQuery.getJSON('/api/labtestparameterTypeCRUD/?labtest={{labtest.id}}',{},function(data){
        var parameters_typedata = '' 
        jQuery.each(data,function(i,item){
            parameters_typedata+=`
            <li class="list-group-item d-flex justify-content-between align-items-center" >
                <div class="form-check" >
                    <input class="form-check-input pTypeRadio" type="radio"
                            id="exampleRadios1${item.id}" value="option1" data-id="${item.id}" name="labtestparameterTypeRadio">
                    <label class="form-check-label" for="exampleRadios1${item.id}" style="cursor:pointer;">
                        ${item.parameter_type}
                    </label>
                </div>
                <span data-id="${item.id}"
                    class="badge deleteParameterType badge-danger badge-pill">
                    <i class="fa fa-times"></i>
                </span>
            </li>
            `
        })

        jQuery('#labtest_parameter_types').html(parameters_typedata)
        jQuery('#lab_tests_parameterUL').html('')
    })
    }

    function getParameters(type){
        jQuery.getJSON('/api/labtestparameterCRUD/?type='+type,{},function(data){
            console.log(data)
        var parameters_typedata = '' 
        jQuery.each(data,function(i,item){
            parameters_typedata+=`
            <li class="list-group-item d-flex justify-content-between align-items-center" >
                ${item.parameter}
                <span data-id="${item.id}"
                    class="badge deleteParameter badge-danger badge-pill">
                    <i class="fa fa-times"></i>
                </span>
            </li>
            `
        })

        jQuery('#lab_tests_parameterUL').html(parameters_typedata)
    })
    }

    jQuery('#labtest_parameter_types').on('change','.pTypeRadio',function(){
        var id = jQuery(this).attr('data-id')
        jQuery('#parameter_parameterType').val(id)
        jQuery('#paramneterSubmitBtn').removeAttr('disabled')
        getParameters(id);
    })


    jQuery('#lab_tests_parameters_type_form').submit(function (e) {
        e.preventDefault()
        e.stopImmediatePropagation()

        let data = new FormData(document.getElementById('lab_tests_parameters_type_form'));

        jQuery.ajax({
            url: '/api/labtestparameterTypeCRUD/',
            method: 'POST',
            data: data,
            contentType: false,
            processData: false
        })
            .done(function (response) {
                getParametersType();
            })
            .fail(err => console.log(err))
    })

    jQuery('#labtest_parameter_types').on('click', '.deleteParameterType', function () {
        let button = jQuery(this)
        let id = jQuery(button).data('id')
        jQuery.ajax({
            url: '/api/labtestparameterTypeCRUD/' + id + '/',
            method: 'DELETE'
        })
            .done(() => {
                jQuery(button).closest('li').remove()
            })
    })

    jQuery('#lab_tests_parameterForm').submit(function (e) {
        e.preventDefault()
        e.stopImmediatePropagation()

        let data = new FormData(document.getElementById('lab_tests_parameterForm'));
        jQuery.ajax({
            url: '/api/labtestparameterCRUD/',
            method: 'POST',
            data: data,
            contentType: false,
            processData: false
        })
            .done(function (response) {
                console.log(response)
                jQuery('#lab_tests_parameterUL').append(
                    `
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        ${response.parameter}
                        <span data-id="${response.id}" class="badge parameterDelete badge-danger badge-pill">
                            <i class="fa fa-trash"></i>
                        </span>
                    </li>
                `
                )


            })
            .fail(err => {
                console.log(err);
            })
    })

    jQuery('#lab_tests_parameterUL').on('click', '.parameterDelete', function () {
        let id = jQuery(this).data('id');
        let buttons = jQuery(this);
        jQuery.ajax({
            url: '/api/labtestparameterCRUD/' + id + '/',
            method: 'DELETE'
        })
            .done(response => {
                jQuery(buttons).closest('li').remove()
            })
    })

    jQuery('#lab_tests_faqs').submit(function (e) {
        e.preventDefault();
        e.stopImmediatePropagation()
        let data = new FormData(document.getElementById('lab_tests_faqs'));

        jQuery.ajax({
            url: '/api/labtestFaqsCRUD/',
            method: 'POST',
            data: data,
            contentType: false,
            processData: false
        })
            .done(function (response) {
                console.log(response)
                let html_of_faq = jQuery('#accordion').html()
                let new_faq = `
                        <div class="card">
                            <div class="card-header" id="headingOne">
                                <h5 class="mb-0">
                                    <button data-id="${response.id}" class="float-right deletefaq btn btn-danger"><i
                                            class="fa fa-trash"></i></button>
                                    <button class="btn btn-link" data-toggle="collapse"
                                        data-target="#collapseOne" aria-expanded="true"
                                        aria-controls="collapseOne">
                                        ${response.question}
                                    </button>
                                </h5>
                            </div>

                            <div id="collapseOne" class="collapse show" aria-labelledby="headingOne"
                                data-parent="#accordion">
                                <div class="card-body">
                                    ${response.answer}
                                </div>
                            </div>
                        </div>
                `
                let newest_faqs = new_faq + html_of_faq
                jQuery('#accordion').html(newest_faqs)

            })
            .fail(err => {
                console.log(err);
            })
    })




    jQuery('#accordion').on('click', '.deletefaq', function () {
        let id = jQuery(this).data('id')
        let button = jQuery(this)
        jQuery.ajax({
            url: '/api/labtestFaqsCRUD/' + id + '/',
            method: 'DELETE'
        })
            .done(response => {
                jQuery(button).closest('.card').remove()
            })
            .fail(err => console.log(err))
    })
    jQuery('#package-accordion').on('click', '.delete-package', function () {
        let id = jQuery(this).data('id')
        let button = jQuery(this)
        jQuery.ajax({
            url: '/api/labtestCRUD/' + id + '/',
            method: 'DELETE'
        }).done(response => {
            jQuery(button).closest('.card').remove()
        })
            .fail(err => console.log(err))
    })

</script>
{% endblock %}