{% extends 'admin_layout.html' %} {% block content %} {% load static %}
<div class="breadcrumbs">
    <div class="col-12">
        <div class="page-header text-center">
            <div class="page-title">
                <h1 id="title">Payments and Settlements</h1>
            </div>
        </div>
    </div>
</div>
<div class="content">
    <div class="card pl-3 pr-3">
        <div class="card-body card-block">
                    <ul class="nav nav-pills nav-justified" style="width: 100%;" id="myTab" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" id="pills-home-tab" data-toggle="pill" href="#list" role="tab"
                                aria-controls="pills-home" aria-selected="true">Recipts</a>
                        </li>
                        <li class="nav-item" onclick="getDotorsettlement()">
                            <a class="nav-link" id="pills-profile-tab" data-toggle="pill" href="#form" role="tab"
                                aria-controls="pills-profile" aria-selected="false">Payments</a>
                        </li>
                    </ul>
                    <div class="tab-content" id="myTabContent">
                        <div class="tab-pane fade show active" id="list" role="tabpanel"
                            aria-labelledby="pills-home-tab">
                            <div class="mt-3">
                                <div class="card">
                                    <div class="card-header" id="headingOne">
                                        <h5 class="mb-0">
                                            Consultations
                                        </h5>
                                    </div>
                                    <div class="card-body">
                                        <table id="consultation" class="table table-bordered table-hover"
                                            style="width:100%">
                                            <thead>
                                                <tr>
                                                    <th>Date & time</th>
                                                    <th>Inv No.</th> 
                                                    <th>Doctor</th>
                                                    <th>Patient</th>
                                                    <th>Rd. Amt.</th>
                                                    <th>Actions</th>
                                                </tr>
                                            </thead>
                                        </table>
                                    </div>
                                </div>
                                <div class="card">
                                    <div class="card-header" id="headingTwo">
                                        <h5 class="mb-0">
                                            Subscriptions
                                        </h5>
                                    </div>
                                    <div class="card-body">
                                        <table id="Subscriptions" class="table table-bordered table-hover"
                                            style="width:100%">
                                            <thead>
                                                <tr>
                                                    <th>Date</th>
                                                    <th>Patient ID</th>
                                                    <th>Patient Name</th>
                                                    <th>Plan</th>
                                                    <th>Validity</th>
                                                    <th>Rd. Amt.</th>
                                                    <th>Actions</th>
                                                </tr>
                                            </thead>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="form" role="tabpanel" aria-labelledby="pills-home-tab">
                            <div class="mt-3">
                                <div class="card">
                                    <div class="card-header" id="headingTwo">
                                        <h5 class="mb-0">
                                            Doctor Payments
                                        </h5>
                                    </div>
                                    <div class="card-body">
                                        <table id="doctorResult" class="table table-bordered table-hover"
                                            style="width:100%">
                                            <thead>
                                                <tr>
                                                    <th>Sl No.</th>
                                                    <th>Dr. ID</th>
                                                    <th>Name</th>
                                                    <th>Cons. Count</th>
                                                    <th>Total Amt.</th>
                                                    <th>Payback Amt.</th>
                                                    <th>Balance</th>
                                                    <th>Paid Amt.</th>
                                                    <th>Actions</th>
                                                </tr>
                                            </thead>
                                        </table>
                                    </div>
                                </div>
                                <div class="card">
                                    <div class="card-header" id="headingTwo">
                                        <h5 class="mb-0">
                                            Other Payments
                                        </h5>
                                    </div>
                                    <div class="card-body">
                                        <table id="otherPayments" class="table table-bordered table-hover"
                                            style="width:100%">
                                            <thead>
                                                <tr>
                                                    <th>Sl No.</th>
                                                    <th>Bill Type</th>
                                                    <th>Billed Date</th>
                                                    <th>Paid Date</th>
                                                    <th>Paid by</th>
                                                    <th>Bill Amount</th>
                                                    <th>Actions</th>
                                                </tr>
                                            </thead>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
        </div>
    </div>
</div>
<div class="modal fade" id="settlementDetails" tabindex="-1" role="dialog" aria-labelledby="scrollmodalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="scrollmodalLabel">Settlement Details</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                  <div class="row p-3">
                      <div class="col-md-6">
                          <div class="form-group">
                            <img src="{% static 'images/avatar/1.jpg' %}" class="justify-content-center" style="height:120px;width:120px;margin-left: 7rem;" alt="doctor's img">
                          </div>
                        <div class="row form-group">
                            <div class="col col-md-6"><label class=" form-control-label float-right">Registration No.</label></div>
                            <div class="col-12 col-md-6">
                                <p class="form-control-static"></p>
                            </div>
                        </div>
                        
                        <div class="row form-group">
                            <div class="col col-md-6"><label class=" form-control-label float-right">Full Name</label></div>
                            <div class="col-12 col-md-6">
                                <p class="form-control-static"></p>
                            </div>
                        </div>
                        <div class="row form-group">
                            <div class="col col-md-6"><label class=" form-control-label float-right">Phone No.</label></div>
                            <div class="col-12 col-md-6">
                                <p class="form-control-static"></p>
                            </div>
                        </div>
                        
                      </div>
                      <div class="col-md-6">
                        <form id="PaymentForm">
                            <div class="row form-group">
                                <div class="col col-md-4"><label for="balance" class="form-control-label float-right">Payable Balance</label></div>
                                <div class="col-12 col-md-8">
                                    <input type="text" id="balance" name="balance" placeholder="Doctor ID" class="form-control" 
                                        readonly="readonly">
                                </div>
                            </div>
                            <div class="row form-group">
                                <div class="col col-md-4"><label for="paid_amount" class="form-control-label float-right">Paid Balance</label></div>
                                <div class="col-12 col-md-8">
                                    <input type="text" id="paid_amount" name="paid_amount" placeholder="Doctor ID" class="form-control">
                                    <input type="hidden" id="doctor_id" name="doctor_id" placeholder="Doctor ID" class="form-control">
                                </div>
                            </div>
                            <div class="row form-group">
                                <div class="col col-md-4"><label for="bank_trans_id" class="form-control-label float-right">Bank Transaction Id</label></div>
                                <div class="col-12 col-md-8">
                                    <input type="text" id="bank_trans_id" name="bank_trans_id" placeholder="" class="form-control"
                                        >
                                </div>
                            </div>
                            <br>
                            <button type="submit" class="btn btn-active btn-success">Make payment</button>
                        </form>

                      </div>
                  </div>

                </div>
                <div class="modal-footer">

                    <button id="closePopUP" type="button" data-dismiss="modal" class=" btn btn-danger">
                      Close
                  </button>
                </div>
              </div>

          </div>
        </div>
        <div class="modal fade" id="patientDetails" tabindex="-1" role="dialog" aria-labelledby="scrollmodalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <!-- <h5 class="modal-title" id="scrollmodalLabel">Doctor Details</h5> -->
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        
                    </div>
    
                </div>
            </div>
    
        </div>
{% endblock %}
{% block scripts %}
<script>
    DoHeighLight('Administration', 'mis_reports');

    let doctorResult = null;

    let consultationsTable = jQuery('#consultation').DataTable({
            ajax:{
                url:'/api/getAllConsultations',
                dataSrc:""
            },
            columns:[
                {
                    data: 'consultation_date_time',
                    render: function(data){
                        console.log(data)
                        return jQuery.format.date(data, "dd/MM/yyyy")
                    }
                },
                {
                    data:'inv_number'
                },
                {
                    data : 'doctor_id.full_name'
                },
                {
                    data : 'patient_name'
                },
                {
                    data : 'consultation_amt'
                },

                {
                    data : 'id',
                    render: function (data, type, row) {
                        return `<button type="button" class="btn btn-primary btn-sm" data-doct='${JSON.stringify(row)}' data-toggle="modal" data-target="#patientDetails">
                            Details
                                </button>`
                    }
                },
                
            ],
            language: {
                  lengthMenu: "_MENU_",
                  search: "",
                  searchPlaceholder: "Search..."
              },
              
        })

        jQuery('#patientDetails').on('show.bs.modal', function (event) {
            var myVal = jQuery(event.relatedTarget).data('doct');
            let date_time = new Date(myVal.consultation_date_time)
            let company_share = myVal.consultation_amt - myVal.doctor_id.consultation_fee;
            const contents = `
                    <div class="row">
                        <div class="col-md-6">
                            <div>
                                <p><b>Doctor Name: </b>${myVal['doctor_id']['full_name']}</p>
                                <p><b>Doctor registration Number:</b> ${myVal.doctor_id.Registration_Number}</p>
                                <p><b>Doctor fee:</b> ${myVal.doctor_id.consultation_fee}</p>
                                
                            </div>
                            <div>
                                <p><b>patient Name: </b>${myVal.patient_name}</p>
                                <p>patient email: ${myVal.patient.email}</p>
                                
                            </div>
                        </div>
                        <div class="col-md-6">
                            <p>Appointment Date: ${date_time.toLocaleDateString()}</p>
                            <p>Appointment time: ${date_time.toLocaleTimeString()}</p>
                            <p>Total paid Amount: ${myVal.consultation_amt}</p>
                            <p>Doctor share: ${myVal.doctor_id.consultation_fee}</p>
                            <p>Company share: ${company_share}</p>
                            <p>GST : ${company_share * 0.05 }</p>
                        </div>
                    </div>
            `;

            jQuery('#patientDetails .modal-body').html(contents)

        })



    let subscriptionsTable = jQuery('#Subscriptions').DataTable({
            ajax:{
                url:'/api/allSubscription_plans',
                dataSrc:""
            },
            columns:[
                {
                    data: 'start_date',
                    render: function(data){
                        console.log(data)
                        return jQuery.format.date(data, "dd/MM/yyyy")
                    }
                },
                {
                    data:'patient.pat_id'
                },
                {
                    data : 'patient.full_name'
                },
                {
                    data : 'plan.plan_name'
                },
                {
                    data : 'plan.validity'
                },
                {
                    data: 'plan.plan_price'
                },
                {
                    data : 'id',
                    render: function (data, type, row) {
                        return `<button type="button" class="btn btn-primary btn-sm" data-doct='${JSON.stringify(row)}'>
                            Details
                                </button>`
                    }
                },
                
            ],
            language: {
                  lengthMenu: "_MENU_",
                  search: "",
                  searchPlaceholder: "Search..."
              },
              
        })
    // function getDotorsettlement(){

        doctorResult = jQuery('#doctorResult').DataTable({
            ajax:{
                url:'/api/doctor_paymentlist',
                dataSrc:""
            },
            
            columns:[
                {
                    data: 'id'
                },
                // {
                //     data: 'start_date',
                //     render: function(data){
                //         console.log(data)
                //         return jQuery.format.date(data, "dd/MM/yyyy")
                //     }
                // },
                {
                    data: 'doctor.Registration_Number'
                },
                {
                    data:'doctor.full_name'
                },
                {
                    data : 'consultations_count'
                },
                {
                    data : 'total_amt'
                },
                {
                    data : 'amount_payable'
                },
                {
                    data: 'balance'
                },
                {
                    data: 'paid_amount'
                },
                {
                    data : 'id',
                    render: function (data, type, row) {
                        return `<button type="button" class="btn btn-primary btn-sm" data-doct='${JSON.stringify(row)}' data-toggle="modal" data-target="#settlementDetails">
                                Make Payments
                                </button>`
                    }
                },
                
            ],
            language: {
                  lengthMenu: "_MENU_",
                  search: "",
                  searchPlaceholder: "Search..."
              },
              fnRowCallback: function (nRow, aData, iDisplayIndex) {
                  jQuery("td:first", nRow).html(iDisplayIndex + 1);
                  return nRow;
              }
              
        })
        
        let otherPayments = jQuery('#otherPayments').DataTable({
            ajax:{
                url:'/api/CheckBillPayments',
                dataSrc:""
            },
            columns:[
                {
                    data: 'id'
                },
                // {
                //     data: 'start_date',
                //     render: function(data){
                //         console.log(data)
                //         return jQuery.format.date(data, "dd/MM/yyyy")
                //     }
                // },
                {
                    data: 'bill_type'
                },
                {
                    data:'bill_date'
                },
                {
                    data : 'paid_date'
                },
                {
                    data : 'paid_by'
                },
                {
                    data : 'bill_amount'
                },
                {
                    data : 'id',
                    render: function (data, type, row) {
                        return `<button type="button" class="btn btn-danger btn-sm" data-doct='${JSON.stringify(row)}'>
                                    <i class="fa fa-trash"></i>
                                </button>`
                    }
                },
                
            ],
            language: {
                  lengthMenu: "_MENU_",
                  search: "",
                  searchPlaceholder: "Search..."
              },
              fnRowCallback: function (nRow, aData, iDisplayIndex) {
                  jQuery("td:first", nRow).html(iDisplayIndex + 1);
                  return nRow;
              }
              
        })
    // }

    jQuery('#settlementDetails').on('show.bs.modal', function (event) {
        var myVal = jQuery(event.relatedTarget).data('doct');
        console.log(myVal)
        if(myVal.balance >0){
            jQuery(this).find('img').attr('src', myVal.doctor.profile_pic);

            let valList = [myVal.doctor.Registration_Number, myVal.doctor.full_name, myVal.doctor.phone_number, myVal.doctor.specialist_type, myVal.doctor.consultation_fee]
            console.log(valList)
            let inputList = jQuery(this).find('input');
            let ps = jQuery(this).find('p');
            console.log(ps.length)
            for(var i=0; i < ps.length; i++){
                ps[i].innerHTML = valList[i]    
            }
            jQuery('#balance').val(myVal.balance)
            jQuery('#paid_amount').val(myVal.balance)
            jQuery('#doctor_id').val(myVal.doctor.id)
        }else{
            alert('There has not any amount to pay.')
            event.preventDefault()}
    })

    jQuery('#PaymentForm').submit(function(e){
        e.preventDefault();
        e.stopImmediatePropagation();
        let form = new FormData(document.getElementById('PaymentForm'));
        jQuery.ajax({
            url: '/api/get_settlement_details/',
            method : 'POST',
            data: form,
            contentType: false,
            processData: false  

        }).done((response)=>{
            console.log("Settlement", response)
            document.getElementById('closePopUP').click();
            doctorResult.ajax.reload()
        }).error((err)=>{
            console.log(err)
        })


    })
</script>
{% endblock %}