{% extends 'admin_layout.html' %} {% block content %}

<div class="breadcrumbs">
    <div class="col-12">
        <div class="page-header">
            <div class="page-title">
                <h4 id="title">Search Results for "{{search_term}}"</h4>
            </div>
        </div>
    </div>
</div>
<div class="content">
    <div class="card pl-3 pr-3">
        <div class="card-body card-block">
            <div class="form-group">
                <div id="accordion">
                    <div class="card">
                        <div class="card-header" id="headingOne">
                            <h5 class="mb-0">
                                <button class="btn btn-default font-weight-bold text-dark" data-toggle="collapse"
                                    data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                    Patient Details
                                </button>
                            </h5>
                        </div>

                        <div id="collapseOne" class="collapse show" aria-labelledby="headingOne"
                            data-parent="#accordion">
                            <div class="card-body">
                                <table id="patientResult" class="table table-bordered table-hover" style="width:100%">
                                    <thead>
                                        <tr>
                                            <th>Sl No.</th>
                                            <th>Patient ID</th>
                                            <th>Name</th>
                                            <th>Email</th>
                                            <th>Phone Number</th>
                                            <th>Actions</th>
                                        </tr>
                                    </thead>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header" id="headingTwo">
                            <h5 class="mb-0">
                                <button class="btn btn-default font-weight-bold text-dark collapsed"
                                    data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false"
                                    aria-controls="collapseTwo">
                                    Doctor Details
                                </button>
                            </h5>
                        </div>
                        <div id="collapseTwo" class="collapse show" aria-labelledby="headingTwo" data-parent="#accordion">
                            <div class="card-body">
                                <table id="doctorResult" class="table table-bordered table-hover" style="width:100%">
                                    <thead>
                                        <tr>
                                            <th>Sl No.</th>
                                            <th>Doctor ID</th>
                                            <th>Name</th>
                                            <th>Email</th>
                                            <th>Phone Number</th>
                                            <th>Actions</th>
                                        </tr>
                                    </thead>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
    
  
  {% endblock %} 
  {% block scripts %}
 <script>
     jQuery(document).ready(function($){

        $('#patientResult').DataTable({
             ajax:{
                 url:'/searchAPI?q={{search_term}}',
                 dataSrc:"patients"
             },
             responsive: true,
            columns:[
                {
                    data:'id'
                },
                {
                    data:'pat_id',
                },
                {
                    data:'full_name'
                },
                {
                    data : 'user.email'
                },
                {
                    data : 'ph_no'
                },
                {
                    data:'id',
                    render: function (data,type,row) {
                          return `
                                <button type="button" data-id='${data}' class="btn rounded-circle btn-success btn-sm">
                                    <i class="fa fa-tasks"></i>
                                </button>`
                      }
                }
            ],
              language: {
                  lengthMenu: "_MENU_",
                  search: "",
              },
              fnRowCallback: function (nRow, aData, iDisplayIndex) {
                  $("td:first", nRow).html(iDisplayIndex + 1);
                  return nRow;
              }
         })


         $('#doctorResult').DataTable({
             ajax:{
                 url:'/searchAPI?q={{search_term}}',
                 dataSrc:"doctors"
             },
             responsive: true,
            columns:[
                {
                    data:'id'
                },
                {
                    data:'user.username',
                },
                {
                    data:'full_name'
                },
                {
                    data : 'user.email'
                },
                {
                    data : 'phone_number'
                },
                {
                    data:'id',
                    render: function (data,type,row) {
                          return `
                                <button type="button" data-id='${data}' class="btn rounded-circle btn-success btn-sm">
                                    <i class="fa fa-tasks"></i>
                                </button>`
                      }
                }
            ],
              language: {
                  lengthMenu: "_MENU_",
                  search: "",
              },
              fnRowCallback: function (nRow, aData, iDisplayIndex) {
                  $("td:first", nRow).html(iDisplayIndex + 1);
                  return nRow;
              }
         })


         


     })
 </script>
  {% endblock %}