{% extends 'admin_layout.html' %} {% block content %}

  <div class="breadcrumbs">
      <div class="col-12">
          <div class="page-header text-center">
              <div class="page-title">
                  <h2>Specialist Types</h2>
              </div>
          </div>
      </div>
    </div>
    <div class="content">
      <form id="spl_form">
        <div class="card">  
            
            <div class="card-body card-block">
                    <div class="row">
                        <input type="hidden" name="id" id="spl_id">
                        <div class="col-md-8">
                            <div class="row form-group">
                                <label for="hf-email" class=" form-control-label">Specialist Type</label>
                                <div class="input-group">
                                    <input type="text" required="" id="hf-email" onkeypress="return /[a-zA-Z ]/i.test(event.key)" name="special_type" placeholder="Enter Specialist Type" class="form-control">
                                    <span class="input-group-btn">
                                        <button type="submit" class="btn btn-primary">
                                            <i class="fa fa-dot-circle-o"></i> <span id="submitBtn">Add Specialist Type</span>
                                        </button>
                                    </span>
                                </div>
                                
                            </div>
                        </div>
                    </div>
            </div>
        </div> 
    </form>
    </div>
    <div class="content">
         <div class="card">
            <div class="card-body card-block">
                <div class="table-responsive">
                     <table class="table table-bordered table-hover" id="Specialists">
                    <thead>
                        <tr>
                            <th>Slno</th>
                            <th>Specialist Type</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
                </div>
               
            </div>
        </div>
       
        
    </div>
  
  {% endblock %} 
  {% block scripts %}
  <script>
      jQuery(document).ready(function($){
          var table = jQuery('#Specialists').DataTable({
              ajax: {
                  url: "/api/specialist_types",
                  dataSrc: ""
              },
              responsive:true,
              columns: [
                  {
                      data: "id"
                  },
                  {
                      data: "special_type"
                  },
                  {
                      data: 'id',
                      render: function (data,type,row) {
                          return `<button type="button" data-id='${data}' data-obj='${JSON.stringify(row)}' class="btn rounded-circle btn-primary btn-sm edit">
                                    <i class="fa fa-edit"></i>
                                </button>
                                <button type="button" data-id='${data}' class="btn rounded-circle btn-danger btn-sm delete">
                                    <i class="fa fa-trash"></i>
                                </button>`
                      }
                  },
              ],
              language: {
                  lengthMenu: "_MENU_",
                  search: "",
                  searchPlaceholder: "Search..."
              },
          })

          crudOperations({
              url:'/api/specialist_types/',
              put_url:'/api/specialist_types/',
              table_id:'#Specialists',
              id_selector:'#spl_id',
              form_id:'#spl_form',
              table:table,
              entity:'Specialist Type'
          })

          DoHeighLight('Administration', 'specialists')
      })
  </script>
  {% endblock %}