{% extends 'admin_layout.html' %} {% block content %}

  <div class="breadcrumbs">
      <div class="col-12">
          <div class="page-header text-center">
              <div class="page-title">
                  <h2>Specialist Types</h2>
              </div>
          </div>
      </div>
    </div>
    <div class="content">
      <form id="spl_form">
        <div class="card">  
            
            <div class="card-body card-block">
                    <div class="row">
                        <input type="hidden" name="id" id="spl_id">
                        <div class="col-md-4 offset-md-2">
                                    <div class="wrap-custom-file" style="margin-left: 5rem;">
                                        <input type="file" name="icon" id="image1" accept=".gif, .jpg, .png" />
                                        <label for="image1">
                                            <span>Select Image</span>
                                            <i class="fa fa-plus-circle"></i>
                                        </label>
                                    </div>
                        </div>
                        <div class="col-md-4">
                            <div class="row form-group">
                                <label for="hf-email" class=" form-control-label">Specialist Type</label>
                                <input type="text" required="" id="hf-email" name="special_type" placeholder="Enter Specialist Type" class="form-control">
                            </div>
                            <div class="row form-group">
                                <label for="hf-email" class=" form-control-label">Description</label>
                                    <textarea name="description" id="description" cols="30" rows="5" class="form-control" placeholder="Enter Descrition"></textarea>
                            </div>
                        </div>
                    </div>
            </div>
            <div class="card-footer">
                <div class="pull-right">
                    <button type="submit" class="btn btn-primary btn-sm" >
                        <i class="fa fa-dot-circle-o"></i> <span id="submitBtn">Add Specialist Type</span> 
                    </button>
                    <button type="reset" class="btn btn-danger btn-sm">
                        <i class="fa fa-ban"></i> Reset
                    </button>
                </div>
                
            </div>
        </div> 
    </form>
    </div>
    <div class="content">
         <div class="card">
            <div class="card-body card-block">
                <div class="table-responsive">
                     <table class="table table-bordered table-hover" id="Specialists">
                    <thead>
                        <tr>
                            <th>Slno</th>
                            <th>Image</th>
                            <th>Specialist Type</th>
                            <th>is Active?</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
                </div>
               
            </div>
        </div>
       
        
    </div>
  
  {% endblock %} 
  {% block scripts %}
  <script>
      jQuery(document).ready(function($){
          var table = jQuery('#Specialists').DataTable({
              ajax: {
                  url: "/api/specialist_types",
                  dataSrc: ""
              },
              responsive:true,
              columns: [
                  {
                      data: "id"
                  },
                  {
                      data: "icon",
                      render: function (data) {
                          return `<img src="${data}" style="height:90px;width:120px" alt="">`
                      }
                  },
                  {
                      data: "special_type"
                  },
                  {
                      data: 'is_active',
                      render: function (data,type,row) {
                          return `<label style="vertical-align: middle" class="switch switch-default switch-pill switch-success mr-2"><input type="checkbox" data-id='${row.id}' class="switch-input active" ${data==true ? "checked='true'" : ""} > <span class="switch-label"></span> <span class="switch-handle"></span></label>`
                      }
                  },
                  {
                      data: 'id',
                      render: function (data,type,row) {
                          return `<button type="button" data-id='${data}' data-obj='${JSON.stringify(row)}' class="btn rounded-circle btn-primary btn-sm edit">
                                    <i class="fa fa-edit"></i>
                                </button>
                                <button type="button" data-id='${data}' class="btn rounded-circle btn-danger btn-sm delete">
                                    <i class="fa fa-trash"></i>
                                </button>`
                      }
                  },
              ]
          })

          crudOperations({
              url:'/api/specialist_types/',
              put_url:'/api/specialist_types/',
              table_id:'#Specialists',
              id_selector:'#spl_id',
              form_id:'#spl_form',
              table:table,
              entity:'Specialist Type'
          })

          DoHeighLight('Administration', 'specialists')
      })
  </script>
  {% endblock %}