{% extends 'admin_layout.html' %} {% block content %}

<div class="breadcrumbs">
    <div class="col-sm-4">
        <div class="page-header float-left">
            <div class="page-title">
                <h1>Subscription Plans</h1>
            </div>
        </div>
    </div>
</div>
<div class="content m-3">
    <form id="subscriptionForm">
        <div class="card">

            <div class="card-body card-block">
                <div class="row">
                    <input type="hidden" name="id" id="spl_id">
                    <div class="offset-md-2 col-md-4 pr-5 pl-5">
                        <div class="row form-group">
                            <label for="hf-email" class=" form-control-label">Plan Name</label>
                            <input type="text" required="" id="plan_name" name="plan_name" placeholder="Enter Name"
                                class="form-control">
                        </div>
                        <div class="row form-group">
                            <label for="hf-email" class=" form-control-label">Plan Price</label>
                            <input type="number" required="" id="plan_price" name="plan_price"
                                placeholder="Enter Plan Price" class="form-control">
                        </div>
                        <div class="row form-group">
                            <label for="hf-email" class=" form-control-label">Plan Validity</label>
                            <input type="number" required="" id="validity" name="validity"
                                placeholder="Enter Plan Validity" class="form-control">
                            <small>Plan Validity in Days</small>
                        </div>

                    </div>
                    <div class="col-md-4 pr-5 pl-5">
                        <div class="row form-group">
                            <label for="hf-email" class=" form-control-label">Benifits List</label>
                            <textarea name="benifits_list" id="benifits_list" rows="5" class="form-control"
                                placeholder="Enter Benifits List"></textarea>
                            <small>Use comma(,) to seperate a benifit</small>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-footer">
                <div class="pull-right">
                    <button type="submit" class="btn btn-primary btn-sm">
                        <i class="fa fa-dot-circle-o"></i> <span id="submitBtn">Add Subscription Plan</span>
                    </button>
                    <button type="reset" class="btn btn-danger btn-sm">
                        <i class="fa fa-ban"></i> Reset
                    </button>
                </div>

            </div>
        </div>
    </form>
</div>
<div class="content m-3">
    <div class="card">
        <div class="card-body card-block">
            <div class="table-responsive">
                <table class="table table-bordered table-hover" id="subs_plans">
                    <thead>
                        <tr>
                            <th>Slno</th>
                            <th>Plan Name</th>
                            <th>Plan Price</th>
                            <th>Validity</th>
                            <th>Description</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>

        </div>
    </div>
</div>

{% endblock %}
{% block scripts %}
<script>
    jQuery(document).ready(function ($) {
        
            var table = jQuery('#subs_plans').DataTable({
                ajax: {
                    url: "/api/subscription_plans",
                    dataSrc: ""
                },
                responsive: true,
                columns: [
                    {
                        data: "id"
                    },
                    {
                        data: "plan_name"
                    },
                    {
                        data: "plan_price"
                    },
                    {
                        data: "validity"
                    },
                    {
                        data: "benifits_list"
                    },
                    {
                        data: 'id',
                        render: function (data, type, row) {
                            return `<button type="button" data-id='${data}' data-obj='${JSON.stringify(row)}' class="btn rounded-circle btn-primary btn-sm edit">
                                    <i class="fa fa-edit"></i>
                                </button>
                                <button type="button" data-id='${data}' class="btn rounded-circle btn-danger btn-sm delete">
                                    <i class="fa fa-trash"></i>
                                </button>`
                        }
                    },
                ]
            })
        

        crudOperations({
            url:'/api/subscription_plans/',
            put_url:'/api/subscription_plans/',
            table_id:'#subs_plans',
            id_selector:'#spl_id',
            form_id:'#subscriptionForm',
            table:table,
            entity:'Specialist Type'
        })
    })
</script>
{% endblock %}
