{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <title>Doctor Plus - Doctor</title>

    <link rel="stylesheet" href="{% static 'vendors/bootstrap/dist/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'vendors/font-awesome/css/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'vendors/themify-icons/css/themify-icons.css' %}">
    <link rel="stylesheet" href="{% static 'vendors/flag-icon-css/css/flag-icon.min.css' %}">
    <link rel="stylesheet" href="{% static 'vendors/selectFX/css/cs-skin-elastic.css' %}">
    <link rel="stylesheet" href="{% static 'vendors/datatables.net-bs4/css/dataTables.bootstrap4.min.css' %}">
    <link rel="stylesheet" href="{% static 'vendors/datatables.net-buttons-bs4/css/buttons.bootstrap4.min.css' %}">

    <link rel="stylesheet" href="{% static 'assets/css/b4vtabs.css' %}" />
    <link rel="stylesheet" href="{% static 'assets/css/style.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/toastr.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/file.css' %}">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800' rel='stylesheet' type='text/css'>
</head>
<style>
    aside.left-panel {
        background-color: #ffffff;
    }

    .navbar .navbar-nav li>a {
        background-color: #ffffff;
        color: #000000 !important;
    }

    .navbar .navbar-nav li.active .menu-icon,
    .navbar .navbar-nav li:hover,
    .navbar .navbar-nav li {
        color: #000000 !important;
    }

    .navbar {
        background-color: #ffffff;
        color: #000000 !important;
    }

    .navbar .navbar-nav li>a .menu-icon {
        color: #000000 !important;
    }

    .navbar .navbar-nav li>a:hover,
    .navbar .navbar-nav li>a:hover .menu-icon {
        color: #000 !important;
    }
    
</style>

<body>
    {% include 'partials/_docNavbar.html'%}
    <div id="right-panel" class="right-panel">
        <header id="header" class="header">
            <div class="header-menu">
                <div class="col-md-4 mt-2">
                    <h5 id="greeting">Good Afternoon!</h5>
                </div>
                <div class="col-sm-8">
                    <div class="float-right ml-2">
                        <h5 id="doctorName"> </h5>
                        <small id="doctorSpecialist"></small>
                    </div>
                    <div class="user-area dropdown float-right">

                        <a href="#">

                            <img class="user-avatar rounded-circle" src="{% static 'images/admin.jpg' %}"
                                alt="User Avatar" id="profileImage">

                        </a>

                    </div>

                    <div class="language-select dropdown" id="language-select">
                        <a class="btn btn-default btn-sm" href="#" data-toggle="dropdown" id="language" aria-haspopup="true"
                            aria-expanded="true">
                            <i class="fa fa-bell"></i><span class="badge badge-light">0</span>
                        </a>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                            
                        </div>

                    </div>
                    <!-- <div class=" show" style="display: inline;">
                        <a class="btn btn-sm btn-primary " href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Reminder<span class="badge badge-light">0</span>
                        </a>
                        
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                            
                        </div>
                    </div> -->

                    <div class="language-select dropdown" id="language-select">
                        <button class="btn btn-default btn-sm" id="btnLogout">
                            <i class="fa fa-sign-out"></i><span>Logout</span>
                        </button>
                    </div>

                </div>
            </div>


        </header>
        {% block content%} {% endblock %}
    </div>
    <div class="modal calling-modal CallDialogFullscreen-sm" id="incomingVideoCall" tabindex="-1" role="dialog"
        aria-labelledby="incomingVideoCall" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <div class="text-center">
                        <div class="user-avatar user-avatar-rounded user-avatar-xl">
                            <img src="/media/logos/anonymous-user.png" alt="">
                        </div>
                        <div class="userprofile-name">
                            <span>Incoming Call</span>
                            <h4 id="PatientName"></h4>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <div class="row">
                        <div class="col">
                            <button class="btn btn-danger btn-block" id="hangupBtn"><i class="fa fa-phone"
                                    style="transform: rotate(140deg)"></i> Ignore</button>
                        </div>
                        <div class="col">
                            <a id="answerCall" class="btn btn-success btn-block"><i class="fa fa-phone"> Accept</i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <audio id="myAudio">
        <source src="{% static 'video/skype_ringtone.mp3' %}" type="audio/mpeg">
        Your browser does not support the audio element.
    </audio>

    <script src="{% static 'patients/assets/vendors/jquery/jquery-3.4.1.min.js' %}"></script>
    <script src="{% static 'assets/js/jquery.cookie.js' %}"></script>
    <script src="{% static 'assets/js/toastr.min.js' %}"></script>
    <script src="{% static 'assets/js/file.js' %}"></script>
    <script src="{% static 'assets/js/jquery.validate.min.js' %}"></script>

    <script src="{% static 'vendors/popper.js/dist/umd/popper.min.js'%}"></script>
    <script src="{% static 'vendors/bootstrap/dist/js/bootstrap.min.js'%}"></script>
    <script src="{% static 'assets/js/main.js'%}"></script>
    <script src="{% static 'assets/js/bootbox.all.min.js'%}"></script>

    <script src="{% static 'vendors/datatables.net/js/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'vendors/datatables.net-bs4/js/dataTables.bootstrap4.min.js' %}"></script>
    <script src="{% static 'vendors/datatables.net-buttons/js/dataTables.buttons.min.js' %}"></script>
    <script src="{% static 'vendors/datatables.net-buttons-bs4/js/buttons.bootstrap4.min.js' %}"></script>
    <script src="{% static 'vendors/jszip/dist/jszip.min.js' %}"></script>
    <script src="{% static 'vendors/pdfmake/build/pdfmake.min.js' %}"></script>
    <script src="{% static 'vendors/pdfmake/build/vfs_fonts.js' %}"></script>
    <script src="{% static 'vendors/datatables.net-buttons/js/buttons.html5.min.js' %}"></script>
    <script src="{% static 'vendors/datatables.net-buttons/js/buttons.print.min.js' %}"></script>
    <script src="{% static 'vendors/datatables.net-buttons/js/buttons.colVis.min.js' %}"></script>
    <script src="{% static 'assets/js/crud.js'%}"></script>
    <script src="https://cdn.jsdelivr.net/npm/pdfjs-dist@2.5.207/build/pdf.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.27.0/moment.min.js"
        integrity="sha512-rmZcZsyhe0/MAjquhTgiUcb4d9knaFc7b5xAfju483gbEXTkeJRUMIPk6s3ySZMYUHEcjKbjLjyddGWMrNEvZg=="
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdf.js/2.6.347/pdf.min.js" integrity="sha512-Z8CqofpIcnJN80feS2uccz+pXWgZzeKxDsDNMD/dJ6997/LSRY+W4NmEt9acwR+Gt9OHN0kkI1CTianCwoqcjQ==" crossorigin="anonymous"></script>
    {% block scripts%} {% endblock %}
    <script>
    ///////////////////////////////////////////////////////////////////
    //         IF NOT LOGIN THEN REDIRECT TO LOGIN PAGE           // 
    ////////////////////////////////////////////////////////////////

    let cookie  = localStorage.getItem('DoctorToken')
    if ((cookie == undefined) || (cookie == null) || (cookie == ''))
    {
        //window.location.href = '/login?next=' + window.location.href;
    }    

        var thehours = new Date().getHours();
        var themessage;
        var morning = ('Good morning!');
        var afternoon = ('Good afternoon!');
        var evening = ('Good evening!');

        if (thehours >= 0 && thehours < 12) {
            themessage = morning;

        } else if (thehours >= 12 && thehours < 17) {
            themessage = afternoon;

        } else if (thehours >= 17 && thehours < 24) {
            themessage = evening;
        }

        jQuery('#greeting').html(themessage);

        function checkForCall() {

            jQuery.ajax({
                'url': '/api/MobVedioChatOparetion/?user=doc',
                'contentType': 'application/json',
                'async': false,
                'method': 'GET',
                beforeSend: function (xhr) {
                    xhr.setRequestHeader("Authorization", "Token " + localStorage.getItem('DoctorToken'));
                },
            }).done((response) => {
                var list = response;
                var x = document.getElementById("myAudio");
                if (list && list.length > 0) {
                    x.loop = true;
                    x.play()
                    jQuery('#hangupBtn').attr('data-id', list[0].id)

                    jQuery('#PatientName').html(list[0].caller_name)
                    // jQuery('#answerCall').attr('href', `/api/VideoCall?session=${list[0].id}&user=doc&patient=${list[0].caller_ID}&appointment=${list[0].appoinment_id}`)
                    jQuery('#answerCall').attr('data-session', list[0].id)
                    let device = 'big'
                    if (window.matchMedia("(max-width:425px)").matches)
                        device ='small'
                    jQuery('#answerCall').attr('data-url', `/api/VideoCall?device=${device}&session=${list[0].id}&user=doc&patient=${list[0].caller_ID}&appointment=${list[0].appoinment_id}`);
                    jQuery('#incomingVideoCall').modal('show')
                }
                else {
                    if(x) {
                        x.pause();
                        x.currentTime = 0;
                    }
                    jQuery('#incomingVideoCall').modal('hide')
                }
            }).fail(function(xhr,status,message){
                    window.location.href = '/'
            });

        }


        jQuery('#answerCall').click(function () {
            var button = jQuery(this)
            jQuery.ajax({
                url: '/api/MobAnswerCall?id=' + button.attr('data-session'),
                method: 'POST',
                'beforeSend': function (request) {
                    request.setRequestHeader("Authorization", 'Token ' + localStorage.getItem('DoctorToken'));
                },
                success: function (response) {
                    window.location.href = button.attr('data-url') + `&session_id=${response.session_id}&session_token=${response.token}`
                    
                },
                error: function (error) {
                    console.log(error)
                }
            })
        })

        jQuery('#hangupBtn').click(function () {
            jQuery.ajax({
                'url': '/api/reject_call',
                'method': 'POST',
                beforeSend: function (xhr) {
                    xhr.setRequestHeader("Authorization", "Token " + localStorage.getItem('DoctorToken'));
                },
            }).done((response) => {
                var x = document.getElementById("myAudio");
                x.pause();
                x.currentTime = 0;
                jQuery('#incomingVideoCall').modal('hide')
            }).fail((response) => {
                console.log(response)
            })
        })

        setInterval(function () {
            checkForCall();
        }, 2000); 
        
        setTimeout(function () {
            jQuery('#btnLogout').trigger('click')
        }, 3600000)

        jQuery.ajax({
            url: '/api/getLoggedInDoctor',
            method: 'GET',
            contentType: 'application/json',
            async: false,
            beforeSend: function (xhr) {
                xhr.setRequestHeader("Authorization", "Token " + localStorage.getItem('DoctorToken'));
            },
        }).done((response) => {
            jQuery('#doctorName').html(response.full_name)
            jQuery('#doctorSpecialist').html(response.specialist_type)
            jQuery('#profileImage').attr('src', !response.profile_pic || response.profile_pic == '' ? '/media/logos/anonymous-user.png' : response.profile_pic)
        }).fail((error) => {
            console.log(error);
        });

        jQuery('#btnLogout').click(function(){
            
            jQuery.ajax({
                url:'/api/DoctorLogout',
                beforeSend: function (xhr) {
                    xhr.setRequestHeader("Authorization", "Token " + localStorage.getItem('DoctorToken'));
                },
                method:'POST',
                contendType: 'application/json',
                async: false,
                success:function(response){
                   
                    localStorage.removeItem('DoctorToken') 
                    window.location.href = '/'
                }
            })
        })
    
        function myreminders(){
            jQuery.ajax({
            url: '/api/myreminders/',
            method: 'GET',
            contentType: 'application/json',
            async: false,
            beforeSend: function (xhr) {
                xhr.setRequestHeader("Authorization", "Token " + localStorage.getItem('DoctorToken'));
            },
        }).done((response) => {
            jQuery('.badge').html(response.length);
            let lis = '';
            for(let i =0; i < response.length; i++){
                lis += `<li class="p-2 m-1">${response[i]['reminder_message']}</li>`;
            }
            jQuery('.dropdown-menu').html(lis)
        }).fail((error) => {
            console.log(error);
        });
        }
    
    </script>
</body>
<!-- Sidebar -->


</html>