<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Doctor Plus Signup Email</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css"
    integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
</head>
<style>
  .circle{
    font-size: 15px; border: 1px solid; border-radius: 50%; padding: 0 5px;
  }
  .bg-primary{
    background-color: #2a426c !important;
  }
  .bg-success{
    background-color: #8dc73f !important;
  }
</style>
<body>
  <div class="container mt-5 pl-5 pr-5">
    <!-- Top Header-->
    <div style="color: white; text-align: center; padding: .5rem; background: #2a426c;">
      <h3 style="font-size: 20px;">Doctor Plus <sup><span style=" border: 1px solid; border-radius: 50%; padding: .25rem;">R</span></sup></h3>
    </div>
    <!-- Greeting Text -->
    <div style="margin: 0 2rem;">
      <h2><b>Dear {{username}},</b></h2>
      <br>
      <h4>Thank you for Signing Up with Doctor Plus,
        South India’s new Online Health Service. We are
        making every effort to make healthcare accessible
        to you anytime, and from anywhere you need it.</h4>
        <br>
      <h4>Please use the below PID (Patient Identiffication)
        number for future logins.</h4>
        <br>
      <h4>Patient ID : {{ patient_id }}
        <br>
        Password : {{ password }}</h4>
    </div>
    <hr>
    <!-- Info -->
    <div class="info text-muted">
      <p>To login click <a href="https://www.doctor-plus.in/login" class="text-justify">here. </a>
      </p>
    </div>
    <!-- Bottom Header-->
    <div style="color: white; text-align: center; padding: .5rem; background: #8dc73f ;">
      <h3>A simple and easy way to consult Doctors Online.</h3>
    </div>
  </div>
</body>

</html>
