{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="keywords" content="Flingo, Messaging app, chat, chat app" />

    <title>Doctor Plus Video and Chatting System</title>
    <link rel="stylesheet" href="{% static 'patients/assets/fonts/MaterialDesign/css/materialdesignicons.min.css' %}">
    <link rel="stylesheet" href="{% static 'patients/assets/vendors/perfect-scrollbar/perfect-scrollbar.css' %}">
    <link rel="stylesheet" href="{% static 'patients/assets/vendors/OwlCarousel2/owl.carousel.css' %}">
    <link rel="stylesheet" href="{% static 'patients/assets/vendors/bootstrap/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'patients/css/app.css' %}">
    <link rel="stylesheet" href="{% static 'patients/css/responsive.css' %}">
    <link rel="stylesheet" href="{% static 'patients/css/slider.css' %}">
    <link rel="stylesheet" href="{% static 'patients/css/theme/default.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/bootstrap.datapicker.css' %}">
    <link rel="stylesheet" href="{% static 'vendors/datatables.net-bs4/css/dataTables.bootstrap4.min.css' %}">
    <link rel="stylesheet" href="{% static 'vendors/datatables.net-buttons-bs4/css/buttons.bootstrap4.min.css' %}">
    <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.min.css"
        integrity="sha512-mSYUmp1HYZDFaVKK//63EcZq4iFWFjxSL+Z3T/aCt4IO9Cejm03q3NKKYN6pFQzY0SBOr8h+eCIAZHPXcpZaNw=="
        crossorigin="anonymous" />
    <link rel="stylesheet" href="{% static 'assets/css/toastr.min.css' %}">
    <script src="{% static 'patients/assets/vendors/jquery/jquery-3.4.1.min.js' %}"></script>
    <style>
        .color{
            color: #063c7a;
        }

    </style>
</head>

<body class="light-default-theme">

    <div class="ca-main-conatiner">
        <div class="ca-main-wrapper">
            <div class="ca-sidebar-wrapper">
                <div class="ca-sidebar">
                    <div class="ca-sidebar__header">
                        <a href="/">
                            <img src="{% static 'website/img/logo.png' %}" class="d-none d-lg-block d-md-block" alt=""
                                id="logoImage">
                            <img src="{% static 'patients/assets/images/favicon.png' %}" alt=""
                                class="d-block d-sm-none" id="logoSmallImage">
                        </a>

                    </div>

                    {% include 'partials/_patient_nav.html'%}
                </div>
            </div>

            <div class="ca-content-wrapper">
                <div class="ca-content">
                    <div class="conversation-panel__head">
                        <a href="#" class="click-me d-none d-md-block d-lg-block pr-3 pl-3 pt-0 " style="position: relative;">
                            <i class="mdi mdi-menu"></i>
                        </a> 
                        <div class="conversation__actions">
                            <!-- <div class="action-icon pr-4" data-toggle="modal" data-target="#outGoingCall">
                                <i class="mdi mdi-bell-ring-outline mdi-24px"></i>
                            </div> -->
                            <div class="iconbox-dropdown dropdown">
                                <div class="iconbox mr-3" role="button" id="dropdownMenuLink2" data-toggle="dropdown"
                                    aria-haspopup="true" aria-expanded="false">
                                    <div class="pb-1 pt-3">
                                     <h5 id='conversation_doc' class="conversation__name--title mt-1 text-right text-primary"></h5> 
                                     <p class=" btn btn-sm btn-primary ml-1"  style="cursor: pointer;">
                                        Reminder <!-- <span class="badge badge-light">9</span> --></p>
                                   <p class=" btn btn-sm btn-primary ml-1" style="cursor: pointer;">
                                       Profile</p>
                                   <p class=" btn btn-sm btn-primary ml-1" id="btnLogout" style="cursor: pointer;">
                                      Logout
                                       <!-- <i class="mdi mdi-logout"></i> -->
                                   </p>
                                    </div>
                                </div> 
                                
                                
                            </div>
                            <!-- <div class="action-icon pr-4" id="btnLogout">
                                <i class="mdi mdi-logout mdi-24px"></i>
                            </div> -->
                        </div>
                    </div>
                    {% block content %}
                    {% endblock %}
                </div>
            </div>


            {% include 'patientsUI/_settings.html'%}
            <!-- THEME CUSTOMIZER -->


            <div class="backdrop-overlay hidden"></div>
        </div>
    </div>

    <div class="modal calling-modal CallDialogFullscreen-sm" id="incomingVideoCall" tabindex="-1" role="dialog"
        aria-labelledby="incomingVideoCall" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <div class="text-center">
                        <div class="user-avatar user-avatar-rounded user-avatar-xl">
                            <img src="assets/images/user/250/01.jpg" alt="">
                        </div>
                        <div class="userprofile-name">
                            <span>Incoming Call</span>
                            <h4 id="DoctorName"></h4>
                        </div>

                        <div class="call-actions">
                            <button type="button" class="call-hangup" id="hangupBtn"><i
                                    class="mdi mdi-phone-hangup"></i></button>
                            <button type="button" class="call-pickup" id="answerCall"><i
                                    class="mdi mdi-video-outline"></i></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <audio id="myAudio">
        <source src="{% static 'video/skype_ringtone.mp3' %}" type="audio/mpeg">
        Your browser does not support the audio element.
    </audio>
    <script src="{% static 'assets/js/jquery.cookie.js' %}"></script>
    <script src="{% static 'patients/assets/vendors/bootstrap/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'patients/assets/vendors/material-floating-button/dist/mfb.min.js' %}"></script>
    <script src="{% static 'patients/assets/vendors/perfect-scrollbar/perfect-scrollbar.min.js' %}"></script>
    <script src="{% static 'patients/assets/vendors/OwlCarousel2/owl.carousel.min.js' %}"></script>
    <script src="{% static 'patients/js/app.js' %}"></script>
    <script src="{% static 'patients/js/slick.js' %}"></script>
    <script src="{% static 'patients/js/slider.js' %}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.min.js"
        integrity="sha512-T/tUfKSV1bihCnd+MxKD0Hm1uBBroVYBOYSk1knyvQ9VyZJpc/ALb4P0r6ubwVPSGB2GvjeoMAJJImBG12TiaQ=="
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.27.0/moment.min.js"
        integrity="sha512-rmZcZsyhe0/MAjquhTgiUcb4d9knaFc7b5xAfju483gbEXTkeJRUMIPk6s3ySZMYUHEcjKbjLjyddGWMrNEvZg=="
        crossorigin="anonymous"></script>
    <script src="{% static 'assets/js/toastr.min.js' %}"></script>
    <script src="{% static 'vendors/datatables.net/js/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'vendors/datatables.net-bs4/js/dataTables.bootstrap4.min.js' %}"></script>
    <script src="{% static 'vendors/datatables.net-buttons/js/dataTables.buttons.min.js' %}"></script>
    <script>
        $(document).ready(function () {
            $('.click-me').click(function () {
                $('.ca-main-wrapper .ca-sidebar-wrapper').toggleClass('fliph');
                $('.ca-main-conatiner').toggleClass('flipsmall');
                console.log($('.ca-main-wrapper .ca-sidebar-wrapper').hasClass('fliph'))
                if ($('.ca-main-wrapper .ca-sidebar-wrapper').hasClass('fliph') == true) {
                    $('#logoImage').attr('src', "{% static 'patients/assets/images/favicon.png' %}")
                } else {
                    $('#logoImage').attr('src', "{% static 'website/img/logo.png' %}")
                }
            });
        });
    </script>
    
<script src="https://apis.google.com/js/platform.js" async defer></script>
    {% block scripts %}

    {% endblock %}
    <script>

        ////////////////////////////////////////////////////////////////
        //         IF NOT LOGIN THEN REDIRECT TO LOGIN PAGE           // 
        ////////////////////////////////////////////////////////////////
        let cookie  = jQuery.cookie('Token')
        if ((cookie == undefined) || (cookie == null) || (cookie == ''))
        {
            window.location.href = '/login?next=' + window.location.href;
        }   
        let medical_history = [];
        ////////////////////  ...... ///////////////////////////
        $('#btnLogout').click(function () {
            $.ajax({
                url: '/api/PatientLogout',
                beforeSend: function (xhr) {
                    xhr.setRequestHeader("Authorization", "Token " + $.cookie('Token'));
                },
                method: 'POST',
                contendType: 'application/json',
                async: false,
                success: function (response) {
                    console.log(response)
                    $.cookie('Token', '', { path: '/' })
                    window.location.href = '/'
                }, error: function (err) {
                    console.log(err);
                }
            })
        })

        $(document).ready(function () {
            
            function formDeserialize(form, data) {
                const entries = (new URLSearchParams(data)).entries();
                for (const [key, val] of entries) {
                    const input = form.elements[key];
                    if (input != undefined) {
                        if (input.type == 'file') {
                            if (val) {
                                var $file = jQuery('#' + input.id),
                                    $label = $file.next('img'),
                                    $labelText = $label.find('span'),
                                    labelDefault = $labelText.text();
                                var filename = val.split('/').pop()
                                if (filename && filename != 'null' && filename != '') {
                                    $label
                                        .addClass('file-ok')
                                        .attr('src', val);
                                    $labelText.text(filename);
                                } else {
                                    $label
                                        .addClass('file-ok')
                                        .attr('src', '/media/logos/anonymous-user.png');
                                    $labelText.text(labelDefault);
                                }
                            }

                        } else {

                            switch (input.type) {
                                case 'checkbox':
                                    input.checked = !!val;
                                    break;
                                case 'select-one':
                                    if (val)
                                        input.value = val;
                                    else
                                        input.selectedIndex = 0;

                                    break;
                                default:
                                    input.value = val;
                                    break;

                            }

                        }
                    }

                }
            }


            function previewFile(input) {
                var file = $("input[type=file]").get(0).files[0];

                if (file) {
                    var reader = new FileReader();

                    reader.onload = function () {
                        $("#previewImg").attr("src", reader.result);
                    }

                    reader.readAsDataURL(file);
                }
            }
            $('#profile_pic').change(function () {
                previewFile(this);
            })
            
            function getPatientData() {
                const profileForm = document.getElementById('profile-form');
                $.ajax({
                    url: '/api/getLoggedInPatient',
                    method: 'GET',
                    contendType: 'application/json',
                    'async': false,
                    beforeSend: function (xhr) {
                        xhr.setRequestHeader("Authorization", "Token " + $.cookie('Token'));
                    },
                }).done((response) => {
                    console.log(response)
                    if(response.medical_history !== null && response.medical_history !== ''){
                        let list = response.medical_history.split(',')
                        medical_history = [...list ]
                        // $('#medical__history_list')
                        let total_li_items = '';
                        list.map((report, index)=>{
                            total_li_items += `<li class="list-group-item" data-index='${index}'>${report} <i class="mdi mdi-trash-can text-danger" style="cursor: pointer;"></i></li>`;
                        })
                        $('#medical__history_list').html(total_li_items)
                    }
                    $.ajax({
                        url: "/api/getEmail",
                        method: 'GET',
                        contendType: 'application/json',
                        async: false,
                        method: 'GET',
                        beforeSend: function (xhr) {
                            xhr.setRequestHeader("Authorization", "Token " + $.cookie('Token'));
                        },
                    }).done((response) => {
                        formDeserialize(profileForm, response);

                    })
                    localStorage.setItem('login_name', response.full_name)
                    formDeserialize(profileForm, response);

                    var thehours = new Date().getHours();
                    var themessage;
                    var morning = ('Good morning!');
                    var afternoon = ('Good afternoon!');
                    var evening = ('Good evening!');

                    if (thehours >= 0 && thehours < 12) {
                        themessage = morning;

                    } else if (thehours >= 12 && thehours < 17) {
                        themessage = afternoon;

                    } else if (thehours >= 17 && thehours < 24) {
                        themessage = evening;
                    }

                    $('#conversation_doc').html( themessage + ' ' + response.full_name)
                    // $('#Profile-pic').attr('src', !response.profile_pic || response.profile_pic == '' ? '/media/logos/anonymous-user.png' : response.profile_pic)
                    $('#username').val($('#ph_no').val())
                }).fail(function (res) {
                    console.log(res)
                })
            }
            getPatientData()



            ////////////////////////  remove NEW MEDICAL RECORD /////////////////////
            
            $('#add_newMedical').click(function(){
                let val = $('#medicalRecordText').val()
                if(val.length > 2){
                    medical_history.push(val)
                    data = {
                        'medical_history' : medical_history.join(',')
                    }
                    $.ajax({
                        url: '/api/update_medicalReport/',
                        method: 'POST',
                        data: JSON.stringify(data),
                        contentType: 'application/json',
                        beforeSend: function(xhr){
                            xhr.setRequestHeader("Authorization", "Token " + $.cookie('Token'));
                        }
                    }).done(res=>{
                            $('#medicalRecordText').val('')
                            let list = res.medical_history.split(',')
                            // medical_history = [...list ]
                            // $('#medical__history_list')
                            let total_li_items = '';
                            list.map((report, index)=>{
                                total_li_items += `<li class="list-group-item" data-index='${index}'>${report} <i class="mdi mdi-trash-can text-danger" style="cursor: pointer;"></i></li>`;
                            })
                            $('#medical__history_list').html(total_li_items)
                        
                        
                    })
                    .fail(err=>{
                        console.log(err)
                    })
                }
            })

            //////////// DELETE MEDICAL RECORD /////////////
            $('#medical__history_list li').on('click', 'i', function(){
                const index = $(this).attr('data-index')
                medical_history.splice(index, 1)
                data = {
                    'medical_history' : medical_history.join(',')
                }
                $.ajax({
                    url: '/api/update_medicalReport/',
                    method: 'POST',
                    data: JSON.stringify(data),
                    contentType: 'application/json',
                    beforeSend: function(xhr){
                        xhr.setRequestHeader("Authorization", "Token " + $.cookie('Token'));
                    }
                }).done(res=>{
                    console.log(res)
                    if(res.medical_history !== ''){
                        let list = res.medical_history.split(',')
                            // medical_history = [...list ]
                            // $('#medical__history_list')
                            let total_li_items = '';
                            list.map((report, index)=>{
                                total_li_items += `<li class="list-group-item" data-index='${index}'>${report} <i class="mdi mdi-trash-can text-danger" style="cursor: pointer;"></i></li>`;
                            })
                            $('#medical__history_list').html(total_li_items)
                        }
                        else{
                            $('#medical__history_list').html('')
                        }
                })
                .fail(err=>{
                    console.log(err)
                })

            })

            $('#ph_no').change(function () {
                if(!$('#username').val().includes('@')){
                    $('#username').val($(this).val())
                }
            })


            $("#profile-form").submit((e) => {
                e.preventDefault();
                e.stopImmediatePropagation();
                let val_lists = []
                let full_name = $("input[name='full_name']").val()
                var matches = full_name.match(/\d+/g);
                let number = /^[0-9]+$/;
                
                if(matches != null){
                    $("input[name='full_name']").css('border', '1px solid red')
                    val_lists.push('Name')
                }
                if( !number.test($('input[name="ph_no"]').val())){
                    $("input[name='ph_no']").css('border', '1px solid red')
                    val_lists.push('phone number.')
                    return 
                }

                if(val_lists.length >0){
                    let text = 'invalid ' + val_lists.join(', ');
                    alert(text)
                    return 
                }
                const data = new FormData(document.getElementById('profile-form'))
                console.log(data['full_name']);
                $.ajax({
                    url: '/api/PatientUpdateProfile',
                    data: data,
                    method: 'POST',
                    contentType: false,
                    processData: false,
                    beforeSend: function (xhr) {
                        xhr.setRequestHeader("Authorization", "Token " + $.cookie('Token'));
                    },
                }).done((response) => {
                    console.log("postrequest response -", response);
                    toastr.success('Your profile updated successfully.', 'Success', {
                        positionClass: "toast-top-center"
                    })
                }).fail((error) => {
                    console.log(error);
                })
            })

            $('#password_form').submit((e) => {
                console.log('password form submit');
                e.preventDefault();
                e.stopImmediatePropagation();
                const data = new FormData(document.getElementById('password_form'))
                $.ajax({
                    url: '/api/changePassword',
                    method: 'POST',
                    data: data,
                    contentType: false,
                    processData: false,
                    beforeSend: function (xhr) {
                        xhr.setRequestHeader("Authorization", "Token " + $.cookie('Token'));
                    },
                }).done((response) => {
                    toastr.success('password updated successfully.', 'Success', {
                        positionClass: "toast-top-center"
                    })
                }).fail((error) => {
                    console.log('errors are ', error)
                })


            })










        })
    </script>


    <script>
        function checkForCall() {

            jQuery.ajax({
                'url': '/api/vedioChatOparetion/?user=pat',
                'contentType': 'application/json',
                'async': false,
                'method': 'GET',
                beforeSend: function (xhr) {
                    xhr.setRequestHeader("Authorization", "Token " + jQuery.cookie('Token'));
                },
            }).done((response) => {
                var list = response;
                var x = document.getElementById("myAudio");
                if (list && list.length > 0) {
                    x.loop = true;
                    x.play()
                    jQuery('#hangupBtn').attr('data-id', list[0].id)
                    jQuery('#DoctorName').html(list[0].caller_name)
                    jQuery('#answerCall').attr('data-session', list[0].id)
                    jQuery('#answerCall').attr('data-url', `/api/VideoCall?session=${list[0].id}&user=pat&doctor=${list[0].caller_ID}&appointment=${list[0].appoinment_id}`)
                    jQuery('#incomingVideoCall').modal('show')
                }
                else {
                    jQuery('#incomingVideoCall').modal('hide')
                }
            });

        }

        $('#answerCall').click(function () {
            var button = $(this)
            $.ajax({
                url: '/api/answer_call?session_id=' + button.attr('data-session'),
                method: 'POST',
                'beforeSend': function (request) {
                    request.setRequestHeader("Authorization", 'Token ' + jQuery.cookie('Token'));
                },
                success: function (response) {
                    window.location.href = button.attr('data-url')
                    
                },
                error: function (error) {
                    console.log(error)
                }
            })
        })


        jQuery('#hangupBtn').click(function () {
            jQuery.ajax({
                'url': '/api/vedioChatOparetion/' + jQuery(this).attr('data-id') + '/',
                'method': 'DELETE',
                beforeSend: function (xhr) {
                    xhr.setRequestHeader("Authorization", "Token " + jQuery.cookie('Token'));
                },
            }).done((response) => {
                console.log(response)
                var x = document.getElementById("myAudio");
                x.pause();
                x.currentTime = 0;
                jQuery('#incomingVideoCall').modal('hide')
            }).fail((response) => {
                console.log(response)
            })
        })

        setInterval(function () {
            checkForCall();
        }, 2000);

        setTimeout(function () {
            $('#btnLogout').trigger('click')
        }, 3600000)
    </script>
    <script>
        //Family Details Scripts
        $(document).ready(function () {
            loadFamilyMembers();
            function loadFamilyMembers() {
                $.ajax({
                    url: '/api/patient_family',
                    method: 'GET',
                    beforeSend: function (xhr) {
                        xhr.setRequestHeader("Authorization", "Token " + jQuery.cookie('Token'));
                    },
                }).done(function (data) {
                    var listItems = ''
                    $('#FamilyMembers').collapse('show')
                    $.each(data, function (i, item) {
                        listItems += `
                        <li>
                            <div class="contactlist">
                                <div class="user-avatar user-avatar-rounded online">
                                    <img src="/media/logos/anonymous-user.png" alt="">
                                </div>
                                <div class="contactlist__details">
                                    <div class="contactlist__details--name">${item.member_name}</div>
                                        <div class="calllist__details--info pt-2">
                                            <span>${item.member_relation} </span>
                                        </div>
                                    </div>
                                <div class="contactlist__actions">
                                    <div class="iconbox btn-solid-danger delete-family-member" data-id="${item.id}"  data-toggle="tooltip" data-placement="top" title="Remove">
                                        <i class="iconbox__icon mdi mdi-trash-can"></i>
                                    </div>
                                </div>
                            </div>
                        </li>
                        `
                    })
                    $('#FamilyDetails').html(listItems)
                })
            }

            $('#FamilyDetails').on('click', '.delete-family-member', function () {
                var button = $(this)
                $.ajax({
                    url: `/api/patient_family/${button.attr('data-id')}`,
                    method: 'DELETE',
                    beforeSend: function (xhr) {
                        xhr.setRequestHeader("Authorization", "Token " + jQuery.cookie('Token'));
                    },
                    contentType: 'application/json'
                }).done(function (response) {
                    loadFamilyMembers();
                    toastr.success("Family Member Removed Successfully", "Success", { positionClass: "toast-top-center" })
                }).fail(function (response) {
                    console.log(response)
                })
            })

            $('#add_patient_family_btn').click(function () {
                var data = {
                    member_name: $('#mem_name').val(),
                    member_age: $('#mem_age').val(),
                    member_relation: $('#mem_rel').val()
                }
                $.ajax({
                    url: '/api/patient_family/',
                    data: JSON.stringify(data),
                    method: 'POST',
                    beforeSend: function (xhr) {
                        xhr.setRequestHeader("Authorization", "Token " + jQuery.cookie('Token'));
                    },
                    contentType: 'application/json'
                }).done(function (response) {
                    loadFamilyMembers();
                    $('#mem_name').val('')
                    $('#mem_age').val('')
                    $('#mem_rel').val('')

                    toastr.success("Family Member Added Successfully", "Success", { positionClass: "toast-top-center" })
                }).fail(function (response) {
                    console.log(response)
                })
            })
        })
    
    
        ///////////////////////// PATIENT WALLET DETAILS ///////////
        function getWalletDetails(){

            $.ajax({
                url: "/api/wallet_details",
                method: 'GET',
                contentType: 'application/json',
                beforeSend: function (xhr) {
                    xhr.setRequestHeader("Authorization", "Token " + $.cookie('Token'));
                },
            })
            .done((res)=>{
                console.log('wallet details =====', res)
                let transactions = []
                let allTransList = ''
                if(res[0] ){
                    transactions = res[0].transaction;
                    allTransList = '', creditTransList='', debitTransList='';
                    $('#currentBalance').html(res[0].wallet.balance)
                } 
                else{
                    $('#currentBalance').html('0')
                    $('#allTransactions').html('<p class="pt-2 text-center">No transactions at the moment</p>');
                    $('#creditTransaction').html('<p class="pt-2 text-center">No transactions at the moment</p>');
                    $('#debitTransaction').html('<p class="pt-2 text-center">No transactions at the moment</p>');
                    return
                }
                    
                
                // allTransactions
                // creditTransaction
                // debitTransaction
                // if(res[0].transaction.length <=0){
                //     $('#allTransactions').html('No transactions at the mon=ment');
                //     $('#creditTransaction').html('No transactions at the mon=ment');
                //     $('#debitTransaction').html('No transactions at the mon=ment');
                //     return
                // }
                transactions.map(transaction =>{
                    let time = timeFormat(transaction.trans_date);
                    console.log(time)
                    
                    let li = `
                    <li>
                            <div class="contactlist">
                                <div class="user-avatar user-avatar-rounded online">
                                    <img src="/media/logos/anonymous-user.png" alt="">
                                </div>
                                <div class="contactlist__details">
                                    <div class="contactlist__details--name">${transaction['trans_type']}</div>
                                        <div class="calllist__details--info pt-2">
                                            <span>${time} </span>
                                        </div>
                                    </div>
                                <div class="contactlist__actions">
                                    <div
                                    class="iconbox btn-hovered-light text-danger">
                                    <i class="iconbox__icon mdi mdi mdi-currency-inr"></i>
                                    ${transaction.credit > 0 ? transaction.credit : transaction.debit}
                                </div>
                                </div>
                            </div>
                        </li>
                   
                    
                    `;
                    allTransList += li
                    if( transaction.credit != 0){
                        creditTransList += li;
                    }
                    else if(transaction.debit !=0){
                        debitTransList += li;
                    }
                })
                $('#allTransactions').html(allTransList != '' ? allTransList : '<p class="text-center mt-5">There has no transaction happen.</p>')
                $('#creditTransaction').html(creditTransList != '' ? creditTransList : '<p class="text-center mt-5">There has no credit happen.</p>')
                $('#debitTransaction').html(debitTransList != '' ? debitTransList : '<p class="text-center mt-5">There has no debit transactions.</p>')



            })
            .fail((err)=>{
                console.log(err)
            })
        }


        function timeFormat(dateTime){
            let dates = new Date(dateTime)
            return dates.toLocaleString();   
        }


        
    </script>
</body>

</html>