{% load static %}
<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="google-signin-client_id" content="761223492426-rmeq67fvtd67vpgeq28pcfj50flo0k0f.apps.googleusercontent.com">
<meta name="description" content="{{meta_description}}"/>
<title>{{ page_title }}</title>
  <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous"> -->
<link rel="shortcut icon" type="image/x-icon" href="{% static 'patients/assets/images/favicon.png' %}">

<link href="{% static 'website/css/bootstrap.min.css'%}" rel="stylesheet" type="text/css">

<link href="{% static 'website/css/default.css'%}" rel="stylesheet" type="text/css">

<link href="{% static 'website/css/style.css'%}" rel="stylesheet" type="text/css">

<link href="{% static 'website/css/responsive.css'%}" rel="stylesheet" type="text/css">

<link href="{% static 'website/css/plugin.css'%}" rel="stylesheet" type="text/css">
<link rel="stylesheet" href="{% static 'assets/css/toastr.min.css' %}">
<link href="{% static 'website/fonts/flaticon.css'%}" rel="stylesheet" type="text/css">

<link rel="stylesheet" href="{% static 'website/font-awesome/4.7.0/css/font-awesome.min.css'%}">
<link rel="manifest" href="{% static 'website/manifest.json' %}">
<!-- 
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
 -->
<script>
  if ('serviceWorker' in navigator) {
    navigator.serviceWorker.register("{% static 'website/sw.js' %}").then(function(reg) {
        console.log('Successfully registered service worker', reg);
    }).catch(function(err) {
        console.warn('Error whilst registering service worker', err);
    });
}
</script>
<script async src="https://www.googletagmanager.com/gtag/js?id=AW-450800963"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'AW-450800963');
</script>
<script>
  gtag('event', 'conversion', {'send_to': 'AW-450800963/np-fCJWTt-8BEMPa-tYB'});
</script>

<style>
  .modal {
    text-align: center;
  }

  @media screen and (min-width: 768px) {
    .modal:before {
      display: inline-block;
      vertical-align: middle;
      content: " ";
      height: 100%;
    }
  }
  .modal-dialog {
    display: inline-block;
    text-align: left;
    vertical-align: middle;
  }
  .dropdown {
    position: relative;
    display: inline-block;
  }
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
  }
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  .dropdown-content a:hover {
    background-color: #f1f1f1
  }
  .dropdown:hover .dropdown-content {
    display: block;
  }
</style>
<style>
  .header_menu .navbar.navbar-default .nav.navbar-nav li a {
    padding-top: 18px;
  }

  section {
    padding: 15px 0 0 0;
  }

  .services p {
    text-align: left;
  }

  section.breadcrumb {
    padding: 2% 0 0 0;
  }

  .fa-google {
    background: conic-gradient(from -45deg, #ea4335 110deg, #4285f4 90deg 180deg, #34a853 180deg 270deg, #fbbc05 270deg) 73% 55%/150% 150% no-repeat;
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    -webkit-text-fill-color: transparent;
  }

  .slider-author img,
  .quote-icon img {
    height: auto;
  }
</style>
</head>
<body>

<div id="preloader">
<div id="status"></div>
</div>
{% include 'partials/_websiteNav.html'%}

{%block content%}
{%endblock%}

<footer pad-top-50>
<div class="container">

<div class="footer-content">
<div class="lower-footer pad-bottom-50">
<div class="row">
<div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
<div class="departments">
<h3>Doctor Plus</h3>
<div class="row">
    <div class="col-md-5">
        <ul>
    <li><a href="{% url 'website:features'%}">How it works</a></li>
    <li><a href="{% url 'website:index'%}#speciality">Speciality</a></li>
    <li><a href="{% url 'website:plans'%}">Plans</a></li>
</ul>
    </div>
    <div class="col-md-7 sec-list">
        <ul>
   <li><a href="{% url 'website:doctor_reg'%}">Dr Registration</a></li> 
    <li><a href="{% url 'website:contact'%}">Contact Us</a></li>
    <li><a href="{% url 'website:aboutus'%}">About Us</a></li>
</ul>
    </div>
    
</div>

</div>
</div>

<div class="col-lg-2 col-md-2 col-sm-6 col-xs-6">
<h3>Legal</h3>
<ul>
    <li> <a href="{% url 'website:terms_condition'%}">Terms & Conditions</a></li>
    <li><a href="{% url 'website:privacy_policy'%}">Privacy Policy</a></li>
    <li><a href="{% url 'website:faq'%}">FAQ's</a></li>
</ul>
</div>

<div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
<div class="footer-contact">
  <h3>Bangalore</h3>
  <p><b>Doctor Plus</b></p>
  <p>No:1, Subbiaha Reddy block, Metro Station, Ulsoor, Bangalore - 560038</p>
</div>
</div>

<div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
  <div class="footer-contact">
    <div class="footer-logo text-center mar-bottom-15" >
      <img src="{%static 'website/img/footer-logo.png'%} " alt="Image" id="Footer logo">
      <img src="{%static 'website/img/ISO.png'%} " style="height:100px" alt="ISO Certification" id="Cert">
      </div>
  </div>
  
  </div>
  
</div>
</div>


  <section >
      <div class="subscribe-form">
      <div class="col-md-6 col-sm-12">
      <form id="newsletter-form">
        <input type="email" id="SubsricbeToNewsletter" placeholder="abc@xyz.com">
        <div class="fbtn">
          <button type="submit" value="Submit" class="btn">Subscribe</button>
        </div>
      </form>
      </div>
      <div class="col-md-6 col-sm-8 col-xs-8">
          <div class="header-links">
<ul>
<li><a href="https://www.facebook.com/doctorplusofficial" target="_blank" style="color: #00acee ;font-size: 25px;"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
<li><a href="https://twitter.com/doctorplus20" target="_blank"  style="color: #00acee  ;font-size: 25px;"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
<li><a href="https://instagram.com/doctorplusofficial?igshid=12kagc16b2hg2" target="_blank"  style="color: #00acee  ;font-size: 25px;"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
<li><a href="https://www.linkedin.com/company/doctorplusofficial" target="_blank"  style="color: #00acee  ;font-size: 25px;"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
</ul>
</div>
      </div>
      <div class="col-sm-4 col-xs-4 ">
      <img src="{%static 'website/img/ISO.png'%} " style="height:100px" alt="Image" id="Cert1">
      </div>
      </div>
      </section>
<div class="copyright">
<div class="container">
<div class="row">
<div class="col-md-6 col-sm-6">
    <div class="copyright">
    <p>Copyright © 2020 Doctor Plus Powered by <a href="http://dragndroptechsolutions.com/" target="_blank" class="white">Dragndrop Tech Solutions</a></p>
</div>
</div>
    <div class="col-md-6 col-sm-6"></div>

</div>
</div>
</div>
</div>
</div>
</footer>


<div id="back-to-top">
<a href="#"></a>
</div>

<div id="app-modal" class="modal fade" role="dialog">
    <div class="modal-dialog modal-sm">
  
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h3 class="modal-title text-center">Download the App</h3>
        </div>
        <div class="modal-body">
          <div class="row">
              <div class="col-md-12 text-center">
                  <p class="">For more personalized experience download our app from most trusted app platform google play store</p>
                  <a target="_blank" href="https://play.google.com/store/apps">
                    <img src="{%static '/images/google-play-badge.png'%}" height="94" class="float-right" alt="">
                </a>
              </div>
          </div>
        </div>
      </div>
    </div>
  </div>
<script src="{% static 'website/js/jquery-3.3.1.min.js' %}"></script>
<script src="{% static 'assets/js/jquery.cookie.js' %}"></script>
<script src="{% static 'website/js/bootstrap.min.js' %}" type="f2c2a34d55bd8643fa482c8c-text/javascript"></script>
<script src="{% static 'website/js/plugin.js' %}" type="f2c2a34d55bd8643fa482c8c-text/javascript"></script>
<script src="{% static 'website/js/main.js' %}" type="f2c2a34d55bd8643fa482c8c-text/javascript"></script>
<script src="{% static 'website/js/custom-nav.js' %}" type="f2c2a34d55bd8643fa482c8c-text/javascript"></script>
<script src="{% static 'website/js/cms.js' %}"></script>
<script src="{% static 'website/cloudflare-static/rocket-loader.min.js' %}" data-cf-settings="f2c2a34d55bd8643fa482c8c-|49" defer=""></script></body>
<script src="{% static 'assets/js/toastr.min.js' %}"></script>



<!-- GOOGLE LOGIN SCRIPT -->
<script src="https://apis.google.com/js/platform.js" async defer></script>
{% block scripts %}


{% endblock %}
<script>
    document.addEventListener('contextmenu', event => event.preventDefault());
    
    $(document).ready(function(){
        var cookie = $.cookie('Token')
        var d_cookie = $.cookie('DoctorToken')
        if(cookie && cookie!=''){
          const profileForm = document.getElementById('profile-form');
        $.ajax({
            url: '/api/getLoggedInPatient',
            method: 'GET',
            contendType: 'application/json',
            'async': false,
            'method': 'GET',
            beforeSend: function (xhr) {
                xhr.setRequestHeader("Authorization", "Token " + $.cookie('Token'));
            },
        }).done((response)=>{
           $('#loginItem,#loginItem1').html(`
            <div class="dropdown"> 
            <a href="#" class="dropbtn"><i class="fa fa-user"></i> ${response.full_name} <span class="caret"></span></a>
            <div class="dropdown-content">
                <button id="btnGotoDashboard" data-user="patients" class="btn btn-dash" style="margin: 25px 10px 5px 20px;">Go to Dashboard</button>
                <button id="btnLogout" data-token="Token" class="btn-default btn-logout" style="margin: 15px 10px 15px 20px;"><i class="fa fa-sign-out"></i> Logout</button>
            </div>
            </div>
            `)
            $('#registerItem').remove()
        }).fail(function(err){
          console.log(err)
        })
            
        }

        if(d_cookie && d_cookie!=''){
          jQuery.ajax({
            url: '/api/getLoggedInDoctor',
            method: 'GET',
            contentType: 'application/json',
            async: false,
            beforeSend: function (xhr) {
                xhr.setRequestHeader("Authorization", "Token " + jQuery.cookie('DoctorToken'));
            },
        }).done((response) => {
          $('#loginItem,#loginItem1').html(`
            <div class="dropdown"> 
            <a href="#" class="dropbtn"><i class="fa fa-user-md"></i> ${response.full_name} <span class="caret"></span></a>
            <div class="dropdown-content">
                <button id="btnGotoDashboard" data-user="doctors" class="btn btn-dash" style="margin: 25px 10px 5px 20px;">Go to Dashboard</button>
                <button id="btnLogout" data-token="DoctorToken" class="btn-default btn-logout" style="margin: 15px 10px 15px 20px;"><i class="fa fa-sign-out"></i> Logout</button>
            </div>
            </div>
            `)
            $('#registerItem').remove()
        }).fail((error) => {
            console.log(error);
        });
            
        }

        $('.btn-dash').click(function(){
            window.location.href=`/${$(this).attr('data-user')}/dashboard`
        })

        $('.btn-logout').click(function(){
            var button = $(this)
            var post_url = button.attr('data-token') == 'Token' ? '/api/PatientLogout' : '/api/DoctorLogout';
            $.ajax({
                url:post_url,
                beforeSend: function (xhr) {
                    xhr.setRequestHeader("Authorization", "Token " + $.cookie(button.attr('data-token')));
                },
                method:'POST',
                contendType: 'application/json',
                async: false,
                success:function(response){
                    $.cookie(button.attr('data-token'),'', { path: '/' })
                    window.location.href = '/'
                },error:function(err){
                    console.log(err);
                }
            })
        })
    })
</script>
</html>