{%extends 'website_layout.html'%}
{%load static%}
{% block content%}

<section class="breadcrumb">
    <div class="container">
        <div class="breadcrumb-outer">
            <nav aria-label="breadcrumb">
                <ul class="breadcrumb">
                    <li class="breadcrumb-item"><a href="{% url 'website:index'%}">Home</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Dematologists</li>
                </ul>
            </nav>
            <h2>Dematologists</h2>
        </div>
    </div>
</section>
<section class="services">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <div class="cart-div deal_detail">
            <div class="pro-content-area prodcontentarea w-100">
              <br>
              
              <div class="row col-md-7 col-sm-12 col-xs-12">
                <h3 class="m-l-20">Our Doctors</h3>
                <div class="col-lg-6 col-md-6 col-xs-12">
                    <div class="special-main">
                        <div class="special-item">
                            <div class="special-image">
                                <img src="{%static 'website/img/specialist4.jpg'%}" alt="Doctor Photo" style="height:211px"">
                                <div class="special-links">
                                    <ul>
                                        <li><a href="/login"><i class="fa fa-phone" aria-hidden="true"></i></a></li>
                                        <li><a href="/login"><i class="fa fa-file-video-o" aria-hidden="true"></i></a></li>
                                    </ul>
                                </div>
                                <div class="color-overlay"></div>
                            </div>
                            <div class="special-content">
                                <h4>DR. Cristoher</h4>
                                <p>Dermatologist</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-xs-12">
                    <div class="special-main">
                        <div class="special-item">
                            <div class="special-image">
                                <img src="{%static 'website/img/specialist5.jpg'%}" alt="Doctor Photo" style="height:211px"">
                                <div class="special-links">
                                    <ul>
                                        <li><a href="/login"><i class="fa fa-phone" aria-hidden="true"></i></a></li>
                                        <li><a href="/login"><i class="fa fa-file-video-o" aria-hidden="true"></i></a></li>
                                    </ul>
                                </div>
                                <div class="color-overlay"></div>
                            </div>
                            <div class="special-content">
                                <h4>DR. Nicole</h4>
                                <p>Dermatologist</p>
                            </div>
                        </div>
                    </div>
                </div>
              </div>
              <div class="col-md-5 col-sm-12 col-xs-12">
                <p class="metaFooterToggleLink">
                  Dermatologist specializes in issues related to Skin and Hair. They treat conditions, disorders and inflammatory symptoms of any age and gender. Common problems like Acne, Pigmentation, Hair Fall, Loose Skin, Excess Hair, Warts are treated.
                </p>
                <ul class="book mar-top-30">
                    <li><a class="btn btn-block">Book
                        Appoinments</a></li>
                </ul>
                
              </div>
            </div>
          </div>   
           <!--FAQs  -->
          <div class="detail-div accordionFAQ" id="faq_div">
            <h3 class="title">Frequently Asked Questions</h3>
      
            <div class="clearfix"></div>
            <div class="panel-group accordionpanel" id="accordionFAQ" role="tablist" aria-multiselectable="true">
              <!--  -->
              <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="headingOne">
                  <h2 class="panel-title">
                    <a role="button" data-toggle="collapse" data-parent="#accordionFAQ" data-target="#collapseFAQOne"
                      aria-expanded="false" aria-controls="collapseOne" href="javascript:void(0);" class="collapsed">
                      <div class="col-width">
                        Why should i consult a dermatologist?
                      </div>
                    </a>
                  </h2>
                </div>
                <div id="collapseFAQOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne"
                  aria-expanded="false">
                  <div class="panel-body parameterlist">
                    <p>
                      An online video consultation with one of our top Dermatologists guarantees you a prompt and direct response which is not only essential to determine the need for intervention but also helps prevent it from getting worse. As a holistic health care provider, Doctor Plus gives you easy online access to its eminent doctors, helping you take and make the best possible decisions for your condition. 
  
                    </p>
                    <br>
                    <p>
                      Dermatologist specializes in issues related to Skin and Hair. They treat conditions, disorders and inflammatory symptoms of any age and gender. Common problems like Acne, Pigmentation, Hair Fall, Loose Skin, Excess Hair, Warts are treated. Care.Fit in a bid to help its customer stay healthy offers specialist online dermatologist consultation. One can speak to or video consult an experienced dermatologist online and resolve any skin or hair issues they may have.
                    </p>
                    <br>
                    <p>
                      The skin apart from being the largest organ that covers organs, nerves, and blood vessels which is also the first line of defence against many germs and illnesses. As you age, there are a few issues and symptoms that warrant meeting the best skin specialist like: 
                    </p>
                    <br>
                    <p>
                      Boil: It is a skin infection that is usually caused by bacteria. Initially, it appears as a skin rash in the affected area. After a few days, the limp gets filled with pus and becomes painful. Normally small boils can be cured through home remedies, but if it becomes painful and results in fever then it is time to consult a doctor. 
                    </p>
                    <br>
                    <p>
                      Bruises: It usually happens due to a fall or any other type of injury. It happens when there is bleeding under the skin due to the trauma of a fall or injury. It appears black and blue and starts to change color. If the black and blue colour does reduce even after two weeks, it may need to be looked at by a doctor. 
                    </p>
                    <br>
                    <p>
                      Dandruff: It is a common problem that occurs on the scalp. The skin on the scalp becomes flaky and starts to itchy. If over the counter shampoo does not reduce the itch and flakes look online for a dermatologist near you. 
                    </p>
                    <br>
                    <p>
                      Dry Skin: Another common condition that can happen to any part of the skin. If home remedies do not solve the issue, a dermatologist visit can. 
                    </p>
                    <br>
                    <p>
                      Dry Skin: Another common condition that can happen to any part of the skin. If home remedies do not solve the issue, a dermatologist visit can. 
                    </p>
                    <br>
                    <p>
                      Chapped Lips: It is usually harmless and is an indication that your lips need hydration. But if it is caused due to an infection it leads to cheilitis which needs to be treated by a dermatologist. 
                    </p>
                  </div>
                </div>
              </div>
              <!--  -->
              <!--  -->
              <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="headingTwo">
                  <h2 class="panel-title">
                    <a role="button" data-toggle="collapse" data-parent="#accordionFAQ" data-target="#collapseFAQTwo"
                      aria-expanded="false" aria-controls="collapseTwo" href="javascript:void(0);" class="collapsed">
                      <div class="col-width">
                        What do Dermatologists or Skin Specialists at Doctor Plus Treat?
                      </div>
                    </a>
                  </h2>
                </div>
                <div id="collapseFAQTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo"
                  aria-expanded="false">
                  <div class="panel-body parameterlist">
                    <p>
                      Psoriasis: It is a chronic skin disease that causes scaly skin. It normally happens on the scalp, knees, and elbows. It is not contagious but the dry flakes cause the skin cells to proliferate rapidly. It is an autoimmune disease that is caused due to a variety of reasons. It can be genetic or even environmental and is a chronic condition. It takes a long time to cure. Psoriasis is considered incurable but it can be managed properly provided it is treated by experts. Speak to our dermatologist online to get the best treatment plan. 
                    </p>
                    <br>
                    <p>
                      Eczema: It is not a specific condition but a reaction due to the underlying diseases. It appears as a tiny blister which is red in color and has fluids inside the bump. After a period, the blisters become very itchy and the fluids start to ooze out. Most of the people get it treated by general practitioners. Since there are many reasons for eczema for its cause, it is best to be diagnosed and treated by specialists. Consult our online skin doctor to get it properly treated to get relief from its symptoms.
                    </p>
                    <br>
                    <p>
                      Scabies: It is a skin condition caused by mites. It is a tiny bug that cannot be seen on the skin where they feed and live. A mite bite can happen to people of all ages and cause an itchy rash on the infected area. It can happen anywhere on the skin, particularly some parts of the body like hands, arms, and skin covered by jewelry or clothing. It is important to get the right treatment as people with scabies and those with close contact with the infected person need to be treated. Though medicines can cure the infection, proper treatment is required hence consult experts in this area. 
                    </p>
                    <br>
                    <p>
                      Acne: Is a common problem in young adults and teenagers. These are red bumps on the skin of varying sizes and can be pus-filled. Acne can be treated by over the counter medicines, but if it persists prescription antibiotics needs to be taken by a professional
                    </p>
                    <br>
                    <p>
                      Ringworm: It is a skin infection caused by fungus. The rash caused by infection is circular in shape and is red and itchy. It can live in skin and on clothing and hence contagious. If over the counter creams do not help, consult our Doctor Plus experts to get the right treatment. 
                    </p>
                    <br>
                    <p>
                      Alopecia: Is an autoimmune disorder that results in hair loss on the scalp. Usually, the hair falls out in small patches and in severe cases, it leads to complete baldness. Anti-inflammatory drugs are a common treatment that suppresses the immune system. Visit our Doctor Plus app to find a Skin doctor near me. 
                    </p>
                    <br>
                    <p>
                      Seborrheic Dermatitis: Common scalp condition that causes red, itchy skin and dandruff. Apart from the scalp, it affects the chest, ears, eyelids, and other oily areas. Speak to our dermatologist for treating this condition. 
                    </p>
                    <br>
                    <p>
                      Shingles: It is a painful rash that is caused by a virus called the varicella-zoster. It is the same as the one that causes chickenpox. A single blister can spread across the left or right side of the torso and can happen anywhere on the body. Since antiviral medication is the best treatment option, it is recommended that you visit an experienced dermatologist.
                    </p>
                    <br>
                    <p>
                      Atopic Dermatitis: It is inflammation of the skin which is highly itchy. It is heredity and usually manifests in childhood. Creams, ointments can provide relief, if not our dermatologist will prescribe medications to reduce the symptoms. 
                    </p>
                    <br>
                    <p>
                      Melasma: It is a condition where brown or grey patches are seen on the face. It happens due to overexposure to sunlight or due to hormonal changes. Consult our skin doctors for the best treatment plan for melasma. 
                    </p>
                    <br>
                    <p>
                      Stretch Marks: They are long stripes or lines that develop on the skin. It happens when the skin gets stretched due to intense growth due to pregnancy, weight gain, etc. It is common among women but men can also experience stretch marks. Our skin doctors can help you get rid of these ugly marks and make your skin look beautiful. 
                    </p>
                  </div>
                </div>
              </div>
              <!--  -->
              <!--  -->
              <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="headingThree">
                  <h2 class="panel-title">
                    <a role="button" data-toggle="collapse" data-parent="#accordionFAQ" data-target="#collapseFAQThree"
                      aria-expanded="false" aria-controls="collapseThree" href="javascript:void(0);" class="collapsed">
                      <div class="col-width">
                        What is the Process to avail a Video consultation by Doctor Plus?
                      </div>
                    </a>
                  </h2>
                </div>
                <div id="collapseFAQThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree"
                  aria-expanded="false">
                  <div class="panel-body parameterlist">
                    <p>
                      In view of the increased risk of transmission and heavy restrictions on movement, patients are unable to reach the doctor in person. At Doctor Plus we create solutions that can meet your immediate needs by providing you with the option of a video consultation through a seamless interface. By choosing a Doctor Plus video consultation, you are contributing to the effort to prevent Covid infection and we wholeheartedly Thank You for it!
                    </p>
                    <br>
                    <p>
                      Once you have made the wise decision of consulting with one of our top specialists, you no longer have to go searching for the Dermatologist near me. Instead,
                    </p>
                    <br>
                    <ul>
                      <li>-Book an appointment with the doctor of your choice from our app or website. </li>
                      <li>-Share your medical reports / records with your doctor. This is to help the doctor to understand your case beforehand. </li>
                      <li>-Before the day of consultation, note down all your symptoms and any questions that you may have so as to make the best use of the time given. </li>
                      <li>-Before the day of consultation, note down all your symptoms and any questions that you may have so as to make the best use of the time given. </li>
                    </ul>
                  </div>
                </div>
              </div>
              <!--  -->
              <!--  -->
              <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="headingFour">
                  <h2 class="panel-title">
                    <a role="button" data-toggle="collapse" data-parent="#accordionFAQ" data-target="#collapseFAQFour"
                      aria-expanded="false" aria-controls="collapseFour" href="javascript:void(0);" class="collapsed">
                      <div class="col-width">
                        Benefits of Consulting a Dermatologist Online at Care.fit
                      </div>
                    </a>
                  </h2>
                </div>
                <div id="collapseFAQFour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFour"
                  aria-expanded="false">
                  <div class="panel-body parameterlist">
                    <p>
                      Best Doctors: Connect with the Best Dermatologist in the country to get accurate diagnosis and the best possible treatment options for your condition.  
                    </p>
                    <br>
                    <p>
                      No wait time: You do not have to worry about waiting in line at a doctors clinic as the consultation starts exactly at the time chosen by you.
                    </p>
                    <br>
                    <p>
                      Digital records: All your prescriptions from the doctor and medical records are digitized which gives you the convenience of accessing it from just about anywhere and at any time. 
                    </p>
                    <br>
                    <p>
                      Free follow up session: Get a free follow-up within 8 days of your consultation. 
                    </p>
                    <br>
                    <p>
                      Convenience: Our objective at Care.Fit is to facilitate best services in a hassle free manner. You can pick the time slot as per your convenience and get the consultation from doctors at the comfort of your home. 
                    </p>
                    <br>
                    <p>
                      After successful payment, a confirmation email will be sent to the registered email id with a link for Online Dermatologist consultation.
                    </p>
                    <br>
                    <p>
                      We have Female Pediatricians too if you prefer your child be seen by a lady doctor.
                    </p>
                  </div>
                </div>
              </div>
              <!--  -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  {% endblock %}