{%extends 'website_layout.html'%}
{%load static%}
{% block content%}

<section class="breadcrumb">
    <div class="container">
        <div class="breadcrumb-outer">
            <nav aria-label="breadcrumb">
                <ul class="breadcrumb">
                    <li class="breadcrumb-item"><a href="{% url 'website:index'%}">Home</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Dietitian</li>
                </ul>
            </nav>
            <h2>Dietitian</h2>
        </div>
    </div>
</section>
<section class="services mar-bottom-20">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <div class="cart-div deal_detail">
            <div class="pro-content-area prodcontentarea w-100">
              <br>
              <div class="col-md-5 col-sm-12 col-xs-12">
                <p class="metaFooterToggleLink">
                  We are expert human nutrition and the regulation of diet. We alters their patient's nutrition based upon their medical condition and individual needs. We are regulated healthcare professionals licensed to assess, diagnose, and treat nutritional problems.</p>
                    
                <ul class="book mar-top-30">
                    <li><a class="btn btn-block">Book
                        Appoinments</a></li>
                </ul>
                
              </div>
              <div class="row col-md-7 col-sm-12 col-xs-12">
                <h3 class="m-l-20">Our Doctors</h3>
                <div class="col-lg-6 col-md-6 col-xs-12">
                    <div class="special-main">
                        <div class="special-item">
                            <div class="special-image">
                                <img src="{%static 'website/img/specialist4.jpg'%}" alt="Doctor Photo" style="height:211px"">
                                <div class="special-links">
                                    <ul>
                                        <li><a href="/login"><i class="fa fa-phone" aria-hidden="true"></i></a></li>
                                        <li><a href="/login"><i class="fa fa-file-video-o" aria-hidden="true"></i></a></li>
                                    </ul>
                                </div>
                                <div class="color-overlay"></div>
                            </div>
                            <div class="special-content">
                                <h4>DR. Cristoher</h4>
                                <p>Dietitian</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-xs-12">
                    <div class="special-main">
                        <div class="special-item">
                            <div class="special-image">
                                <img src="{%static 'website/img/specialist5.jpg'%}" alt="Doctor Photo" style="height:211px"">
                                <div class="special-links">
                                    <ul>
                                        <li><a href="/login"><i class="fa fa-phone" aria-hidden="true"></i></a></li>
                                        <li><a href="/login"><i class="fa fa-file-video-o" aria-hidden="true"></i></a></li>
                                    </ul>
                                </div>
                                <div class="color-overlay"></div>
                            </div>
                            <div class="special-content">
                                <h4>DR. Nicole</h4>
                                <p>Dietitian</p>
                            </div>
                        </div>
                    </div>
                </div>
              </div>
            </div>
          </div>   
        
        </div>
      </div>
    </div>
  </section>

  {% endblock %}