{%extends 'website_layout.html'%}
{%load static%}
{% block content%}

<section class="breadcrumb">
    <div class="container">
        <div class="breadcrumb-outer">
            <nav aria-label="breadcrumb">
                <ul class="breadcrumb">
                    <li class="breadcrumb-item"><a href="{% url 'website:index'%}">Home</a></li>
                    <li class="breadcrumb-item active" aria-current="page">ENT</li>
                </ul>
            </nav>
            <h2>ENT</h2>
        </div>
    </div>
</section>
<section class="services">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <div class="cart-div deal_detail">
            <div class="pro-content-area prodcontentarea w-100">
              <br>
              <div class="col-md-5 col-sm-12 col-xs-12">
                <p class="metaFooterToggleLink">
                  ENT doctor specializes in treatment of ear, nose and throat and related areas in your head and neck. They treat ear infection, hearing loss, trouble with balance, allergies, sinusitis, tonsillitis, swallowing and voice issues. They can also help with snoring or apnea.
                </p>
                <ul class="book">
                  <li><a class="btn">Book
                    Appoinments</a></li>
                </ul>
                
              </div>
              <div class="row col-md-7 col-sm-12 col-xs-12">
                <h3 class="m-l-20">Our Doctors</h3>
                <div class="col-md-6 col-sm-6">
                  <div class="exclusive-item">
                  <div class="exclusive-content ">
                    <div class="text-center">
                        <img src="/media/logos/anonymous-doctor.png" height="90" alt="">
                        <h5><a href="/login">Dr. Keshav CB</a></h5>
                    </div>
                  
                  <ul>
                    <li>
                      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit</p>
                    </li>
                    <li>
                      <div class="package_rating doctor_rating">
      
                        <span class="filled-rating"></span>
            
                        <span class="filled-rating"></span>
            
                        <span class="filled-rating"></span>
            
                        <span class="filled-rating"></span>
            
                        <span class="one-fourth-rating"></span>
                      </div>
                    </li>
                    <li><p>Consultation fees: Rs.250/-</p></li>
                    <li><p>Available time: 02:30 PM</p></li>
                    <li>
                        <a href="/login" class="btn">View Profile</a>
                        
                        <a href="/login" class="btn">Book Appoinment</a>
                    </li>
                  </ul>
                  
                  </div>
                  </div>
                </div>
                <div class="col-md-6 col-sm-6">
                  <div class="exclusive-item">
                  <div class="exclusive-conten">
                      <div class=" text-center">
                          <img src="/media/logos/anonymous-doctor.png" height="90" alt="">
                       <h5><a href="/login">Dr. Sunny Sharma</a></h5>
                        </div>
                 
                  <ul>
                    <li>
                      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit</p>
                    </li>
                    <li>
                      <div class="package_rating doctor_rating">
      
                        <span class="filled-rating"></span>
            
                        <span class="filled-rating"></span>
            
                        <span class="filled-rating"></span>
            
                        <span class="filled-rating"></span>
            
                        <span class="one-fourth-rating"></span>
                      </div>
                    </li>
                    <li><p>Consultation fees: Rs.250/-</p></li>
                    <li><p>Available time: 02:30 PM</p></li>
                    <li>
                        <a href="/login" class="btn">View Profile</a>
                        
                        <a href="/login" class="btn">Book Appoinment</a>
                    </li>
                  </ul>
                  
                  </div>
                  </div>
                </div>
              </div>
            </div>
          </div>   
           <!--FAQs  -->
          <div class="detail-div accordionFAQ" id="faq_div">
            <h3 class="title">Frequently Asked Questions</h3>
      
            <div class="clearfix"></div>
            <div class="panel-group accordionpanel" id="accordionFAQ" role="tablist" aria-multiselectable="true">
              <!--  -->
              <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="headingOne">
                  <h2 class="panel-title">
                    <a role="button" data-toggle="collapse" data-parent="#accordionFAQ" data-target="#collapseFAQOne"
                      aria-expanded="false" aria-controls="collapseOne" href="javascript:void(0);" class="collapsed">
                      <div class="col-width">
                        Why and when should I consult an ENT Specialist?
                      </div>
                    </a>
                  </h2>
                </div>
                <div id="collapseFAQOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne"
                  aria-expanded="false">
                  <div class="panel-body parameterlist">
                    <p>
                      ENT doctors specialize in the treatment of ear, nose, and throat and related areas in your head and neck. They treat ear infection, hearing loss, trouble with balance, allergies, sinusitis, tonsillitis, swallowing, voice issues along with with snoring or apnea. \nThere are many signs and symptoms that act as indicators for you to meet an ENT specialist and through an online doctor consultation. Some of the symptoms that warrant consulting an ENT specialist are:  
                    </p>
                    <br>
                    <p>
                      Runny Nose: It is one of the common issues that affect even a healthy human at some point or another. The causes for a runny nose are many and most common is colds and allergies. But If you have a fever and a cough along with a postnasal drip you should see a doctor. 
                      A nose doctor online will prescribe antihistamines and other medications to treat it. 
                    </p>
                    <br>
                    <p>
                      Hearing Loss: Problems with hearing or temporary hearing loss can happen when you hear loud noise or music. But if it persists, consult an ear specialist to ensure there is no permanent hearing loss. 
                    </p>
                    <br>
                    <p>
                      Nose Irritation: An allergy doctor can treat nose irritation as it happens usually due to allergies or a common cold. But if it is persistent then an ENT specialist can treat problems that affect the sinus and affect the breathing and smell. 
                    </p>
                    <br>
                    <p>
                      Sore throat: It is common in the cold season and hence most people use home remedies to treat it. But if you have a sore throat where even drinking a sip of water is difficult then it is recommended that you book an appointment to rule out serious issues. 
                    </p>
                    <br>
                    <p>
                      Throat infection: It can affect speech, swallowing, and other activities and an ENT doctor can manage and treat the problems that caused the infection. 
                    </p>
                  </div>
                </div>
              </div>
              <!--  -->
              <!--  -->
              <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="headingTwo">
                  <h2 class="panel-title">
                    <a role="button" data-toggle="collapse" data-parent="#accordionFAQ" data-target="#collapseFAQTwo"
                      aria-expanded="false" aria-controls="collapseTwo" href="javascript:void(0);" class="collapsed">
                      <div class="col-width">
                        What are the conditions that our ENT specialists treat?
                      </div>
                    </a>
                  </h2>
                </div>
                <div id="collapseFAQTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo"
                  aria-expanded="false">
                  <div class="panel-body parameterlist">
                    <p>
                      ENT specialists are physicians who manage and treat diseases of any disorders related to the ear, nose, and throat. They are not only adept at medical care but also perform surgical procedures on the same. Some of the ailments our specialist treat are: 
                    </p>
                    <br>
                    <p>
                      Sinus: It usually happens due to cold or allergies. It has a headache, pain in parts of the face, congestion, and runny nose as symptoms. Though it goes away on its own, chronic sinusitis lasts for a long time and needs antibiotic medications to get relief. Hence consulting an ENT is recommended as self-medication is dangerous.
                    </p>
                    <br>
                    <p>
                      Sleep Apnea: It is caused due to collapse or narrowing of the airways while sleeping. It stops breathing and can be quite dangerous. An ENT can help in restoring proper breathing by examining the nasal passages, sinuses, tonsils, uvula, etc, and determine the cause of destruction. If it is caused due to any of the above, the specialist will remove it so that it resolves sleep apnea.    
                    </p>
                    <br>
                    <p>
                      Dizziness: If you have dizziness along with anxiety and nausea then see an ENT as it can be due to infection of the ear, nose, or throat. 
                    </p>
                    <br>
                    <p>
                      Ear infection: Consult an ear doctor online if you have an earache or stuffy nose. Other symptoms that indicate ear infections are snoring, hearing problems, troubling swallowing, dizziness, etc. 
                    <br>
                    <p>
                      Drooling: There are many reasons for excessive saliva. It can be acid reflux, allergies, strep throat, sinusitis or other such conditions. An ENT can determine the reason and provide treatment through medications.    
                    </p>
                    <br>
                    <p>
                      Snoring: An ENT can determine if the snoring is due to infection, adenoids, allergy, or nasal obstruction.
                    </p>
                  </div>
                </div>
              </div>
              <!--  -->
              <!--  -->
              <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="headingThree">
                  <h2 class="panel-title">
                    <a role="button" data-toggle="collapse" data-parent="#accordionFAQ" data-target="#collapseFAQThree"
                      aria-expanded="false" aria-controls="collapseThree" href="javascript:void(0);" class="collapsed">
                      <div class="col-width">
                        What can I expect in an Online Video Consultation with the ENT  ?
                      </div>
                    </a>
                  </h2>
                </div>
                <div id="collapseFAQThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree"
                  aria-expanded="false">
                  <div class="panel-body parameterlist">
                    <p>
                      Once you have made the wise decision of consulting with one of our top specialists, you no longer have to go searching for ENT  near me. Instead, you can 
                    </p>
                    <br>
                    <ul>
                      <li>-Book an appointment with the doctor of your choice from our app or website. </li>
                      <li>-Share your medical reports/records with your doctor. This is to help the doctor to understand your case beforehand. </li>
                      <li>-Before the day of consultation, note down all your symptoms and any questions that you may have to make the best use of the time given. </li>
                      <li>-During the consultation, the doctor will do a thorough investigation and recommend the best way forward</li>
                    </ul>
                  </div>
                </div>
              </div>
              <!--  -->
              <!--  -->
              <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="headingFour">
                  <h2 class="panel-title">
                    <a role="button" data-toggle="collapse" data-parent="#accordionFAQ" data-target="#collapseFAQFour"
                      aria-expanded="false" aria-controls="collapseFour" href="javascript:void(0);" class="collapsed">
                      <div class="col-width">
                        What are the benefits of doing an Online ENT Consultation?
                      </div>
                    </a>
                  </h2>
                </div>
                <div id="collapseFAQFour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFour"
                  aria-expanded="false">
                  <div class="panel-body parameterlist">
                    <p>
                      Best Doctors: Connect with the Best ENT in the country to get accurate diagnosis and the best possible treatment options for your condition.   
                    </p>
                    <br>
                    <p>
                      No wait time: You do not have to worry about waiting in line at a doctors clinic as the consultation starts exactly at the time chosen by you. 
                    </p>
                    <br>
                    <p>
                      Digital records: All your prescriptions from the doctor and medical records are digitized which gives you the convenience of accessing it from just about anywhere and at any time.  
                    </p>
                    <br>
                    <p>
                      Free follow up session: Get a free follow-up within 8 days of your consultation.
                    </p>
                    <br>
                    <p>
                      Convenience: Our objective at carefit is to facilitate best services in a hassle-free manner. You can pick the time slot as per your convenience and get the consultation from doctors at the comfort of your home. 
                    </p>
                    <br>
                    <p>
                      After successful payment, a confirmation email will be sent to the registered email id with a link for Online ENT consultation. 
                    </p>
                    <br>
                    <p>
                      We have Female ENT too for women who prefer to be seen by a lady doctor.
                    </p>
                  </div>
                </div>
              </div>
              <!--  -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  {% endblock %}