{%extends 'website_layout.html'%}
{%load static%}
{% block content%}

<section class="breadcrumb">
    <div class="container">
        <div class="breadcrumb-outer">
            <nav aria-label="breadcrumb">
                <ul class="breadcrumb">
                    <li class="breadcrumb-item"><a href="{% url 'website:index'%}">Home</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Gastroenterologist</li>
                </ul>
            </nav>
            <h2>Gastroenterologist</h2>
        </div>
    </div>
</section>
<section class="services">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <div class="cart-div deal_detail">
            <div class="pro-content-area prodcontentarea w-100">
              <br>
              <div class="col-md-5 col-sm-12 col-xs-12">
                <p class="metaFooterToggleLink">
                  Gastroenterologist specializes in health of gastrointenstinal tract and liver. They treat abdominal pain, blood in stool, hepatitis, ulcers, gallblader and colon diseases, pancreatitis and perform various endoscopy and colonoscopy procedures.
                </p>
                <ul class="book">
                  <li><a class="btn">Book
                    Appoinments</a></li>
                </ul>
                
              </div>
              <div class="row col-md-7 col-sm-12 col-xs-12">
                <h3 class="m-l-20">Our Doctors</h3>
                <div class="col-md-6 col-sm-6">
                  <div class="exclusive-item">
                  <div class="exclusive-content ">
                    <div class="text-center">
                        <img src="/media/logos/anonymous-doctor.png" height="90" alt="">
                        <h5><a href="#">Dr. Keshav CB</a></h5>
                    </div>
                  
                  <ul>
                    <li>
                      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit</p>
                    </li>
                    <li>
                      <div class="package_rating doctor_rating">
      
                        <span class="filled-rating"></span>
            
                        <span class="filled-rating"></span>
            
                        <span class="filled-rating"></span>
            
                        <span class="filled-rating"></span>
            
                        <span class="one-fourth-rating"></span>
                      </div>
                    </li>
                    <li><p>Consultation fees: Rs.250/-</p></li>
                    <li><p>Available time: 02:30 PM</p></li>
                    <li>
                        <a href="#" class="btn">View Profile</a>
                        
                        <a href="#" class="btn">Book Appoinment</a>
                    </li>
                  </ul>
                  
                  </div>
                  </div>
                </div>
                <div class="col-md-6 col-sm-6">
                  <div class="exclusive-item">
                  <div class="exclusive-conten">
                      <div class=" text-center">
                          <img src="/media/logos/anonymous-doctor.png" height="90" alt="">
                       <h5><a href="#">Dr. Sunny Sharma</a></h5>
                        </div>
                 
                  <ul>
                    <li>
                      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit</p>
                    </li>
                    <li>
                      <div class="package_rating doctor_rating">
      
                        <span class="filled-rating"></span>
            
                        <span class="filled-rating"></span>
            
                        <span class="filled-rating"></span>
            
                        <span class="filled-rating"></span>
            
                        <span class="one-fourth-rating"></span>
                      </div>
                    </li>
                    <li><p>Consultation fees: Rs.250/-</p></li>
                    <li><p>Available time: 02:30 PM</p></li>
                    <li>
                        <a href="#" class="btn">View Profile</a>
                        
                        <a href="#" class="btn">Book Appoinment</a>
                    </li>
                  </ul>
                  
                  </div>
                  </div>
                </div>
              </div>
            </div>
          </div>   
           <!--FAQs  -->
          <div class="detail-div accordionFAQ" id="faq_div">
            <h3 class="title">Frequently Asked Questions</h3>
      
            <div class="clearfix"></div>
            <div class="panel-group accordionpanel" id="accordionFAQ" role="tablist" aria-multiselectable="true">
              <!--  -->
              <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="headingOne">
                  <h2 class="panel-title">
                    <a role="button" data-toggle="collapse" data-parent="#accordionFAQ" data-target="#collapseFAQOne"
                      aria-expanded="false" aria-controls="collapseOne" href="javascript:void(0);" class="collapsed">
                      <div class="col-width">
                        Why and when should I consult a Gastroenterologist?
                      </div>
                    </a>
                  </h2>
                </div>
                <div id="collapseFAQOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne"
                  aria-expanded="false">
                  <div class="panel-body parameterlist">
                    <p>
                      Gastroenterologist specializes in the health of gastrointestinal tract and liver. They treat abdominal pain, blood in stool, hepatitis, ulcers, gallbladder and colon diseases, pancreatitis and perform various endoscopy and colonoscopy procedures. You may need to consult a stomach specialist or a gastroenterologist when you are suffering from the following. 
                    </p>
                    <br>
                    <ul>
                      <li>-When you have a stomach upset and experience diarrhoea or face some gastric problem or have sudden blood in your stoo</li>
                      <li>-When you experience sudden weight loss or experience digestive problems due to difficulty in swallowing food.  </li>
                      <li>-When you have prolonged constipation for several days</li>
                      <li>-If you think you might have gallstones in your gallbladder which is a part of the GI system. </li>
                      <li>-When you experience sudden pain in your hernia</li>
                    </ul>
                  </div>
                </div>
              </div>
              <!--  -->
              <!--  -->
              <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="headingTwo">
                  <h2 class="panel-title">
                    <a role="button" data-toggle="collapse" data-parent="#accordionFAQ" data-target="#collapseFAQTwo"
                      aria-expanded="false" aria-controls="collapseTwo" href="javascript:void(0);" class="collapsed">
                      <div class="col-width">
                        What are the conditions that our Gastroenterologist can treat?
                      </div>
                    </a>
                  </h2>
                </div>
                <div id="collapseFAQTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo"
                  aria-expanded="false">
                  <div class="panel-body parameterlist">
                    <p>
                      Specialists in this field, treat several conditions that affect the GI system. Some of them have been listed below for your understanding.  
                    </p>
                    <br>
                    <p>
                      Ulcers: these are open sores in your intestine or stomach and can cause some serious stomach pain and uneasiness. 
                    </p>
                    <br>
                    <p>
                      Hepatitis B: this is an infection that occurs in your liver and can cause cancer, liver failure and scarring of the liver. It can prove to be fatal to the individual if it is not treated as soon as possible however it is something that can be cured when diagnosed.     
                    </p>
                    <br>
                    <p>
                      Jaundice: it is essential to get jaundice treated in its early stages before it gets serious and out of hand.  
                    </p>
                    <br>
                    <p>
                      Haemorrhoids: this is a common issue in which the veins in your rectum swell when they become irritated. It is best to get it treated as quickly as you can. 
                    <br>
                    <p>
                      Fatty liver: they can perform endoscopy or colonoscopy procedures to get to the root of the problem   
                    </p>
                  </div>
                </div>
              </div>
              <!--  -->
              <!--  -->
              <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="headingThree">
                  <h2 class="panel-title">
                    <a role="button" data-toggle="collapse" data-parent="#accordionFAQ" data-target="#collapseFAQThree"
                      aria-expanded="false" aria-controls="collapseThree" href="javascript:void(0);" class="collapsed">
                      <div class="col-width">
                        What can I expect in an Online Video Consultation with the Gastroenterologist?
                      </div>
                    </a>
                  </h2>
                </div>
                <div id="collapseFAQThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree"
                  aria-expanded="false">
                  <div class="panel-body parameterlist">
                    <p>
                      Once you have made the wise decision of consulting with one of our top specialists, you no longer have to go searching for ENT  near me. Instead, you can 
                    </p>
                    <br>
                    <ul>
                      <li>-Book an appointment with the doctor of your choice from our app or website. </li>
                      <li>-Share your medical reports/records with your doctor. This is to help the doctor to understand your case beforehand. </li>
                      <li>-Before the day of consultation, note down all your symptoms and any questions that you may have to make the best use of the time given. </li>
                      <li>-During the consultation, the doctor will do a thorough investigation and recommend the best way forward</li>
                    </ul>
                  </div>
                </div>
              </div>
              <!--  -->
              <!--  -->
              <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="headingFour">
                  <h2 class="panel-title">
                    <a role="button" data-toggle="collapse" data-parent="#accordionFAQ" data-target="#collapseFAQFour"
                      aria-expanded="false" aria-controls="collapseFour" href="javascript:void(0);" class="collapsed">
                      <div class="col-width">
                        What are the benefits of doing an Online Gastroenterologist Consultation?
                      </div>
                    </a>
                  </h2>
                </div>
                <div id="collapseFAQFour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFour"
                  aria-expanded="false">
                  <div class="panel-body parameterlist">
                    <p>
                      Best Doctors: Connect with the Best Gastroenterologist in the country to get accurate diagnosis and the best possible treatment options for your condition.   
                    </p>
                    <br>
                    <p>
                      No wait time: You do not have to worry about waiting in line at a doctors clinic as the consultation starts exactly at the time chosen by you. 
                    </p>
                    <br>
                    <p>
                      Digital records: All your prescriptions from the doctor and medical records are digitized which gives you the convenience of accessing it from just about anywhere and at any time.  
                    </p>
                    <br>
                    <p>
                      Free follow up session: Get a free follow-up within 8 days of your consultation.
                    </p>
                    <br>
                    <p>
                      Convenience: Our objective at carefit is to facilitate best services in a hassle-free manner. You can pick the time slot as per your convenience and get the consultation from doctors at the comfort of your home. 
                    </p>
                    <br>
                    <p>
                      After successful payment, a confirmation email will be sent to the registered email id with a link for Online Gastroenterologist consultation. 
                    </p>
                    <br>
                    <p>
                      We have Female Gastroenterologist too for women who prefer to be seen by a lady doctor.
                    </p>
                  </div>
                </div>
              </div>
              <!--  -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  {% endblock %}