{%extends 'website_layout.html'%}
{%load static%}
{% block content%}
<section class="breadcrumb">
    <div class="container">
        <div class="breadcrumb-outer">
            <nav aria-label="breadcrumb">
                <ul class="breadcrumb">
                    <li class="breadcrumb-item"><a href="{% url 'website:index'%}">Home</a></li>
                    <li class="breadcrumb-item active" aria-current="page">General Physician</li>
                </ul>
            </nav>
            <h2>General Physician</h2>
        </div>
    </div>
</section>
<section class="services">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <div class="cart-div deal_detail">
            <div class="pro-content-area prodcontentarea w-100">
              <br>
              <div class="col-md-5 col-sm-12 col-xs-12">
                <p class="metaFooterToggleLink">
                  Gynaecologists are specialists in women's reproductive health. They advice & prescribe necessary medications and provide medications, long-term treatments & screenings. Consult our Gynaecologist for issues like period irregularities, menopausal symptoms, pregnancy issues, or infertility.
                </p>
                <ul class="book">
                  <li><a class="btn">Book
                    Appoinments</a></li>
                </ul>
                
              </div>
              <div class="row col-md-7 col-sm-12 col-xs-12">
                <h3 class="m-l-20">Our Doctors</h3>
                <div class="col-md-6 col-sm-6">
                  <div class="exclusive-item">
                  <div class="exclusive-content ">
                    <div class="text-center">
                        <img src="/media/logos/anonymous-doctor.png" height="90" alt="">
                        <h5><a href="#">Dr. Keshav CB</a></h5>
                    </div>
                  
                  <ul>
                    <li>
                      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit</p>
                    </li>
                    <li>
                      <div class="package_rating doctor_rating">
      
                        <span class="filled-rating"></span>
            
                        <span class="filled-rating"></span>
            
                        <span class="filled-rating"></span>
            
                        <span class="filled-rating"></span>
            
                        <span class="one-fourth-rating"></span>
                      </div>
                    </li>
                    <li><p>Consultation fees: Rs.250/-</p></li>
                    <li><p>Available time: 02:30 PM</p></li>
                    <li>
                        <a href="#" class="btn">View Profile</a>
                        
                        <a href="#" class="btn">Book Appoinment</a>
                    </li>
                  </ul>
                  
                  </div>
                  </div>
                </div>
                <div class="col-md-6 col-sm-6">
                  <div class="exclusive-item">
                  <div class="exclusive-conten">
                      <div class=" text-center">
                          <img src="/media/logos/anonymous-doctor.png" height="90" alt="">
                       <h5><a href="#">Dr. Sunny Sharma</a></h5>
                        </div>
                 
                  <ul>
                    <li>
                      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit</p>
                    </li>
                    <li>
                      <div class="package_rating doctor_rating">
      
                        <span class="filled-rating"></span>
            
                        <span class="filled-rating"></span>
            
                        <span class="filled-rating"></span>
            
                        <span class="filled-rating"></span>
            
                        <span class="one-fourth-rating"></span>
                      </div>
                    </li>
                    <li><p>Consultation fees: Rs.250/-</p></li>
                    <li><p>Available time: 02:30 PM</p></li>
                    <li>
                        <a href="#" class="btn">View Profile</a>
                        
                        <a href="#" class="btn">Book Appoinment</a>
                    </li>
                  </ul>
                  
                  </div>
                  </div>
                </div>
              </div>
            </div>
          </div>   
           <!--FAQs  -->
          <div class="detail-div accordionFAQ" id="faq_div">
            <h3 class="title">Frequently Asked Questions</h3>
      
            <div class="clearfix"></div>
            <div class="panel-group accordionpanel" id="accordionFAQ" role="tablist" aria-multiselectable="true">
              <!--  -->
              <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="headingOne">
                  <h2 class="panel-title">
                    <a role="button" data-toggle="collapse" data-parent="#accordionFAQ" data-target="#collapseFAQOne"
                      aria-expanded="false" aria-controls="collapseOne" href="javascript:void(0);" class="collapsed">
                      <div class="col-width">
                        When should I consult a Gynaecologist?
                      </div>
                    </a>
                  </h2>
                </div>
                <div id="collapseFAQOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne"
                  aria-expanded="false">
                  <div class="panel-body parameterlist">
                    <p>
                      Gynaecologists are medical experts who specialize in womens reproductive health. They treat several common health issues such as irregular periods, menopause, issues pertaining to pregnancy and infertility to name a few. Consult a Gynaecologist online at carefit if you suffer from any of these issues and with the right line of treatment, proper medication and expert care, these health issues can be addressed. 
                    </p>
                    <br>
                    <p>
                      As Gynaecologists are experts of the female reproductive system, if you are facing any issues pertaining to it, you should consider consulting a Gynaecologist online. Google gynecologist near me to discover Gynaecologists near you whenever you face any health issues related to menstruation, pregnancy, and the vagina in general. If you experience any of the following symptoms, you must consider seeking medical help. 
                    </p>
                    <br>
                    <p>
                      Painful periods: Sometimes menstrual periods can be extremely painful. This condition also known as dysmenorrhea although is common, our experts can help alleviate the period pain.
                    </p>
                    <br>
                    <p>
                      Irregular menstruation: A lack or an imbalance of hormones in your body can be a cause for irregular menstruation and can also lead to missed periods. 
                    </p>
                    <br>
                    <p>
                      Too little or too much bleeding on your periods: Imbalances in the hormone levels can cause you to either bleed too less or too much. Heavy bleeding also known as menorrhagia can result in longer periods. 
                    </p>
                    <br>
                    <p>
                      Lumps on either of your breasts: Breast lumps are not always indicative of a disease. However, they must not be neglected as some breast lumps may also be cancerous. Get them examined now to be rest assured. 
                    </p>
                    <br>
                    <p>
                      Pregnancy-related symptoms: Fatigue, nausea, vomiting, and mood swings are some common symptoms of pregnancy. Feel free to reach out to our ladies specialist doctor. 
                    </p>
                    <br>
                    <p>
                      Abnormal wetness or itching in the vaginal region: Vaginal itching could be caused due to infections. If you experience abnormal wetness or excessive itching, you should get it checked. 
                    </p>
                    <br>
                    <p>
                      Abdominal Pain: If you're facing any abdominal pain such as cramps or a stomach ache and its too much to bear, it might be a good idea to consult a doctor.
                    </p>
                  </div>
                </div>
              </div>
              <!--  -->
              <!--  -->
              <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="headingTwo">
                  <h2 class="panel-title">
                    <a role="button" data-toggle="collapse" data-parent="#accordionFAQ" data-target="#collapseFAQTwo"
                      aria-expanded="false" aria-controls="collapseTwo" href="javascript:void(0);" class="collapsed">
                      <div class="col-width">
                        What are the conditions that our Gynaecologist treat?
                      </div>
                    </a>
                  </h2>
                </div>
                <div id="collapseFAQTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo"
                  aria-expanded="false">
                  <div class="panel-body parameterlist">
                    <p>
                      Your health is our top priority and we strive to help alleviate your pain and find solutions to your health problems. If you are facing any of the issues mentioned in the list below, ensure that you get it checked as soon as possible because there is nothing more precious than your health. 
                    </p>
                    <br>
                    <p>
                      PCOD: A hormonal disorder that is widely prevalent in women, Polycystic Ovary Disease or PCOD as its commonly known is a condition that although cannot be cured, can be treated with the right medical help. Common symptoms for this disease include irregular menstrual cycle, obesity, and excessive hair growth. If you are suffering from this disorder or are afraid that you might be, get in touch with our experts today. 
                    </p>
                    <br>
                    <p>
                      Pregnancy Issues: Health problems during pregnancy can put both the mothers health as well as the foetus' health at risk. Regular prenatal care and pregnancy consultation can help reduce the risks involved in pregnancy and ensure that your foetus is completely healthy. Get your pregnancy issues addressed at the earliest with the best medical care at carefit. 
                    </p>
                    <br>
                    <p>
                      Post Pregnancy Issues: While some problems after childbirth are unavoidable, there are some signs of health problems that you must not ignore. Postpartum complications such as infections, blood clots, trouble in breathing or heavy bleeding. Our medical experts help diagnose these health problems and prescribe suitable medication after your gynecologist consultation. 
                    </p>
                    <br>
                    <p>
                      Menstrual Problems: Usually women go through their menstrual periods every month without a hassle, but this is not always the case. However, its common to face menstrual problems such as Premenstrual syndrome, Heavy bleeding, irregularity in menstrual periods or even absence. These menstrual disorders can be treated easily with the right medical help. 
                    </p>
                    <br>
                    <p>
                      Thyroid Issues: Are you showing symptoms of thyroid issues or suspect you that you might be suffering from them? Get a Thyroid screening done now at your home. Our expert doctors will correctly identify thyroid issues if any and address them at the earliest. 
                    </p>
                    <br>
                    <p>
                      Abnormal Vaginal Discharge: If you notice anything about your vaginal discharge that isnt usual such as a foul smell, an unusual whitish colour or if you ever experience any discomfort in that region, it may be due to an infection. Get it examined now! 
                    </p>
                    <br>
                    <p>
                      Breast Abnormalities: While lumps in breast can exist for a variety of reasons and arent always indicative of breast cancer. However, in case of any breast abnormalities, its always a good idea to video visit a Gynaecologist to get them thoroughly examined.
                    </p>
                    <br>
                    <p>
                      Planning Pregnancy/ Infertility: Are you trying to get pregnant? Reach out to our experts to help you in pre-pregnancy planning and make sure you dont face any issues during conception. You can also seek medical help if you are facing other health issues such as infertility. You can also avail a dietician online to help you make effective lifestyle changes to help during pregnancy. 
                    </p>
                    <br>
                    <p>
                      Women Health & Hygiene Advice: Hygiene is an essential part of health as the lack of it could lead to several health problems. Having proper hygiene can significantly reduce the risk of infections. Get valuable health advice from the best Gynaecologists in the country.
                    </p>
                    <br>
                    <p>
                      Preventive Care: Prevention is always the best form of cure. Avail our preventive care services to be completely care-free and risk-free. Get an overall specialized women health checkup from time to time to check for any possible health issue
                    </p>
                  </div>
                </div>
              </div>
              <!--  -->
              <!--  -->
              <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="headingThree">
                  <h2 class="panel-title">
                    <a role="button" data-toggle="collapse" data-parent="#accordionFAQ" data-target="#collapseFAQThree"
                      aria-expanded="false" aria-controls="collapseThree" href="javascript:void(0);" class="collapsed">
                      <div class="col-width">
                        What can I expect in an Online Video Consultation with the Gynaecologist ?
                      </div>
                    </a>
                  </h2>
                </div>
                <div id="collapseFAQThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree"
                  aria-expanded="false">
                  <div class="panel-body parameterlist">
                    <p>
                      Once you have made the wise decision of consulting with one of our top specialists, you no longer have to go searching for Gynaecologist near me. Instead, you can 
                    </p>
                    <br>
                    <ul>
                      <li>-Book an appointment with the doctor of your choice from our app or website. </li>
                      <li>-Share your medical reports/records with your doctor. This is to help the doctor to understand your case beforehand. </li>
                      <li>-Before the day of consultation, note down all your symptoms and any questions that you may have to make the best use of the time given. </li>
                      <li>-During the consultation, the doctor will do a thorough investigation and recommend the best way forward</li>
                    </ul>
                  </div>
                </div>
              </div>
              <!--  -->
              <!--  -->
              <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="headingFour">
                  <h2 class="panel-title">
                    <a role="button" data-toggle="collapse" data-parent="#accordionFAQ" data-target="#collapseFAQFour"
                      aria-expanded="false" aria-controls="collapseFour" href="javascript:void(0);" class="collapsed">
                      <div class="col-width">
                        What are the benefits of doing an Online Gynaecologist Consultation?
                      </div>
                    </a>
                  </h2>
                </div>
                <div id="collapseFAQFour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFour"
                  aria-expanded="false">
                  <div class="panel-body parameterlist">
                    <p>
                      Best Doctors: Connect with the Best Gynaecologists in the country to get accurate diagnosis and the best possible treatment options for your condition.   
                    </p>
                    <br>
                    <p>
                      No wait time: You do not have to worry about waiting in line at a doctors clinic as the consultation starts exactly at the time chosen by you. 
                    </p>
                    <br>
                    <p>
                      Digital records: All your prescriptions from the doctor and medical records are digitized which gives you the convenience of accessing it from just about anywhere and at any time.  
                    </p>
                    <br>
                    <p>
                      Free follow up session: Get a free follow-up within 8 days of your consultation.
                    </p>
                    <br>
                    <p>
                      Convenience: Our objective at carefit is to facilitate best services in a hassle-free manner. You can pick the time slot as per your convenience and get the consultation from doctors at the comfort of your home. 
                    </p>
                    <br>
                    <p>
                      After successful payment, a confirmation email will be sent to the registered email id with a link for Online Gynaecologist consultation. 
                    </p>
                    <br>
                    <p>
                      We have Female Gynaecologists too for women who prefer to be seen by a lady doctor.
                    </p>
                  </div>
                </div>
              </div>
              <!--  -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  {%endblock%}